[2018-03-07 08:40] alwaysraja opened #630 "style.tagline is not working"
Tagline is not working by default. Even if we force to add tagline: true" still it disappears and not visible. We tested this is both Chrome and Firefox browser.

Steps to reproduce

1. Go to https://developer.paypal.com/demo/checkout/#/pattern/client
2. Navigate to any option from the left side menu
3. See the button tagline
![image](https://user-images.githubusercontent.com/886273/37081975-32929

[2018-03-07 18:34] bluepnume commented on #630
As a hunch -- what is the zoom level of the page? is it set to 100%?

[2018-03-07 22:18] bluepnume commented on #467
- The credit_financing object was added and released. Can you please validate if you do not see this or you see any specific issues with the response?
- The tax id and tax id type params were added, but haven't yet made it into a release. They should go out with the next Checkout release, and I'll let you know.

[2018-03-08 04:10] bluepnume commented on #610
Hi @Squamifer -- appreciate you taking the time to support, but this issue isn't anything to do with php. This is a client side script.

@danechitoaie -- I'll try to take the time this week to repro this problem and give you an update. Thanks for your patience.

[2018-03-08 10:01] danechitoaie commented on #610
@bluepnume No problem. Thank you for your support.

[2018-03-08 11:13] qetzal commented on #624
1. Yes, we will try this workaround. I hope it will fix the first issue.

2. However as I understand it will not fix the compatibility with the MooTools library, right? (second example)

[2018-03-09 22:30] bluepnume commented on #624
Looks like in the second page it's breaking because `window.Window` is being overwritten by mootools.

Normally:

<img width="299" alt="screen shot 2018-03-09 at 2 26 05 pm" src="https://user-images.githubusercontent.com/1219075/37233003-496da1bc-23a6-11e8-8248-6c6260688e2d.png">

With mootools:

<img width="623" alt="screen shot 2018-03-09 at 2 26 21 pm" src="https://user-images.githubusercontent

[2018-03-11 11:13] trungjc opened #631 "Paypal button Errror IE 11 (IE is not responding)"
### Description
I have a shoping site, when go to the checkout page , i show the paypal button, after button appear IE stop working (IE   is not responding due to a long-running script)
I found out that when i comment the code  "onAuthorize" and "payment" function it was ok
someone same issue with me, please help
###  MY CODE
- controller

vm = this;
....
$scope.opts = {
                client: {

[2018-03-11 17:13] arnasziedavicius opened #632 "Reccuring payments"
This is more of an inquiry but I was wondering if there's any info on recurring payments using checkout.js? Or is it only possible through server side API?

Any pointers would be much appreciated.

[2018-03-12 17:03] trungjc commented on #631
I resolved the prolem, it conflict with angular-local-storage , so i close this issue

[2018-03-12 17:03] #631 closed

[2018-03-13 06:24] ermamud opened #633 "Hide/Remove Pay with a debit or credit card"
I know this question was asked before but I haven't seen any specific answer for it.

I need to remove/hide the Pay with debit or credit card or create account, I only need to accept existing accounts, my clients can not pay with a non-existing account. Is this possible? or is there any trick to hide the button by css selectors or jQuery ?

Also I am trying to integrate this in my ionic 3 project.

[2018-03-13 15:18] kulkarnisan commented on #567
Hi guys,
I tried with using checkout.min.js file ...its not working for me.
By manually doing the setting in IE 11, as mentioned in the other post[https://github.com/paypal/paypal-checkout/issues/395](url) the button is visible though....but
is there anyway not to ask the end user to do this kind of setting to use the paypal button on IE 11? I got to know about registry setting from the same post

[2018-03-13 19:23] kulkarnisan opened #634 "IE 11 cannot render Paypal button in express checkout"
Hi Guys,

I have a paypal button on my jsp page and I am using the same script available on developer.paypal site.

That button visible and working in Firefox,Chrome,Opera except IE11.

I have been following some articles to get rid of this issue. I read about changing local intranet configuration in IE using internet options.. Or making some change in the Registry..
Is there any other method avai

[2018-03-14 02:50] shoaibmir commented on #634
Please have a look at https://github.com/paypal/paypal-checkout/blob/e055fe139c3ad7fc26a3a1d61a65d5d8a7d47ae4/docs/debugging/ie-intranet.md which covers the exact same scenario.

cheers,
Shoaib

[2018-03-14 11:03] bormanEcwid commented on #625
@bluepnume When will fix be released?

[2018-03-14 12:38] bormanEcwid opened #635 "Script Incompatibility with checkout.js. Checkout button is not rendered"
### Description

Merchants of our ecommerce platform complain to us that the checkout.js button is not being rendered.
Our ecommerce platform can be used on any website or CMS (it is embedded using JS). We don't control what JS libraries and code our merchants use on their websites.
Recently we switched from PayPal Standard integration to the new "checkout.js" based one. Now some our merchants hav

[2018-03-14 20:47] bluepnume commented on #634
Please see: https://github.com/paypal/paypal-checkout/blob/master/docs/debugging/ie-intranet.md

End users should not experience this problem.

[2018-03-14 20:47] #634 closed

[2018-03-14 23:41] leave3644 commented on #632
You can use either Billing Plan or Billing Agreement flow through REST server-side. The flow will be 1. Create a billing plan.
2. Activate the billing plan.
3. Create a billing agreement.
4. Execute the billing agreement.
See the api details [here](https://developer.paypal.com/docs/integration/direct/billing-plans-and-agreements/)
Or you can utilize the billing agreement with reference transaction

[2018-03-15 13:27] Tonkpils commented on #447
@bluepnume would you happen to have an update for this issue or could you point me to the par of the code responsible for these errors/warnings? I'd really appreciate that.

It's odd the functionality for the button seems unaffected even with these errors still showing up on the console.

[2018-03-16 14:51] bormanEcwid opened #636 "CDN can not delivery compressed checkout.js"
### Description

Merchants of our ecommerce platform complain to us that the PayPal checkout button is not displayed for a long time. Customers don't know how to pay and leave the store. We found out reason - it's a slow download checkout.js.
For some regions paypal CDN can not delivery compressed content. So checkout.js has excessive size.

### Steps to reproduce
For example when I change DNS ser

[2018-03-17 21:01] vasanthk commented on #90
@bluepnume Came here after reading #44
Wondering if you have any updates on the progress for this since it's been a while.

[2018-03-19 00:19] yuriv1978 commented on #550
Has this been solved?? we have same issue and our company cannot receive payments from Microsoft Edge users...

[2018-03-19 01:57] benzookapi commented on #550
@bluepnume  Sorry for not responding...  I am asking them if it still produced and  to provide us  the path of testing in Edge (currently they are disabling PayPal for Edge)

[2018-03-19 12:11] yuriv1978 commented on #550
To reproduce all you need to do is open this link in Edge:
https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-8XL25053MF881021V

it will not work in edge(will not display sign in form) but will work in any other browser.

[2018-03-19 13:42] kulkarnisan commented on #634
Thanks a lot...I got it what does it mean...

[2018-03-19 22:44] bluepnume commented on #550
@yuriv1978 -- I tried the link you posted but I saw the login page appear correctly. Can you please raise a new issue and provide all of the requested details in the form. Thanks.

[2018-03-20 00:39] yuriv1978 commented on #550
thank you for reply, the link i provided is related to topic starter's issue, because in Edge browser's debug window i see same javascript error as posted earlier in this thread: "SCRIPT 5022: PostMessage iframe domain (null), must be a *.paypal.com domain." . Please note this error happens on another computer in another network so it is not my local problem. Also I verified this javascript error

[2018-03-20 00:53] yuriv1978 opened #637 "Microsoft Edge doesnt work with standard paypal sandbox checkout url"
- Description
Sandbox checkout is successful  in Chrome/Firefox and IE, but Edge always fails.

![image](https://user-images.githubusercontent.com/33438565/37629691-91f06e52-2bb6-11e8-82fa-7082a3af0e61.png)

- Steps to Reproduce
To reproduce just try to open this paypal sandbox link (it suppose to prompt for login but instead in Edge it will show loading icon endlessly):

https://www.sandbox.paypa

[2018-03-20 07:58] artofspeed opened #639 "Popup overlays the close button, on mobile device with larger default zoom"
On mobile device with larger display zoom, the popup overlays the close button, resulting users not able to close the popup, as indicated in the image:

![Display bug](https://i.imgur.com/O2RQwvd.jpg)

This is a serious issues as many of our customers have mobile devices that have display level set to "large". Especially, for devices of relatively large screen, sometimes the manufacture sets the d

[2018-03-20 08:38] artofspeed commented on #588
@gety9 Well it's just that with jQuery you'll have more flexibility and ability to customize according to your needs, ex: change dataTypes, add timeout, use FormData, etc. Whereas `paypal.request.post()` is a shortcut offered to get things done quickly. But you can use any HTTP libraries of your choice, Axios, Fetch API, jQuery.ajax(), etc.

[2018-03-20 21:03] bluepnume commented on #639
@abarco could you take a look?

[2018-03-21 12:30] ahmedkaludi commented on #440
Looking forward to this one

[2018-03-21 13:36] gtumino opened #640 "Don't show login on click"
### Description
Paypal button don't work, i use standard example on paypal developer site

You can check on https://appfestival.rockit.it/paypal/test.php

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if poss

[2018-03-21 13:59] #640 closed

[2018-03-21 17:45] bluepnume commented on #639
@walmik can you please take a look?

[2018-03-22 12:10] mahdinjim opened #641 "Guest checkout is not working because we are unable to press the submit button"
This issue is really strange , we have a cordova mobile application and we used the express checkout client implementation to integrate paypal.
After clicking the pay button, first the paypal login page is opened, when the user click on create account and choose the guest checkout and after filling the credit cards information we can't click the submit button, every time we click the button, the p

[2018-03-22 13:20] lordvee commented on #462
Hey,
I am using angular-fullstack and have the issue described above. In my app it definitely loads before but ti seems like it does not become available to the app.
To be sure that it's loaded in the app it should provide an export namespace to the angularjs framework i suppose. Has anyone managed to make it work?

Thanks.

[2018-03-22 18:59] jookyboi commented on #323
What's nice about the newest version of `paypal-checkout` is that it will fall back to using an iframe modal when the popup fails to load. With this functionality, you can basically close the blank `BrowserWindow` when Paypal tries (and fails) to navigate it to the checkout flow.

See my snippet at:
https://snippets.cacher.io/snippet/2b53c1618de354e301d4

[2018-03-23 00:03] bluepnume commented on #323
Is there a specific user-agent for electron that we can detect in the checkout.js script?

[2018-03-23 00:21] jookyboi commented on #323
@bluepnume Yes. You can either use `window && window.process && window.process.type` or `process.versions['electron']`. Discussion here: https://github.com/electron/electron/issues/2288

[2018-03-23 13:29] walmik commented on #639
Will do @bluepnume

[2018-03-23 14:30] badgerpigeon commented on #637
I also encounter this issue on
Microsoft Edge 41.16299.248.0
Microsoft EdgeHTML 16.16299

Can this get assigned to someone please?

[2018-03-23 21:27] bluepnume commented on #323
Thanks! Added a check to disable popups for electron for the next release, and default to iframe mode.

[2018-03-23 21:34] jookyboi commented on #323
Awesome! Thanks @bluepnume. I'll be sure to try it.

[2018-03-23 22:14] bluepnume commented on #637
Do you see the same issue in production mode?

[2018-03-24 06:00] Kaushik0704 commented on #433
@andreabondi @bluepnume Still I'm Getting Issue, Can you please help me.

[2018-03-26 05:52] benzookapi commented on #550
@bluepnume  I got a response from merchant that they are now successful in rendering and acceptiing PayPal in their Edge, so we can close this ticket. Thanks.

[2018-03-26 09:58] galvanu commented on #548
Wee are facing the same issue on our website. Can you please explain what is the issue? there is any solution? workaround?
Thanks

[2018-03-26 11:59] criss-zhou commented on #637
I also encounter this issue in sandbox environment. In production mode, it didn't happen. It seems this issue happens when creating one-time payments using  express checkout on login page.

[2018-03-26 15:53] brunops commented on #548
Thanks for the feedback, will look into this tonight.

@bluepnume feel free to solve it before though

[2018-03-26 17:14] bluepnume commented on #433
Can you please raise a new issue with all requested details? Thanks

[2018-03-26 21:31] bluepnume commented on #639
Assigning this back to @abarco -- I think that cross is being rendered on the overlay, by checkout.js, rather than UL. We should have a CSS rule to hide it below a certain width of window.

[2018-03-28 11:08] EduardoFer commented on #637
I'm having the same issue. Did anyone find a solution for this?

[2018-03-28 12:44] Kaushik0704 opened #644 "Checkout button is not rendered in Safari webview"
Hi,
I'm integrating PayPal client-side express checkout using REST. the PayPal button doesn't render anymore inside a Safari WebView. Tested also with https://developer.paypal.com/demo/checkout/ and get the same issue.
![screen shot 2018-03-28 at 6 03 14 pm](https://user-images.githubusercontent.com/28917504/38029403-437b5612-3285-11e8-98b4-c428b8c55705.png)

here is code,

[code]
</body>

[2018-03-28 17:38] bluepnume commented on #644
Do you see the same problem in production mode?

[2018-03-28 17:39] bluepnume commented on #637
@EduardoFer  / @yuriv1978 can you also confirm if you're seeing the problem in sandbox only, or also in production?

[2018-03-28 17:59] EduardoFer commented on #637
I just see this issue in sandbox, in production it's ok.

[2018-03-29 01:12] ste-camp opened #645 "Form Validation and Error Handling"
I'm trying to implement the checkout process with my backend server implementing the REST API, and I'm left quite confused on how to perform form validation and error handling with the paypal button.

I have already seen your demo about validation here: https://developer.paypal.com/demo/checkout/#/pattern/validation
and I have read issue #610
but I think that your demo simplifies way too much the

[2018-03-29 06:49] bluepnume commented on #644
Hmm. Any specific settings you're using when you set up the webview? I haven't heard any other reports of the button failing to render in webviews, so it would be good to narrow down what's unique in your case.

[2018-03-29 06:52] bluepnume commented on #645
Yeah, so there's a lot of discussion around this here: https://github.com/paypal/paypal-checkout/issues/139 -- but to summarize, it's problematic for us to allow stopping the flow in onClick. The idea of `validate()` is you need to set up event listeners which listen for any changes in your form, determine if it's valid or invalid, then call `actions.enable()` or `actions.disable()` in advance of

[2018-03-29 08:41] tancevsasa commented on #637
I've having same issue is Sandbox mode. When to expect this to be fixed?

[2018-03-29 10:37] Kaushik0704 commented on #644
No. I'm not using any specific settings. I'm just putting above code. but don't know why button rendering fail.

[2018-03-29 10:48] Kaushik0704 commented on #644
@bluepnume Different thing is I'm using cordova HTML page. above code putting in my index page and run my application and I'm facing this issue

[2018-03-29 21:46] ste-camp commented on #645
Thanks for the reply :)
I guess it is actually possible for me to trigger the form validation at each change in the form, I was worring about performance though

[2018-03-29 22:40] bluepnume commented on #645
Makes sense -- you can always use a debouncer to ease up the performance concerns a little.

[2018-03-29 22:40] #645 closed

[2018-03-29 22:44] #548 closed

[2018-03-29 22:45] bluepnume commented on #644
Please see https://github.com/paypal/paypal-checkout/issues/420 -- cordova is not something we're explicitly supporting for this javascript integration, at this time.

[2018-03-29 22:45] #644 closed

[2018-03-29 22:46] bluepnume commented on #636
Are you still seeing this issue? Should have been resolved, looks like there was an issue with gzip on our CDN.

[2018-03-29 22:47] #632 closed

[2018-03-29 22:50] bluepnume commented on #628
Can you please share your code?

[2018-03-29 22:52] bluepnume commented on #641
@bluelnkd -- does our guest app support cordova integrations? Can you help triage or close this one?

[2018-03-29 22:53] bluepnume commented on #626
This is now fixed and released.

[2018-03-29 22:53] #626 closed

[2018-03-29 22:54] bluepnume commented on #625
I'm seeing the button being successfully rendered now, after the latest release.

[2018-03-29 22:54] #625 closed

[2018-03-29 22:55] bluepnume commented on #637
@vishakha94 -- can you take a look at this one while you're looking at Edge, see if you can repro?

[2018-03-29 22:58] bluepnume commented on #635
Something in the page is overwriting `window.JSON`. checkout.js can not function without this in place.

[2018-03-29 22:58] #635 closed

[2018-03-29 22:59] bluepnume commented on #633
I'm pretty sure we don't support hiding that button. Please raise a new issue for the other problem, and provide all of the requested details including screenshots. Thanks!

[2018-03-29 22:59] #633 closed

[2018-03-29 23:01] #630 closed

[2018-03-29 23:03] #103 closed

[2018-03-29 23:03] #99 closed

[2018-03-29 23:03] #106 closed

[2018-03-29 23:03] #108 closed

[2018-03-29 23:04] #113 closed

[2018-03-29 23:04] #144 closed

[2018-03-29 23:04] #95 closed

[2018-03-29 23:06] #185 closed

[2018-03-29 23:07] #202 closed

[2018-03-29 23:08] bluepnume commented on #193
Covered here: https://github.com/krakenjs/beaver-logger/issues/8

[2018-03-29 23:08] #193 closed

[2018-03-29 23:08] #618 closed

[2018-03-29 23:09] #616 closed

[2018-03-29 23:09] #592 closed

[2018-03-29 23:10] #452 closed

[2018-03-29 23:12] bluepnume commented on #370
Fix is in.

[2018-03-29 23:12] #370 closed

[2018-03-29 23:13] #292 closed

[2018-03-29 23:20] bluepnume commented on #425
Think I see what's happening here. The button iframe is being removed from the dom and then being re-added. This causes the inner window to close and then re-open. That's problematic because the parent window is listening for messages from the original window, and assumes that the window has been destroyed -- hence it cleans up the iframe and any other state on the page.

There may be a hacky fix

[2018-03-29 23:20] #425 closed

[2018-03-29 23:34] ste-camp commented on #645
Thank you!

Please please put all these info about validate and similar callbacks in the docs!

[2018-03-30 00:44] bluelnkd commented on #641
Webviews are not supported in the context of checkout.
https://developer.paypal.com/docs/classic/lifecycle/info-security-guidelines/#secure-applications

We instead recommend using the PayPal SDKs instead for the most optimal user experience.

[2018-03-30 00:44] #641 closed

[2018-03-30 05:18] bormanEcwid commented on #636
Yes! I still reproduce this issue.
For example I reproduce it with DNS server 62.192.160.39

**nslookup OUTPUT:**

**curl OUTPUT:**

Still not compressed

[2018-03-30 05:29] Kaushik0704 commented on #644
@bluepnume Hello, This Code is working for Cordova android completely. But when i Putting this code for IOS i'm getting error. Please Help Meee...?

[2018-03-30 05:41] bluepnume commented on #636
Ok thanks for the heads-up, let me follow up on this one.

[2018-04-01 09:32] aqres commented on #367
In the meantime, what would be a suitable action for `onError` in a client-side implementation of checkout.js ?

[2018-04-01 18:13] nsanden opened #646 "Only showing funding source buttons"
It makes sense that you want to show the PayPal button along with the funding source buttons but i have the following situation.

I offer a Saas which is $x per year. For most users this works fine going through the typical buttons here:

![image](https://user-images.githubusercontent.com/2072064/38176079-fe19a284-359c-11e8-914a-f9d2784a687b.png)

Then, I setup a billing agreement and execute it s

[2018-04-01 18:31] bormanEcwid commented on #635
@bluepnume Can you suggest any WA?

[2018-04-02 02:15] trainerbill commented on #573
it won't affect your integration and will be fixed internally in the coming months.

[2018-04-02 02:15] #573 closed

[2018-04-03 10:49] LiquidRayga opened #647 "INVALID_RESOURCE_ID [Integrating with the PayPal REST API]"
So I've been following your tutorial for integrating with Paypal REST API https://github.com/paypal/paypal-checkout/blob/master/docs/paypal-rest-api.md.

I can get my oauth access token and create a new transaction but when I'm passing the Payment ID to the front-end JS (AngularJS) I get the INVALID_RESOURCE_ID error and the PayPal modal says that "This transaction is invalid. Please return to the

[2018-04-03 16:48] bluepnume commented on #647
Are you hitting sandbox or production?

[2018-04-03 17:59] vishakha94 opened #648 "Alt text for close button on grey overlay"
### Description

Please provide a short description of the issue here, along with:

Actual Behavior:
The close link (highlighted in the screenshot) does not have alternative text.
<a href="#" class="paypal-checkout-close"></a>

Expected Behavior:
The close button should be a button, not a link.
Add alt="Close" to this button

Optional signup (tmart.com)
https://secure.tmart.com/users/cart.html?ref

[2018-04-03 22:03] LiquidRayga commented on #647
I'm using sandbox.

On Apr 4, 2018 12:48 AM, "Daniel Brain" <notifications@github.com> wrote:

Are you hitting sandbox or production?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/paypal/paypal-checkout/issues/647#issuecomment-378318403>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AYL1yfqY1u

[2018-04-04 02:37] LiquidRayga commented on #647
I use PHP curl to generate my access token for PayPal REST API.

`$ch = curl_init();

$CLIENT_ID = 'xxxxxxx';
$SECRET = 'xxxxxxx';

curl_setopt($ch, CURLOPT_URL, "https://api.sandbox.paypal.com/v1/oauth2/token");
curl_setopt($ch, CURLOPT_HEADER, false);
curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);
curl_setopt($ch, CURLOPT_POST, true);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt

[2018-04-04 05:01] bluepnume commented on #647
Thanks. You need to pass `env: 'sandbox'` when you call `paypal.Button.render()`.

[2018-04-04 05:01] #647 closed

[2018-04-04 05:09] LiquidRayga commented on #647
Thank you so much!

[2018-04-04 11:31] mahdinjim commented on #641
@bluelnkd We are using the express checkout sdk, and the opened webview is managed by the paypal sdk. Should we switch to brainbox sdk ?

[2018-04-04 16:43] dottodot commented on #599
I asked for this feature over a year ago and it's still not available so wouldn't hold your breath.

[2018-04-05 09:30] ITGuy9401 commented on #477
I'm having this problem both in prod and test. I've integrated the Paypal Button (client-side REST) in my AngularJS application through an angular directive. there is an example of payload I send to PayPal (the API does not return any error)
The following gist contains both the example JSON we send to PayPal and the Directive I built to do the integration in AngularJS

https://gist.github.com/ITGu

[2018-04-05 09:36] ITGuy9401 opened #649 "Paypal not working nor in prod or sandbox with AngularJS Application"
### Description

I'm having the problem related to #477 both in prod and Sandbox environment. I've integrated the Paypal Button (client-side REST) in my AngularJS application through an angular directive. there is an example of payload I send to PayPal (the API does not return any error)
The following gist contains both the example JSON we send to PayPal and the Directive I built to do the integra

[2018-04-05 10:05] rdunk commented on #446
Would like to request that this issue is reopened as the responsive label is somewhat confusing for a button that is not fully responsive. For example we have a situation where buttons occupy 50% of the width of the viewport. On larger screens the PayPal button looks out of place because of the enforced maximum width.

I understand the need to conform to PayPal's UX guidelines, but as the button i

[2018-04-05 17:56] vishakha94 commented on #648
Resolved.

[2018-04-05 17:56] #648 closed

[2018-04-05 21:30] bluepnume commented on #649
Looks like you're not returning any thing in `payment()` -- you need to directly return the promise returned by `actions.payment.create()`

[2018-04-05 21:30] #649 closed

[2018-04-07 23:44] grahamyesfit opened #650 "PERMISSION_DENIED errors in Sandbox"
### Description

I have a React JS application and I'm using PayPal checkout to create the payment on the client, and then execute it on the server. I'm importing PayPal functionality from:
https://www.paypalobjects.com/api/checkout.js

I'm using React 15.6.2.

When I try to execute a payment or refund an authorization in my Sandbox, I receive a PERMISSION_DENIED error from my REST call.

The exec

[2018-04-08 04:08] mfxuus opened #651 "[Question] Security Consideration"
Hi there,

I've been looking into a lot of methods of implementing a Paypal button, and currently I like this one the most. I have very limited knowledge on the security side of these payment options, so I was wondering if anyone can give me some insights on how secure this implementation is (in particular, the Basic and Advanced integration documented [here](https://github.com/paypal/paypal-check

[2018-04-10 07:50] dottodot commented on #599
Instant API was deprecated Jan 2017

https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECInstantUpdateAPI/

and there's still no replacement

[2018-04-11 00:56] anthonybachour commented on #139
Hello!

I am having trouble using the validate() method. I am adding event listener for the whole form using: function isValid -> return $('#checkoutForm').validate().checkForm();

What happens is near the end of the form the user can toggle between paying with CC or PayPal which if clicked hides CC field + Billing Address field.

What's happening is that the isValid function mentioned above is ru

[2018-04-12 00:32] pnemere opened #653 "[Question] Paypal hybrid integration automated testing with doctored payment_id/payer_id?"
### Description

When testing a hybrid paypal integration, I'm having trouble finding a way to automate the server-side test. I'm creating the payment on the client-side and using the checkout.js button.render() method, however the onAuthorize() step calls through to my web server to handle the sale and execute the payment together.

I need to eliminate the paypal button click and login steps as t

[2018-04-12 07:38] bluepnume commented on #653
Can you elaborate on why that's problematic?

+ @lmarkus, whose team has been doing a lot on the negative-testing front

[2018-04-12 17:43] NgKengFai commented on #398
doesnt work on localhost. when i pushed to live server it worked. I have the exact error Error: No value passed to payment

[2018-04-12 19:02] lmarkus commented on #653
@pnemere , My team is actively building a negative testing framework that will support input-based triggers to complement the header-based ones.

It's meant to work more or less as you described.  If you don't mind, could we talk offline? I;m sur emy team would like to run some scenarios by you.  Please shoot me an email.  `lmarkus` at paypal dot c0m

[2018-04-12 22:28] bluepnume commented on #398
@NgKengFai can you please open a new issue and share your code?

[2018-04-13 00:59] pnemere commented on #653
Thanks Markus, will email you.

@bluepnume Well it's problematic for 2 reasons:

1. You have to insert special test code, which you have to turn on & off, and effectively when it's running an integration test it's not testing the actual production code. Arguably it's a slight change with 1 flag but if the rest of the system doesn't need a special flag (like with Stripe)

2. I didn't see a way of p

[2018-04-13 02:28] NgKengFai commented on #398
It's okay during live but not localhost

[2018-04-13 05:29] herbertmilhomme commented on #541
Just wanted to leave an update in response that i've ventured down the rabbit-hole and found that:

The job of the DNS (Domain Name Server) is responsible for assigning an IP to Domain name relationship; it doesnt seem likely or possible to be able to alter and control such information _after_ the url has already been forwarded...

[2018-04-13 16:53] DanielStout5 opened #655 "Console Error Messages Useless in Firefox"
The error messages generated by checkout.js are extremely useless in Firefox; I wasted a fair amount of time trying to decipher it before I tried it in Chrome and immediately was able to tell what the issue was.

In Firefox:
![](https://i.imgur.com/60d7XVE.png)

In Chrome:
![](https://i.imgur.com/iY9Nbej.png)

- PayPal Version: 4.0.187
- Browser version: Firefox 59.0.2

[2018-04-13 17:53] senseimknight commented on #139
@bluepnume Actually, there is. If you use X-Frame-Options and CSP frame-ancestors in your response headers within the iframe, you can allow the specific domain access.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors

[2018-04-13 18:06] bluepnume commented on #139
@senseimknight these options are just for informing the browser on whether it will allow an iframe to be rendered or not. They don't have anything to do with passing async or sync messages.

@anthonybachour can you add an event listener to revalidate and call `enable()` or `disable()` when the user changes the toggle?

[2018-04-13 18:13] anthonybachour commented on #139
@bluepnume Unfortunately I tried that but what happens is the toggle hides a field which gets validated against before being hidden and so it returns false. I fixed this by using setTimeout which allows for the fields to be hidden before the form is validated. That has solved the issue but I was hoping there is a cleaner solution that doesn't rely on setTimeout.

[2018-04-13 20:08] bormanEcwid opened #657 "Can not go to chechout on mobile Safari (iOS 11.3)"
### Description

Merchants of our ecommerce platform complain to us that sometimes buyers can not go to paypal checkout when using iOS devices version 11.3

Screencast: https://drive.google.com/file/d/1_Ee6-834gXRmFSxMMCl5pjXHEv09-Rq-/view?usp=sharing

"4.0.187"

Mobile Safari on iOS 11.3 (15E217)

I copied code from https://developer.paypal.com/demo/checkout/#/pattern/client and pasted it to my s

[2018-04-14 07:01] bluepnume commented on #655
Great callout. We'll get a fix in for this. Looks like Firefox's `err.stack` doesn't include the original error message.

[2018-04-15 14:38] flyingL123 commented on #602
@bluepnume any progress on this? It really seems like there is some sort of blocking going on. I just reached a point working on something where I have 2 essentially identical stores with the same theme, only difference is that PayPal powered by Braintree is not enabled yet on one of them. There is a noticeable speed difference navigating between pages.

Do you think investigating this can be give

[2018-04-15 18:51] bluepnume commented on #602
Hi @flyingL123 -- sorry again for the delay. Let's figure this one out.

Can you let me know a couple of quick things so we can narrow this down:

1. Do you see the same problem when `checkout.js` is just loaded on the page, or only when a paypal component (like the button) has actually been rendered?

2. If you set a breakpoint on line 396 (`if (config.logUnload) {`) and toggle `config.logUnload`

[2018-04-16 00:41] flyingL123 commented on #602
Thanks @bluepnume. My sites are hosted by the e-commerce provider BigCommerce. I am not actually adding PayPal's checkout code to the site myself. I simply go into BigCommerce's control panel and activate PayPal powered by Braintree as a payment provider.

As a result, BigCommerce loads the payment code code on every page load, not just cart/checkout pages where a button is rendered. To answer you

[2018-04-16 14:39] mukesh-urbanpiper opened #658 "onAuthorize never getting fired."
### Description

Please provide a short description of the issue here, along with:
After making successful payment the popup is getting closed and instead of `onAuthorize`, `onCancel` is getting fired.
-Code
[code]
paypal version - 4.0.191

browser version -  Google chrome 65.0.3325

Console logs:
[code]

- Does the issue also occur at [developer.paypal.com/demo/checkout](https://developer.paypal.

[2018-04-16 17:15] ste-camp opened #659 "Calling close() does not close the overlay"
### Description

I'm using the [Advanced Javascript Integration](https://github.com/paypal/paypal-checkout/blob/master/docs/button.md#advanced-integration) in my javascript with my REST backend.
I'm trying to understand how to handle errors when my backend gives and error during the execute phase (the onAuthorize callback in JS).
What I'm doing is calling actions.close() to close the PayPal popup

[2018-04-17 15:36] viaro-vinicio commented on #464
What is the cause of the issue?

[2018-04-17 15:38] viaro-vinicio commented on #464
@bluepnume do you know the cause of the issue?

[2018-04-17 18:26] #588 closed

[2018-04-17 18:27] bluepnume commented on #602
I set up the following page to help measure: http://bluesuncorp.co.uk/icv4/perf.htm

I don't see any significant different between

a) Redirecting without checkout.js
b) Redirecting with checkout.js
c) Redirecting with checkout.js and a rendered button

But can you try on that page and let me know what kind of numbers you see?

[2018-04-18 23:02] lalmanzar opened #660 "Wrong height on responsive when using angular component"
When using the angular component the height is wrong and hides part of the button.

Here is an example comparing normal js vs angular

![image](https://user-images.githubusercontent.com/1315039/38962307-9b6f4eee-433a-11e8-8031-f8f099f43426.png)

https://jsfiddle.net/bdmqxr5y/4233/

Browsers:
Google Chrome Version 65.0.3325.181 (Official Build) (64-bit) [**BROKEN**]
Safari 11.0.3 (13604.5.6) [**BRO

[2018-04-18 23:38] bluepnume commented on #660
Great catch. Got a fix in for the next release.

[2018-04-18 23:39] #615 closed

[2018-04-19 00:00] bluepnume commented on #659
Easy fix -- use `.then` and `.catch` and don't call `actions.close`.

[code]

[2018-04-19 00:00] #659 closed

[2018-04-19 00:10] flyingL123 commented on #602
Thanks @bluepnume I really appreciate your time.

[2018-04-19 00:27] bluepnume commented on #658
@vishakha94 can you follow up on this and help narrow down if it's a bug on our side?

[2018-04-19 00:27] bluepnume commented on #657
@khanghoang can you take a look into this? The fact that `touchstart` hack work makes me wonder if we need to do the same inside the button frame to listen for clicks, maybe.

[2018-04-19 00:28] bluepnume commented on #655
Fix is made for the next release. Thanks again!

[2018-04-19 00:30] bluepnume commented on #651
@trainerbill can you help elaborate on this one?

[2018-04-19 00:31] bluepnume commented on #650
@trainerbill can you take a look?

[2018-04-19 00:43] bluepnume commented on #646
I think the ideal fix here us for us to enable guest billing agreements -- which I believe is something coming in the future. I'm going to mark this as a feature request, because we don't currently have plans to support options 1 through 3.

[2018-04-19 00:44] bluepnume commented on #591
@khanghoang - can you take a look?

[2018-04-19 00:45] #493 closed

[2018-04-19 12:21] ofaurax opened #661 "typo in the doc"
In https://github.com/paypal/paypal-checkout/blob/master/docs/hybrid.md

[code]

There is an extra `;` on the end of the 1st line. It should be:
[code]

I saw it 2 times in the page.

Thanks for the doc!

[2018-04-19 14:40] trainerbill commented on #651
@mfxuus The easiest way to integrate is the basic integration which uses the REST api on the client side.  You would have to validate on your server that the totals are correct before completing your fulfillment.  If you do the advanced integration then you need to make a webservice that returns the paypal token.  In this scenario the amounts are generated on the server so you shouldn't have to va

[2018-04-19 14:40] #651 closed

[2018-04-19 19:44] trainerbill commented on #650
@grahamyesfit First off you void an authorization not refund.  You only refund a capture.

For the top one with debug_id 50e26e8fd4444, it looks like you are creating a payment against a billing plan.  I did make a permission change on your sandbox account that may help.

For the bottom one with debug_id f06696c091a95 the transaction id is 60D796004F3681509 and that is showing as a pending authori

[2018-04-19 19:44] #650 closed

[2018-04-19 19:51] khanghoang commented on #591
@bluepnume sure, I will

[2018-04-19 19:52] khanghoang commented on #657
@bluepnume that's interesting. I will take a look.

[2018-04-20 14:33] vsinghjodhpur commented on #361
Yes its still have issue, I'm using Sandbox and trying to capture payment to saved credit card token but its always shows "INTERNAL_SERVICE_ERROR" while cut the payment.

[2018-04-20 17:14] nsanden commented on #646
Yes that seems like it would fix it, because the credit card buttons right now are kind of useless for a billing agreement setup. I've actually decided to remove them for now.

So now my flow looks like...

1) Show just PayPal payment button, with billing agreement setup
2) Once clicked, I show a "Having trouble checking out?" link below that button (in case they close the paypal popup windows ear

[2018-04-20 19:35] vishakha94 commented on #658
sure

[2018-04-22 05:24] AashutoshPrashar opened #664 "PayPal Express Checkout Button not rendering in iOS when used in Cordova application. It is working in Android but the button is not getting build up in iOS devices."
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2018-04-22 05:26] AashutoshPrashar opened #665 "PayPal Express Checkout Button not rendering in iOS when used in Cordova"
It is working in Android but the button is not getting build up in iOS devices. The example which I am referring to is

https://developer.paypal.com/demo/checkout/#/pattern/client

I know that there are many other issues regarding this already raised but no one has got some useful solution so raising it again.

Also if there is any other way to integrate PayPal with Cordova please suggest that als

[2018-04-23 18:55] trojans10 opened #666 "Blank white screen after checking out on mobile facebook/instagram checkout webview. Ideas?"
When a user uses paypal via an ad from facebook or instagram. Users can't checkout due to a blank white screen at the end of the process. This only occurs when users come from an ad on a mobile phone. My issue was recreated via an iPhone iOS and instagram app.

### Affected browsers

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [ ] IE
- [ ] Chrome Mobile/Tablet
- [ ] Safari Mobile/Tablet
-

[2018-04-23 19:48] bluepnume commented on #467
Both tax id and tax id type are live.

[2018-04-23 20:18] aalonso-ariel commented on #467
Hello Daniel,

Just did a sandbox test and the result was not positive. Neither the actions.payment.get() function nor actions.payment.execute() returns the TAXID and TAXIDTYPE.

Can you check if this made to sandbox as well ?

[2018-04-23 20:27] bluepnume commented on #467
Yep, sorry, miss on our side. Looks like this got pushed out for order api but not payments. I've made sure payments is staged for the next release.

[2018-04-23 21:43] trojans10 commented on #666
Hi Khangoang,

Is there a way to send you private screenshots?

[2018-04-23 21:52] trojans10 commented on #666
@khanghoang Sent you an email. Please advise. Thanks so much :) Does it have to do with our paypal version on our order form?

[2018-04-23 21:58] khanghoang commented on #666
@trojans10 thanks, I got your email. I will get back to you on this.

[2018-04-23 23:03] khanghoang commented on #591
@etakh sorry I couldn't reproduce this bug. Would you mind to give us more information?
[code]

[2018-04-24 00:07] khanghoang commented on #666
@trojans10 After checking this issue carefully with the details you sent, we find out that you're using the different PayPal integration with the one this repo provides. With that being said, it's out of the scope of this repo.

**HOWEVER**, we suggest that you should take a look at [this documentation](https://developer.paypal.com/demo/checkout/#/pattern/client) to find a integration that works b

[2018-04-24 05:58] akhilaet commented on #591
@khanghoang Please find the details below.

- Real device
- Version 11.2.6
- Webview type: UIWebView
- Hybrid application: Ionic v1

[2018-04-24 09:06] kdenz commented on #591
Same problem here!
I'm using UIWebView for our React Native app
Tested on iOS 10 and 11

[2018-04-24 09:10] etakh commented on #591
@khanghoang I hace

Real device
Version 11.2.6
Webview type: UIWebView
Hybrid application: Ionic v1

[2018-04-24 09:10] etakh commented on #591
@khanghoang Please find the details below.

Real device
Version 11.2.6
Webview type: UIWebView
Hybrid application: Ionic v1

[2018-04-24 09:57] adamduke commented on #599
Can I also add a +1 for this feature.  It's surprising that Paypal left this out when it is essential for anyone selling physical merchandise.

It causes a lot of issues and cognitive dissonance for the user.  They way the Apple Pay API does this is really smart: you get a shipingcontactselected event which can asynchonously get new shipping details and then return an object back to a shippingupda

[2018-04-24 16:31] stuartbentley opened #668 "validate method sems to have been removed from latest version"
### Description

Paypal checkout version "4.0.195".

When validate function would previously have been called, I now get:
"Cannot read property 'catch' of undefined"

Looks like the validate method no longer exists.  Is this the case? Fortunately it is only a single field for me that is not validated but would like to know how validation should be done if this is a change in checkout functionality

[2018-04-24 16:35] bluepnume commented on #668
Can you please share your code?

[2018-04-24 18:45] khanghoang commented on #657
@bormanEcwid thanks, I'm able to reproduce the bug now. We'll work on the fix for this.

[2018-04-24 19:47] thomasplevy commented on #668
I'm having this same issue and it just started occurring this morning. I can't tell you what version I was using (I was loading via https://www.paypalobjects.com/api/checkout.js) but I've tried back to v 4.0.191 to try to see if this is a version issue and I'm having the same issue on all these versions now.

My code is based off of the validation example on the [interactive demo](https://develope

[2018-04-24 23:00] bluepnume commented on #668
Found the issue. Rolling out a fix as we speak.

[2018-04-24 23:01] #666 closed

[2018-04-24 23:50] thomasplevy commented on #668
@bluepnume all appears functional again on my end, thanks!

[2018-04-24 23:51] bluepnume commented on #668
Perfect, thanks for validating. If anyone is still seeing the problem please clear your browser cache.

[2018-04-24 23:51] #668 closed

[2018-04-24 23:52] bluepnume commented on #665
We don't officially support cordova -- if you find any specific root cause, we'll be glad to accept a PR -- but otherwise I'm afraid this isn't likely to get a lot of priority.

[2018-04-24 23:52] #665 closed

[2018-04-24 23:54] bluepnume commented on #661
Good catch, thanks for the issue! Fixed

[2018-04-24 23:54] #661 closed

[2018-04-24 23:55] bluepnume commented on #660
This is now resolved

[2018-04-24 23:55] #660 closed

[2018-04-24 23:55] bluepnume commented on #664
We don't officially support cordova -- if you find any specific root cause, we'll be glad to accept a PR -- but otherwise I'm afraid this isn't likely to get a lot of priority.

[2018-04-24 23:55] #664 closed

[2018-04-24 23:55] #655 closed

[2018-04-24 23:56] #653 closed

[2018-04-24 23:56] #628 closed

[2018-04-24 23:57] bluepnume commented on #610
This is now resolved -- if you have an `onError`, the error will not be thrown globally.

[2018-04-24 23:57] #610 closed

[2018-04-24 23:58] bluepnume commented on #351
This should now be resolved.

[2018-04-24 23:58] #351 closed

[2018-04-24 23:59] bluepnume commented on #636
I've checked on this and the resource is gzipped. You're making a HEAD request -- if you do a regular get you'll see it's gzipped.

[2018-04-24 23:59] #636 closed

[2018-04-24 23:59] #646 closed

[2018-04-25 00:00] bluepnume commented on #637
Please let me know if you're still seeing this issue.

[2018-04-25 00:00] #637 closed

[2018-04-25 06:35] stuartbentley commented on #668
On Wed, 25 Apr 2018 at 00:51, Daniel Brain <notifications@github.com> wrote:

Thank you very much for the fast response, this is working for me again.

[2018-04-25 06:36] jurex commented on #668
Working for me as well with latest npm version `paypal-checkout@4.0.198` Thank you 👍

[2018-04-25 06:42] bormanEcwid commented on #636
No. I still reproduce this issue.

**nslookup OUTPUT**

**curl OUTPUT**

@bluepnume How can I help you investigate this issue? What more information can I provide for investigation?

[2018-04-25 07:57] tancevsasa commented on #637
I am confirming that issue has been fixed. Thanks a lot!

[2018-04-25 11:34] bhupatbheda commented on #356
I'm getting same error 400 bad requests.

**Requests parameters**

- General
Request URL: https://www.sandbox.paypal.com/v1/oauth2/token
Request Method: POST
Status Code: 400 Bad Request
Remote Address: 173.0.82.77:443
Referrer Policy: no-referrer-when-downgrade

- Response Header
Content-Encoding: gzip
Content-Type: application/json
Date: Wed, 25 Apr 2018 11:29:21 GMT
HTTP_X_PP_AZ_LOCATOR: sandbo

[2018-04-25 11:36] bhupatbheda opened #669 "Client Credential's are missing"
I'm getting error 400 bad requests.

**Requests parameters**

- General
Request URL: https://www.sandbox.paypal.com/v1/oauth2/token
Request Method: POST
Status Code: 400 Bad Request
Remote Address: 173.0.82.77:443
Referrer Policy: no-referrer-when-downgrade

- Response Header
Content-Encoding: gzip
Content-Type: application/json
Date: Wed, 25 Apr 2018 11:29:21 GMT
HTTP_X_PP_AZ_LOCATOR: sandbox.slc

[2018-04-25 14:13] trainerbill commented on #669
do you have your sandbox client id in the .render() properties?

[code]

[2018-04-25 14:18] edincongo commented on #669
Same issue happened to me today (was working properly before). Using express checkout, sandbox environment, double checked client id (even tho I did not changed it), also getting 400 on token request (payment() method).

[2018-04-25 14:58] slava-lu commented on #669
and there are many issues in the last year with the same problem. e.g.
https://github.com/paypal/paypal-checkout/issues/356

[2018-04-25 16:16] hc-jforsythe commented on #669
We are experiencing this issue now as well.

[2018-04-25 16:36] pink-null commented on #669
I am getting this error as well with the same error message. And I can confirm the client id is correct.

Hoping for this error to be resolved soon, as I have a deadline to finish.

[2018-04-26 04:30] nathancarpenter03 opened #671 "React checkout - paypal is not defined"
I am trying to implement paypayl checkout in a react app. I included the script src in the index.htl file and my react code is as follows

`import React, { Component } from 'react';
import ReactDOM from 'react-dom';

class Payment extends Component {

    render() {

        let client = {
            sandbox:    'xxxxxxxxx',
            production: 'xxxxxxxxx'
        };

        let payment = (a

[2018-04-26 04:46] stephen-scalable commented on #669
Also received this error all day.

[2018-04-26 06:12] bhupatbheda commented on #669
@trainerbill - When you do you think it can be resolved?

[2018-04-26 07:33] tp033 commented on #669
same issue here.
Even the paypal demo site (https://developer.paypal.com/demo/checkout/#/pattern/client) is facing this issue.

[2018-04-26 09:54] senthilmca90 commented on #464
Exactly same issue in javascript. `https://api.sandbox.paypal.com/v1/oauth2/token` 400 (Bad Request). Any news about this.

[2018-04-26 13:03] duozersk commented on #669
We are having the same issue - request to https://www.sandbox.paypal.com/v1/oauth2/token fails, but at the same time the same request to https://api.sandbox.paypal.com/v1/oauth2/token works fine. Looks like the www version got broken...

The guide at https://developer.paypal.com/docs/api/overview/#get-an-access-token specifies that the request should go to the `api` link - so it looks like the lin

[2018-04-26 13:32] zoidbergg commented on #669
Same issue here on sandbox.

[2018-04-26 13:33] mrsalitre commented on #356
It´s happening again, client credential´s are missing, but they aren´t, Im 100% sure. I cleared the cache. The same problem is mirroring in the developer website sandbox, can´t connect the api call.
#669

[2018-04-26 13:40] mrsalitre commented on #669
#356
This problem alredy happened, they mark it as closed, but it wasn´t. For someones work if you clear the cache or refresh the page several times, but didn`t work all the time, even when client credential´s are in render and the key is the correct. This problem is mirroring in the developer paypal site, you can´t connect with api calls.

[2018-04-26 13:58] jjorloff1 commented on #669
I'm experiencing this suddenly in our non-prod apps today as well.  Nothing changed in our code, so I had assumed it a paypal test/sandbox environment issue.  I will be watching for a resolution.

[2018-04-26 14:46] mrsalitre commented on #669
@duozersk where do you change this path? in the checkout.js file?, I saw the documentation, and yes, url has change.

[2018-04-26 15:24] trainerbill commented on #669
All, this is a known issue in our sandbox and we have a triage working to resolve it.  Currently there is no quick fix / workaround for the client side integration.  You can still make the api call server side and fetch it via web service.  I will update this issue when we get it resolved.

@duozersk @mrsalitre the urls are correct.  www is a proxy app specifically for checkout js.

[2018-04-26 16:29] romain-preston commented on #356
Happening for me as well today only in `sandbox` environment

[2018-04-26 18:54] andmarmai commented on #356
Yes. Same issue. getting the error in sandbox.

Even you can reproduce the problem using

https://developer.paypal.com/demo/checkout/#/pattern/buynow

http.js:147 POST https://www.sandbox.paypal.com/v1/oauth2/token 400 (Bad Request)
(anonymous)	@	http.js:147
ZalgoPromise	@	promise.js:38
request	@	http.js:48
Object.time	@	rest.js:35
(anonymous)	@	util.js:57
createPayment	@	rest.js:215
(anonymous)	@

[2018-04-26 21:50] coderintherye opened #672 "PayPal Checkout button not working at demo site in Firefox on iOS"
## Description
When trying to debug a different issue (Express Checkout falls back to Hermes w/ Firefox on iOS on first checkout attempt if not already logged in, fallback occurs upon login) I attempted to use the demo site to test that Firefox is working in iOS.

Unfortunately, I can't seem to find a way to get a console in Firefox on iOS :(

YES

### Steps to reproduce
1. Open Firefox on iOS
2.

[2018-04-27 10:55] Daniel-Ovidiu-Vintan commented on #669
Hi, I'm afraid that the issue is still there. On my side the the PayPal buy form is not rendering. Same code used to work a couple of days ago.
Please advise.

[2018-04-27 14:13] sandeepkundu4344 opened #673 "Error object in onError block not giving proper object to read its throwing string"
`onError: function (err) {

                              err.name;

                               //SweetAlert.swal({title: err.name, text: err.details.issue, type: "error"});

                        }

`

return is string as written below:

Error: Error: Request to post https://www.paypal.com/v1/oauth2/token failed with 401 error. Correlation id: 6e1bc08b7a398, 6e1bc08b7a398

{
    "error": "i

[2018-04-27 17:19] joelcardinal opened #674 "Test Environment Not Consistent"
Similar to [issue 199](https://github.com/paypal/paypal-checkout/issues/199) we are having difficulty running our automation tests against non-production (test/sandbox) PayPal checkout as the PayPal experience does not consistently use an iframe.  Interestingly, the production experience of PayPal does not use an iframe.

I don't understand why the test/sandbox PayPal checkout experience is incons

[2018-04-27 17:23] bluepnume commented on #674
Can you elaborate on when you're seeing the iframe? Particularly, which user-agent you're using?

[2018-04-27 17:28] bluepnume commented on #669
@Daniel-Ovidiu-Vintan -- can you raise another issue with specific details?

[2018-04-27 17:37] vishakha94 commented on #658
@mukesh-urbanpiper Pls provide a test page where I can reproduce this?

[2018-04-27 17:46] vishakha94 commented on #672
@coderintherye Can you pls specify the env in which you found this issue?
I tried reproducing the issue on my ios device and could not reproduce it.

[2018-04-27 17:46] gregsandell commented on #674
@bluepnume, I am on Joel's team so I can answer that.  The iframe is on the login screen.  I'm attaching a screengrab that illustrates the iframe in Mac Sierra Chrome 65.  I get the exact same HTML using and Mac Sierra Firefox 59 and Sierra Safari 11.1.  Is that specific enough user-agent info?
<img width="1322" alt="paypaliframe" src="https://user-images.githubusercontent.com/777014/39376928-386a

[2018-04-27 17:48] vishakha94 commented on #671
@nathancarpenter03 Can you pls provide a test site where I can repro/look at this issue?
Tips:
You can get that error if your code is unable to reach the checkout script. Are you referencing it in your local?

[2018-04-27 17:50] bluepnume commented on #674
Aaah ok, gotcha. Didn't realize you meant that iframe. So apologies, but this is just one of those things; occasionally the implementation is going to change, and if any tests rely on implementation details, they're likely to break too.

That said, the experience should at least be consistent on sandbox. I'll double check on that on our side.

[2018-04-27 17:50] #674 closed

[2018-04-27 17:50] coderintherye commented on #672
@vishakha94 As noted, Firefox Version 10.5, on iOS version 11.2.6 on an iPad. I can try again today to see if it works on an iPhone vs. iPad.

[2018-04-27 17:52] vishakha94 commented on #672
@coderintherye `env` === `'production'` or `'sandbox'`?

[2018-04-27 17:54] coderintherye commented on #672
@vishakha94 As noted, it's not in my env, it's at the demo site developer.paypal.com/demo/checkout
The bug I want to file, over Firefox on iOS not working on the first try (when not logged in), I can't even file because the demo site itself is not working in order to be able to test it for that bug.

[2018-04-28 05:27] mukesh-urbanpiper commented on #658
Hi @vishakha94, I found that the the issue is only happening when an Indian paypal account is trying to pay with other currency (For my case it was USD). `onAuthorize` is not getting fired and rather the cancel event getting fired with no explicit error message.

[2018-04-28 21:00] 9mm commented on #479
Is this still a thing? How am I supposed to pass the error from my payment endpoint back to checkout.js to provide a custom error message?

[2018-04-28 22:35] 9mm commented on #673
I also am wondering this. Ive spent the last hour jsut trying to figure out how to display a simple error. Literally none of the paypal docs have any good examples...........

[2018-04-28 22:58] 9mm commented on #673
Furthermore, it keeps closing alert boxes and such. This is so frustrating, all I want to do is show the error if either the `payment` REST api call to my server fails, or my `onAuthorize` api cal... I catch exceptions on my server, and return them as JSON. All I want to do is simply show the damn error and I've now spent almost 2 hours just trying to show the message. I have yet to find any examp

[2018-04-28 23:06] 9mm commented on #673
I also just want to show an alert() to make things simple, and about 50% of the time the alert immediately closes. i about give up up on this.

[2018-04-29 16:30] coderintherye commented on #672
Note, works as expected on iPhone, specifically not working for me with Firefox on iOS on iPad with the above noted versions

[2018-04-30 13:59] hootlex opened #675 "Error: Window did not load after Infinityms"
### Description
The last 5 days this error occurs for many customers.

`Error: Window did not load after Infinityms`

When this error happens, the popup window doesn't open and thus the purchase process stops.

Unfortunately, I cannot reproduce. We keep seeing this error on Sentry, and today we got a screenshot with the console errors from a customer.

The solution was to clear browser's cache and

[2018-04-30 16:17] Daniel-Ovidiu-Vintan commented on #669
Hello Daniel,

Thank you for you prompt reply.
Meanwhile I found the bug in my javascript code, the structure holding the product’s price was null at the wrong time.
Please let me know if I need to do anything ele.

Regards, Daniel Vintan

Sent from Mail for Windows 10

From: Daniel Brain
Sent: Friday, April 27, 2018 8:28 PM
To: paypal/paypal-checkout
Cc: Daniel-Ovidiu-Vintan; Mention
Subject: Re:

[2018-04-30 19:54] tfulton opened #676 "Button disappears with when the pop-up is closed and token is bad"
### Description

Button is disappearing under the following conditions:
- payment() callback returns an invalid PayID, token or other bad value
- pop-up closes eventually (or user closes it manually)
- overlay is closed via continue text or X close image
- button disappears

This is reproducible in the Integration Patterns site.  Sample code to reproduce:

[code]

- Checkout.js Version:  4.0.197
-

[2018-05-01 16:36] lacimarsik commented on #562
Hi all, we experienced the same issue recently with a customer. This issue can also confuse the "Open in new tab" function, and subsequently, we had a report of bad user experience on iOS web browsers.

Is it possible to look at voiding those values? Thanks for looking again.

[2018-05-01 16:59] lacimarsik commented on #562
We also received screenshots with proofs that the redirection to `example.com` can happen after the checkout. I can provide some session details privately, if necessary.

[2018-05-01 19:12] dpolivy commented on #384
@bluepnume FYI, we had a user report this issue running the latest Braintree drop-in (1.10.0) with Edge 16. I don't have a consistent repro, but just wanted to make you aware that it still seems to be an issue.

[2018-05-02 00:01] flrent commented on #557
We had the same issue and spent quite some time debugging, having fairly strict CSP policies.

Turns out the PayPal icon is an external SVG rendered as a base64 image in a iframe. Until *today*, there was a bug when using `frame-src self` in Edge <= 41. They patched it in 42 and released it on April 30. https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8690562/

Hope that helps!

[2018-05-02 06:35] alumbroso opened #677 "in context checkout turn to full page redirect after error recovery"
### Description

Please provide a short description of the issue here, along with:

whilst in context checkout that when pressing "not you" link after the error recovery (AKA 10486) i am being redirected to a full page login rather than keeping it in context . it doesn't reproduce when clicking the link on a normal checkout flow .

### Steps to reproduce
- opt to one touch
- perform a checkout on

[2018-05-02 10:14] SmallYangCong opened #678 "How to use jquery click paypal button"
use checkout.js how click paypal button

[2018-05-02 22:16] bluepnume commented on #678
This isn't an option we allow.

[2018-05-02 22:16] #678 closed

[2018-05-02 22:17] bluepnume commented on #677
@abarco could you take a look? Thanks!

[2018-05-03 13:59] trainerbill opened #679 "MS Edge Overlay disappears, commit property does not work"
Reproducible on the demo app.

https://developer.paypal.com/demo/checkout/#/pattern/client

![image](https://user-images.githubusercontent.com/3578259/39580978-236d6238-4eb0-11e8-861d-3ed92130a288.png)

[2018-05-03 14:18] trainerbill commented on #679
sometimes it does work and if it does you can hit the "Not you" link and it will reproduce it.  the parent page refreshes and the overlay is gone.

Also I noticed that sometimes the "Not You" link is not there which is odd.

[2018-05-03 14:31] trainerbill commented on #679
When this occurs the onAuthorize callback is not called and the popup redirects to sandbox home

![image](https://user-images.githubusercontent.com/3578259/39583000-c00da126-4eb4-11e8-86b2-6042341431ca.png)

[2018-05-03 15:03] trainerbill commented on #679
I was able to reproduce this in production as well.  It did not happen the first time but did happen the second time that i clicked the "Not You" in production.  The code on the right says sandbox because the parent page refreshed but you can see the landing page is paypal.com in the browser.

![image](https://user-images.githubusercontent.com/3578259/39584935-39c8684e-4eb9-11e8-9959-f5adaf104cec.

[2018-05-05 07:05] gautia opened #680 "PayPal SPB & APM Button aren't responsive to Mobile view"
PayPal SPB & APM Button aren't responsive to Mobile View

I have integrated PayPal client-side REST for the website https://contented-solopreneur.com/contented-solopreneur-consultation/ which is really good in web view but not aligned properly in Mobile View

-
![image](https://user-images.githubusercontent.com/24381783/39660615-82a822d6-5060-11e8-9d3d-9abbff1cddf3.png)

- paypal.Button.render({

[2018-05-07 14:59] trainerbill commented on #679
Fixed.

[2018-05-07 14:59] #679 closed

[2018-05-07 15:06] tancevsasa commented on #637
this error started appearing again!

[2018-05-07 15:30] psppro26 opened #681 "ppxo_paypal_legacy_gettoken_initxo when user close dialog before load ?"
When user close the dialog pop up before it loads , the pop dont appear anymore before refresh !
with this error message :  ppxo_paypal_legacy_gettoken_initxo
I use the last prestashop paypal module on 1.6

[2018-05-07 16:11] reeda6 commented on #671
Have you resolved this issue?

[2018-05-07 18:08] abarco commented on #677
Resolved, awaiting push

[2018-05-08 22:48] khanghoang commented on #591
@etakh @kdenz @akhilaet I want to update you guys that we're actively working on this. Some of the issues you reported are fixed, please help us verify them on your side.

[2018-05-09 01:07] 719media opened #684 "paypal button dynamic height"
It would be nice if we had control over the height of the button. We have specific height-styled buttons, and matching paypal's arbitrary height selection (as well as paypal's chosen height-adjusted responsive breakpoints when using the responsive size) is something that should be easier? Maybe I'm missing an obvious answer here?

Thanks for any help you can provide.

[2018-05-09 03:04] kdenz commented on #591
@khanghoang Thank you very much for the attention!

There're still several issues on our side:

Our env:
- iOS 10/11
- React Native
- UI WebView

Express checkout button needs two or more clicks to open the checkout popup
http://youtu.be/Q-6U4165fpY?hd=1

At the login page, after choosing the "pay by card" option
The buttons at the bottom of the page, which is "Yes, I'd like to create a Paypal acc

[2018-05-09 17:14] snelson commented on #657
We've had customers on our platform report a similar issue with PayPal buttons not working on iOS. After a day of debugging, we were able to reliably reproduce the issue on iOS 11.3 and 11.3.1.

`paypal.version` in these tests is `4.0.202`

## Example and steps to reproduce:

Note, this example page has an empty touchstart event handler defined.

* Visit http://scotty.is/tests/paypal3/index.html o

[2018-05-09 17:35] coderintherye commented on #591
Just to note, we have also experienced the issue described by @kdenz with their second point. It's why I filed the other issue around the checkout demo having issues with iOS on iPhone so as to see if happening there as well (but the demo has separate issues)

[2018-05-09 19:48] khanghoang commented on #591
@kdenz @coderintherye thanks for your patience. I wanna let you guys know that AFAIK, we do not "officially" support React Native. But since the issues seem likely to happen on the web as well and I have a little bit experience with RN, I'd to give it a try.

@coderintherye can you help me to link your issue here so we can also keep track of it?

[2018-05-09 19:54] khanghoang commented on #657
@snelson thank you for spending all of your day trying to give us in details how to reproduce the bug, we really appreciate that.

I will test it on my end and update you guys here about this issue.

[2018-05-09 20:47] coderintherye commented on #591
@khanghoang https://github.com/paypal/paypal-checkout/issues/672 though really I'm just trying to solve for this issue, just wanted to be able to reproduce this issue on the demo site to make it easier for you'll to investigate

[2018-05-09 21:41] kherona commented on #479
Yes unfortunately it is still exist.

The easiest way to reproduce the problem is to execute a payment with Duplicate invoice_number that was already used for a previous payment.

Interesting how paypal devs dont prioritize such an important issue, this affects both paypal customer support and our support greatly as many cases will be opened without either the merchant or the customer knowing the

[2018-05-10 17:02] nathancarpenter03 commented on #671
Hi, sorry for the delayed response. I was able
To get this to work in a vanilla js app. For my React app I ended up using
a React library called React-paypal-express-checkout and it works great.

On Mon, May 7, 2018 at 12:11 PM reeda6 <notifications@github.com> wrote:

--
*Mobile: (260) 797-9340*
*E-mail: nathan.carpenter03@gmail.com <nathan.carpenter03@gmail.com>*

[2018-05-11 08:45] kdenz commented on #591
@khanghoang
Hi, on WKWebView it's also problematic, as button clicks will lead to scrolling to top behaviors, thanks!
https://youtu.be/5mcLtIGlQLU

[2018-05-11 08:56] kdenz commented on #591
@khanghoang
On Android 4.4 it's surprisingly fine
But some text displays are compressed together on smaller screen, making it difficult to read
![image](https://user-images.githubusercontent.com/12795428/39916107-3c1e818a-553c-11e8-80f8-4754fb0c7fc5.png)

[2018-05-11 19:36] nmhnmh commented on #599
Any update for this topic? The REST API supports update when execute the payment, but the checkout.js actions.payment.execute() seems missing this update feature. No way to update the payment after it's created, really need this!

[2018-05-11 22:42] vblagomir opened #685 "What fields are editable on payment execute call?"
### Description

It is stated in the API documentation https://developer.paypal.com/docs/api/payments/#payment_execute
that the Request body transaction array contains the 'cart_base' object, and "For update and execute payment calls, the transactions object accepts only the amount object."

Yet I have managed to add 'invoice_number' during the payment execution, for example:

[code]
After executi

[2018-05-14 08:33] Dunnymeister opened #686 "Support for integration tests"
Related to both #199 and #674, we are trying to automate the PayPal sandbox purchase process to ensure that we're not breaking our integration. It appears as though there are roughly four different login pages at the moment that can be presented to the user at the moment which makes testing difficult.

So the PayPal purchase process can be included as part of our integration tests, could you pleas

[2018-05-14 14:24] georgiosd opened #687 "First call to logger sends wrong info (React, IE11/Edge)"
- Description

Using paypal-checkout with React, in IE11 specifically, the first request to logger contains the wrong info.

Using fiddler I see that the first POST has sandbox info in Chrome but production info in IE11.

- Your code

[code]

- The `paypal.version` from your browser console

`"paypal-checkout": "^4.0.202",`

- The exact browser version

Win 10, Microsoft Edge 41.16299.402.0

- A l

[2018-05-14 19:51] dhritzkiv opened #688 "Login in pop up redirects to account page"
### Description

When the PayPal popup is displayed on the host page (due to pop ups being blocked, since it's in a webview), the popup iframe will redirect the host page after the user logs into PayPal.

This doesn't seem to affect /every/ browser, or PayPal user, but it consistently affects the same browser builds / PayPal users.

- This happens in both sandbox, and in production.
- PayPal versi

[2018-05-16 09:01] davefx commented on #686
Yes, please, allow sandbox users to specify a login form style.

[2018-05-16 15:34] alex-kowalski commented on #287
but you should definetely make some paypal.Button.startFlow(clickEventHere) method to allow more flexible integration, can it be considered as a feature request?

I also faced same problem.

1. But now it seems there is no paypal.Button.startFlow()
Is it deprecated? or changed to anything?

2. And i see there is function paypal.Button.event.trigger()
It seems possible to trigger click event for pa

[2018-05-16 16:04] chefuss opened #691 "Paypal certificate used to load resources"
Hi I just find that chrome is advising that PayPal use a systematic certificate, and soon users will start to see a notice that the page is not private.

"The SSL certificate used to load resources from https://www.paypal.com will be distrusted in M70. Once distrusted, users will be prevented from loading these resources. See https://g.co/chrome/symantecpkicerts for more information."

What should

[2018-05-16 20:55] cnabar commented on #440
Hi - any updates on this one - thanks!

[2018-05-18 01:41] ThatKawaiiGuy commented on #404
Experiencing this as well, `ppxo_unhandled_error: "Error: Window closed for postrobot_method`

[2018-05-22 00:16] khanghoang commented on #657
@snelson @bormanEcwid I created a PR for this issue and it's probably on production late this week or early next week. I'll update you again here once it's on live.

[2018-05-22 00:26] khanghoang commented on #684
hi @719media, let me understand your question. Do you want to override button styles?

[2018-05-22 00:34] khanghoang commented on #691
@chefuss thanks for reporting this, I will let my team know and we will follow up with you on this.

[2018-05-22 22:26] khanghoang commented on #657
@snelson it couldn't be done without you and @bormanEcwid. Thanks, guys.

[2018-05-22 23:01] khanghoang commented on #684
@719media I may be wrong but I think [this](https://developer.paypal.com/demo/checkout/#/pattern/responsive) is the one that you're looking for.

[2018-05-22 23:09] 719media commented on #684
@khanghoang I don't think you looked at the fiddle example, or if you did, you did not pay attention to the issue. This is regarding explicitly setting the height of the button. Responsive mode of the paypal button only affects the width, and actually just arbitrarily picks various heights at different container sizes.

[2018-05-23 00:30] deliriousrhino commented on #471
Is there any update on this issue, I am using  https://www.paypalobjects.com/api/checkout.js and I still am able to click pay and nothing happened when the button first load

[2018-05-23 14:07] OliverJEvans opened #695 "Checkout button in sandbox env hangs after logging in IE11"
### Description

PayPal Checkout button in the interactive demo hangs in sandbox env after entering sandbox login details on IE11. But works fine when in production mode.

I'm having this issue on my own site, but thought I'd use the interactive demo as a test to ensure it wasn't just my code that was causing the issue and there was in-fact an issue with the sandbox env itself.

Tested on multiple

[2018-05-23 19:59] allisonlawrencels commented on #479
Can we get an update on this? I have to agree with the community that this is a crucial missing feature, considering how sensitive ecommerce sites are to customer drop-off in checkout.

[2018-05-24 23:50] JerrodV commented on #658
I was able to correct this in my project. I will post my results tomorrow.

[2018-05-26 06:38] wchiquito opened #698 ""Checkout" component isn't available"
### Description

"Checkout" component isn't available from my domain, but it's available from the domain developer.paypal.com.

From developer.paypal.com
![paypalcom](https://user-images.githubusercontent.com/978213/40573187-a3f1d7b4-60ac-11e8-8f32-6265591a500a.png)

From my-domain.net or [JSFiddle](https://jsfiddle.net/zh2qb1ee/)
![mydomainnet](https://user-images.githubusercontent.com/978213/405

[2018-05-28 16:13] ArkeshGKalathiya opened #699 "Checkout.js is not working whenever trying from website added to home screen (standalone pwa) on iphone"
### Description

we have created PWA, and when we are using application from safari (without adding to home screen) it is working fine. But whenever we tried to do payment from icon added to home screen, payment amount is not showing on home page and also after login it is redirecting to dashboard. we also tried putting static amount in js but still not working.

-clue

we were inspecting pwa from

[2018-05-29 18:14] samleetucker opened #700 "PayPal popup issues in Firefox 60"
### Description

If you launch the PayPal popup in Firefox and then click away, the popup stays behind the window and isn't brought to the foreground when clicking anywhere on the overlay or the "Continue" link.

You can reproduce on the PayPal demo site (https://developer.paypal.com/demo/checkout/). Issue is consistent.

Testing in Firefox 59.0.2 and 60.0.1 - reproduced in both.

### Steps to rep

[2018-05-29 21:43] alepore commented on #471
@bluepnume is there some class/attribute that we can check to know if the button is fully loaded or not?

[2018-05-29 21:55] abarco commented on #700
firefox has disabled that functionality for a while. Doesn't look like there's any other way we can support this for this browser.

https://support.mozilla.org/en-US/questions/1174220

[2018-05-30 02:41] shulhi opened #701 "Payment REST API always return 403"
### Description

Paypal version:
[code]
It happens consistently. I've tried resetting/recreating my credentials but nothing helps.

### Steps to reproduce
[code]

request header,
[code]

in console,
[code]

and this is also true when I try on https://developer.paypal.com/demo/checkout/#/pattern/checkout

### Affected browsers

- [x] Chrome
- [ ] Safari
- [x] Firefox
- [ ] Edge
- [ ] IE
- [ ] Chrom

[2018-05-30 02:52] abarco commented on #701
Hi @shulhi, thank for your report. Could you clarify if you're seeing this in production? or is this only in Sandbox?

[2018-05-30 03:01] shulhi commented on #701
@abarco Sorry but I don't have access to production yet since I am still working on my application.

[2018-05-30 03:06] abarco commented on #701
No worries. I'm afraid I can't reproduce your problem from my end. Could you try to replace `<script src="https://www.paypalobjects.com/api/checkout.js"></script>` with `<script src="http://paypalobjects.com/api/checkout.4.0.202.js"></script>` and see if that works for you?

[2018-05-30 03:10] shulhi commented on #701
@abarco still doesn't work. Can you try the code I posted with the same client-id? I have a feeling that something is wrong with my client id. I've tried changing it multiple times but still no dice.

[2018-05-30 03:29] abarco commented on #701
Ok, I see the problem. It seems your sandbox account is not set up to receive payments. Here is the scope associated to your access token `https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/vault/credit-card openid https://api.paypal.com/v1/vault/credit-card/.*`. As you can see, you are not set up with `https://api.paypal.com/v1/payments/.*` permissions and this is why the pay

[2018-05-30 03:29] #701 closed

[2018-05-30 03:37] shulhi commented on #701
@abarco how can I check if my access token has access to certain API?

[2018-05-30 07:11] shulhi commented on #701
@abarco sorry to bug you again but I've look all over the documentations and through developer portal but I can't seem to find a way to grant access (payment API) to my account. My account is business account.

[2018-05-30 07:30] Connum commented on #356
Happening for me today in sandbox as well as production - all requests are fine except the one to https://www.paypal.com/v1/payment-experience/web-profiles - always returning a 401 and thereby disrupting the whole process.

As for the "dedicated team working to get it up to scratch": The PayPal sandbox has always been a pain sinice I started working with the PayPal API about 10 years ago. It's unb

[2018-05-31 07:01] fzan commented on #700
Hello,

It's possibile at least to remove the Message in the shaded background, if the browser is Firefox? In this case, maybe a localized message that ask the user to finish the payment in the popup, and no action? Seems more correct to me :)

[2018-05-31 12:37] davebeesley opened #703 "Getting a 403 - permission_denied error"
Hi,
I am attempting to use the PayPal checkout button. I have followed the steps listed, but keep getting a 403 permission_denied back from both production and sandbox

Code

[code]

Error
[code]

PayPal version - 4.0.203

Browsers - FF 60.0.1, Chrome 66.0.3359.181

This is running locally, but also tested here - http://robinstrust.org/store/adult-1-year-membership/test/

Also happens at https://d

[2018-05-31 14:23] edincongo commented on #703
Same happening here.

Error: Request to post https://www.sandbox.paypal.com/v1/payments/payment failed with 403 error. Correlation id: f34a02121239d, f34a02121239d

{
    "name": "PERMISSION_DENIED",
    "message": "No permission for the requested operation",
    "information_link": "https://developer.paypal.com/docs/api/payments/#errors",
    "debug_id": "f34a02121239d"
}

    at XMLHttpRequest.<

[2018-06-01 05:04] joSFD commented on #703
Same here...

[2018-06-01 05:11] joSFD commented on #703
Same here.

Guys @davebeesley @edincongo , do you agree that just copy/pasted the code from [here](https://developer.paypal.com/demo/checkout/#/pattern/client), with replacing the sandbox client_id with one generated from Sandbox Business Account ?

So the problem you're getting on your website also happens on the former page when u replace the client_id ?

I've checked it all out.  Still having t

[2018-06-01 07:05] edincongo commented on #703
@joSFD Yes. Slightly more complex, but that is the core. Same code worked before. I even changed keys, but still having the same issue (talking about sandbox environment, still not in production).

[2018-06-01 08:12] davebeesley commented on #703
Mine doesn't work in Sandbox, or production

[2018-06-01 11:07] jinixx commented on #548
@littleWeber did you successfully make the button appear in wechat browser?

@bluepnume this problem is still there, and the button does not appear, when inspecting on Wechat Dev tools, the contents of iFrame appears to be not loaded.

[2018-06-01 13:59] acomito commented on #703
We have a business account and are seeing this error in (what we think is) sandbox mode.

[2018-06-01 14:08] edincongo commented on #703
@acomito Business.

[2018-06-01 14:30] davebeesley commented on #703
@acomito Business

[2018-06-01 14:57] joSFD commented on #703
@acomito Business

[2018-06-01 15:22] acomito commented on #703
That's interesting.

@davebeesley @edincongo @joSFD @abarco  maybe below are related?

- https://github.com/paypal/paypal-checkout/issues/701
- https://github.com/paypal/paypal-checkout/issues/356

Has anyone tried this with a personal account (or does that not have payment api permissions)? That may be the next thing I try-- or I may try a different paypal library to see if it's a repo-side bug o

[2018-06-01 15:26] davebeesley commented on #703
#701 Seems to be related to a personal account.
#356 Has a different error, and doesn't have a solution yet

I may try the different script address suggested in #701

[2018-06-01 15:29] davebeesley commented on #703
Still get a 403 - permission_denied on the alternative script

[2018-06-01 17:14] abarco commented on #703
Hi guys, this seems to be a problem from our back end services as opposed to the integration script. @davebeesley can you let me know if this happened at a certain time this week? Was it ever working before? Is this your first time integrating with this script? This could help me push this problem forward

[2018-06-01 17:24] abarco commented on #703
On Paypal's Developer portal (https://developer.paypal.com/developer/applications/) can you guys try accessing your 'REST API apps' section there. Click on your App, and go to 'SANDBOX APP SETTINGS' as pictured below:

![image](https://user-images.githubusercontent.com/3922193/40854288-c9f66762-6585-11e8-9c17-54e8cf295fe5.png)

Making sure that your 'Accept payments' section is checked. Please let

[2018-06-01 17:48] acomito commented on #703
@abarco For me, we just created a business account in the last few days and this is essentially our first time trying to integrate it. So, we can't help pinpoint when it started.

I can give the settings thing I try, but I feel like we did look through that earlier today.

[2018-06-01 17:54] edincongo commented on #703
@abarco Everything is fine setup-wise.

[2018-06-01 18:01] sargilla commented on #703
Today I created a new application and it does not work, with the client_id of an old application works well, it seems that happen with the new apps.

[2018-06-01 19:05] abarco commented on #703
Thanks for your report. We're trying to find the right people to take a look at this problem. Will keep this issue open until the problem is resolved.

We thank you for your patience as we through this problem.

[2018-06-02 12:02] davebeesley commented on #703
Hi @abarco
Like the others, I only set it up on the day I raised the issue.
I have the following checked in my app
<img width="863" alt="screen shot 2018-06-02 at 13 01 37" src="https://user-images.githubusercontent.com/20064772/40874282-1e0cd72a-6665-11e8-8dc4-038038413f09.png">

[2018-06-02 13:46] acomito commented on #703
Our business account was created on May 29 between 8AM-11 AM EST

[2018-06-04 12:28] acomito commented on #703
@abarco can we expect some kind of fix this week?

[2018-06-04 19:30] trainerbill opened #705 "Button disappears on invalid token"
[code]

Then close down the browser and the button is removed.

[2018-06-04 19:34] trainerbill commented on #705
https://github.com/paypal/paypal-checkout/issues/676

Duplicate

[2018-06-04 19:34] #705 closed

[2018-06-04 21:03] LouysPatriceBessette commented on #703
I'm having the exact same issue. Here is the complete error message I get via the error handler:

And `checkout.js` is https://www.paypalobjects.com/api/checkout.js

[2018-06-04 22:14] prisme commented on #703
+1

[2018-06-04 22:57] abarco commented on #703
Hi All, thank you for your patience. The problem is being triaged by the appropriate team. I'll update this issue once functionality is restored. Meanwhile, feel free to integrate with our Server Side solution using RESTful endpoints if you think this could apply to your integration (https://github.com/paypal/paypal-checkout/blob/master/docs/paypal-rest-api.md). Server side functionality is not af

[2018-06-05 10:01] jinixx opened #706 "Checkout button does not appear in iOS WeChat browser"
### Description

- Only affects WeChat iOS
- Does not work on neither sandbox nor production [developer.paypal.com/demo/checkout](https://developer.paypal.com/demo/checkout)
- Issue is consistent

As this is a huge impact on iOS payment experience, the WeChat app project I'm currently working on may not be able to provide PayPal as an alternative payment solution.

### Steps to reproduce

Load abo

[2018-06-05 12:11] davebeesley commented on #703
Thanks @abarco your help is appreciated :)

[2018-06-05 16:01] michelalbers opened #707 "Bundle size checkout.lib.js"
### Description

I recently ran the bundle analyzer over my webpack app and was astonished by the paypal bundle size which is above 1 MB:

![bildschirmfoto 2018-06-05 um 18 00 29](https://user-images.githubusercontent.com/646691/40988034-5cf16a50-68ea-11e8-9b8a-9dbec4ce6836.png)

Is there a way to split up the sdk so we can import only the files we need?

### Steps to reproduce

Build any module w

[2018-06-05 18:13] 719media commented on #684
@abarco Is there any way you could provide a sentence or two of feedback here? My team is looking for direction if this is something that you guys would be interested in solving, or if control over button height is something we should never plan on getting with the paypal checkout script. We'd love to update our integration but this is the holdup for us.

Thank you very much for your time.

[2018-06-06 11:48] scaryterry commented on #548
This happens to me as well in Chrome.
Although I do get the error, the button shows up just fine and the checkout flow works as intended.
Something that may be of help, by disabling the Ublock Origin extension on Chrome, the error goes away

[2018-06-06 14:50] trainerbill commented on #703
Update 1:
Our technical teams have applied a fix and the issue has been mitigated as of Jun 5, 23:04 UTC. We are continuing to work towards fixing the REST API applications that were affected during the impact period. We will provide the next update as soon as the affected accounts are restored.

If you generate a new REST app it will work for you now.

[2018-06-06 14:50] #703 closed

[2018-06-06 15:01] davebeesley commented on #703
Awesome, my sandbox version is completing now. Thanks to the team @trainerbill 👍

[2018-06-06 16:42] advance512 opened #708 "React: funding.disallowed causes error"
### Description

Setting disallowed funding on a Paypal React button causes an error:
[code]

### Steps to reproduce

Create a Paypal React button:

[code]
Note that if I remove the `disallowed` key from the `funding` prop argument, everything works perfectly.

### Affected browsers

- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [ ] IE
- [ ] Chrome Mobile/Tablet
- [ ] Safari Mobile/Tablet
-

[2018-06-06 17:36] trainerbill commented on #708
This is intended functionality for now.

[2018-06-06 17:46] trainerbill commented on #707
v5 is being developed to mitigate this.  will be using chunking to dynamically load pieces of the sdk that are used.

[2018-06-06 17:50] trainerbill commented on #691
This is known and we have a team working on it.  Will be resolved by the release of chrome 70.

[2018-06-06 17:50] #691 closed

[2018-06-06 18:06] trainerbill commented on #680
I went to your site and it was displaying properly in chrome mobile mode for every device.

<img width="446" alt="screen shot 2018-06-06 at 1 04 56 pm" src="https://user-images.githubusercontent.com/3578259/41056618-662778f8-698a-11e8-9a86-bd9fdc06eb61.png">

[2018-06-07 12:53] menobra opened #709 "Set a limit of time to complete the payment."
Sorry if this is not a real issue, but i'm not sure where to post it neither how to set it up.

My question is: Is there any way to pass to the paypal script a time limit that the client has to complete the payment? and if the payment doesn't complete before the time limit exceeds, it runs the "onCancel:" functions.

Thank you beforehand!

[2018-06-07 12:57] menobra commented on #709
I would like to specify in which case this would be usefull in my opinion:
I have the "onClick: " parameter with it's functions when a user clicks on the paypal button.
I set the status of a reservation on "pending" when the user clicks on the button.
If client completes the payment status changes to "completed"
if he cancels it removes the reservation from my database.

But i think of a case wher

[2018-06-08 20:20] acomito commented on #703
Mine still doesn't seem to be working

[2018-06-08 21:11] trainerbill commented on #703
Paste your client ID

[2018-06-09 16:17] BenoitMercier opened #711 "Client side payment execute is only available for REST based transactions"
I'm having a hard time with an intermittent error our users are getting:
"Client side payment execute is only available for REST based transactions"

We're using client-side REST only, and this works fine most of the time. But sometimes we have users who get the error.

I have not been able to reproduce it, but I managed to capture the error by sending it to the server for logging it.

**The err.s

[2018-06-11 07:31] cmoiccool commented on #657
@khanghoang Did your PR go to production? I am still facing this issue with clients on iOS 11.3 and 11.4 in production.

[2018-06-11 18:06] abarco commented on #711
Hi @BenoitMercier, thank you for your report.

Since this is not an easily reproducible problem, is there any way you could forward a PAY ID of a transaction that exhibits this problem ( what is returned from the `actions.payment.create` call )? This can help us take a look at logs from our side and expedite triage of this issue.

[2018-06-11 18:10] abarco commented on #677
issue resolved

[2018-06-11 18:10] #677 closed

[2018-06-11 19:28] BenoitMercier commented on #711
I'm currently not capturing nor logging the output of actions.payment.create. But I have the timestamp of the errors, and I can provide the previous and after payment IDs.

Here's 2 cases, with the previous and next successful transactions. The failing payment ID would be the one in between, for the same merchant ID as the successful ones.

Times are in UTC:
2018-06-11 03:30:36 Successful: PAY-2Y4

[2018-06-11 19:30] advance512 commented on #708
But, look at the code. I am not talking about VENMO but I get an error about it.

[2018-06-11 19:45] trainerbill commented on #708
I can't reproduce it on the demo app, so you are going to have to give me somewhere to reproduce it.

[2018-06-11 19:56] khanghoang commented on #657
@cmoiccool It's will be on production today or tomorrow. I'll keep you guys updated.

[2018-06-12 10:29] khanghoang commented on #657
@bormanEcwid @cmoiccool @snelson the fix is on production just now. I just tested it and it worked well. It'd be great if you can help me double it again on your end. Thanks.

[2018-06-12 16:51] snelson commented on #657
It appears to be fixed for me as well. I'll follow-up here if we see any further issues. Thanks for pushing this through @khanghoang, much appreciated.

[2018-06-13 21:22] karanchaudhri opened #715 "PayPal Popup blocked for Mobile Browsers"
### Description

If you click the PayPal button in Chrome or Safari whether in mobile browser or while emulating mobile browser (using Chrome developer tools), A callback is raised 'onError' saying popup window blocked. It still opens the overlay though, But it should not fire onError Callback.

You can reproduce on the PayPal demo site (https://developer.paypal.com/demo/checkout/#/pattern/client)

[2018-06-14 06:20] karanchaudhri commented on #715
Closing this issue, as it was solved recently.

[2018-06-14 06:20] #715 closed

[2018-06-17 11:20] vitaliy-kuzmich opened #718 "https://www.paypal.com/webapps/hermes/api/batch/setbuyer 400 2 different browsers and 2 different operating systems"
[code]
tested on:
arch linux -> chromium, firefox, opera
win 7 -> google chrome
tested on local ISP, and VPN

paypal customer support does not want to help, they are telling that issue on my side, but I think its not.

[2018-06-19 10:37] vitaliy-kuzmich commented on #718
it seems paypal collecting personal information, they are deactivate my account and enforcing me to upload documents now. paypal WTF ?! Its true mafia as people says.

[2018-06-19 14:07] maximedupre commented on #632
But can we use checkout.js at all to facilitate the process, or do we have to manually call the REST API without using checkout.js at all?

[2018-06-20 11:27] louiewiget opened #719 "NVP checkoutNow, Unhandled api error"
Hi everyone,
I am using SetExpressCheckout to do a payment, when I use "sandbox" to checkout, call the url "https://www.sandbox.paypal.com/webapps/hermes?flow=1-P&ulReturn=true&token=EC-9HS660411K158782G&country.x=CN&locale.x=zh_CN#/checkout/login&arc=1"
it remain in "Securely logging you in...", and the page api "https://www.sandbox.paypal.com/webapps/hermes/api/checkout/EC-9HS660411K158782G/sess

[2018-06-20 12:01] vitaliy-kuzmich commented on #718
today they are disabled my account, I can't login.

[2018-06-20 22:28] acomito opened #721 ""Some of your info isn't correct. Please try again." production"
### Description

I can do sandbox transactions successfully, but I can't checkout in production.

[2018-06-20 23:18] reggarcia opened #722 "SSL Certificate"
My index.html file has this:

<code><script src="https://www.paypalobjects.com/api/checkout.js" data-version-4="" data-log-level="error"></script></code>

And I'm seeing this warning on Chrome console:

![image](https://user-images.githubusercontent.com/3925319/41689464-8ea0c3f4-74a5-11e8-96d7-02b2c6ec80ee.png)

Is there anything being done to address this?

[2018-06-20 23:42] acomito commented on #464
What is the point of this package if this doesn't work?

[2018-06-20 23:57] acomito commented on #524
@bluelnkd I'm getting the same error in our production account.

We're an invoicing app, where our users send their clients invoices. Our users do a paypal auth (so we have their info), and their clients can pay them via paypal. Is this use case not supported? Is our account not green-lighted by paypal yet (if so, how do we do that)? We're basically at a standstill trying to contact paypal for an

[2018-06-21 06:58] wchiquito commented on #722
See [Paypal certificate used to load resources #691](https://github.com/paypal/paypal-checkout/issues/691).

[2018-06-21 11:12] lbrito1 opened #723 "Does paypal.Button.render make a request to checkout.js?"
Hi,

Calling `paypal.Button.render` seems to make a request to get checkout.js, which to me does not make a lot of sense. Is this expected for some reason?

Here's a jsfiddle demonstrating: https://jsfiddle.net/lbrito/szmajqc6/10/ . The requests when running:

![paypal](https://user-images.githubusercontent.com/2048939/41715284-d9005f9a-754a-11e8-8ab4-a6ae8dcab726.png)

The first `checkout.js` req

[2018-06-21 13:12] jontrueandco commented on #723
No. That seems accurate, and weird on paypal's behalf. I agree with combining the scripts.

[2018-06-21 14:03] lbrito1 commented on #723
Okay, just read this:

https://github.com/paypal/paypal-checkout/blob/362401ddce61a271942b8f44c083b5b8b8f78850/docs/performance.md

I think that explains my question. If some contributor could confirm, that'd be nice.

IMO I think this is a pretty important piece of info and should be highlighted somewhere in the README or at least higher up in the docs than in that specific section.

[2018-06-21 17:13] wchiquito commented on #723
I can't reproduce the problem, using the jsfiddle indicated by you ([https://jsfiddle.net/lbrito/szmajqc6/10/](https://jsfiddle.net/lbrito/szmajqc6/10/)), the second request was obtained from the cache (Chrome: 67.0.3396.87):

![paypal](https://user-images.githubusercontent.com/978213/41734223-d4fe4314-7575-11e8-98a8-d1f70c3db943.png)

[2018-06-21 20:36] wchiquito opened #724 "paypalobjects.com (checkout.js and checkout.min.js)"
When will the minified script be in the most recent version?:

https://www.paypalobjects.com/api/checkout.js -> Version: 4.0.204
https://www.paypalobjects.com/api/checkout.min.js -> Version: 4.0.203

[2018-06-22 08:11] lbrito1 commented on #723
Darn, I had "disable cache" ticked :man_facepalming:  all's clear to me now, thanks.

[2018-06-22 08:11] #723 closed

[2018-06-23 14:19] moonshineBoy commented on #535
@bluepnume  Hi, brother, I have this issue too, and I cleared the application's paypal cookies, and try again still not work. How to solve this?

[2018-06-23 14:22] moonshineBoy opened #725 "In the PayPal account there is a band card, why when use the account still need bind card?"
I use the vue-paypal-checkout, and I get the issue, I post <a href="https://github.com/khoanguyen96/vue-paypal-checkout/issues/52">there</a>

I input a card information when I use the PayPal for payment, and success, then in my account I can fond the card, see the bellow snapshot:

![60d8b185-6091-45b3-a08e-0d83e814c2db](https://user-images.githubusercontent.com/22514729/41810382-f77544d6-772f-11e

[2018-06-23 20:29] nckackerman commented on #464
Any updates here? We're affected by this issue as well.
Thanks!

[2018-06-25 17:37] acomito commented on #464
@nckackerman @bluepnume how does using the REST API look?

Do we use this library to get a payment token, pass that to our own server, and our server makes a call? Or do we make the call straight from the client to paypal rest api?

What's the best way to move forward without any compliance headaches?

[2018-06-26 19:47] alecwhittington commented on #708
@trainerbill - here is more information

Repo to show issue: https://github.com/alecwhittington/venmo-funding-issue

The bug is within the component.jsx file, lines 418 - 440.

I am having the exact same issue as the @advance512 is. We are not specifying Venmo in the our funding.disallow array, just CARD and CREDIT.

If you visit the page using a mobile browser (or change your user agent to a mobi

[2018-06-26 22:53] albertbanez commented on #131
Hi i would like to ask some questions too. -)
1. This var token = 'EC-3Y11030RV7380205' is not the paymentId yet right? Can we pass this token directly to the OnAuthorize function already? We need the PaymentId first right?

[2018-06-27 14:15] advance512 commented on #708
@alecwhittington Thanks for the reproduction, great job.
Kudos to you.

[2018-06-27 20:18] acomito commented on #210
@bluepnume should this be re-opened per the below issue?

https://github.com/paypal/paypal-checkout/issues/464

[2018-06-27 20:20] ajmobidesign opened #727 "Missing Documentation for Recurring payments/Billing Agreement"
Hi Guys,

I have a React app and have successfully implement payment for individual items. The documentation for implementing this was really good.
But now I would like to add a subscription option. There is nothing in the documentation that specifically address this for paypal-checkout.

1. Is this even possible with paypal-checkout? If it is, can you either point me in the direction of documenta

[2018-06-27 20:37] acomito commented on #464
Also seeing this here:

https://stackoverflow.com/questions/46258330/paypal-rest-api-paypal-checkout-javascript-integration-setting-payee-permiss?rq=1

[2018-06-27 21:02] acomito opened #728 "[REQUEST] Add to readme that package doesn't currently support setting 3rd party payee"
We should add a (big) note to the readme that third party payee is not supported with this library. Otherwise a lot of people will spend days integrating paypal and this package, only to find their use case is not actually supported at this time (even though official docs hint it should be).

issue at hand:

https://github.com/paypal/paypal-checkout/issues/464

Other people having the same issue:

[2018-06-27 21:03] acomito commented on #721
Closing until I can get a reproduction together

[2018-06-27 21:03] #721 closed

[2018-06-28 03:58] vishakha94 commented on #724
We are currently having issue with our deploy and are looking for the most up to date release timeline for next week.

[2018-06-28 04:11] vishakha94 commented on #727
@ajmobidesign Can you pls specify in detail what kind of subscription need is there?

[2018-06-28 04:33] vishakha94 commented on #725
@moonshineBoy Looks like you were redirected to the paypal's guest page where you were seeing a signup page. Can you tell us did you try to create an account on this card? Also, pls post the url of the flow which contains the EC token.

[2018-06-28 04:35] vishakha94 commented on #722
@trainerbill Can you pls comment here?

[2018-06-28 04:37] #718 closed

[2018-06-28 04:43] #671 closed

[2018-06-28 04:45] #680 closed

[2018-06-28 12:20] MacFiss commented on #657
@khanghoang If the events are set to document.body (or window), after scrolling first click is blocked on the button.

# Steps to reproduce
- Open page https://lamps.ecwid.com/~borman/paypal_safari.html on mobile safari (iOS 11.4)
- Swipe to scroll to the bottom of the page so the button is off screen, then swipe back up so the button is on screen again.
- Fast tap the button, only a hover is trig

[2018-06-28 20:41] 719media commented on #684
@vishakha94

Thank you for the reply. I understand you have tested various settings and optimized for your own desires look and feel within the PayPal buttons. But you have not offered an option for someone to have it look nice with their own page elements. To someone else, your height/width selections ARE arbitrary because there is no universal standard for button height at different widths. Appl

[2018-06-28 20:46] vishakha94 commented on #684
@719media Thank you for your concern and I totally see your point. Let me get back to you with whether we can consider having this change in the near future.

[2018-06-29 05:10] louiewiget commented on #719
seem to be ok. sandbox unstable?

[2018-06-29 18:48] acomito commented on #703
@eugechielli is it related to this maybe? https://github.com/paypal/paypal-checkout/issues/464

[2018-06-29 19:09] eugechielli commented on #703
Hi @acomito ! I wasn't including the payee to the transaction. I've just included it to the request (using the email of the Sandbox business account) but I get the same error. Any idea?

[2018-06-29 19:56] oortega commented on #727
Hi @ajmobidesign The idea is like asking the client if he wants us to charge him the same amount each month, it's possible?

Thanks.

[2018-06-29 22:09] ajmobidesign commented on #727
Hi @vishakha94 and @oortega ,
Yes, it is about charging someone a recurring monthly fee.

Probably the best way to show you what I am looking for is to point to the node-SDK version of subscription example.
https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_plans/create.js

Is there a way to do the same with paypal-checkout ? Don't see the documentation for it.

Tha

[2018-07-02 02:10] gety9 commented on #700
Any way to solve this? It's makes paypal checkout UX far from ideal on FF. There are still lots of users for that browser.

[2018-07-02 11:01] nehabajoria commented on #352
I have the same problem with chrome version 67.0.3396.79.
Got the solution => I checked the Paypal site and found to add style which was missing in my code. Paypal popup starts working on click of the Paypal button.
https://developer.paypal.com/demo/checkout/#/pattern/generic
// Specify the style of the button

        style: {
            label: 'paypal',
            size:  'medium',    // small

[2018-07-02 12:05] acomito opened #729 "Getting 500 Error when trying to use REST API workaround for paypal-checkout"
# Description

There is an issue with this library when adding a payee field to your payment settings (works in my sandbox, doesn't work in production).

https://github.com/paypal/paypal-checkout/issues/728

As a result, I'm using paypal team's suggestion to use the REST API. For that, I found this page which I'm trying to follow:

https://github.com/paypal/paypal-checkout/blob/master/docs/paypal-

[2018-07-02 13:11] acomito commented on #729
planning to writeup my solution and will post it here and other threads but will close this for now.

[2018-07-02 13:11] #729 closed

[2018-07-02 13:11] acomito commented on #728
planning to writeup my solution and will post it here and other threads but will close this for now.

[2018-07-02 13:11] #728 closed

[2018-07-02 14:47] trainerbill commented on #708
@alecwhittington thanks for the repo.  I think the issue is actually that paypal.FUNDING is undefined so it may be defaulting to venmo.  Regardless, you are installing and importing the paypal-checkout library which unfortunately is not really supported.  The JS library in your app has to be the same library that is in our checkout experience so it needs to be included off the CDN.  Here is an exa

[2018-07-02 14:57] trainerbill commented on #722
We will release a new SSL certificate before the deadline.

[2018-07-02 14:57] #722 closed

[2018-07-02 16:41] alecwhittington commented on #708
@trainerbill - I will try to get you an updated sample today, but one question: If the NPM package is not supported, why does it exist? Not trying to be an ass, serious question.

In our case, we use TypeScript so using the import worked out better for us, but if the CDN version solves the issue, we'll figure that piece out.

[2018-07-02 18:03] trainerbill commented on #708
its a fair question and I don't have an answer.  I think we should probably unpublish it since the architecture behind the package probably will not allow us to publish it.

[2018-07-02 21:58] alecwhittington commented on #708
@trainerbill - I've updated the sample repo per your guidance. The issue persists.

**Details**
- Commented out import and replaced with CDN in ./public/index.html
- Adjusted code to get around no-undef error with CRA during build and start
- Added test.htm that is based off of paypal-checkout demo for React

**Results**
- test.htm works as expected, even using the same configuration that specifie

[2018-07-02 23:40] bluepnume commented on #708
Going to re-open this issue while we investigate.

[2018-07-03 00:00] #719 closed

[2018-07-03 00:01] bluepnume commented on #610
Please open a new issue if you're still facing a problem.

[2018-07-03 09:58] Haydardi commented on #576
@zanneee Hey man, how did you fix this issue?

[2018-07-03 18:55] bluepnume commented on #727
@adamlcolson mind if I assign this one your way to triage for the new dev portal?

[2018-07-03 18:57] bluepnume commented on #725
Closing due to inactivity. For what it's worth, this looks like expected behavior; you aren't always able to use the same account for multiple accounts (or guest transactions if it's already linked to an account), but + @bluelnkd in case he has any more clarification there.

[2018-07-03 18:57] #725 closed

[2018-07-03 18:57] #724 closed

[2018-07-03 22:29] bluepnume commented on #709
If you'd like, it should be possible to implement this yourself with some kind of `setTimeout` or periodic check for connection.

[2018-07-03 22:29] #709 closed

[2018-07-03 22:32] bluepnume commented on #699
Marking this as a feature request; need to research if it's actually even possible to run this component in a PWA. @mcntsh can you do a little research when you have a spare sec and see what the effort would look like and if it's possible?

[2018-07-03 22:33] bluepnume commented on #698
Yup. That's by design. Please use the Button component.

[2018-07-03 22:33] #698 closed

[2018-07-03 22:34] bluepnume commented on #695
Can you clarify; can't really see what happens after the gif ends. Does it break, or are you eventually able to complete the payment?

[2018-07-03 22:38] bluepnume commented on #688
Do you have the user agent of the web view? If so we can disable popups for it and default to an iframe.

For IE11, do you still see the issue? And do you have any kind of intranet, protected, trusted mode enabled? IE can be really finicky with any of these settings.

[2018-07-03 22:39] bluepnume commented on #687
Are you just concerned with the call to /logger, or is there a bug here which is causing an actual issue for checkouts?

[2018-07-03 22:40] bluepnume commented on #686
Closing this issue as it's not specific to the checkout.js integration script, and unfortunately we can't offer guarantees of html selectors staying exactly the same over time.

[2018-07-03 22:40] #686 closed

[2018-07-03 22:41] bluepnume commented on #685
@trainerbill can you help answer this one?

[2018-07-03 22:43] bluepnume commented on #681
This is now an unsupported integration. I would suggest asking prestashop to upgrade to the latest PayPal integration.

[2018-07-03 22:43] #681 closed

[2018-07-03 22:43] bluepnume commented on #676
Thanks for the report. Good catch. I'll take a look into this.

[2018-07-03 22:44] bluepnume commented on #675
Good catch. This should now be resolved -- can you let me know if you still see the issue?

[2018-07-03 22:44] #675 closed

[2018-07-03 22:46] bluepnume commented on #673
For reference: errors passed on `onError` are not really designed to be consumed by the end-users of apps. They should be logged, and a generic error message should be shown to the user.

[2018-07-03 22:46] #673 closed

[2018-07-03 22:48] bluepnume commented on #672
Hi @coderintherye. Are you still seeing this issue?

[2018-07-03 22:49] bluepnume commented on #591
Closing this as it's our strong recommendation to launch the checkout in a full browser rather than a web-view.

[2018-07-03 22:49] #591 closed

[2018-07-03 22:49] #658 closed

[2018-07-03 22:57] coderintherye commented on #672
@bluepnume This was resolved in the last two weeks I believe and we're seeing it working now, thanks!

[2018-07-03 22:57] #672 closed

[2018-07-04 01:17] bluepnume commented on #672
Awesome! Thanks for confirming

[2018-07-04 01:36] dhritzkiv commented on #688
On Windows, the user agent is the default IE 11 web view user agent with a custom string appended to it: `Mozilla/5.0 (Windows NT 6.2; Win64; x64; Trident/7.0; rv:11.0) like Gecko; [MFStudio; Version/1.0.93; Android; Version/0.0]`

We added `Android; Version/0.0` to force faster iframe behaviour (without it, the popup window behaviour is still blocked, but it takes a longer while for the iframe to

[2018-07-04 01:51] #612 closed

[2018-07-04 15:20] parko opened #731 "Crashes in google chrome since 67 version"
### Description

Reproduce only in Google Chrome desktop since 67 (linux, windows) version (66 version on desktop and all mobile Chrome and other browsers is ok)

After click on Paypal button I see modal window, but after 1-3 second it closed automatcly with error in console:

ppxo_unhandled_error {stack: "Error: No ack for postMessage postrobot_method in …ww.paypalobjects.com/api/checkout.min.js:

[2018-07-04 18:37] bluepnume commented on #731
Can you please answer the other questions to help us debug?

- Your code
- The exact browser version
- A link to your page with the issue, if possible
- Does the issue also occur at [developer.paypal.com/demo/checkout](https://developer.paypal.com/demo/checkout)?
- Does the issue occur consistently, or intermittently?

[2018-07-04 21:01] flyon opened #732 "the documentation should explain about the env:'sandbox' option"
I only filled in the sandbox clientId:

    let client = {
			sandbox:    'Af3u...', // from https://developer.paypal.com/developer/applications/
			production: 'xxxxxxxxx'  // from https://developer.paypal.com/developer/applications/
		};

but I kept getting an error that xxxxx is invalid.
took me quite a while to find out that I could use env:'sandbox' to switch to sandbox environment. This isn'

[2018-07-05 04:20] tristanry commented on #657
Hello @snelson @khanghoang @bluepnume,

The issue still appears after a scrolling, see the following scenario:

Can you please reopen this issue?
Thanks

[2018-07-05 05:47] MacFiss opened #733 "Re: Can not go to checkout on mobile Safari (iOS 11.3)"
### Description

We've had customers on our platform report a similar issue with PayPal buttons not working on iOS. After a day of debugging, we were able to reliably reproduce the issue on iOS 11.3 and 11.3.1.

paypal.version in these tests is 4.0.202

### Steps to reproduce

Note, this example page has an empty touchstart event handler defined.

- Visit http://scotty.is/tests/paypal3/index.html

[2018-07-05 05:49] MacFiss commented on #657
@tristanry, #733 reopen issue

[2018-07-05 10:36] parko commented on #731
I found the problem:

My code looks like this:
`                    paypal.Button.render({
                        env: 'production', // Or 'sandbox' or 'production',
                        commit: true, // Show a 'Pay Now' button
                        style: {
                            color: 'gold',
                            size: 'small'
                        },

[2018-07-05 10:54] parko commented on #731
I change payment method with promise:
[code]

and it works fine now in chrome 67 too.

[2018-07-05 10:54] #731 closed

[2018-07-05 17:43] bluepnume commented on #657
@khanghoang can you take a look?

[2018-07-05 21:59] dalehgeist commented on #139
Looks like I'm trying much the same thing as @anthonybachour - using the jQuery Validate library for my validation. The desired experience is this:
- Toggle from CC form to expose PayPal button
- When PP button is clicked, validate form (we're asking for some info) using JQuery Validate
    - if it doesn't validate, don't invoke PP popup
    - if it does, you're off to the races

Is this possible?

[2018-07-06 06:32] khanghoang commented on #657
@MacFiss @tristanry hi guys, sorry for late reply. We've rolled back the fix for this issue since ios doesn't allow us to open the popup base on the `touchstart` event.

We consider this issue is the edge case so when it occurs, we're gonna display an alert to let the users know that they have to `long press` on the buttons (instead of tapping on it).

Does it make sense?

[2018-07-07 01:59] pkoutsogiannis opened #734 "Paypal popup window incorrectly centered."
### Description

Paypal window after clicking on the paypal button is incorrectly centered on multi monitor systems and
browser is in maximized state.

- Open a chrome browser in maximized state on a monitor that it is not in a centered position.
- Navigate to http://datasteam.com/pos/paypal/test-paypal-button.php
- Click on the button.
- Popup window incorrectly centered (not centered inside the

[2018-07-07 11:51] MacFiss commented on #657
`Does it make sense?`

@khanghoang not a very good proposal, the button should work the fast tap

[2018-07-09 13:48] trainerbill commented on #685
@vblagomir I have recreated your issue here:

https://github.com/paypal/PayPal-REST-API-issues/issues/245

Since it is with our REST api product.

[2018-07-09 13:48] #685 closed

[2018-07-09 14:41] ciltocruz opened #735 "How to make an autoclick on paypal checkout button?"
Hello!!

I have a personalized payment page with our own designs.

I want to hide the button generated by paypal checkout and have an automatic click on this button.

How can I access the id or name of the button to make a javascript click event?

Thanks!

[2018-07-09 20:48] bluepnume commented on #735
Sorry, this use-case is not supported. We require you to use the paypal button to trigger the paypal checkout flow.

[2018-07-09 20:48] #735 closed

[2018-07-09 20:50] bluepnume commented on #734
@mcntsh can you take a look at this one?

[2018-07-09 20:55] bluepnume commented on #733
Thanks for the report! Looks like a duplicate of https://github.com/paypal/paypal-checkout/issues/657 though -- can we keep the discussion there? @khanghoang is currently working on this one.

[2018-07-09 20:55] #733 closed

[2018-07-09 21:36] ryanmof opened #736 "PayPal Review Page returning customers to the cart page inside of Twitter Mobile App"
### Description

When you are using the twitter mobile app on iOS, and go to a merchants website within the twitter mobile browser it allows you to login to PayPal, but then redirects you back to the merchants cart page instead of directing you back to the merchants checkout flow. This seems to only be happening with JSv4 integrations.

Please provide a short description of the issue here, along w

[2018-07-09 21:46] bluepnume commented on #736
@mcntsh can you investigate this one?

[2018-07-10 00:42] pkoutsogiannis commented on #734
Added a video: https://webrtcweb.com/RecordRTC/uploads/RecordRTC-2018610-ciufzuhc6g.webm

[2018-07-10 00:49] pkoutsogiannis commented on #734
Added a video: https://webrtcweb.com/RecordRTC/uploads/RecordRTC-2018610-3pdmfk6w6wv.webm

[2018-07-10 17:42] mcntsh commented on #734
Good catch @pkoutsogiannis. I've identified the cause of this issue and I'm working on a fix right now.

[2018-07-11 02:33] VCCZHU opened #739 "IE11"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2018-07-11 02:33] #739 closed

[2018-07-11 08:00] oranze commented on #473
Also interesting in set Logo. Please provide some information about customisation of Payment page

[2018-07-11 09:12] oranze opened #740 "Checkout.js disable AMEX cards in payment method"
How to disable, like example, AMEX card in payment methods?

[2018-07-11 16:20] xyxabcdiy opened #741 "setbuyer 500 Internal Server Error"
I have this error when I use a sandbox account.
POST https://www.paypal.com/webapps/hermes/api/batch/setbuyer 500 (Bad Request)

### Request

[code]

### Response

[code]

[2018-07-11 17:06] xyxabcdiy commented on #741
Here is my client code and server code

### Client

[code]

### Server Koajs
[code]

[2018-07-11 17:22] bluepnume commented on #741
@vishakha94 -- can you check the correlation id and see if this is a legitimate error?

[2018-07-12 03:05] TheOddLinguist opened #742 "X-Frame-Options set to SAMEORIGIN in webview iframe"
## Summary

We were experiencing an issue with the checkout modal in webviews embedded in our native (JS) mobile app. It would fail to load beyond login, hanging on a white screen and throwing an error that it refused to display content from paypal.com because `it set 'X-Frame-Options' to 'sameorigin'`. The issue **has since resolved itself**, but I'm concerned–not knowing what caused it in the fi

[2018-07-12 07:23] dudj commented on #719
您最后是怎么处理的呢

[2018-07-12 12:33] acomito commented on #700
@abarco Just to be clear, should we be telling our users that paypal doesn't support payments from firefox?

[2018-07-12 15:41] quantumwebco opened #743 "Make ajax call before create payment"
When a user clicks the pay now button is there a way to delay the api call so that it only happens on a successful response form an ajax call.

I want to create the order in the database when the button is clicked via ajax, if that is successful then go through paypal, then onAuthorize make another ajax call to update the payment status in the database

Is this possible?

Thanks

[2018-07-12 15:47] trainerbill opened #744 "Rejecting promise in payment callback appends stack trace to error message"
### Description

Please provide a short description of the issue here, along with:

![image](https://user-images.githubusercontent.com/3578259/42644340-f3476cdc-85c0-11e8-84a4-e06df9d7f636.png)

### Steps to reproduce

[code]

### Affected browsers

- [ x] Chrome
- [x ] Safari
- [ ] Firefox
- [ ] Edge
- [ ] IE
- [ ] Chrome Mobile/Tablet
- [ ] Safari Mobile/Tablet
- [ ] Web View / Safari ViewContro

[2018-07-12 23:47] mcntsh commented on #699
This is an interesting issue. When you save a `mobile-web-app-capable` webpage to your iOS homescreen, it will open in its own wrapper app using a WebView, and clicking the PayPal button will open up Safari. Since they are both two separate apps, they have no context of each other and the checkout window won't have access to the button's props.

The way this is handled for _native_ WebViews, is th

[2018-07-13 17:34] vishakha94 commented on #741
@xyxabcdiy Hi, can you confirm whether this a consistent issue for you.
@bluepnume I am seeing a 500 on POST create checkout sesssion. I can follow up with them if @xyxabcdiy sees it consistently.

[2018-07-13 17:51] wchiquito commented on #743
Perhaps the section [How To :: Implement a PayPal Checkout Server Integration](https://developer.paypal.com/docs/checkout/how-to/server-integration/) of the documentation be useful.

[2018-07-14 04:32] xyxabcdiy commented on #741
@vishakha94
Yes, the problem has always existed. Here is one of debugID.
api: `/v1/payments/payment`
debugID: `809da50cc059d`

I can't call execute api after login to paypal.

[2018-07-14 11:35] quantumwebco commented on #743
Yeah I've implemented a server side integration before but I don't want to create a whole server side integration here, I just want to make an ajax call before the normal process after the button is clicked. Currently it immediately opens the paypal window and I just want to check something first then open the window if success.

[2018-07-16 09:16] advance512 commented on #708
Any update?

[2018-07-16 09:58] dasx199 opened #749 "Edge | loading example.com in in-context window"
### Description

When following the integration pattern here: https://developers.braintreepayments.com/guides/paypal/checkout-with-paypal/javascript/v3#invoking-the-checkout-with-paypal-flow in Microsoft Edge, either completing the payment or hitting cancel and return loads example.com in the in-context window, and the faded background vanishes shortly after the popup window opens.

This integrati

[2018-07-16 16:07] klk103 opened #750 "Edge 41 - Checkout popup fires onCancel immediately after loading"
### Description

We're using the Paypal button with checkout version 4.0.204 in an ASP.NET AJAX application. In Edge, when the button is clicked, the popup will open and begin rendering, then the overlay in the original window closes and leaves the popup open. Submitting the checkout form redirects to the root of our domain within the popup.

We're using checkout like so:

[code]
and the button ap

[2018-07-17 12:08] daslicht opened #752 "REST Examples ?"
Hello,
the payment is working with server api.
But how to add additional POST parameters to the actions.request.post call ?
For example the Product id so that the server knows what to actually checkout ?

Cheers Marc

[code]

[2018-07-17 14:01] eliotsykes commented on #691
For developers hitting this already, here's a couple of suggestions that can help depending on your situation:

#### 1. Check existence of `paypal` before using it:

[code]

Admittedly this may only be helpful if you've got other non-Paypal payment methods.

#### 2. Self-host paypal checkout.js

Some guidance here: https://github.com/paypal/paypal-checkout/blob/master/docs/cdn-npm.md

[2018-07-17 14:16] trainerbill commented on #749
This seems to be version specific.  cannot reproduce on

![image](https://user-images.githubusercontent.com/3578259/42822952-ee710904-89a1-11e8-978d-7a1406772638.png)

![image](https://user-images.githubusercontent.com/3578259/42822967-f8cf8cb8-89a1-11e8-9c60-e9933d011063.png)

The version that is being reported is from 2016 and I don't have a way to test with it.

[2018-07-17 14:34] trainerbill commented on #691
Update:  The new certs will be going in the next few weeks with the last being targeted for completion the week of August 6.

@UserCentrix this should not be preventing your site from taking payments.

[2018-07-17 16:05] klk103 commented on #750
[This](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15030423) sounds like a remarkably similar issue, and I was able to reproduce it successfully.

I set a trace on **win.closed** in **isWindowClosed** and clicked the button; it began returning _true_ as soon as the navigation from "about:blank" to "sandbox.paypal.com" occurred. Our development site and "*.paypal.com" are b

[2018-07-17 16:51] Alir3z4 commented on #727
Yes, this is something that I couldn't actually find on the documentation as well.
All the docs are simply playing around with one time payment and nothing is mentioned about BillingAgreement/Subscription/Monthly payments.

Would be great if there's any resources to look into while the documentation is getting ready.

@ajmobidesign were you able to find the solution ?

Also some resources that I'v

[2018-07-17 18:12] bluepnume commented on #750
Sounds very much like issues we've faced with intranet/trusted mode. Can you please see if anything in this doc helps? https://github.com/paypal/paypal-checkout/blob/master/docs/debugging/ie-intranet.md

[2018-07-17 18:17] bluepnume commented on #749
Sounds a lot like an intranet-mode problem. Can you please follow this guide and report back? https://github.com/paypal/paypal-checkout/blob/master/docs/debugging/ie-intranet.md

[2018-07-17 18:22] bluepnume commented on #752
You can pass data as the second parameter:

[code]

[2018-07-17 18:22] #752 closed

[2018-07-17 20:09] bluepnume commented on #743
It's not currently possible to do validation with an ajax call and prevent the popup from opening. The best we allow right now is a pattern like this: https://developer.paypal.com/demo/checkout/#/pattern/validation -- which allows enabling/disabling the button based on form inputs changing on the page.

[2018-07-17 20:09] #743 closed

[2018-07-17 20:51] bluepnume commented on #744
Fair issue. Going to close as it's being tracked here though: https://github.com/krakenjs/post-robot/issues/61

[2018-07-17 20:51] #744 closed

[2018-07-17 20:52] bluepnume commented on #700
No -- we absolutely support payments from Firefox. This is just a corner-case around refocusing the PayPal window.

[2018-07-17 21:20] bluepnume commented on #740
You can set:

[code]

[2018-07-17 21:20] #740 closed

[2018-07-17 22:24] oranze commented on #740
bluepnume Also I try few times on LinkedIn and Facebook contact you. You, for mistake, got one payment, can you please make it charge back?

[2018-07-17 22:47] adamlcolson commented on #727
Hi there @ajmobidesign,

You may want to take a look at the Subscriptions documentation that we just recently released at https://developer.paypal.com/docs/subscriptions/. Part of this solution is supported by checkout.js, but you would still have to do a server-side integration with our REST APIs for creating a billing plan and executing the billing agreement.

Please let me know your thoughts on

[2018-07-17 23:14] bluepnume commented on #740
I've refunded the payment -- can you please check?

[2018-07-18 01:47] axed commented on #248
I'm currently working with a very minimal setup to toy around with the paypal api, checkout, login with paypal, etc and i am getting the same error.
I can't really tell what it stops from working at all, so far the checkout seems to work as expected.
Using the current version of `https://www.paypalobjects.com/api/checkout.js`

[2018-07-18 03:38] zation commented on #741
Have the same issue

Request:

[code]

Response:

[code]

[2018-07-18 03:45] daslicht commented on #752
Yeah I meanwhile found it out myself , thank you !

[2018-07-19 08:16] protream commented on #741
I have the save error at the beginning, but when I use another paypal account  it worker, under the same code. But I can't find the different between the two account, besides, one created in 2017, one created days ago, and one is gmail email, one is self domain email...

[2018-07-19 08:55] daslicht opened #756 "Capturing Errors / cancel"
Hi,
I like to be able to programatically cancel the ```'/api/create-payment'``` call on my server.

**Background**:
I am going top sell software liceses with a limited number.
Let's say there is one License left and 2 people are watching the webpage.
The Stock says 1
Now visitor 1 clicks the paypal button and the payment process is initiated.
The left license is used and set unavailable...

... me

[2018-07-19 09:09] #756 closed

[2018-07-19 16:19] vishakha94 commented on #741
Hi, we are taking this issue up with our downstream services team and will update here.

[2018-07-20 17:10] mcntsh commented on #736
This fix went out in yesterday's release and appears to be resolved!

[2018-07-20 17:10] #736 closed

[2018-07-21 05:38] #699 closed

[2018-07-21 23:57] vishakha94 commented on #741
@xyxabcdiy Are you able to reproduce this issue in production?

[2018-07-22 16:11] ronl opened #762 "adaptive payments support?"
We are currently using PayPal adaptive payments and the  lightbox flow as was specified with the paypal script https://www.paypalobjects.com/js/external/dg.js .  It appears that in the last week or so that this supported and availability has been deprecated and so now need to see if can use the new checkout integration.

We are using adaptive payments in order to split, who pays fees etc. payments

[2018-07-23 22:31] imojen opened #763 "Cordova Inappbrowser Paypal modal suddenly close just before checkout"
Hi,

I have a page with client-side rest paypal installed which works perfectly on PC and mobile browsers.
( https://developer.paypal.com/docs/checkout/integrate/#1-get-the-code )

But when I am using the Apache Cordova InAppBrowser (which use native android browser) to wrap my website and go to the paiement section, something strange happens everytime :

- I click the Paypal button, the modal sho

[2018-07-24 05:19] tristanry commented on #657
Hello @khanghoang,
Thank for your feedback,

I can see that the issue is still open, when do you plan to deploy your workaround?

As @MacFiss mentioned, is it possible to make it work with the `fast tap` event?
At the moment this issue is a blocker to deploy in production.

Thanks

[2018-07-24 10:33] najmulbasit-360training commented on #691
This is what is happening for PayPal Express checkout, page, this doesn't load properly due to resources in chrome. something going wrong.

dom.js:95 GET https://www.paypalobjects.com/web/res/019/65173d3c7f3abd282157c6a6b370d/locales/PK/en.js 404 ()

https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-7SM803396T7828254#/checkout/genericError?code=RETRY

![image](https://user-image

[2018-07-24 13:40] JackTheHammer commented on #541
Hello, I am implementing PayPal on my service, and wanted to create following purchase flow:

1. When user clicks "pay with paypal" button, website opens a new browser window (e.g. window.open)
2. In this window, we have a hidden PayPal button (<form> tag) and an <iframe>. When page loads, form automatically posted to iframe and user sees this just like regular PayPal window.
3. Initial page (from

[2018-07-25 06:46] xyxabcdiy commented on #741
@vishakha94 I created new bussisness and new buyer account, then the problem has gone. I will test it in production.

[2018-07-25 13:09] wasimkham commented on #657
Thought I'd just thank you guys for this post. I've been trying to figure out the exactly same problem for ages but with a project that I'm developing. Stumbled across this post and adding an empty `touchstart` event to the entire container inside the `<iframe>` solved it for me.

[code]

So thanks!

[2018-07-26 05:52] MacFiss commented on #657
@wasimkham How you got the iframe contentWindow, if it is prohibited by paypal?

[2018-07-26 08:19] wasimkham commented on #657
@MacFiss Sorry for the confusion, what I meant is that this was the solution for me for an unrelated project, not PayPal. I just wanted to say thanks!

[2018-07-26 15:13] advance512 commented on #708
Please update here when the next release is released, and the bug is fixed. :)

[2018-07-26 16:32] bluepnume commented on #708
Can you please check now? This should be resolved.

[2018-07-26 19:58] bluepnume commented on #657
@khanghoang would that ^ work for us? Listening for touchstart with a noop?

[2018-07-27 00:57] vault21inc opened #765 "payment endpoint: http 200 {"ack":"permission_denied","message":"Insufficient privileges"}"
### Description
paypal.version "4.0.211"
Using https://www.paypalobjects.com/api/checkout.js and following the code at https://developer.paypal.com/demo/checkout/#/pattern/client causes the following request:
https://www.sandbox.paypal.com/webapps/hermes/api/payment/PAY-95J24203S8167001TLNNFQVA? to return a http 200 {"ack":"permission_denied","message":"Insufficient privileges"} when checking out

[2018-07-27 17:29] bluepnume commented on #762
@trainerbill do we have any guides on migrating adaptive calls over to EC/REST?

[2018-07-27 17:30] bluepnume commented on #750
Closing this, will reopen if you're still facing the issue.

[2018-07-27 17:30] #750 closed

[2018-07-27 17:30] bluepnume commented on #742
Sounds like this was a temporary issue that was fixed. Please let us know the moment you see anything like this again and we'll look into it. Thanks!

[2018-07-27 17:30] #742 closed

[2018-07-27 17:31] bluepnume commented on #732
Please see the main set of docs here: https://developer.paypal.com/docs/checkout/

[2018-07-27 17:31] #732 closed

[2018-07-27 17:31] #749 closed

[2018-07-27 17:32] #727 closed

[2018-07-27 17:33] #695 closed

[2018-07-27 17:35] #687 closed

[2018-07-27 17:35] #537 closed

[2018-07-27 17:36] #532 closed

[2018-07-27 17:49] vault21inc commented on #765
On the first click/launch attempt, the call to the execute API returns a 200 with the 'permission denied' response and will not retry on it's own so the first transaction fails entirely.

Upon re-clicking/launching the paypal component, you can see the first call out to the execute endpoint returns with a 401 (with a similar body as the previous call), and then the script appears to retry with ano

[2018-07-30 07:41] majorvms commented on #765
The same issue in production environment. Many customers who use **Guest checkout** meet this error. Here is a code example based on yours https://developer.paypal.com/demo/checkout/#/pattern/client:
[code]

![image](https://user-images.githubusercontent.com/20680958/43383843-4f16345a-93ed-11e8-8312-2080a89d7777.png)

If customer is logged in in Paypal it works correctly.

[2018-07-30 13:58] trainerbill opened #767 "Xoon flow executing onCancel, not onAuthorize"
### Description

Please provide a short description of the issue here, along with:

![image](https://user-images.githubusercontent.com/3578259/43401767-a2fb78c6-93d6-11e8-83a6-76bb727d00c2.png)

https://www.sandbox.paypal.com/webapps/xoonboarding?locale.x=en_US&fundingSource=paypal&sessionID=e06a9e331c_geztunbuhi2tq&buttonSessionID=c9bd4d8763_geztunbxhiztc&env=sandbox&logLevel=warn&uid=64e9b0d0c3&

[2018-07-30 20:15] ppnsanders opened #768 "Auto-Generate Funding List on Build."
### Description

When the build for checkout.js runs a JSON file should be generated and deployed to the paypalobjects.com CDN to provide Partners with a list of available funding options for merchants in their admin panel.  This will allow merchants to explicitly allow/disallow funding methods as part of their Smart Payment Buttons integration.   The funding options should only be added to the JS

[2018-07-30 22:51] aespinosaMD commented on #365
I haved this problem, I solve using: https://jsonlint.com/
to validate the json, the problem are a TAB in json file, im from mexico, my english level is low sorry :' )

[2018-07-31 16:35] alecwhittington commented on #708
I can confirm this has been resolved. Tested with version 4.0.209, desktop no longer throws errors when disallowed funding sources are provided.

Thank you for getting this fixed, sorry for the delay in response

[2018-07-31 16:52] bluepnume commented on #708
Thanks for confirming!

[2018-07-31 16:52] #708 closed

[2018-08-01 06:59] madhurirahane commented on #498
**Description :** I am facing with the similar problem,Calling the payment execute function inside onAuthorize

 onAuthorize: function(data, actions,payment_for) {
        var paymentID = data.paymentID;
        var payerID   = data.payerID;
        var execute_payment_json = {
          payer_id: payerID,
        };
        return actions.payment.execute(paymentID, execute_payment_json).then((res

[2018-08-01 07:10] tristanry commented on #657
Hello @khanghoang ,
What will be the better solution for that?
I don't understand how we can have it working with the `fast tap` event.
Thanks

[2018-08-01 14:57] oleksii-vynnychenko opened #769 "Error during payment `Payment could not be executed\n at handleExecuteError....`"
We've got an issue. Could you advice on it...?

Our usage is very simple and is similar to demo app and if to simplify it looks like this :
[code]
One difference from demo app is that we use onError event to log whatever came in. Recently when end-user complained that he couldn't pay we've checked in logs and this is what we found:
[code]
Sequence of events is `payment -> onAuthorize -> onError`.

[2018-08-01 19:58] khanghoang commented on #657
@tristanry I follow the @wasimkham's suggestion above and it worked.

[2018-08-03 06:25] alex-mironov commented on #403
@iranianpep @dmalis have you guys managed to solve it?
Here is what happens in my case with React Native (sorry for slow animation) ![iospaypal](https://user-images.githubusercontent.com/2544767/43627399-edc19eaa-96fe-11e8-8b77-7111175fbbd2.gif)

[2018-08-03 07:20] alex-mironov opened #772 "Issues with popup in React Native WebView"
### Description

I'm facing issues with the layout of PayPal popup dialog when using in WebView of React Native. The issue is reproducible on both real device and ios simulator.

https://youtu.be/z3hh2gZF_5E
PP_VERSION: 20171003
iOS version: 11.4.1
iPhone models: 6, 8

There is also some trace from the console:
<img width="780" alt="screen shot 2018-08-03 at 10 17 23 am" src="https://user-images.g

[2018-08-03 10:04] balwant20 opened #773 "paypal express checkout not sync with magento 2.2.4"
1. When an Order is placed, registered notification about transaction complete on Paypal is not updated automatically in comment history.

2. Whenever we Refund the amount from Paypal, registered notification about refunded amount is not updated automatically in comment history.

3. If the order is in "Payment Review" status at the time order placing, then it should be automatically changed to "Pr

[2018-08-03 15:23] ahfeel commented on #287
Also having this need here. I understand the decision from paypal to push the button as a mandatory part of the flow, but this is really a big limitation. I'm not even trying to replace the button, I just want to have an additional step before actually opening the popup, and it's totally impossible now.

I really hope a method to circumvent this will be released someday, in the meantime I'm abando

[2018-08-03 21:48] bluepnume commented on #773
Hi, can you please raise this issue with Magento. This repo is only for the javascript button integration.

[2018-08-03 21:48] #773 closed

[2018-08-04 18:27] zamoroka opened #776 "Capturing amount is pending approval on gateway"
I've got a message "Capturing amount is pending approval on gateway. Transaction ID: "PAY-xxxxxxx" after  order was placed using PayPal.
Please describe why this message appears.

The flow on my website:
1. create authorization by calling "/v1/payments/payment" with "intent" = "authorize"
2. execute authorization "/v1/payments/payment/paymentId/execute"
3. and than capture payment "/v1/payments/au

[2018-08-05 00:42] gety9 commented on #477
@bluepnume what is timeout for live?

for us capture is working on sandbox, but not on live.
So assume it might be one of the reasons.

[2018-08-05 00:45] oscarmolinadev commented on #477
@gety9 10 seconds :)

[2018-08-05 14:26] boonkit commented on #769
I facing the same issue since 30 July. The error caused by auth service which return empty access token (https://www.paypal.com/webapps/hermes/api/auth) , even though ack:"success"

{
"ack":"success",
"data":{
"logged_in":false,
"guest":false,
"remembered":false,
"password_less":false,
"auth_state":"ANONYMOUS",
"refresh_token":false,
"access_token_present":true,
**"access_token":"undefined",**
"is

[2018-08-06 08:10] oranze commented on #740
Good morning,
all fine, customer get money back. Thanks a lot.

--
Mihails Atamanskii

[2018-08-07 07:02] bormanEcwid opened #778 "CDN can not delivery compressed checkout.min.js"
### Description

Merchants of our ecommerce platform complain to us that the PayPal checkout button is not displayed for a long time. Customers don't know how to pay and leave the store. We found out reason - it's a slow download checkout.js.
For some regions paypal CDN can not delivery compressed content. So checkout.js has excessive size.

### Steps to reproduce

For example when I change DNS se

[2018-08-07 07:04] SergeyZubatkin opened #779 "checkout.js docs"
### Description

Could anybody know where I can find complete checkout.js documentation for checkout button.

As specified on https://developer.paypal.com/demo/checkout/#/pattern/validation
I can use validate or onClick method, but there are not any information on github docs about these methods and their contracts.
Thanks.

[2018-08-07 22:59] michaelst commented on #464
Is there an update on how to use payee with this or is there an alternative PayPal product I can use to accept payments on behalf of others?

[2018-08-08 11:28] nasimqota opened #781 "Content Security Policy - paypal"
### Description
after checkout from My Site with Debit or credit card it gives this error.

Magento : 2.1.3
Php 7.0.30
server nginx

Help Please.

Note : i can see this issue with Braintree and they have reslove it like this Please Click  https://github.com/braintree/braintree-web/issues/53

[2018-08-09 13:55] nasimqota commented on #781
Any Alien to help ?

[2018-08-09 15:20] Direclaw opened #782 "Getting error 400 when using item lists"
I'm trying to set up payments for my website but I keep getting error 400. The error stops when I remove the item list from the transaction but I would like to use it. here is the error message when I use it:

`at PayPalHttpConnection->execute('{"intent":"Sale","payer":{"payment_method":"paypal"},"redirect_urls":{"return_url":"http://carambola.test/status","cancel_url":"http://carambola.test/statu

[2018-08-09 17:46] vishakha94 commented on #782
@Direclaw you are getting a 400 possibly because the price of the item list (40.00) doesnot match the transaction (34.00). Try changing one value to other and it should work.

[2018-08-10 03:27] iamdevlinph commented on #471
Hi. Any update on this issue? I'm still experience the issue above where the button cannot be clicked right away.

I  noticed that the button can only be clicked once the request below is done.

[code]

[2018-08-10 19:25] PhilibertDugas opened #784 "[A11Y] Close control missing accessible name"
The PayPal overlay Close control is missing an accessible name in order to convey its purpose. This would cause a poor or confusing user experience for screen reader users. Users who have mobility-related disabilities using voice recognition software will have difficulty accessing this control.

**HTML:**
[code]
## Steps to reproduce

1. Go to https://www.chubbiesshorts.com/ with any supported bro

[2018-08-10 19:26] PhilibertDugas opened #785 "[A11Y] Close control proximity"
The PayPal overlay modal content and Close control are located some distance apart. Low vision users who rely on screen magnification may not be able to easily associate the Close control making it difficult to return to the previous screen.

**HTML:**
[code]
## Steps to reproduce

1. Go to https://www.chubbiesshorts.com/ with any supported browser
2. Add some items to the cart
3. Proceed to the C

[2018-08-10 19:26] PhilibertDugas opened #786 "[A11Y] Control not visible in High Contrast"
The Close control is implemented with a CSS `background-color` properties which do not appear in Windows High Contrast themes. This makes it difficult to return to the previous screen. Low-vision, high-contrast users should have equal access to content and imagery that sighted users have access to.

**HTML:**
[code]
**CSS:**
[code]
## Steps to reproduce

1. Go to https://www.chubbiesshorts.com/ wi

[2018-08-10 19:27] PhilibertDugas opened #787 "[A11Y] Modal missing attributes to convey context"
The PayPal overlay modal is missing a `role`, `aria-modal`, and an `aria-label` attribute. These attributes are used to indicate the presence of a "modal" element which assistive technology users require to help describe the purpose of the current context.

**HTML:**
[code]
## Steps to reproduce

1. Go to https://www.chubbiesshorts.com/ with any supported browser
2. Add some items to the cart
3. P

[2018-08-10 19:27] PhilibertDugas opened #788 "[A11Y] Modal window does not trap keyboard focus"
When the PayPal overlay modal is displayed, users of assistive technology and keyboard-only users are still able to interact with elements "underneath" the window. Keyboard users should be able to trigger the overlay modal and interact with only the modal content until it is dismissed.

**HTML:**

[code]

## Steps to reproduce

1. Go to https://www.chubbiesshorts.com/ with any supported browser
2.

[2018-08-11 05:34] grandchaseway opened #789 "Popup displaying default checkout page"
### Description

Strangely, the popup began to present the PayPal default checkout page.

![image](https://user-images.githubusercontent.com/42282461/43988510-987445be-9d0d-11e8-9d14-09a7f03d56ad.png)

- `paypal.version`: 4.0.213
- Browser: Google Chrome 67.0.3396.99 (64-bit)
- Store address: https://shop.gcway.co

I temporarily disabled the express checkout so that payments will not be retained.

[2018-08-12 14:27] tituscrow82 commented on #722
Still not fixed,  what deadline date is PayPal targeting to complete the update?

[2018-08-13 13:03] stephen-last commented on #479
I think I'm having the same issue...

I'm trying to use:

[code]

If I deliberately cause an error by submitting the wrong value for `payment.transactions[].amount.currency` in `actions.payment.create()` I see this:

![paypal-error](https://user-images.githubusercontent.com/16349203/44032893-7a206b2a-9f00-11e8-9279-a5dfd804baf8.jpg)

I can't access the `{ name, details, message, information_link,

[2018-08-13 13:11] karan-levaral commented on #471
i am also facing this issue, this might decrease conversion ratio. I am using React button driver

[2018-08-13 13:39] crookedneighbor commented on #691
Any update on this? We're past the previously stated August 6th date.

[2018-08-13 13:40] kherona commented on #479
@stephen-last yes this is the error (well dont have to be the exact error, but it's validation condition raises this error).

The problem is that I have left the paypal project I was working on, but came across similar issue on this component: https://github.com/axios/axios/issues/960

When I was trying to console.log(error) it wasn't showing me the correct info just like in Paypal validation case

[2018-08-13 16:06] vicatcu opened #790 "Handling Funding Source Failure"
I was reading this little section of the PayPal Checkout docs: https://developer.paypal.com/docs/checkout/how-to/customize-flow/#manage-funding-source-failure. Here they include this code snippet:

[code]
Does anyone know if that documentation is correct? Does the PayPal checkout.js manage an error variable in the global scope? If not, how do you correctly implement this guidance? Or is this guida

[2018-08-13 19:27] vishakha94 commented on #790
https://developer.paypal.com/demo/checkout/#/pattern/server
Example:
[code]

[2018-08-13 20:08] venkat-durai opened #791 "WebView - Field focusing beneath (merchant page) after opening PayPal page in iframe"
### Description
The focus of the cursor is still on the parent page ( Merchant website) than switching the focus to PayPal page along once the iframe loaded, which is causing little confusion for the user and experience.

Sample screen:
![iframe-cursor-issue](https://user-images.githubusercontent.com/12368643/44054344-307f3e50-9ef7-11e8-8a20-6aa4d2e3ae76.gif)

### Steps to reproduce

Checkout usin

[2018-08-13 20:27] bluepnume commented on #784
@vishakha94 can you take this one?

[2018-08-13 20:28] bluepnume commented on #785
@vishakha94 can you take this one?

[2018-08-13 20:29] bluepnume commented on #786
@mcntsh can you take this since you're already working on improving the contrast here?

[2018-08-13 20:29] bluepnume commented on #787
@vishakha94 can you take this one?

[2018-08-13 20:30] bluepnume commented on #788
@mcntsh can you take a look? I can point you towards some code we have internally which may help trapping keyboard focus.

[2018-08-13 20:31] bluepnume commented on #791
@mcntsh assigning this to you since it looks like a similar problem to https://github.com/paypal/paypal-checkout/issues/788 -- but with some nuances since we need to keep the focus inside the iframe. Maybe the same solve, maybe not. Or @vishakha94 if you fancy an interesting problem please feel free to take a look. :)

[2018-08-13 20:32] bluepnume commented on #789
Can you please fill out the entire issue form and resubmit after answering all the questions?

[2018-08-13 20:32] #789 closed

[2018-08-13 23:35] vicatcu commented on #790
Ok, thanks for clarifying. So in the client side library, onAuthorize is an implication of success,  unconditionally,  right?

[2018-08-13 23:37] vishakha94 commented on #790
For client side, paypal-checkout handles this error by calling `actions.restart()`.

[2018-08-13 23:39] vicatcu commented on #790
Many thanks, I'll withdraw the question, but can you point me to the authoritative docs for the client side library?

[2018-08-13 23:39] #790 closed

[2018-08-13 23:42] vishakha94 commented on #790
https://developer.paypal.com/docs/checkout/integrate/#3-execute-the-payment
https://developer.paypal.com/demo/checkout/#/pattern/client

[2018-08-13 23:44] vicatcu opened #792 "Is subscription supported in client side library?"
Is it possible to sign a customer up to a subscription using checkout.js (client side library)  in a manner similar to the programmatic button generation for "Buy Now" functionality? Had trouble finding documentation on how to do that, if it's possible at all.

[2018-08-13 23:47] vishakha94 commented on #792
@vicatcu What do you mean by a subscription? Do you mean billing agreements?
I am not sure how you are linking Buy Now button with subscriptions here?

[2018-08-13 23:57] vicatcu commented on #792
I just mean, can you inspire a subscription (yes, recurring billing) workflow with checkout.js using something like paypal.Button.render?

[2018-08-14 00:11] vishakha94 commented on #792
We currently do not support billing agreements for client-side integration. Do you need to do it server-side?

[2018-08-14 00:26] #792 closed

[2018-08-14 16:15] satyamallya opened #793 "Incorrect Paypal Login followed by Cancel does not result in cancel callback being invoked"
We use Paypal Checkout.js for getting  billing agreement from the user.

In our scenario, we are noticing the following

User taps on the PayPal Checkout button,  logs in with either incorrect login or password atleast once and then taps on the cancel link at the bottom. This does not result in the cancel event handler being invoked.

Here is our skeleton code

paypal.Button.render(
            {

[2018-08-14 16:30] Justin-Credible commented on #790
I have the same question; looking at the code sample from the documentation again:

[code]

The `error` object is not available. I think this issue needs to be re-opened and the documentation needs to be fixed here.

[2018-08-14 16:56] martinmckenna commented on #779
Agreed. Your documentation is really sub-par and after reading that demo code, it's still not really clear how you do form validation before sending the user to paypal.com to authorize the payment.

[2018-08-14 17:11] Gemorroj commented on #234
I'll just continue to use the classic api. Because this rest api looks like a huge pile of broken code.

[2018-08-14 17:25] martinmckenna opened #794 "Early return in payment method and prevent opening Paypal"
### Description

I'd like a way to not open the Paypal site if there is a validation error with the form. Instead, I'd like to early return within the `payment` callback

I stumbled upon this demo:

https://developer.paypal.com/demo/checkout/#/pattern/validation

But it's not really helpful because I don't want to have to validate each time a user changes a form element. I want to do all my valida

[2018-08-14 18:02] vishakha94 commented on #792
@vicatcu Having a button which would denote any kind of subscription is definitely easy to implement but not in our roadmaps right now.

[2018-08-15 05:10] Baziliq commented on #477
same issue here, in some clients the latency due to network between the client and my server takes some time, getting this error! is there a way to override the timeout?

what other option are there to resolve this? referring to prod env

[2018-08-15 15:06] trainerbill commented on #139
the validation callback is used to call either actions.disable or actions.enable to enable/disable the button.  So you put your valdiation logic in there.  If the form/inputs are valid call enable otherwise call disable.  The onclick callback is used to just clear your validation warnings from previous clicks.

The validation logic is up to you

[2018-08-15 16:02] neilakapete commented on #139
@trainerbill the issue that I was having was how to evaluate every field in my checkout form before setting actions.enable. The example works due to the event listener calling toggleButton when it is clicked but what approach do we take when you have multiple items needing evaluated? As @dalehgeist mentioned using jquery validate we can do the form validation but how does that get invoked without

[2018-08-15 16:56] trainerbill commented on #139
its been awhile since i have done form validation but you could try

1.  create an event listener for form submit to prevent default.
2.  do $('form').submit() in the paypal onClick callback to submit the form when its clicked.
3.  Inside of the validate callback execute your "jquery validation" and if valid call enable else call disable.

Otherwise you can do an :input selector to select all the

[2018-08-15 18:39] trainerbill commented on #762
@ronl unfortunately we are in between products right now.  The old adaptive payments lightbox is deprecated and you now have to do a full page redirect to the following URLs.

Prod url:  https://www.paypal.com/webscr?cmd=_ap-payment&paykey=<PAY_KEY>
Sandbox url:   https://www.sandbox.paypal.com/webscr?cmd=_ap-payment&paykey=<PAY_KEY>

We have another product in active development that will be taki

[2018-08-15 18:39] #762 closed

[2018-08-15 21:32] AzamatShaimerden opened #797 "Paypal checkout is working on sanbox but not on live mode"
Hi,

Our checkout was working just fine few days ago but not now. I have tested multiple times on sandbox mode  and it`s working however on live mode still not able to accept credit, debit cards.

During live test I have found this in chrome console log ""POST https://www.paypal.com/webapps/hermes/api/checkout/9AM82377CY632213N/session/createPayment 400 ()

and card option disappears. And when I c

[2018-08-15 21:34] bluepnume commented on #797
Please contact paypal technical support. This repo is only for the javascript integration.

[2018-08-15 21:34] #797 closed

[2018-08-16 03:07] sharang-d commented on #307
@bluepnume I am seeing this on web app I'm working on. For my information: Does this have any adverse effect or does it just block sending logs to PayPal?

[2018-08-16 03:11] sharang-d opened #798 "Is there a Changelog of some kind?"
@bluepnume Is there a changelog somewhere which says what changed in every release?
I would like to know as I want to upgrade versions.

[2018-08-16 14:55] martinmckenna commented on #676
I can confirm this is still an issue

[2018-08-17 14:44] jalymiller opened #802 "Focused checkout button missing outline"
In a new audit for ADA compliance on our site, the PayPal checkout button was flagged because it only uses color to show focus instead of an outline. Here is the information from the audit report and a screenshot:

[Issue]
When the user navigates to 'Paypal checkout' button, the visual indication of keyboard focus is made available by change in color and the (dotted rectangle) is not visible on th

[2018-08-17 14:46] jalymiller commented on #614
Thanks for adding the title attribute. In our latest audit, they now say the title of "ppbutton" may not be descriptive enough to indicate what the iframe is to a user.

[2018-08-20 05:31] davidchin opened #804 "4.1.0 tag in Github doesn't have the expected `dist` files"
### Description

4.1.0 Github tag doesn't have the expected `dist` files.

[4.1.0](https://github.com/paypal/paypal-checkout/commit/c1943124fcbac2eacbf60b84b9f667ad66867be0) has the following files:
<img width="1017" alt="screen shot 2018-08-20 at 3 18 12 pm" src="https://user-images.githubusercontent.com/667603/44321614-526c3500-a48c-11e8-8ec9-2a1c5b2fb7d3.png">

I expect it to have files similar

[2018-08-20 14:23] bormanEcwid opened #805 "Unavailable checkout.min.js/checkout.js"
### Description

Can not get checkout.js:
https://www.paypalobjects.com/api/checkout.min.js and https://www.paypalobjects.com/api/checkout.js returns 404 error

### Steps to reproduce
Try to get https://www.paypalobjects.com/api/checkout.min.js
It returns 404

nslookup and curl output:
[code]

### Affected browsers

- [+] Chrome
- [+] Safari
- [+] Firefox
- [+] Edge
- [+] IE
- [+] Chrome Mobile/Ta

[2018-08-20 17:42] bluepnume commented on #794
Please see here for the full discussion on why that's not possible at this time: https://github.com/paypal/paypal-checkout/issues/139

[2018-08-20 17:42] #794 closed

[2018-08-20 17:45] bluepnume commented on #307
I would recommend adding both paypal.com and paypalobjects.com to your csp policy.

[2018-08-21 23:36] bluepnume commented on #778
Can you please check now? According to the relevant team this should now be fixed.

[2018-08-22 02:28] saleem-hadad opened #812 "Considering VueJs"
### VueJs integration

Hi, thank you for your efforts in making this package available. However, I'm wondering if you are planning to consider **`VueJs`** framework in addition to its friends AngularJs and ReactJs? 👨‍🍳

[2018-08-22 05:30] bormanEcwid commented on #778
Now I can not reproduce it.

[2018-08-22 05:30] #778 closed

[2018-08-22 17:04] PrateekGunnam commented on #627
How do you integrate this with react-native?

[2018-08-22 22:05] gmcquistin commented on #657
I'm seeing this problem in production as well, exclusive to iOS 11. Is there an ETA for this bugfix?

[2018-08-22 23:02] hanloong opened #815 "Missing properties when using Component.jsx with braintree"
### Description

I've been building a new integration using paypal-checkout and braintree in React.
As part of the integration we want to use PayPal to collect shipping details (using the `enableShippingAddress` option.

However the react button component drops everything from the payload but the `nonce`
https://github.com/paypal/paypal-checkout/blob/master/src/button/component.jsx#L573

It would

[2018-08-22 23:42] khanghoang commented on #657
@gmcquistin The issue was fixed 2 weeks ago. Are you sure they're the same issue?
Plus, I just tested on iOS 11.3 simulator and it worked fine.

[2018-08-23 01:40] jimster480 commented on #691
Last week?
It is the last week of August now... All the updates are rolling out for browsers everywhere and people cannot pay.
I had to revert one of my browser versions just to be able to browse to paypal.

[2018-08-23 01:47] tituscrow82 commented on #691
Probably should open this back up since it was never actually fixed.

[2018-08-23 02:52] luukau commented on #769
Hi,

So I have a similar issue, with a similar error message whilst running payments in the sandbox. Tested on both Chrome and Firefox, not IE.

1) Click PayPal button on webpage (which includes a script similar to the one below)
2) Login with PayPal test account
3) Click 'Pay Now'

[code]

The script code we use is very similar to:
[code]

The browser console log shows the following error:
[code]

[2018-08-23 05:04] luukau commented on #769
Ok I might have solved my own issue. After more trial-and-error; I removed the property "invoice_number" from the payment, all seems to work.

[2018-08-23 06:42] dilakshandc commented on #479
any updates on this issue?

[2018-08-23 08:05] bormanEcwid opened #817 ""Click to Continue" doesn't work properly in PayPal popup via FireFox"
### Description

No reaction by click on "Click to Continue"

- Screenshots or videos that show the issue: srceencast https://drive.google.com/file/d/1UQ1FoZ9aL9_00gz5EULBynLnLtVZh1n3/view?usp=sharing
- The `paypal.version` from your browser console: "4.0.214"
- The exact browser version: Firefox 61.0.1
- A link to your page with the issue, if possible: paypal demo page https://developer.paypal.co

[2018-08-23 09:46] mrharel commented on #432
@bluepnume we are experiencing this bug again. it appeared back in the last few days (maybe recent release?)

To reproduce, you need to click on the pay button, close the popup window and click on the layer. I reproduce it on your demo page again.

![paypal-bug](https://user-images.githubusercontent.com/473889/44518256-18887200-a6ca-11e8-8134-23fde60d0d4a.gif)

can you please have a look and maybe

[2018-08-23 09:58] oleksii-vynnychenko commented on #479
@bluepnume or anyone, not meant to pressure or anything but can you please tell at least very rough ETA on this issue? Can we expect the solution by the end of this year?

[2018-08-23 10:01] oleksii-vynnychenko commented on #769
@luukau , you can't post payment with invoice number that was already processed earlier, invoice_number is unique in terms of success payments.
But it's a different issue, I'm talking here about transient errors that our end customers encounter in production from time to time.

[2018-08-23 15:11] peterbaral commented on #769
About the half of our customers generate the same error:

`Error: PERMISSION_DENIED`

and immediately thereafter:

`Payment could not be executed
   at handleExecuteError (https://www.paypalobjects.com/web/res/b68/a04c217f6513295c043c0faf19ab1/js/button.js?build=x:1273:23)
   at _loop (https://www.paypalobjects.com/api/checkout.js:7786:42)
   at ZalgoPromise.dispatch (https://www.paypalobjects.com

[2018-08-23 16:57] trainerbill commented on #691
https://medium.com/paypal-engineering/migrating-to-digicert-root-certificates-eee71f6aabc7

[2018-08-23 18:33] khanghoang commented on #657
@gmcquistin I took a look at your video file. It's a different issue, can you create another issue instead? Also, provide us the link to the page. Thanks.

[2018-08-23 18:33] #657 closed

[2018-08-24 05:09] bluepnume commented on #804
How are you using this tag? It hasn't been published to npm or to our CDN

[2018-08-24 05:28] davidchin commented on #804
Just Bower, which references Git tags directly.

[2018-08-24 05:33] bluepnume commented on #804
OK thanks for the heads-up. Given that bower is now deprecated, and we have not officially supported it for a long time, I would strongly recommend upgrading to npm and yarn.

[2018-08-24 07:39] DavidMips opened #822 "Paypal Checkout : TypeError: styles is null"
Hi,

before today all was working well on sandbox account for paypal checkout. But today when testing, the console throw the error on attach file. But sometimes the error does not appear and the button work well until the last step of payment.
I'm using firefox for testing. On google chrome it's working fine.
I'm using the simple code of paypal checkout.

![2018-08-24_11h36_09](https://user-images

[2018-08-24 10:53] yujinyuz opened #823 "TypeError: actions.close is not a function"
### Description

Please provide a short description of the issue here, along with:

Yesterday, code was still working fine. But I'm getting this error and not getting redirected to the page I'm supposed to be redirected to.

- Screenshots or videos that show the issue
![screenshot from 2018-08-24 18-45-47](https://user-images.githubusercontent.com/10972027/44580811-fa0b9f00-a7cd-11e8-8e71-c53812ca

[2018-08-24 11:11] wiliu commented on #823
Similar issue happens in Chrome Version 68.0.3440.106 (Official Build) (64-bit).  Issue start around 23Aug 8pm PST.

[2018-08-24 12:10] piotrkochan commented on #822
Same here!

[2018-08-24 16:16] gtzrvera commented on #822
I have the same problem, in Chrome works fine, but in Firefox fails.
![captura de pantalla 2018-08-24 a la s 11 17 16](https://user-images.githubusercontent.com/3683101/44595595-2522ce00-a78f-11e8-997c-b2a02caabbaa.png)

[2018-08-24 17:45] wchiquito commented on #822
Does the problem remain?. I can't reproduce the problem in Chrome (sandbox | production) or Firefox (sandbox | production). paypal.version: "4.0.215".

[2018-08-24 17:53] abarco commented on #822
Hi all, the changes are being rolled back as we speak. This wasn't an issue with the incontext script, but due to a separate component. Apologies for the disruption. Please let me know if you do still see problems in your transactions due to this issue. If not, I'll be closing this issue by the end of day.

[2018-08-24 17:54] abarco commented on #822
@gtzrvera @DavidMips Can you guys let me know on what version of firefox were you able to reproduce this problem?

[2018-08-24 17:56] abarco commented on #823
Apologies for the disruption. This is not a problem with the checkout.js script, but with one of our components. We're in the process of rolling back, but you should start seeing recovery right about now. We're looking at having this fully rolled back in the next hour or so.

[2018-08-24 18:00] gtzrvera commented on #822
Effectively, the problems seems solved, @abarco the problem happened to me in Firefox 61.0.2 (64-bit) in Mac

[2018-08-24 23:55] shekharparkhi opened #824 "MS Edge version 38.14393.2068.0 is not supported - the Return URL is being called within the in-context popup"
### Description

My merchant is having constant weird issue with the MS Edge browser and is refusing to launch without the flow working correctly there. Here is a screen cast of the Edge experience that I just took on their site. Any thoughts, please?

login here  https://www.greatcollections.com/login.php
username sukumar
password sukumar
goto this page https://www.greatcollections.com/buyer_invo

[2018-08-27 00:50] davidchin commented on #804
Ok, cool, if you say Bower is no longer supported, I'll close this issue. Thank you.

[2018-08-27 00:50] #804 closed

[2018-08-27 05:27] DavidMips commented on #822
@abarco this was on Firefox 61.0.2 for me too.
The problem seems to be solved.
Thank you for your help.

[2018-08-27 18:48] qetzal opened #827 "PayPay Checkout doesn't work in Chrome Canary (M70)"
### Description
PayPal Checkout doesn't work in Chrome Canary (M70).

Chrome is going to distrust Symantec SSL certificates in Chrome M70.  PayPal Checkout uses Symantec SSL certificate, so it doesn't work in Chrome 70 completely.

Chrome 70 will be released to beta in September and to stable in October. Just want to make sure that the PayPal team is aware of this issue and will update the certifi

[2018-08-27 19:42] daneloctober commented on #576
@zanneee Yeah I'd like to know as well. Please help.

[2018-08-28 06:02] sukumaranj commented on #824
Thanks for posting this shekhar
Every onCancel url or onError url when returned properly will have an ec-token like one below,
www.greatcollections.com/buyer_invoice.php?method=legacy&token=EC-6UJ17379E6914850U
we use a url logger in our site to check this
but on Edge when the page is loaded with in the Pop-Up, the ec-token is missing in the URL.

[2018-08-28 16:06] matthieu-D opened #828 "The "The safer, easier way to pay" label is hidden"
### Description

The "The safer, easier way to pay" label is not visible when I try it on my iphone, pc but on my mac it's all good.

- Screenshots or videos that show the issue:

<img width="172" alt="screen shot 2018-08-28 at 18 00 15" src="https://user-images.githubusercontent.com/5333018/44735271-3dc31900-aaec-11e8-9a73-4caff4214f2c.png">

- Your code (in fact it's the code that you generate):

[2018-08-28 16:09] stevethatcodes commented on #562
@lacimarsik Did you ever get a resolution on this? We are noticing this happen as of today with no deployments to our site. This sounds like something between Braintree and PayPal?

[2018-08-29 02:42] ckgagan opened #829 "Paypal button work in developer.paypal.com/demo/checkout but not in localhost"
Hi I am having problem with paypal button lately. Previously it worked without any problem, but not it stopped working.

I pasted the same code from
https://developer.paypal.com/demo/checkout/#/pattern/client OR
https://developer.paypal.com/demo/checkout/#/pattern/confirm
with my client_id
Ab9GzTPdwikNy4-mmGP2nNXuOeYCABf-U5Ct7UsCuvTC6a60gUbBCygj8-fivy5_KufPHAfQCdKuQfCS
Here is the code snippet

[c

[2018-08-29 06:29] matthieu-D commented on #828
The :
Button.render method displays the text (👍 )

It's the:
 Button.driver("react", {
      React,
      ReactDOM
    })
That doesn't. 👎
Quite annoying since it's in the React documentation.

[2018-08-29 06:48] sharang-d commented on #805
https://www.paypalobjects.com/api/checkout.min.js and https://www.paypalobjects.com/api/checkout.js returns 404 error

@bormanEcwid These links open for me when typed in the address bar in the browser.

[2018-08-29 07:12] bormanEcwid commented on #805
Now I can not reproduce it.
But when I posted ticket paypal returned 404

Are you sure that it will not happen again?

[2018-08-29 08:09] TrusPRO commented on #562
@stevethatcodes I had the same issue yesterday, only on sandbox and it's fix this morning. Guess it's on paypal side !

[2018-08-30 05:52] albertmjy opened #830 "Unexpected margin at the bottom of SPB when style from 'medium' to 'responsive'"
### Description

- I'm using the latest checkout.js
- Chrome: Version 68.0.3440.106 (Official Build) (64-bit)

When change the style from 'medium' to 'responsive', the text 'Powered by PayPal' is gone, but the extra margin still there in the bottom. Our partner does NOT expect that.

- when 'medium'
![image](https://user-images.githubusercontent.com/1765144/44831800-c19b1380-ac5a-11e8-970a-f5e49b1

[2018-08-30 13:09] stephen-last opened #831 "actions.payment.get() seems to error in the live environment (PERMISSION_DENIED), but works in the sandbox"
I am trying to use the PayPal checkout button. I have a sandbox and live environment setup, with a business account and buyer account for each. When using the sandbox, my integration works, but when using live the exact same code produces an error.

I have checked our Client ID's are correct for both sandbox and live. I have an app defined in `developer.paypal.com` under `REST API apps`. I'm not u

[2018-08-30 14:18] wchiquito commented on #798
Here was an attempt: [Express Checkout and Direct Payment release notes](https://developer.paypal.com/docs/classic/release-notes/merchant/), but clearly not updated.

[2018-08-30 18:03] bluepnume commented on #798
For now I would rely on the commit log. Every new change is backwards compatible, so you should be able to upgrade without any issues.

[2018-08-30 18:03] #798 closed

[2018-08-30 18:04] bluepnume commented on #830
@khanghoang can you please take a look?

[2018-08-30 18:05] bluepnume commented on #805
Please raise another issue if you see the same problem again.

[2018-08-30 18:05] #805 closed

[2018-08-30 18:06] bluepnume commented on #824
@vishakha94 can you please take a look?

[2018-08-30 18:07] bluepnume commented on #831
@mcntsh can you take a look?

[2018-08-30 18:08] #817 closed

[2018-08-30 18:09] bluepnume commented on #831
Actually looks like a duplicate of https://github.com/paypal/paypal-checkout/issues/769 -- let's use that issue.

[2018-08-30 18:09] bluepnume commented on #769
@mcntsh can you try to repro this?

[2018-08-30 18:11] bluepnume commented on #432
Can you please raise a new issue with all requested details.

[2018-08-30 18:12] bluepnume commented on #812
Yup, we do. @vishakha94 any chance you could add a demo to the /demo folder?

[2018-08-30 18:13] bluepnume commented on #781
Closing as duplicate of https://github.com/paypal/paypal-checkout/issues/447

[2018-08-30 18:13] #781 closed

[2018-08-30 18:14] bluepnume commented on #765
Can you please confirm if you still see this issue?

[2018-08-30 18:16] #782 closed

[2018-08-30 18:17] bluepnume commented on #829
Are you running on a local server or a `file://` path

[2018-08-30 18:19] #827 closed

[2018-08-30 18:19] #822 closed

[2018-08-30 19:27] saleem-hadad commented on #812
Thank you, dude!

[2018-08-30 20:25] bluepnume commented on #776
@trainerbill are you familiar with this?

[2018-08-30 20:27] bluepnume commented on #341
Dupe of https://github.com/paypal/paypal-checkout/issues/767

[2018-08-30 20:27] #341 closed

[2018-08-30 20:40] trainerbill commented on #776
@zamoroka I am guessing that the payment is in review and needs to be accepted by you due to your account settings.  Take a look here:

https://www.sandbox.paypal.com/cgi-bin/customerprofileweb?cmd=_profile-pref

or remove the sandbox if you are in production.  For instance if you have "Allow payments sent to me in a currency I do not hold:" set to ask then its waiting for your review.  there are

[2018-08-30 22:02] elliotj1 opened #838 "Edge Checkout redirecting to"
After choosing the billing and shipping information in the PayPal login modal the modal redirects to "https://example.com/?...". This leaves the modal up and does not return focus to the included site.
Only effects IE Edge:

- PayPal Version "4.0.215"
- Browser:
   Microsoft Edge 42.17134.1.0
   Microsoft EdgeHTML 17.17134
- Issue does not occur on developer.paypal.com/demo/checkout
- Issue occurs

[2018-08-30 22:10] bluepnume commented on #838
Thanks for raising the issue.

- At any point do you see the overlay behind the popup window disappear?
- Do you see any errors in the console for the popup, during any part of the flow?

[2018-08-31 01:27] realfresh opened #840 "PaymentID returned from checkout results in "INVALID_RESOURCE_ID" when used with the REST API to capture/execute a payment"
### Description

Been using PayPal checkout for over one year now. No noticeable issues until recently. Right now my integration uses checkout to initialize the payment and later when the customer's order is confirmed, the payment is executed/captured using the REST API on our server.

However recently, I've had several clients of mine report that their PayPal payments are not being captured. When

[2018-08-31 04:56] bormanEcwid commented on #805
Why dit it happen?
Can I be sure that it will not happen again?

[2018-08-31 05:02] kumarranganath commented on #433
Users are not able to see pay now button.  Please see the attachment
![payment-screen-not-loading-not-showing-pay-button](https://user-images.githubusercontent.com/5340883/44893504-12694580-ad09-11e8-813a-f74fce9e39c8.png)

All our customers/users are facing problem in completing payment process and not able to fill up credit/debit card information and do payment.

Page is not loading completely a

[2018-08-31 05:10] kumarranganath commented on #433
Unsafe JavaScript attempt to initiate navigation for frame with origin 'https://www.radreviewmhe.com' from frame with URL 'https://payflowlink.paypal.com/? '. The frame attempting navigation is targeting its top-level window, but is neither same-origin with its target nor has it received a user gesture. See https://www.chromestatus.com/features/5851021045661696.

init @ pflPayments.js:80
(anonymou

[2018-08-31 06:35] ckgagan commented on #829
@bluepnume No I am running a Rails localserver http://localhost:3000

[2018-08-31 06:42] majorvms commented on #765
For me it works well now. Did you fix something?

[2018-08-31 06:49] bluepnume commented on #765
Yep, we made a fix. Thanks for confirming on your side!

[2018-08-31 06:49] #765 closed

[2018-08-31 10:49] stephen-last opened #841 "Docs update needed for actions.payment.execute()"
The docs relating to `actions.payment.execute()` need updating.

1. [PayPal Checkout Integration Guide](https://developer.paypal.com/docs/checkout/integrate/)
2. [Customize the PayPal Checkout Flow](https://developer.paypal.com/docs/checkout/how-to/customize-flow/)

Both of these pages have example code showing the use of `actions.payment.execute()`. The first has two mentions, the second five men

[2018-08-31 10:54] kraisorns commented on #347
@benmurden I got a blank screen when running on iOS Simulator 10.3.1 but iOS 11.4.xx work fine.

[2018-08-31 11:00] stephen-last commented on #831
@bluepnume Sorry, I'm not sure this is the same issue as https://github.com/paypal/paypal-checkout/issues/769.

My issue is to do with `actions.payment.get()` which fires an error, but https://github.com/paypal/paypal-checkout/issues/769 doesn't even mention `actions.payment.get()`.

After wasting a lot time I happen to see someone else's code showing that `actions.payment.execute()` resolves with

[2018-08-31 11:14] zamoroka commented on #776
I'm sorry. Issue is resolved on my side. In some cases `capture` was processed in a moment before `execute authorization`. so it can't be captured

[2018-08-31 11:15] #776 closed

[2018-08-31 13:55] elitenick opened #842 "PayPal Express Checkout - IE11 and Edge Popup Closes Immediately After Opening"
### Description

Hi there,

In Edge and IE11, we are seeing the PayPal Express popup open then immediately close, with vague errors. This is also happening on the PayPal checkout demo page with the same implementation we are using. I also visited a few other websites that use PayPal Express checkout and am getting the same behavior. As one more test, I visited the demo page via BrowserStack IE11,

[2018-08-31 17:15] elitenick commented on #842
The issue is no longer occurring. It appears the PayPal version reverted from 4.0.216 to 4.0.215.

[2018-08-31 19:24] JDevjs opened #843 "[Question ] is there an npm command to install paypal-checkout ?"
im trying to use paypal-checkout with my angularjs app (mean stack) but there is no clear way of installation in docs only the integration part ...thanks.

[2018-09-01 00:45] realfresh commented on #843
You have to add their checkout script to your page before using their code examples, thats about it. Not sure if there is an NPM installation.

`<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>`

That said I think whats really missing from these docs is a complete description of the API available. Right now it's just a bunch of examples, or so it feels, I want t

[2018-09-01 06:29] esokullu commented on #792
Bummer! Please do implement. Many online businesses are subscription based today.

[2018-09-01 18:55] bluepnume commented on #842
Thanks for the report! Yep, we reverted the new version while we identify the problem. Appreciate your help!

[2018-09-01 18:55] #842 closed

[2018-09-02 00:36] tituscrow82 opened #844 "PayPal SSL Certs need to be replaced"
Need to know if Paypal.com and paypalobjects.com will have their certs updated **before** users start using the beta.  Need to understand release plan in order to evaluate a change to stripe or other payment collection company.

**Issue**
The SSL certificate used to load resources from https://www.paypalobjects.com will be distrusted in M70. Once distrusted, users will be prevented from loading th

[2018-09-02 12:30] ckgagan commented on #829
@bluepnume Found out the issue. I and sending total as undefined. Sent the any float value and it worked

[2018-09-02 12:30] #829 closed

[2018-09-03 01:42] JDevjs commented on #843
i totally agree i dont even know what to put here ... im wasting too much time man
[code]

[2018-09-03 01:49] realfresh commented on #843
Agreed, this has to be one of the most painful libraries / API's I've had to work with over the last 2 years.

[2018-09-03 06:45] wchiquito commented on #844
See [Paypal certificate used to load resources #691](https://github.com/paypal/paypal-checkout/issues/691).

[2018-09-03 14:49] stefanaz commented on #841
Oh man, @stephen-last you are the best! Thanks, I have already spent 6h on it. It was working last month, and now for some reason I was getting Permission_Denied. Working with your hint!
Thanks again.

[2018-09-04 06:09] khanghoang commented on #830
I will
On Thu, Aug 30, 2018 at 11:04 AM Daniel Brain <notifications@github.com>
wrote:

--
Best regards,
Khang Hoang.

[2018-09-04 20:57] #844 closed

[2018-09-05 08:06] wchiquito commented on #841
Here some more details, see [PayPal Checkout API](https://github.com/paypal/paypal-checkout/blob/master/docs/api.md).

[2018-09-05 08:43] getdatakick commented on #831
I have the same issue for the last 2-3 weeks. Thanks @stephen-last for the suggestion to get rid of ```actions.payment.get()``` call

[2018-09-05 08:45] stephen-last commented on #841
@wchiquito Thank you, that is indeed what I would've needed.

First, I don't think that page is linked to from the main [README.md](https://github.com/paypal/paypal-checkout/blob/master/README.md), which is probably why I missed it.

Second, the two pages I mention in this issue which talk about `actions.payment.execute()` still need updating.

So I would argue that those two pages need updating,

[2018-09-05 08:47] stephen-last commented on #831
@getdatakick You're welcome.

@bluepnume Could this issue be reopened..?

[2018-09-05 08:50] stephen-last commented on #831
I've renamed this issue to reflect more precisely what the problem seems to be, that is:

**actions.payment.get() seems to error in the live environment (PERMISSION_DENIED), but works fine in the sandbox environment**

[2018-09-05 12:04] mrharel opened #845 "Error: no window to focus"
### Description
user clicks on the pay button, close the popup window and click on the layer. This throws an error:
[code]

![paypal](https://user-images.githubusercontent.com/473889/45091946-43d07f80-b114-11e8-8c42-4aab5fb5817a.gif)

This can be reproduced in the demo page: https://developer.paypal.com/demo/checkout/#/pattern/client

### Affected browsers

- [x] Chrome
- [x] Safari
- [x] Firefox

[2018-09-05 12:04] mrharel commented on #432
@bluepnume just did https://github.com/paypal/paypal-checkout/issues/845

[2018-09-05 12:07] unnivm opened #846 "Paypal-check out returns as cancel its payment"
Hi,

When I make the paypal checkout, I am getting the payment canceled. Please find the response below:

[code]

The browser I am using is Opera.

Looks like payment has been canceled. It is supposed to call '`onAuthorize`' method.

Could you please tell me why I am getting this error?

Thank you

[2018-09-05 13:07] pillimoj commented on #722
Is this in progress? It is september now.

[2018-09-05 18:12] mcntsh commented on #815
#816 released in [`v4.0.217`](https://github.com/paypal/paypal-checkout/tree/v4.0.217)

[2018-09-05 18:12] #815 closed

[2018-09-06 06:35] ksuralta opened #847 "China Union Pay is not shown as one of the accepted cards for users from China"
### Description

China Union Pay is expected as one of the card types that PayPal supports.  However, the vertical layout of Smart Payment Button only shows the logos of Visa, MasterCard and AMEX when I set the locale to China/Chinese "zh_CN".

- Screenshots or videos that show the issue
![image 2](https://user-images.githubusercontent.com/4402049/45139236-6afd7e80-b1f2-11e8-84da-9076a6273ff1.png)

[2018-09-06 15:11] dxeoane commented on #840
I am experiencing a similar problem, I have a series of payments (less than 10%) of which I have the paymentId and the payerId but I can not execute them.

When I try to execute one of those payments, it returns the error PAYMENT_ALREADY_DONE, but when I try to find that payment using REST API I have the error INVALID_RESOURCE_ID. Those two answers are incompatible with each other

None of those p

[2018-09-07 18:28] mcntsh commented on #769
@oleksii-vynnychenko, @peterbaral and @boonkit

Are you still seeing these errors with execute/auth? There was a fix out on August 9th that addressed a similar problem. Otherwise, in order for me to best reproduce these errors is if I can have your client ID's and code examples.

[2018-09-07 20:15] peterbaral commented on #769
I tested on Aug. 26 and the errors were still there.
How can I send you the javascript code and client id privately?

[2018-09-07 21:00] oleksii-vynnychenko commented on #769
@mcntsh , at this point the last error was on Aug, 08. But we had very few payments from customers in August, so hard to jump to any conclusion.
But thanks for heads-up.

[2018-09-08 21:41] dschnelldavis commented on #831
I just had the exact same problem. `actions.payment.get()` works fine in sandbox mode, but causes errors in production. I only tested it in Chrome, so I don't know if the browser matters or not.

Replacing `actions.payment.get()` with `actions.payment.execute()` appears to fix it, so at least there's a good workaround.

Thanks @stephen-last!

[2018-09-10 05:28] pooventhirankp commented on #665
1) Am developing hybrid application. Am using PayPal for payment. For PayPal integration am following the below link.

https://developer.paypal.com/demo/checkout/#/pattern/client

It works well in android, but in iOS the PayPal checkout button itself not rendering. When I use a command 'ionic serve' it works well in safari browser. After deploying it into the iPad, the PayPal checkout button not s

[2018-09-10 16:42] mcntsh commented on #769
@peterbaral You can your code to me privately at jmcintosh at paypal dot com.

[2018-09-10 16:45] mcntsh commented on #769
@oleksii-vynnychenko Feel free to follow up if you start experiencing issues again!

[2018-09-10 18:33] bluepnume commented on #838
Can you please confirm if you're still seeing this issue?

[2018-09-10 21:07] elliotj1 commented on #838
I tried to complete the PayPal login modal once and got the error, then
cleared Edge's browser cache and it seems to be working now on production.
I do still see the issue on sandbox.paypal.com with Microsoft Edge version
42.17134.1.0 Microsoft EdgeHTML version 17.17134.

I also have access to Microsoft Edge version 41.16299.611.0 Microsoft
EdgeHTML version 16.16299 and it is still seeing the issu

[2018-09-11 04:34] sharang-d commented on #798
Ok, thanks!

[2018-09-12 07:40] stephen-last commented on #831
@dschnelldavis You're welcome...

@bluepnume or anyone at PayPal, could this issue be reopened..?

[2018-09-12 07:42] bluepnume commented on #831
Yep, reopening, thanks for sharing more details. @mcntsh can you check up on this one?

[2018-09-12 17:18] mcntsh commented on #802
Released [v4.1.7](https://github.com/paypal/paypal-checkout/tree/v4.1.7)

[2018-09-12 17:18] #802 closed

[2018-09-13 11:41] nhhockeyplayer commented on #479
so far paypal is a nogo
must be offshore singapore

:"(

[2018-09-14 00:45] mcntsh commented on #831
Ack, will follow up on this ticket with my findings.

[2018-09-14 00:56] mcntsh commented on #831
@stephen-last since you're able to repro, could you send me the correlation ID for the Get Payment request? This will help us track down the cause internally.

If you check your network tab, that failed GET request for `https://www.paypal.com/webapps/hermes/api/payment/PAYID...` should have a `Paypal-Debug-Id` response header that contains a 13 character ID.

[2018-09-14 07:57] stephen-last commented on #831
@mcntsh Thanks for looking at this!

- `GET https://www.paypal.com/webapps/hermes/api/payment/PAYID-LONWK2Y9UL31211KT046424W?`
- `paypal-debug-id: 1a21d5849a3ab`
- Error: `PERMISSION_DENIED`

This relates to a successful live transaction that I've just done, where I call `actions.payment.get()` after calling `actions.payment.execute()`.

[code]

- `Transaction ID: 9NK05412U7627160T`
- `Gross amoun

[2018-09-14 22:46] mcntsh commented on #831
Thanks Stephen. This is definitely something we are going to need to follow up with our service team about. Could you shed some light how you are creating this payment? Through the REST API or the client-side API? What types of parameters are you passing?

Really appreciate your patience on this.

[2018-09-17 08:20] stephen-last commented on #831
@mcntsh Sure...

It's a client integration, the one outlined here: [PayPal Checkout Integration Guide](https://developer.paypal.com/docs/checkout/integrate/) ...using `paypal.Button.render()`.

This is my React component, just with some bits cut out which aren't relevant.

[code]

Where the object passed to `actions.payment.create()` might look like:

[code]

Does that help..?

[2018-09-17 08:41] peterbaral commented on #769
Jon,

the problems only occur in the live environment and so it’s difficult to try to reproduce without generating lots of orders that have to be revoked.
Is there a way to programatically get the debug id while a customer gets the error (in order to log on the server)?

Cheers,
Peter

--
Peter Baral
Medienwerkstatt Muehlacker
Verlagsgesellschaft m.b.H.
··························
E-Mail:  Peter.Ba

[2018-09-18 09:43] LallerNeha commented on #708
I need to disallow venmo but If I use
funding:{
            disallowed: [
              window.paypal.FUNDING.VENMO
            ]
          }
My paypal button also disappears.

[2018-09-19 23:39] stephengardner commented on #440
Hi - I run an app to convert Shopify stores to AMP (https://shopsheriff.com/amp) and this feature would be huge.  We power over a million AMP pages for ecommerce.  Looking forward to an update.

[2018-09-20 08:33] stefanaz opened #866 "Credit card icons disappearing with a "Buy Now Button", issue present in Demo"
### Description

Today I observe an issue with a "Buy Now Button".
The credit card icons below the button disappear after 1-2 seconds, after they are loaded.
The things were working for me yesterday and last month so I could miss some update from PayPal, but this issue is also present at the "Demo":

https://developer.paypal.com/demo/checkout/#/pattern/buynow

Could you please help me with that?
O

[2018-09-20 12:49] stefanaz commented on #866
Hi again, I have found hotfix for that.

        style: {
            label: 'buynow',
            //fundingicons: true, // optional
            layout: 'vertical',  // horizontal | vertical
            branding: true, // optional
            size:  'responsive', // small | medium | large | responsive
            shape: 'rect',   // pill | rect
            color: 'blue'   // gold | blue | silver |

[2018-09-20 15:12] dimrun commented on #866
Hi, we have the same issue with disappearing button. Although, we don't use fundingicons and layout.
Browser: Chrome

[2018-09-20 16:27] bill-z commented on #866
We're seeing the same issue. The "Buy Now" button initially appears on the page with card images, and then (apparently after a call to https://www.sandbox.paypal.com/webapps/hermes/button ?)
the cards disappear and the font of the "Buy Now" text changes (from more vertical letters, to more slanted/italic letters).

Of course, I was hoping to demo our new PayPal integration _today_. (and those card

[2018-09-20 16:31] stefanaz commented on #866
@bill-z  does layout: 'vertical' set help in your case?

[2018-09-20 19:58] bill-z commented on #866
The https://www.sandbox.paypal.com/webapps/hermes/button call is unrelated. If I block the network call I see the same behavior.

[2018-09-20 22:30] abarco commented on #866
Hi all,
Thank you for reporting this. We've identified the problem and we're working on resolving it. We'll update this issue once a new version of the script is published.

[2018-09-21 06:32] khanghoang commented on #847
WIP by this PR #869

[2018-09-21 07:35] sirikumara opened #870 "Set expiration time for PayPal popup"
I have integrated PayPal popup with Java web application. I want to set up expiration time for the popup to avoid user paying some specific time. Let's say after 15 min. The user should not be allowed to pay.  Is there a way to do this with PayPal?

[2018-09-21 18:14] abarco commented on #866
The fix has been pushed. @stefanaz please clear your cache and re-try rendering your button. Sorry for the inconvenience.

[2018-09-21 22:59] bill-z commented on #866
@abarco: thanks for the quick fix.

The card images are now displaying again, but I still see the font of the "Buy Now" text change at about the same time the cards were disappearing (~1 sec(?) after first displayed).  (font changes to italic)

I first saw this with the card issue.  Hopefully they are related(?).

before:
![image](https://user-images.githubusercontent.com/995131/45909446-742c4500-

[2018-09-22 08:12] stefanaz commented on #866
@abarco,  thanks, seems to be working now, except the italic font after 1sec.
But in my case it is not so important.

[2018-09-23 10:05] raRaRa commented on #414
I also have the same issue. Is there any event that is dispatched when the button is ready?

[2018-09-23 10:13] raRaRa commented on #471
Is there any temp workaround for this issue? E.g. checking if the iframe has loaded manually.

[2018-09-23 11:35] raRaRa commented on #471
My final solution ended up looking like this:

The button itself, note that I'm assigning a ref to the button and I have the `onDisplay` event calling `this.onDisplayPP`:

[code]

And here's the `onDisplayPP` function:

[code]

The state.ppButtonLoaded will determine if the iframe has loaded. You can display anything while it's loading, such as "Loading PayPal", etc.

Hope this helps anyone else,

[2018-09-24 14:11] Jeffen commented on #706
It seems built-in browser of Wechat IOS does not load iframe at all. But in Wechat Web Dev Tools, everything looks fine. It makes things really hard to debug.
Also, Paypal popup window is not working in Wechat because of Wechat only support one page being displayed at each time.

One possible solution would be use redirect only in Wechat IOS and popup window in other browsers. But I still cannot s

[2018-09-24 17:09] rafaelcentric opened #872 "Invalid Shipping Address"
### Description

Shipping address is always invalid if country code is PH.

### Steps to reproduce

Here is my button

paypal.Button.render({
    env: 'sandbox', // sandbox | production
    commit: true,
    style: {
        size:   'medium',    // medium | large | responsive
        shape: 'pill',
        color:  'gold'       // gold | blue | silver | black
    },
    client: {
        sandbox:

[2018-09-24 20:45] abarco commented on #866
Hi guys, thanks for verifying the fix. I'll be closing out this issue now.
For the italics problem, we have a fix coming soon that should be taking care of that issue. Please create a separate issue so it can be tracked as it is separate from this one.

[2018-09-24 20:45] #866 closed

[2018-09-25 17:52] bluepnume commented on #872
Can you check this one out @trainerbill ?

[2018-09-25 17:54] bluepnume commented on #870
Hi @sirikumara -- there's no built-in way. I'd recommend using a `setInterval` or `setTimeout` to check and if 15 minutes has elapsed, you can destroy the button.

[2018-09-25 17:54] #870 closed

[2018-09-25 17:55] bluepnume commented on #708
Disallowing venmo is not supported.

[2018-09-25 18:36] trainerbill commented on #872
First off you client id didn't work so I grabbed the one from the demo app.  Secondly your JSON was not correct.  The items: is an array.  This worked for me in the payment callback.
[code]

[2018-09-25 18:36] #872 closed

[2018-09-26 05:02] LallerNeha commented on #708
Thank you for confirming.

[2018-09-26 06:00] benzookapi commented on #846
I have the same issue now.

"paymentToken": "EC-23C50995DB894002V",
"paymentID": "PAY-9R9660844E901750MLOVQXWI",
"intent": "sale",
"billingID": "EC-23C50995DB894002V",
"cancelUrl": "https://www.sandbox.paypal.com?token=EC-23C50995DB894002V"

[2018-09-26 19:58] mcntsh commented on #831
Hey @stephen-last, apologies for the delayed follow up here. Our services team is aware of a bug that is potentially causing error, and are currently working on a solution. I'll update this issue when a fix is out.

[2018-09-27 10:25] Lei-YT opened #874 "Payment could not be executed handleExecuteError"
I'm having intermittent errors when using client-side REST and I have not been able to reproduce it in sandbox.

Browser console log:
[code]

Here's my code:
[code]

It will redirect to return_page.htm?paymentId=PAYID-LOWADSQ53K5903219192222L&token=EC-0P829593DU101940P&PayerID=WEYWYR84KL78C when execute was failed
referer from https://www.paypal.com/webapps/xoonboarding?locale.x=en_US&fundingSourc

[2018-09-27 19:30] danpress opened #875 "Paypal Express checkout button is not working on production mode"
### Paypal Express checkout button is not working after switch from sandbox mode.

Please check these screenshots
http://prntscr.com/kzj20q
http://prntscr.com/kzj2jw

It is working on sandbox mode, but not working on production mode.

I tried again after create new paypal app and key, secret. but failed.

[2018-09-27 19:44] bluepnume commented on #875
Can you share your client IDs?

[2018-09-27 19:45] danpress commented on #875
[code]

[2018-09-27 20:15] danpress commented on #875
@bluepnume
It works for you?

[2018-09-27 20:20] bluepnume commented on #875
Looks like `Aaii5bce92CIHhO5t_8AKOOzINJd6DKo0JhY3Aaz9Lzsi8-QOlz63dXhvz8E8ikutEABPMPCyNV2M0cx`is a valid production client id -- not a sandbox id.

Are you changing the `env` setting in your integration to `sandbox` and `production`?

[2018-09-30 08:33] raRaRa opened #877 "paypal-checkout is calling https://www.paypal.com/tagmanager on every page load"
After I installed paypal-checkout to my React project, it calls https://www.paypal.com/tagmanager/pptm.js?id=yourwebsite.com&t=xo on every page load, even on pages where the PayPal checkout is not present. It also adds some entries to the cookies.

Is there a way to disable this? I'm afraid this might violate GDPR, unless users are warned about this, and can opt out.

[2018-09-30 21:54] spencersmb commented on #404
So far anytime I destroy the paypal Button component directly after a payment is made, I get that error.
`{emailProps.valid && <PaypalButton/>`

However, when I complete a payment, and close my cart which essentially has the PayPal button nesting inside a few other components and the cart animates out and then is removed using `{CSSTransition} from 'react-transition-group'`- I get no error.

But w