[2018-10-01 03:42] davefx commented on #686
I completely understand that html selectors must evolve following the progress of the PayPal production environment. However, it would be really nice if you keep _somewhere_ information about what is changing so adapting the tests to the new version may be much more easy for us, users of the sandbox.

[2018-10-02 04:16] rafaelcentric commented on #872
**First off you client id didn't work so...** - I apologize as I intentionally changed some part of the client id.
**Secondly your JSON was not correct. The items: is an array...** -  I apologize again. I don't know what happened but I guess I was a bit of in hurry when I created this issue. I actually have a dynamic array items:. I used the exact JSON above but still not working. Funny, because i

[2018-10-02 10:01] engasoft1 commented on #508
I added in config.xml and it works! :+1:
<platform name="ios">
        <allow-navigation href="*">
        <allow-intent href="https://*/*" />

[2018-10-02 10:02] engasoft1 commented on #508
<platform name="ios">
I added this in config.xml and it works!

        <allow-navigation href="*">
        <allow-intent href="https://*/*" />
        <allow-intent href="itms:*" />

[2018-10-02 10:03] engasoft1 commented on #508
I had same problem and added this in config.xml and it works!
 <platform name="ios">
        <allow-navigation href="*">
        <allow-intent href="https://*/*" />

[2018-10-02 10:04] engasoft1 commented on #508
I had same problem, added this in config.xml and it works!
` <platform name="ios">
        <allow-navigation href="*">
        <allow-intent href="https://*/*" />`

[2018-10-02 10:04] engasoft1 commented on #508
I had same problem, added this in config.xml and it works!
`<platform name="ios">`
`<allow-navigation href="*">`
`<allow-intent href="https://*/*" />`

[2018-10-02 14:15] trainerbill commented on #872
@rafaelcentric ok that is in our guest checkout product.  It is actually a known issue.  I will try and get some additional visibility to it.  The cause is the way we choose the default country in the list.  Right now it defaults to the merchants locale and not what is passed into the rest api call.

[2018-10-03 00:30] ppkarthik opened #878 "MS Edge version 38.14393.2068.0 is causing issues with the incontext checkout."
### Description

Buyer is able to login to the PayPal account and select funding source.
Upon clicking on Agree & Continue instead of the window closing the buyer is shown their account summary.

### Steps to reproduce

Merchant -- https://www.fun.com/ has this issue. We were able to reproduce the issue during checkout through the Edge browser.

Merchant example video -- https://drive.google.com/f

[2018-10-03 04:33] rafaelcentric commented on #872
@trainerbill thank you for the support. Actually, the merchant's locale is also Philippines, not United States.  Anyway, we turned off the shipping address for now. Thanks.

[2018-10-03 07:57] kartik2206 opened #879 "Paypal express checkout not working in production mode"
When I am using paypal express checkout in sandbox mode everything seems to be fine and transactions get successful but when I use it in production mode I am shown the below screen after authorization from bank i.e. I guess the execution gets an error because I saw the console and there was this message

![image](https://user-images.githubusercontent.com/28218177/46397387-c0547f00-c70f-11e8-8f0a-5

[2018-10-03 20:32] jkomusin commented on #767
Running into this same issue, able to reproduce through the React component integration, from Firefox 62.0.2

[2018-10-04 14:02] majorvms opened #881 "javax.validation.ValidationException: HV000028: Unexpected exception during isValid call.[java.lang.NullPointerException]"
### Description

Paypal button doesn't work for customers from Sint Maarten.
If I pass US country code it works well
[code]

But for SX country code it doesn't
[code]

PayPal popup doesn't appear. There is the error in console
[code]

![image](https://user-images.githubusercontent.com/20680958/46478397-f40dd280-c7fd-11e8-8628-017f07bf6111.png)

### Steps to reproduce

1. Visit https://developer.pa

[2018-10-05 05:27] majorvms commented on #881
Also this error affects production.

[2018-10-05 06:39] r0stig commented on #657
I just encountered the same issue and we're using the xcomponent library, since this library is also using xcomponent I was thinking if it's an idea to include this fix (hack?) in the xcomponent library? cc @bluepnume

[2018-10-05 11:34] manogi commented on #831
I have the same problem. The code works in the sandbox, but not live. The payment gets through, but I receive the error as @stephen-last (which stops everything on my end). I use:

[code]

[2018-10-05 11:59] manogi commented on #831
Also thanks to @stephen-last for the fix. It works for me too.

[2018-10-05 14:11] flyingL123 opened #882 "Multiple PayPal checkout buttons not appearing correctly on page"
Our website is hosted with BigCommerce, and I have noticed recently that our PayPal buttons do not all appear as expected on the cart page. The cart page has 3 locations where the button is supposed to appear.

Location 1: Mobile-only top location
Location 2: Desktop-only top location
Location 3: Mobile and Desktop bottom location

The buttons used to appear in all three locations as expected, but

[2018-10-05 15:36] peterbaral commented on #831
So to recap this:
replace

[code]

with

[code]

[2018-10-05 15:38] manogi commented on #831
@peterbaral yes - sorry! I thought I added the working code to my comment - which I didn't.

[2018-10-05 15:41] stephen-last commented on #831
I've requested a docs update relating to this:  https://github.com/paypal/paypal-checkout/issues/841 which is still open...

[2018-10-05 15:46] peterbaral commented on #831
Many thanks to you, @stephen-last,  for the fix!

[2018-10-08 18:04] bluepnume commented on #878
@vishakha94 can you give this a try when you have a spare sec and see if you can repro in Edge 38?

[2018-10-08 22:58] jdhaack opened #885 "No ack for postMessage xcomponent_init error message when larger number of items in cart"
I have a merchant getting a large number of errors when their cart reaches an approximate size (about 30ish items).  Specifically several of these
      Error: No ack for postMessage xcomponent_init in https://www.paypal.com in 2000ms

After a couple seconds the paypal button disappears.

Please provide a short description of the issue here, along with:

Video:
https://cl.ly/7f583a45faa6
Screensho

[2018-10-09 09:07] waimaster commented on #447
I am running into the same issue. My current policy is: `script-src 'self' https://www.paypalobjects.com/api/checkout.js https://www.paypal.com;` because I wanted to atleast restrict scripts and I get this error:
`dom.js:191 Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' https://www.paypalobjects.com/api/checkout.js https://

[2018-10-09 09:48] craftpip commented on #571
Is this fix out?, I'm facing the same problem.

[2018-10-09 23:33] bluepnume commented on #885
@abarco can you take a look?

[2018-10-10 09:46] pasyukevich opened #886 "PayPal button crashes on mounting"
###Description

We use react button from PayPal-checkout.js
Also we use braintree-web 3.34 that we inserted as a property to PayPal button.

Browser version: Google Chrome 69.0.3497.100
This error is not reproducible in sandbox mod.

<img width="534" alt="2018-10-10 12 22 47" src="https://user-images.githubusercontent.com/23215729/46726946-2b5e0280-cc88-11e8-9f8b-4d88b346b82c.png">

weakmap.js:128

[2018-10-10 10:52] leotm commented on #330
Where can I find the documentation on how to use `paypal.rest.`...?
I'm not finding much here https://developer.paypal.com/docs/api/payments/v1/

[2018-10-10 16:31] trainerbill commented on #330
@leotm Here is the documentation.  https://developer.paypal.com/docs/checkout/integrate/#1-get-the-code.

paypal.rest is outdated, you can now use actions.payment.create in the paymetn callback.

[2018-10-10 22:50] flyingL123 commented on #882
Anyone seeing this? The issues is still occurring.

[2018-10-11 06:03] amitkatiyar0692 commented on #772
I am facing the same issue.

[2018-10-11 07:50] TheImpressionist commented on #464
We've run into this issue as well.

We use it as part of our embeddable app for users to collect payments, and right now, the users can't do anything at all.

We're using the frontend checkout lib.

Our users come to use complaining, no payments can be made, ever.

What's the deal with this?

[2018-10-11 15:35] ppkarthik commented on #878
Hey guys any updates regarding this? Merchant is still waiting for an update from us.

[2018-10-11 17:14] leotm commented on #149
Are there any pros/cons to the *paypal.Button.driver* React implementation vs. the *paypal.Button.render* vanilla JS implementation transpiled to React+TypeScript something like this?

[code]
Cheers

[2018-10-11 17:21] leotm opened #889 "React - paypal.Button.driver vs paypal.Button.render"
### React - paypal.Button.driver vs paypal.Button.render

Not really an issue, but are there any pros/cons to the `paypal.Button.driver` React implementation over the `paypal.Button.render` vanilla JS implementation transpiled to React+TypeScript something like this?

[code]
Cheers

[2018-10-11 17:46] abarco commented on #885
Hi @jdhaack, I took a look at your site and it seems you're using React.js. Can you let me know what kind of integration you are using? For a react integration we prefer that you use this patterns:
https://github.com/paypal/paypal-checkout/blob/master/demo/react.htm
https://github.com/paypal/paypal-checkout/blob/master/docs/frameworks.md

I believe that there might be problems updating the DOM if

[2018-10-11 17:54] bluepnume commented on #889
I think in your example above, the element won't be ready by the time `componentDidMount` is called.

The other main thing we need the react driver for is if you're passing in any props which you expect to change.

It's also a bit more native; relies less on you directly passing in a DOM element, and follows the react rendering convention.

[2018-10-11 17:57] bluepnume commented on #464
Hi all,

I'm afraid to say at this point this issue is probably a 'wontfix'. There's a new api being introduced which fill facilitate payments, and not have this issue. This is mostly outside of the control of our sdk team.

Please for now do not rely on client side execute() if you're using `payee`. To unblock you can do a server-side /execute api call.

[2018-10-11 17:57] #464 closed

[2018-10-11 17:58] bluepnume commented on #882
Hi, can you please fill out an issue and answer all of the requested questions? Otherwise it's difficult for us to debug.

[2018-10-11 17:58] #882 closed

[2018-10-11 17:59] bluepnume commented on #772
Please do not render the PayPal button inside a webview. This is not an officially supported pattern. Instead please make use of our native mobile sdks.

[2018-10-11 17:59] #772 closed

[2018-10-11 18:03] bluepnume commented on #881
Is

[code]

A valid combination? Do you see this error for any valid country/state combinations?

[2018-10-11 21:23] flyingL123 opened #890 "Multiple PayPal checkout buttons not appearing correctly on page"
### Description

Our website is hosted with BigCommerce, and I have noticed recently that our PayPal buttons do not all appear as expected on the cart page. The cart page has 3 locations where the button is supposed to appear.

Location 1: Mobile-only top location
Location 2: Desktop-only top location
Location 3: Mobile and Desktop bottom location

The buttons used to appear in all three locations

[2018-10-11 22:06] flyingL123 commented on #890
Thanks. I think you are correct and this may be an issue with BigCommerce's integration. Seems like they recently released a checkout SDK and I bet that's causing the problem. This is likely going to be a nightmare trying to get in touch with them to explain the issue to the right person. We'll see!

[2018-10-11 22:06] #890 closed

[2018-10-11 23:06] bluepnume commented on #886
Do you have a page where I can repro this? Is it reproducible at https://developer.paypal.com/demo/checkout ?

[2018-10-11 23:08] bluepnume commented on #879
@mcntsh looks similar to another issue you were looking into. Can you try to repro and narrow this down?

[2018-10-12 04:56] majorvms commented on #881
It is not valid, that is just for example. But the error occurs for any combination with country_code: "SX". Either if I pass any value in state or miss it.

[2018-10-12 08:07] pasyukevich commented on #886
I can not reproduce it at https://developer.paypal.com/demo/checkout. You can see this issue on the www.tireamerica.com/checkout/billing-information. Sometimes it crashes even without fired onError. It reproducible only for the first time after clear site data from application tab in dev tools.

[2018-10-12 08:59] pmward commented on #768
+1 to this!

most ecommerce platform and cart partners will have setting to allow merchant to enable or disable certain SPB setting, in particular the funding_options. The problem now is the Partner can only disallow/allow the funding_options they know about. We dont want ecommerce platform partners (which will onboard over half our SPB merchants in most countires) to have make integration updates

[2018-10-13 09:57] pairmix opened #891 "Paypal button with ionic 3 ?"
Hi there,
It would be useful to update doc:
https://github.com/paypal/paypal-checkout/blob/master/docs/frameworks.md

I don't know how to integrate paypal buttons into my ionic page.
Best regards

[2018-10-14 13:05] ionutvmi commented on #350
Hi @bluepnume ,

Was the visual feedback that the button is disabled implemented ?
I still don't see it on the demo page here: https://developer.paypal.com/demo/checkout/#/pattern/validation

[2018-10-15 12:53] tim-hoffmann commented on #149
Any news on this?

[2018-10-16 13:00] leotm opened #892 "window.React.createClass is not a function, Cannot read property 'createClass' of undefined"
I have what I mentioned earlier [here](https://github.com/paypal/paypal-checkout/issues/889) working successfully with the [Server integration](https://developer.paypal.com/docs/checkout/how-to/server-integration/).
So just refactoring to [React.js Element](https://github.com/paypal/paypal-checkout/blob/master/docs/frameworks.md#user-content-reactjs-element) taking your comment onboard.

My code:

[2018-10-16 15:37] ppkarthik commented on #878
@vishakha94 yes, i have seen this issue on two separate windows systems, even till yesterday morning. As far as i can see it this can be reproduced in any Edge browser. The issue occurs after the buyer clicks on continue in the paypal login

[2018-10-16 16:10] vishakha94 commented on #878
Can you pls post the edge versions for both the systems you tried it on? @ppkarthik

[2018-10-16 16:15] ppkarthik commented on #878
@vishakha94 One system was 38.14393.2068.0, the other i assume will be the same since it was one of my team-mates with the same corporate settings.

[2018-10-16 17:54] mcntsh commented on #879
Hey @kartik2206, could you start by posting the button render code? Please edit out any sensitive information like keys and email addresses.

[2018-10-16 18:56] vishakha94 commented on #878
@ppkarthik Have you tried to update edge and see if the issue still persists? We are talking above versions 41 and above.

[2018-10-16 18:57] vishakha94 commented on #891
@pairmix We currently do not have plans to support iconic. Have you tried using our native integrations instead?

[2018-10-16 20:32] mcntsh commented on #734
Following back up here... [this appears to be a bug with Chrome](https://groups.google.com/a/chromium.org/forum/#!topic/chromium-bugs/oHtZDAKp1EU) that remains unresolved.

From our perspective, we are using the `window.screenLeft` and `window.screen.width` to determine the position to display the popup, but Chrome doesn't have the correct values if the browser is flushed against the left side of

[2018-10-16 20:32] #734 closed

[2018-10-16 20:42] leeoniya commented on #707
@trainerbill,

until v5 ships, you guys should leave one of these "size" issues open rather than closing them all (#443, https://github.com/khoanguyen96/vue-paypal-checkout/issues/30, #707).

loading 992k [1] of script when previously 0k was required [2] is a bit absurd. for instance, we don't even ship 100k of our own scripts in total.

despite [3] being "deprecated", the recommended replacement

[2018-10-16 20:56] trainerbill commented on #707
I can't give any timeframes on GA release, but it is an active project.  For now, it is recommended to load the script async on a previous page so it is cached.

https://github.com/paypal/paypal-checkout/blob/master/docs/performance.md

I will reopen for visibility since its a good title.

[2018-10-16 21:03] trainerbill opened #894 "IE Intranet Error should fire onError"
![image](https://user-images.githubusercontent.com/3578259/47047333-e260ef00-d15c-11e8-8fc7-942d6a977da7.png)

[2018-10-17 00:06] leeoniya commented on #707
for our simple (and common) auth -> capture use case there's no reason to invest time to switch to the new `checkout.js` api while it needs these crutches to produce a sub-par experience. hopefully the deprecated api's stick around until v5 is GA and weighs < 50k (pre gzip).

thanks for reopening, btw.

[2018-10-17 00:10] ppkarthik commented on #878
@vishakha94 no i dont have windows to update the edge version plus, we cannot ask all the customers on edge to upgrade to a later version right ?

[2018-10-17 13:28] jag1989 opened #897 "Provide SRI"
With the interest of security, checkout.min.js should allow integrity checks on the request. [SRI](https://www.w3.org/TR/SRI/), This is fairly well supported in browsers now: https://caniuse.com/#search=sri

Proposal:

Current
`<script src="https://www.paypalobjects.com/api/checkout.min.js"></script>`

With SRI
`<script src="https://www.paypalobjects.com/api/checkout.min.js"
   integrity="sha512-h

[2018-10-17 13:42] vishakha94 commented on #878
@ppkarthik I agree but Edge v38.x gets really low traffic and we need to know if this problem is actually reproducible in the more recent versions of Edge i.e v41 or v16 onwards.
See this for the correct versioning, Edge seems to be following two of these. https://en.wikipedia.org/wiki/Microsoft_Edge#Release_history
We would need to know if these issues persist on the more recent versions.

[2018-10-17 13:45] jdhaack commented on #885
Update from Merchant (Let em know if you want me to add you to the thread with them):

We pushed the "react" integration changes to one of our preprod environments but I see the same issue there as well but the only difference is, sometimes the PayPal buttons are visible after the console errors and sometimes the buttons are not. We have two sets of buttons, a pair on the top of checkout and a pai

[2018-10-17 23:48] mcntsh commented on #879
@kartik2206 since you're trying to take INR payments, have you gone through [this checklist](https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/IN/enable-inr-for-merchants/enabling-inr-payments-direct-website-ec.pdf)?

[What Is the KYC Procedure](https://www.paypal.com/in/webapps/mpp/how-to-guides/kyc-process).

[2018-10-18 10:40] albertmjy commented on #830
When I allow FUNDING.CARD with size 'responsive', the label is still not showing.

![image](https://user-images.githubusercontent.com/1765144/47149135-4b836680-d305-11e8-8ba3-f84376b92c5d.png)

[2018-10-18 10:49] pasyukevich commented on #886
It reproduces again.

[2018-10-18 13:15] kartik2206 commented on #879
I contacted mts a few days back and they replied with the transaction had been declined by the bank. I wasn't able to talk further on this issue to mts support due to time constraints. I had questions like when I use the same debit card using paypal on other website it works and it is not declined.  Other than this the three steps written in the pdf file you sent are already done.

[2018-10-18 16:47] mcntsh commented on #788
This has been addressed in #896 and will be out in our next release!

[2018-10-18 16:47] #788 closed

[2018-10-18 16:48] mcntsh commented on #791
PR #896 will have addressed this UX concern and the fix will be out in the next release. Thanks for reporting!

[2018-10-18 16:48] #791 closed

[2018-10-18 16:49] mcntsh commented on #786
Addressed in PR #898 and will be out in the next release!

[2018-10-18 16:49] #786 closed

[2018-10-18 17:41] bluepnume commented on #897
Hmm. My only concern is, we update this script pretty frequently. That's not going to work with SRI right?

[2018-10-18 17:49] mcntsh commented on #879
I would suggest following up with MTS on this issue since it seems like the transaction is being rejected either due to risk or, like you mentioned, being declined from the bank. As far as I can tell this isn't an error related to Checkout.js.

[2018-10-19 18:19] #891 closed

[2018-10-19 20:13] danpress commented on #875
Any updates?

[2018-10-21 02:11] kgrosvenor opened #901 "Is it possible to add request headers with actions.request.post?"
I have something that looks like this, i would like to add an  bearer token in the headers i've tried replacing with axios but that didnt work, any other suggestions?  I would appreciate the help :)
[code]

[2018-10-22 16:59] mcntsh commented on #879
Closing this for now. Please re-open a ticket if you are still experiencing issues with Checkout.js after you've gone through the MTS channels 👍

[2018-10-22 16:59] #879 closed

[2018-10-22 17:39] mcntsh commented on #901
Hey @kgrosvenor,

It's totally possible. The `actions.request.post` takes an options object as its third parameter which has a header key. You could use it like so:

[code]

[2018-10-22 17:42] bluepnume commented on #886
<img width="498" alt="screen shot 2018-10-22 at 9 39 03 am" src="https://user-images.githubusercontent.com/1219075/47308660-19b11f00-d5e7-11e8-9322-87d1fb56b626.png">

Looks like there are multiple `head` and `body` elements on the page. That's throwing checkout.js for a loop.

[2018-10-22 17:42] #886 closed

[2018-10-22 18:32] kgrosvenor commented on #901
Thank you it worked 👍

[2018-10-22 18:32] #901 closed

[2018-10-22 19:42] bluepnume commented on #875
`Aaii5bce92CIHhO5t_8AKOOzINJd6DKo0JhY3Aaz9Lzsi8-QOlz63dXhvz8E8ikutEABPMPCyNV2M0cx ` -> this is a production client id

`EL2_9jwgIiWnspwt2C_9fbN-DQ8mU572kNhPE7hgrVmHvdfJquvwHVZHmr9j-WHIj-IF_c9-KPQSKCGW ` -> this doesn't work for me in either env.

Can you please try creating a new sandbox client id. You can use that first id for production.

[2018-10-22 19:42] #875 closed

[2018-10-22 19:43] bluepnume commented on #830
@khanghoang did we roll out a fix for this?

[2018-10-22 19:45] bluepnume commented on #881
OK. Good to know. If there are any examples which show a valid combination which cause the api to fail, please feel free to share them. I'll pass them along to the api team.

[2018-10-22 19:46] bluepnume commented on #892
Do you have a page where we can repro?

[2018-10-22 19:47] bluepnume commented on #843
We support npm using the `paypal-checkout` package. Please let me know if you have any specific problems using this package.

[2018-10-22 19:47] #843 closed

[2018-10-22 19:48] khanghoang commented on #830
yes, we did fix the issue with extra padding/margin.
The label is missing because we don't support Inline Guest for `responsive` size yet. Abd we will do that after the holiday season.

[2018-10-22 22:48] mcntsh commented on #846
Hey @unnivm, sorry for the delay here!

Did you get an error in your console or perhaps a failed API call in your network tab? If you could please show us your integration code (sans any sensitive info) we can try to identify any integration concerns right off the bat.

[2018-10-23 03:28] unnivm commented on #846
No problem.

I do not remember getting any error in Javascript console. Had that been
the case, I would have pasted it when the issue was created.

Actually I solved it in a different way.

My paypal a/c is having some issues while connecting to PayPal server in
sandbox mode. But when I used my client a/c it worked in sandbox mode with
Giuest Authentication
So that way I was able to integrate payp

[2018-10-23 09:43] qetzal commented on #881
@bluepnume
I think this issue needs to be fixed. Here is why:

1. If an incorrect country/state combination is submitted, we expect to get an error describing that, so we can communicate the issue to a customer. At this moment we get 500 error and `NullPointerException` on a PayPal side. It doesn't look like an expected and correct behaviour.

2. Sint Maarten ("SX") country doesn't have regions/st

[2018-10-23 20:06] mcntsh commented on #734
https://github.com/paypal/paypal-checkout/issues/734#issuecomment-430390039

[2018-10-23 23:31] realfresh commented on #840
Any word on this? It's still happening and clients are randomly losing money. Happen's like once in every 50ish payments or something.

[2018-10-23 23:33] bluepnume commented on #840
Hi! Can you please share the `paypal-debug-id` header from the response of a failing api call?

[2018-10-23 23:38] bluepnume commented on #881
OK that's good to know. Re-opening this and I've passed it on to the correct team.

[2018-10-23 23:56] realfresh commented on #840
Hey, thanks for the response. I'll try, but I have to set up some extra logging to catch it in action. Hopefully, I can get around to it soon 😓

[2018-10-24 08:45] KoanLeeroy commented on #479
Same issue for me

[2018-10-24 09:26] kgrosvenor opened #910 "Checkout suddenly stops working for me, server errors from paypal"
Continuously loading when trying to log in on the modal, my server was successful in creating the payment then your server gave a 500 error

I followed the server and client integration guide and this was working until today on sandbox?

This was working last night...

Screen shot of the network log:

[![Screenshot from Gyazo](https://gyazo.com/4e7af4f579fb4c148bfce7a84986617d/raw)](https://gyazo.

[2018-10-24 11:28] cyberaleks commented on #910
+1 Same for us. I guess the sandbox server is down.

[2018-10-24 14:30] crookedneighbor opened #911 "Stuck at Logging in Loading Screen in Sandbox"
### Description

When logging into a paypal account in Sandbox, it gets stuck at the Logging in spinner. Eventually it times out.

When attempting again, it skips the login step and goes straight to the spinner page.

- Screenshots or videos that show the issue
<img width="562" alt="screen shot 2018-10-24 at 9 26 43 am" src="https://user-images.githubusercontent.com/2916945/47437834-f618e080-d76e-

[2018-10-24 14:31] crookedneighbor commented on #911
Possible duplicate of https://github.com/paypal/paypal-checkout/issues/910

[2018-10-24 14:32] crookedneighbor commented on #911
Console log within popup window:

<img width="880" alt="screen shot 2018-10-24 at 9 31 57 am" src="https://user-images.githubusercontent.com/2916945/47438239-b3a3d380-d76f-11e8-9b38-5538be40fe8a.png">

[2018-10-24 14:33] crookedneighbor commented on #911
Definitely a duplicate, server response with 500:

[code]

[2018-10-24 14:33] #911 closed

[2018-10-24 14:33] crookedneighbor commented on #910
Another report here: https://github.com/paypal/paypal-checkout/issues/911

[2018-10-24 14:52] Niceplace commented on #910
Same here, our automation test suite continously fails:

[code]

[2018-10-24 17:43] kgrosvenor commented on #910
Seems to be back now 🤟

[2018-10-24 19:05] mcntsh commented on #910
I'm closing this out because it seems to be related to some downtime on Sandbox that is now resolved.

[2018-10-24 19:05] #910 closed

[2018-10-24 19:07] mcntsh commented on #812
Demo is added!

[2018-10-24 19:07] #812 closed

[2018-10-24 20:13] mcntsh commented on #846
@unnivm Glad you figured out a way around it. If you are experiencing issues with your account, definitely reach out to [Merchant Technical Support](https://developer.paypal.com/support/). Closing this for now since this particular problem seems unrelated to Checkout.js.

[2018-10-24 20:13] #846 closed

[2018-10-24 22:58] #897 closed

[2018-10-24 23:01] #889 closed

[2018-10-24 23:02] bluepnume commented on #874
Pretty sure the problem here is `invoice_number`. It needs to be unique for each new transaction.

[2018-10-24 23:02] #874 closed

[2018-10-24 23:04] bluepnume commented on #841
Thanks for the thread. We're actually spending a good amount of time revamping the docs on developer.paypal.com, and moving all docs out from github to there. So watch this space!

[2018-10-24 23:06] bluepnume commented on #838
@vishakha94 could you follow up on this one?

[2018-10-24 23:07] #847 closed

[2018-10-25 02:19] joshgreenwell commented on #877
Hi, I will follow up with this, but to help ease any concerns, https://www.paypal.com/tagmanager/pptm.js?id=yourwebsite.com&t=xo returns a blank js file if a merchant hasn't opted into PayPal marketing solutions (https://www.paypal.com/us/webapps/mpp/paypal-marketing-solutions). The cookies you notice are default PayPal cookies, which are loaded whenever the PayPal domain existing on the page (suc

[2018-10-25 09:29] raRaRa commented on #877
Thanks for the response @joshgreenwell  - much appreciated.

What I find odd is that this import statement:
```import paypal from 'paypal-checkout'```

will add this script to the page:
```<script async="true" id="xo-pptm" src="https://www.paypal.com/tagmanager/pptm.js?id=react.slidesome.com&amp;t=xo"></script>```

I would expect this script to only be present when I'm actually using PayPal, e.g.

[2018-10-25 09:42] bharatranpariya commented on #719
I got same error. any help on this ? is there any issue at our side ?

[2018-10-25 11:09] florinmoqups commented on #719
`{"ack":"error","message":"Unhandled api error","meta":{"calc":"808d42a7e36a6","rlog":"7KSbBC9OtfFUbheAZYBtgInTI0i7Ufd6v0UzhvWAxrDbFGPtmYzn9DXwXfiY4tUDxmpYJRZViK7rWo7KfEgKiw_166aae51696"},"server":"QPMzfJ13U4fLQ6p_HaS6p7AVUl1yHwhkmTZN09NTS0J-_BAeBrf8DdiYiF4FWQ7H4EWJUrjvty-8dpKsoiZ7rsZ3HCddpHhPHp0lWhiKnSRVsERaFz9DUaGa4hySMjVFdbd0P5btN5LUPuzieKca9HkIhCUKGF19QCIGHAeOQRH7abkqZOzucv6Q5UP9i8kxX8ahbq3Fwd

[2018-10-25 11:30] lotsofdan opened #914 "Unhandled API error"
Set Buyer returns:
`{"ack":"success","data":{"eConsent":{"ack":"success","data":{"required":false},"meta":{"calc":"220a521696e4d","rlog":"dDWhi9MDnnpHvbTDE3CGQThDPJxLLyVCyLwydHLwFL6ZZn1DwPdPfea%2FUb%2FWO%2Ff0BB56x7ASFvrfJQvH%2FfOATA_166aaf25f8d"},"server":"SriJGE3Lr5_bwVMqHAXvUOdzri0aYQMy95aHRUuaSrDLr2unR5SUm7-8wUstfA9--5LHWfF6OWMtUzkGMHqLkHd5KQ05W8fddB7uJj_M_S-WmNGcroFnPGfCyLc0ERbhTViRAAve5J9CGP-

[2018-10-25 11:52] iaaflaafc opened #915 "'No certificates found' message is shown in Chrome on Android"
### Description

I am using `paypal-checkout` in my web app.
In Chrome 69.0.3497.100 on Android, the following message is shown when the web app loads
![image](https://user-images.githubusercontent.com/34213562/47497824-f3a2ad80-d878-11e8-9af3-7298a69df3a6.png)

This message is not shown in Chrome on MacOS or in Firefox on MacOS.

version of `paypal-checkout` - `4.0.228`.

Can anyone help me how t

[2018-10-25 13:01] florinmoqups commented on #719
It is working now for me. Probably something was not right on Paypal sandbox infrastructure.

[2018-10-25 13:08] lotsofdan commented on #719
Can confirm, we're back :1st_place_medal:

[2018-10-25 13:09] #914 closed

[2018-10-25 14:42] UnaEcwid opened #916 ""Сontacting the merchant to update your shipping address" error message when trying to pay with PayPal"
### Description

Customers are not able to place an order: they try to pay with PayPal and get this error: "Сontacting the merchant to update your shipping address". Some payments may successfully go through and appear in PayPal accounts, but orders won't be placed in Ecwid stores.

http://take.ms/AwE4Q

1) Open https://store15436277.ecwid.com/, add a product to the shopping bag and proceed to che

[2018-10-25 17:37] mcntsh commented on #916
Hey @UnaEcwid,

Could you please post your integration code?

[2018-10-25 18:41] simonaberry commented on #916
We are seeing exactly the same issue with checkout.js 4.0.228, started today.

[2018-10-25 18:45] mcntsh commented on #916
We've identified the issue and are rolling out a fix. Thanks for your patience, guys.

[2018-10-25 20:47] joshgreenwell commented on #877
Are you importing PayPal at the top level of your app or just on your checkout component/page?
This could affect where the script is getting injected.

I will check with the team and do a test myself.

[2018-10-26 03:46] ChesterEcwid commented on #916
I've checked - it's working correctly now, thanks!

[2018-10-26 09:29] raRaRa commented on #877
The import statement is only present in the checkout component. I could probably fix this with code splitting, but I can't use it for my project at the moment.

[2018-10-26 19:56] bill-z opened #920 ""Buy Now" button does not present a "guest" flow option when cards (funding icons) are enabled."
I'm using an unbranded "buy now" button with the cards displayed.
(label: 'buynow', fundingicons: true, branding: true)

With past versions, after pressing the "Buy Now" button, the modal presented a choice of paying with an account or a "guest" credit card checkout flow without an account.

With 4.0.229, after selecting "buy now" the modal presents only two options:  sign in, and enter a card to

[2018-10-27 16:17] tullera commented on #599
I see some commits related to the callback feature, but can't tell if it's released and/or documented anywhere. Any hints on where you're at with this? Would be great to have this for the holidays.

[2018-10-29 06:35] godhand1607 commented on #471
It seems that the `onEnter` event is more reliable

[2018-10-30 05:50] SUNAnne opened #921 "How to replace the paypal payment amount with the order number"
<img width="976" alt="2018-10-30 1 50 23" src="https://user-images.githubusercontent.com/39116039/47698577-ce33ec00-dc4a-11e8-952d-538911548005.png">

[2018-10-31 11:35] lucius-pl commented on #920
Experienced the same issue.

[2018-10-31 19:11] ppnsanders opened #922 "Cannot read property 'catch' of undefined error when clicking Visa/MC buttons"
### Description

Please provide a short description of the issue here, along with:

When clicking the Visa/MC buttons under the button I'm getting the following error in the console:

[code]

### Steps to reproduce

Provided directly to @khanghoang.

### Affected browsers

- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [ ] IE
- [ ] Chrome Mobile/Tablet
- [ ] Safari Mobile/Tablet
- [ ] Web Vi

[2018-11-01 17:26] avinashlitmus7 opened #923 "Trigger paypal iframe on click of custom button"
### Description
Is it possible to trigger Paypal iframe on click of a custom edit button on our website

We are using Paypal for our checkout process. On the review step of checkout , we have an EDIT button. Is it possible to trigger the Paypal iframe window when we click EDIT button ?

[2018-11-01 19:15] ppnsanders opened #925 "Lightbox opening when opened in a mini-browser."
### Description

Please provide a short description of the issue here, along with:

When opening a browser via JavaScript and showing the PayPal buttons in the new window when the PayPal button is clicked a lightbox opens showing "Something went wrong".

### Steps to reproduce

Information provided directly to @mcntsh

### Affected browsers

- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [ ]

[2018-11-02 08:46] PWaddict opened #928 ""Powered by PayPal" causing blank space"
@bluepnume On "vertical" layout when the size is "responsive" the "Powered by PayPal" under credit cards icons is getting hidden but it's space still remains.

Here you can see the issue:
![paypal-credit-cards](https://user-images.githubusercontent.com/23142666/47902887-8f40a900-de8b-11e8-9d23-c4b3e5f8f2f9.jpg)

Here I disallowed the credit cards and there is no blank space:
![paypal](https://user

[2018-11-02 21:16] #916 closed

[2018-11-02 23:17] ppartheeban opened #930 "Duplicate Payment Methods.. Instrumentation issue?"
### Description

Please provide a short description of the issue here, along with:

I could see the eligible_payment_methods with 7+ instruments

cntxt_cre_dt | rcvr_id | referer_url | cntxt_id | button_session_id | eligible_payment_methods
-- | -- | -- | -- | -- | --
2018-10-28 | 1782959041886202281 | http://www.bbhc.com | EC-1PX079304A090702X | 5320e53843_ga2dumjshi2ta | paypal:visa:visa:masterc

[2018-11-05 07:48] raRaRa commented on #877
Hi @joshgreenwell. Any update on this? Thanks.

[2018-11-05 10:30] raRaRa commented on #471
@godhand1607 Thanks, I wasn't aware of that event! Works a lot better, since `onEnter` is called when the invisible class is removed. Perfect.

[2018-11-05 19:11] mcntsh commented on #925
There have been a couple attempts at fixing this bug! [This PR](https://github.com/paypal/paypal-checkout/pull/929) should solve it, though, and it will be out in the next release.

[2018-11-05 19:28] mcntsh commented on #923
Hey @avinashlitmus7, unfortunately we do not expose any sort of API to trigger the pop-up other than a click on the button.

[2018-11-06 00:00] lucius-pl commented on #479
Any ETA?

[2018-11-06 00:41] mcntsh commented on #928
Duplicate of https://github.com/paypal/paypal-checkout/issues/830

[2018-11-06 00:41] #928 closed

[2018-11-06 00:50] mcntsh commented on #828
@matthieu-D I am going back through old tickets. I believe this issue has since been solved... can you confirm?

Thanks!

[2018-11-06 00:54] mcntsh commented on #894
Adding this is contingent upon some additional error handling logic within Zoid. I have a PR open which calls the `onError` prop if any errors are thrown in your validators.

[2018-11-06 01:32] mcntsh commented on #793
Hey @satyamallya I can also repro this issue. I've taken it to an internal team and will update this ticket when a fix is out.

[2018-11-06 17:17] joshgreenwell commented on #877
Hello, sorry for another delay.
I am currently discussing with the team to add an option to turn off pptm calls.
In the meantime, it won't affect GDPR as the script that is loaded is a noop.

[2018-11-06 18:04] mcntsh commented on #920
Hey guys, this is intentional. The goal here is to present the buyer with the flow they've intentionally chosen. Clicking a card button will open up guest checkout, and the PayPal button will open member/signup. In layouts where the cards are not displayed, the PayPal button will act as a catch-all and the buyer will be presented the option to checkout as a guest once they're in the Checkout flow.

[2018-11-06 19:32] lucius-pl commented on #920
Thank you for clarification. Much appreciated.

[2018-11-06 22:18] mcntsh commented on #831
Hey guys,

*Really* appreciate you reporting all of your findings and being patient with me to follow up. I know it's been a while but there were a few things going on behind the scenes that we needed to address in order to fix this particular issue.

As you all have realized, the Payment GET API call was failing after execute. The `actions.payment.execute` method returns the payment object as @st

[2018-11-06 22:18] #831 closed

[2018-11-06 22:32] #830 closed

[2018-11-06 22:37] mcntsh commented on #769
This bug is fixed at last! Response here: https://github.com/paypal/paypal-checkout/issues/831#issuecomment-436429606

[2018-11-06 22:37] #769 closed

[2018-11-06 23:06] #920 closed

[2018-11-07 00:34] dpolivy commented on #447
@bluepnume Any updates on getting a fix for this? I'm also hitting it with my recently deployed CSP, and it's a very noisy error (we're reporting CSP errors for logging). I am using this via Braintree's Web Drop In, if it matters.

[2018-11-07 19:11] #923 closed

[2018-11-07 19:17] mcntsh commented on #767
@trainerbill Is this still happening? I just tried to repro on sandbox from the demo app by doing a guest checkout and I never hit the `onCancel` callback.

[2018-11-07 19:18] mcntsh commented on #601
Duplicate of https://github.com/paypal/paypal-checkout/issues/845

[2018-11-07 19:18] #601 closed

[2018-11-07 19:20] mcntsh commented on #476
Hey @trainerbill, I know this is a really old issue. This use-case is going to be covered by the Callback API feature which should be released soon :)

[2018-11-07 19:20] #476 closed

[2018-11-07 20:33] trainerbill commented on #767
@mcntsh the issue in the past was that any errors in Xoon would call the onCancel callback.  So you have to actually force an error in Xoon.  The easiest way to do this is to use the 4111-1111-1111-1111 card number.  It looks like now they added a little error screen that says try again or return to merchant.  However when you click return to merchant it does go to onCancel, which may be appropria

[2018-11-07 22:59] mcntsh commented on #845
Should be fixed with our latest release ([v4.0.233](https://github.com/paypal/paypal-checkout/tree/v4.0.233))! I just verified on our demo app that this is no longer happening.

Thanks for the report. If this issue crops up again please open up another ticket.

[2018-11-07 22:59] #845 closed

[2018-11-07 23:11] mcntsh commented on #894
With our latest release ([v4.0.233](https://github.com/paypal/paypal-checkout/tree/v4.0.233)), all errors thrown in validation will now also pass through `onError`, including the _IE intranet mode_ error. Can you confirm this is the case for you?

[2018-11-07 23:22] #925 closed

[2018-11-08 00:58] cbathgate opened #942 "Overlay does not close upon onAuthorize, IE 11"
### Description

Please provide a short description of the issue: **PayPal overlay does not go away after user hits "Agree & Continue" on the PayPal pop-up. The PayPal pop-up goes away, but the overlay doesn't. IE 11 only.**

Screenshots or videos that show the issue:
<img width="1436" alt="screen shot 2018-11-07 at 5 04 32 pm" src="https://user-images.githubusercontent.com/20331607/48171103-40da4

[2018-11-08 07:57] bstubbs commented on #139
In a previous post it stated that: "validate() would be called multiple times. It would happen when the button is first rendered, then at intervals after that, and on keydown, unfocus etc. events on the parent page. That way the button can keep a running status on whether the form is valid."

I've put console.log("test") in validate:, and it shows up in the console on page load, but never again. N

[2018-11-08 09:36] lucius-pl commented on #139
As a workaround you can apply the following CSS class to the div container for Paypal button, if a form is invalid:
[code]
Thanks to that, a user cannot click the button and it looks like disabled.

![obraz](https://user-images.githubusercontent.com/32222858/48189855-6ca60880-e341-11e8-9d15-43b737d56bca.png)

[2018-11-08 12:39] peterbaral commented on #831
Thanks for taking care of this issue!
While it's nice to have it finally fixed, @stephen-last's workaround helped us to re-enable Paypal payments on our web site some weeks ago.
Before we had to turn off Paypal for more than a month, which is problematic to say the least. Luckily we had some other payment options for our customers.

Better and more consolidated documentation would help a lot.

[2018-11-08 16:35] trainerbill commented on #139
@bstubbs set actions as a global variable then you can use it outside of the validate callback.

[2018-11-08 20:11] mcntsh commented on #942
Hey @cbathgate,

Could you perhaps provide some details on what these functions do within the `onAuthorize` callback? If there is any synchronous code in here that blocks the thread this could be the source of the issue.

To give you some background, we look for a response from that `onAuthorize` callback. If you return void (like above), or a non-promise we will resolve the callback immediately,

[2018-11-08 20:56] mcntsh commented on #767
OK understood. It looks like the guest flow does indeed forward error paths during onboard to `/checkout/genericError` and the `onCancel` callback is only being called after the return-to-merchant link is clicked. I'm not seeing any other references to this callback in Xoon to `onCancel`, so I'll close this out. If the issue pops up again we can reevaluate 👍

[2018-11-08 20:56] #767 closed

[2018-11-08 22:17] mcntsh commented on #894
I just tested in IE 11 Intranet Mode and I did hit the `onError` callback 👍.

[2018-11-08 22:17] #894 closed

[2018-11-09 01:16] cbathgate commented on #942
Thanks for getting back to me. So you are expecting a promise to be returned? So I updated the code and wrapped everything in the onAuthorize in the promise and returning that promise. I am still seeing the same errors in the console, and the overlay is not disappearing on IE:
[code]

[2018-11-09 02:45] cbathgate commented on #942
ok, so when I refactored a bit, I was able to get IE to work and the errors to disappear. Now there is only one function in `onAuthorize`
[code]
Is there documentation that specifies what `onAuthorize` is expected to return?

[2018-11-09 17:35] ziyadparekh opened #944 "How is the `payment` function called when using `paypal.Button`?"
This is more of a question, but I'm trying to figure out where in the codebase the `payment` function prop is called. In the documentation it says that the function is called when someone clicks the button, but in the component definition inside `/button.component.jsx` I could find the appropriate logic to figure out where the prop was being invoked.

Can someone point me in the right direction?

[2018-11-09 18:06] cbathgate commented on #942
Background on the functions inside the original `onAuthorize` : they are actions that update our redux state. `this.props.resetPaymentProfile` sets a property to null, `this.props.setToken(data.paymentToken)` sets a property to a new string, and `this.props.setPaymentProfileFormMode` sets a property to a new string. I timed this, and these three actions averages to about 100ms total. How would tha

[2018-11-09 18:19] #921 closed

[2018-11-09 18:36] mcntsh commented on #944
Hey @ziyadparekh,

We attach a click event to the button on the child page, which is the page inside of the iframe that renders the button. If you take a look at the zoid [Quick example](https://github.com/krakenjs/zoid#quick-example) section you'll see how this is done: A button is rendered on the child page, and we call a function prop passed down from the parent when it's clicked.

In PayPal ch

[2018-11-09 18:52] mcntsh commented on #942
Documentation is still a work-in-progress! We are spending a good amount of time revamping them to provide more clarity around these callbacks, so I apologize that they are a bit of a "black box" right now.

Thanks for the info about your functions. I'm going to set up my own instance with Redux and see if I can replicate this.

[2018-11-09 18:56] cbathgate commented on #942
Thank you so much @mcntsh . Looking forward to see what you find

[2018-11-09 21:03] ziyadparekh commented on #944
Opening this up again because I have a follow up question. How does the click event on the button open an external popup to the checkout page? Is that using zoid again inside the button component to control the popup?

[2018-11-09 21:46] mcntsh commented on #944
We render _another_ zoid component from within the child page :-). So we pass the props from the parent page down to the child page where the buttons are rendered, and then when you click the button we render another component – this time through a pop-up – onto the parent page using [`renderTo`](https://github.com/krakenjs/zoid/blob/master/docs/api.md#componentrendertowin-props-container).

[2018-11-09 21:50] ziyadparekh commented on #944
thats what i thought. Thank you! closing now

[2018-11-09 21:50] #944 closed

[2018-11-09 22:55] mcntsh commented on #942
Alright I have a suspicion about what's going on... is either `resetPaymentProfile` or `setPaymentProfileFormMode` causing the button template to re-render? If so we lose that communication between the parent and child component.

That being said, we should be performing a clean-up when this happens and the overlay should definitely close. I'll have to do some digging to see what's going on in IE1

[2018-11-09 23:20] cbathgate commented on #942
yes, you know what, `setPaymentProfileFormMode` is causing that re-render. I will go ahead and test moving just that action to another part of our application and see if that does the trick. And thank you for investigating the IE 11 portion of the issue in the meantime

[2018-11-10 00:04] cbathgate commented on #942
Confirmed, that was the issue. Now the errors are no longer present in all browsers, and we no longer have the frozen overlay problem. Looking forward to hearing why the clean-up wasn't happening in IE

[2018-11-12 09:45] cpro90 commented on #699
@natanaeladit We are facing exactly the same error using paypal checkout from a PWA - ios AND android. It worked fine a couple of weeks ago.

It does not seem there is a fix right now.

[2018-11-12 11:29] mouadrouass opened #945 "Paypal not working on Edge"
Hi,

We noticed that Paypal is not working on Edge the the way it should be.
After clicking on Continue, I see this issue below.

![paypalexampledomain](https://user-images.githubusercontent.com/7428313/48344674-02110780-e676-11e8-8d7f-e74fb548137b.PNG)

Please note that we are using sandbox.paypal.com with Microsoft Edge version
Microsoft Edge 41.16299.726.0
Microsoft EdgeHTML 16.16299

Can you p

[2018-11-12 20:02] mcntsh commented on #892
Hey @leotm,

The reason why you are getting `Cannot read property 'createClass' of undefined` is because you're no longer assigning `React` to your window object, but you're referencing from there. Can you remove that and try again?

[2018-11-12 23:05] 719media commented on #684
Hello paypal team @bluepnume @vishakha94 , any update on this? Is it something the paypal team is interested in considering? Thanks

[2018-11-12 23:56] 719media commented on #684
It looks like buttons support height within a range of values now:

https://developer.paypal.com/docs/checkout/how-to/customize-button/#button-styles

seems promising!

[2018-11-13 01:08] vishakha94 commented on #684
Thanks @719media.

[2018-11-13 08:08] benzookapi opened #946 "Error after clicking the continuing button in IE"
### Description

Our partner said once they click "continue" in PayPal checkout page in IE, the attached error message shown and cannot proceed it.

- Screenshots or videos that show the issue
![image](https://user-images.githubusercontent.com/899580/48399108-0ddbf700-e766-11e8-91cb-3131a49feb97.png)

This looks the similar error https://github.com/dfahlander/Dexie.js/issues/365

- Your code
- The

[2018-11-14 15:46] natanaeladit commented on #699
@cpro90 what is the best way to handle it? should we submit a new issue or?

[2018-11-14 16:04] cpro90 commented on #699
I removed all access from standalone/PWA to Paypal. Bitter. But I do not see another solution than waiting for official bugfixes yet.

[2018-11-14 18:21] mcntsh commented on #946
Hey @benzookapi, I can't access the site you've linked to reproduce, it seems to be behind a login.

[2018-11-14 23:34] mcntsh commented on #828
Closing this out. If this pops up again for you please feel free to re-open the issue!

[2018-11-14 23:34] #828 closed

[2018-11-15 01:17] benzookapi commented on #946
@mcntsh Oh sorry...  the basic auth is  test_paypal/vm!8nHSX

[2018-11-15 14:35] paglias opened #948 "Billing Agreement support"
it looks like billing agreements aren't officially supported by the paypal checkout client side script but looking at many issues on this repo it looks like it could be working anyway?

We're currently using the `paypal-rest-sdk` npm package to create a billing agreement and then execute it using a redirect experience. We would like to switch to the checkout experience (with the popup) but it's no

[2018-11-16 00:12] mcntsh commented on #946
It appears that this error is happening inside the `paypalPostAction` function after the `onAuthorize` callback. I don't believe this is happening from the Checkout.js side.

[2018-11-16 01:18] benzookapi commented on #946
@mcntsh  Thank you for quick reply.  OK,  I will feedback this to the reporter.

[2018-11-16 11:04] chulerias opened #949 "Cannot conclude a payment with version 4.0.215 (after 15/11/2018)"
### Description
We are running an angular 6 e-commerce application that uses paypal-checkout module to manage paypal payments.

While yesterday (14-11-2018) everything was working properly, today we realised that it was impossible to pay with paypal since an error showed up every time we tried to conclude a payment (There was a system error. Try later).

Since we couldn't identify an specific prob

[2018-11-16 21:40] mcntsh commented on #946
No problem! Feel free to re-open if something else comes up.

[2018-11-16 21:40] #946 closed

[2018-11-18 17:49] Joe45M opened #952 "Pay with debit or credit card - closes upon "continue""
Hello!

Sorry to be of bother, but I believe i have run into an error which I am unable to fix.

## description
We're using PayPal Checkout (https://www.paypalobjects.com/api/checkout.js), and when a user opts to  "Pay with Debit or Credit Card", we're given a strange error. Upon being taken to PayPal Guest Checkout and filling out the required forms, then pressing Continue, paypal closes and logs

[2018-11-19 01:14] AlexWayfer opened #953 "Allow to pass `FormData` as `data` for requests"
### Description

Please, allow to pass [`FormData`](https://developer.mozilla.org/en-US/docs/Web/API/FormData) for `actions.request.post`.

You have [code for `Object`](https://github.com/paypal/paypal-checkout/blob/5cb32864e8699793bd80853cee112082bbdf5413/src/lib/http.js#L136-L140), but `FormData` has its own functions (iterators).

It's supported by native `XMLHTTPRequest` and `fetch`.

#### Scr

[2018-11-19 10:50] Props0 commented on #595
it pass some time, but this feature is not yet implemented ? i have the same problem using a web kiosk

[2018-11-19 18:10] #952 closed

[2018-11-19 18:23] mcntsh commented on #949
Hey @chulerias, we did face an issue that we hotfixed on old versions. Were you integrated through Braintree, by chance?

[2018-11-19 18:29] mcntsh commented on #892
Closing for now. Please feel free to re-open this issue if there's an update from your side.

[2018-11-19 18:29] #892 closed

[2018-11-19 18:40] mcntsh commented on #942
Following up here -- I haven't forgotten about this!

Fixing this bug will most-likely require changes to [`cross-domain-utils`](https://github.com/krakenjs/cross-domain-utils/blob/master/src/utils.js#L425). It appears as though in certain cases, `isWindowClosed` is not returning `true` after the Checkout window is cleaned up which prevents the other clean-up tasks from happening. This is trickier

[2018-11-19 19:42] vuvutestaccount commented on #878
Hello,

I have a merchant using Microsoft Edge version 41.16299.726.0 (Microsoft Edge HTML 16.16299)
and has come across a similar issue. After signing into PayPal, the incontext window doesn't close and instead, redirects the customer back to the merchant's checkout page in the incontext window. This can be tested by adding the following item to the cart and signing into the website using the bel

[2018-11-19 19:45] vuvutestaccount commented on #824
Hello,

I have a merchant using Microsoft Edge version 41.16299.726.0 (Microsoft Edge HTML 16.16299)
 and has come across a similar issue. After signing into PayPal, the incontext window doesn't close and instead, redirects the customer back to the merchant's checkout page in the incontext window. This can be tested by adding the following item to the cart and signing into the website using the be

[2018-11-19 20:32] paglias commented on #948
thanks @mcntsh !

[2018-11-19 22:20] maxisam commented on #872
I used the same way paypal.Button.render ....

The error message for invalid address is kinda unclear. I use braintree-web with paypal. The error message is like

**PAYPAL_INVALID_PAYMENT_OPTION **

it doesn't really indicate it is an address error.

Braintree does return full error however, paypal-checkout seems like removing some error details.

Could you guys improve the error handling?

Full e

[2018-11-19 22:30] trainerbill commented on #872
@maxisam are you using the client side integration pattern, calling actions.payment.create in the payment callback?  If so then you can see the exact error in the network tab when the XHR is called.

[2018-11-20 12:51] chulerias commented on #949
Actually yes, we were integrated through Braintree...

El lun., 19 nov. 2018 a las 19:23, Jon McIntosh (<notifications@github.com>)
escribió:

[2018-11-20 14:52] maxisam commented on #872
Well, braintree throw an error that is clear, but when it bubbles up to PayPal, PayPal doesn't preserve the detail of the error. You guys should work together to handle errors better.

[2018-11-20 17:11] mcntsh commented on #949
We had an issue that affected Braintree integrations on older versions of Checkout.js, but late last week we patched these old versions to preserve backwards compatibility. This issue _should_ be resolved for 4.0.215 now.

[2018-11-21 07:41] chulerias commented on #949
Cool, that's good news. Thanks.
In addition to this... is there a way to let us know everytime you release
a new versione of the module? mail list or something?

El mar., 20 nov. 2018 a las 18:11, Jon McIntosh (<notifications@github.com>)
escribió:

[2018-11-21 12:17] L17826879707 opened #955 "landing with flash bottom and loading in react-native webView"
### Description
- Screenshots or videos that show the issue
[issue video.zip](https://github.com/paypal/paypal-checkout/files/2604123/issue.video.zip)

- The `paypal.version` from your browser console
4.0.235
- Does the issue occur consistently, or intermittently?
consistently in ios

### Affected browsers
react-native webView

[2018-11-22 01:08] cheryjose opened #956 "A null text is displayed above the paypal button in Edge browser"
### Description

In Edge browser v42.17134, getting a text ‘null’ above the paypal button, using checkout.js
This is happening in sandbox environment, we haven't promoted our change to production because of this issue.

- Screenshots or videos that show the issue

![null text in edge](https://user-images.githubusercontent.com/3930293/48875925-a0e7f180-ee36-11e8-830a-e2f7286d1aa4.png)

- The `paypa

[2018-11-22 02:27] sshimizupp opened #957 "PayPal button won't start incontext checkout with Compatibility view mode and X-UA-Compatible"
### Description

PayPal Checkout button is shown but won’t when clicked work with Compatibility view mode and X-UA-Compatible, showing this message on console. I waited for a minute, but I still get the same.

- paypal.version: 4.0.235
- IE11
- The site that shows PayPal button is added in Compatibility View in IE11.
- The site has <meta http-equiv=“X-UA-Compatible” content=“IE=edge” />
- paypal.i

[2018-11-22 03:43] haohualiangshi opened #958 "Input password page bottom popup on Phone;Implement a PayPal Checkout Server Integration"
**I use a PayPal Checkout server integration for my app;The HTML copy from this  [docs](https://developer.paypal.com/docs/checkout/how-to/server-integration/#1-set-up-your-client-to-call-your-server);In my app I use WKWebview load this html;but when I open paypal password page;the bottom is popup;**

![20181122_113829](https://user-images.githubusercontent.com/19658421/48880472-9b48d680-ee4b-11e8-

[2018-11-23 09:53] SCPhilippHolzmann opened #959 "Edge: Login appears and paypal redirect to the cancel website"
### Description

On the Edge Browser, if the paypal login mask comes up, the website redirect to the cancel URL without any user action.

- Screenshots or videos that show the issue
![paypalissue1](https://user-images.githubusercontent.com/35449774/48936506-6bf99e80-ef0b-11e8-9fa3-1024640ca9bf.png)
![paypalissue2](https://user-images.githubusercontent.com/35449774/48936513-6ef48f00-ef0b-11e8-9e28-

[2018-11-26 02:26] mahdiridho opened #960 "Payment list request returns wrong payment items"
### Description
I have the shop run client REST API for payment checkout over 1 year. Everything works well untill yesterday I got a strange issue when request the payment list :

`curl -v "https://api.paypal.com/v1/payments/payment?count=4" -H "Content-Type: application/json" -H "Authorization: Bearer SESSION_TOKEN"`

I can see 4 payment items on the list of the API response. However the list ite

[2018-11-26 15:42] kakopappa commented on #356
over one year now.. seems still same? I am still getting this error

 Uncaught Error: Error: Request to post https://www.sandbox.paypal.com/v1/payments/payment failed with 401 error. Correlation id: eea0a7179fded, eea0a7179fded

{
    "name": "AUTHENTICATION_FAILURE",
    "message": "Authentication failed due to invalid authentication credentials or a missing Authorization header.",
    "links": [

[2018-11-26 22:39] cbathgate commented on #942
Thank you for the follow-up: looking forward to the fix

[2018-11-27 00:43] mcntsh commented on #956
Hey @cheryjose,

With this issue it would certainly be best for us to try and reproduce this ourselves. If you feel comfortable, you can send me the web page and login: jmcintosh@paypal.com

[2018-11-27 06:03] Pikamander2 commented on #356
@kakopappa  - Same here. This issue reappeared today with the exact same symptoms (intermittent 400 and 401 errors).

Just like before, the same thing can be observed on https://developer.paypal.com/demo/checkout/#/pattern/buynow , so it's not on our end.

@bluepnume - Any chance you could reopen this issue since it's the same problem as before?

[2018-11-27 09:13] jackkinsella commented on #479
This lack is just... shocking.

[2018-11-27 10:57] raRaRa commented on #727
Hi @adamlcolson - where can I find the client-side part of the integration on https://developer.paypal.com/docs/subscriptions/ ?
Is the chekout.js solution identical to payments, e.g. instead of creating a payment I create an agreement, and instead of executing a payment I should execute an agreement?

Because in the client-side solution, I need to specify payment (POST to create payment) and onAu

[2018-11-27 11:33] raRaRa commented on #948
Hi @mcntsh - Is it possible to use the client-side + server-side solution with paypal-checkout? E.g. could I use onAuthorize to call my server-side endpoint that creates an agreement, instead of a payment?

[2018-11-27 14:50] yurii-github commented on #669
your sandbox is lame guys

i have this error randomly - probably you have some real issue with token re-use or soft delete, or whatever you do there.

[code]

maybe i did something wrong, but i doubt it

regards

[2018-11-27 15:24] trainerbill commented on #669
@yurii-github I have reported the issue and will let you know when its resolved.

[2018-11-27 15:32] vikasd989 opened #961 "Paypal lightbox raise error on some devices"
### Description
 Error showing on the top of the checkout button
http://gearbubble-dev.s3.amazonaws.com/vendor_product_images/attachments/547/preview/paypal_error.jpg

### Steps to reproduce
1. Purchase this product with payment method paypal:
https://www.gearbubble.com/bff-sister-plus-0627

2. On checkout page click 'Paypal checkout' button. Error is produced.
### Affected browsers

- [ ] Safari

[2018-11-27 16:19] yurii-github commented on #669
it's like playing hearthstone.. pure random
also, i've faced such error recently

[code]

for now it looks like this for me
![image](https://user-images.githubusercontent.com/1162656/49094751-a21e8180-f26f-11e8-9d0f-134217ba69a5.png)

it's random. 2 times failed on token, then on web-profiles.. then popup shows up. or it may not fail 3 times in a row.

anyway, thanks for ultra fast response. i'll

[2018-11-27 18:59] digggggggggg commented on #669
I've been having the same issue for a couple of days now, but it seems to work again when I clear all localStorage.

[2018-11-27 19:21] vishakha94 commented on #479
Thank you all for reaching out for this issue. We are currently working on figuring out which errors we can actually expose back to the client.
meanwhile, pls free to do server-side integrations that would give direct access to the errors. https://developer.paypal.com/demo/checkout/#/pattern/server

[2018-11-27 20:36] netoper commented on #959
i have same problem.

[2018-11-27 20:41] ppnsanders commented on #356
@kakopappa @Pikamander2 , I've filed a ticket on our side to resolve this intermittent issue.  I'll be sure to update the thread here when it's resolved.

CC: @bluepnume

[2018-11-27 23:30] vishakha94 commented on #961
@vikasd989 I tried to reproduce the issue on safari mobile browser and could not reproduce it.
-Is this error producing immediately after you click the PayPal button?
-Can you look at the console and see if you see any error?

[2018-11-28 08:33] zaakV8 commented on #510
Hello @bluelnkd , I am very new on this platform. Please help me get the above issue resolved. My paypal credit card payment option goes on and off and i cant figure out what the issue is.

[2018-11-28 19:50] mcntsh commented on #945
Hey @mouadrouass, I just made a purchase on your site using IE Edge and I was properly redirected from both the guest and member checkout flows. Is this issue happening intermittently or can you consistently reproduce?

[2018-11-29 00:34] mcntsh commented on #838
@elliotj1 Following back up on this. Do you have a website that we can repro on Edge?

[2018-11-29 00:43] mcntsh commented on #957
Hey @sshimizupp, the fact that the pop-up never happens makes me suspect you might be trying to render the button in Intranet Mode. Could you please check this page out and see if it helps you?

https://github.com/paypal/paypal-checkout/blob/master/docs/debugging/ie-intranet.md

[2018-11-29 00:46] mcntsh commented on #959
Hey @SCPhilippHolzmann,

I took your integration code and ran it myself in Edge, and was able to render the checkout without issues. We've had a few different reports for a similar issue so I appreciate any help you can give us so that we can get to the bottom of this...

You mentioned that you are able to reproduce this consistently. Are you getting any errors logged to your console? What about f

[2018-11-29 02:35] sshimizupp commented on #957
Hi @mcntsh, I'm aware of this intranet mode issue and this time is a different issue. The site is not in Intranet mode but added to Compatibility view mode.  I understand we don't support Compatibility view mode as IE works in IE7 mode, but when there is meta tag X-UA-Compatible IE=edge, it should disable Compatibility view mode, but when I click the button I see ppxo_button_pre_template_click. Se

[2018-11-29 18:51] elliotj1 commented on #838
https://www.dillards.com still has the issue

On Wed, Nov 28, 2018 at 6:34 PM Jon McIntosh <notifications@github.com>
wrote:

--
Jason Elliott

[2018-11-29 19:34] ppnsanders commented on #356
@kakopappa , @Pikamander2 , the ticket has been closed, this issue should now be resolved.

CC: @bluepnume

[2018-11-30 13:35] vankk opened #962 "A way to force checkout on load page"
Hello, how I can force the checkout after the page is loaded? The solution for my problem is to remove the Paypal Button Render and force it loads automatic after the page is loaded. I tried to Google it, but I couldn't find nothing.

Thank you.

Regards,
vankk.

[2018-11-30 14:37] SCPhilippHolzmann commented on #959
Hey @mcntsh

The Window with my site throws no errors and each request is successful.

I am not sure the Paypal Pop Window thorws no error because the Edge close the console right before the Login appears. Before and after there are no errors or failed requests on this window.

This is the Log from my Side. There are some errors but i think it has nothing to do with my Problem:
![2018-11-30 15_30_

[2018-11-30 14:45] SCPhilippHolzmann commented on #959
I made a clone from the internal dev server and take it to another server. I test the checkout and the problem does not appear. On the internal Server the Problem is still there.

[2018-11-30 18:51] mcntsh commented on #962
Hey @vankk, could you clarify what you mean by forcing the checkout? Are you talking about the button render, or are you trying to force the pop-up open without a click?

Just so you're aware, there is no way to open the Checkout flow automatically; the buyer must click on the button.

[2018-11-30 20:29] vankk commented on #962
Hello @mcntsh thank for you reply, I was meaning "forcing the Checkout" by forcing the pop-up without on the PayPal Button.

At my case the user select the amount and proceed, and, after that it is suppost to force the pop-up without the PayPal Button, so, if that won't be possible, I'll try to figure out another solution.

Thank you.

[2018-11-30 22:57] baybird opened #963 "Does it support Recurring Payment?"
### Description
Does this "paypal-checkout" package support Recurring Payment?

I know what need to do in the back-end for the recurring payment, but I can't find any documents regarding **how to integrate this 'paypal-checkout' (front-end application) with the back-end application for Recurring Payment?**

Have tried to call back-end API to create plan and activate plan in the front-end payment()

[2018-11-30 23:41] mcntsh commented on #962
No problem! :)

[2018-11-30 23:41] #962 closed

[2018-12-01 00:08] adamlcolson commented on #727
Hi @raRaRa. You will have to create a billing plan, a billing agreement, and then direct your customer to the approval_url in the create agreement response in order to get their approval. The final step is executing the agreement after getting the customer approval. See https://developer.paypal.com/docs/subscriptions/integrate/integrate-steps/#4-get-customer-approval

[2018-12-01 00:45] mcntsh commented on #959
@SCPhilippHolzmann I'm able to reproduce. Are you by chance accessing the PayPal Checkout through a corporate device?

[2018-12-01 00:47] mcntsh commented on #824
@vuvutestaccount we are looking into this. Can you tell me if you are accessing the checkout through a corporate device?

[2018-12-01 00:49] shekharparkhi commented on #824
++ Vu Tang

Regards,
Shekhar.
(PayPal Merchant Solutions Engineer)

On Nov 30, 2018, at 4:47 PM, Jon McIntosh <notifications@github.com<mailto:notifications@github.com>> wrote:

@vuvutestaccount<https://github.com/vuvutestaccount> we are looking into this. Can you tell me if you are accessing the checkout through a corporate device?

—
You are receiving this because you authored the thread.
Reply

[2018-12-01 04:18] baybird commented on #727
@adamlcolson It seems a lot of ppl seeking the answer of how to get the recurring payment worked with this paypal-checkout package without direct customer to the approval_url.

[2018-12-01 13:49] raRaRa commented on #727
I figured this out.

`payment={(data, actions) => this.createAgreement(data, actions)}`
Instead of creating a payment, I create an agreement in my service.

`onAuthorize={this.onAuthorize}`
And here I call execute agreement instead of execute payment in my service.

I just wasn't sure if I could use those with recurring payments, but it seems to work just fine.

[2018-12-03 13:16] vuvutestaccount commented on #824
Hello,

Yes I am. Although I'm using a corporate device to reproduce the problem, the merchant and their development team are experiencing the MS Edge issue on their side as well as they brought this to my attention to begin with.

The PayPal Express Checkout integration has been disabled by the merchant for MS Edge so if this needs to be re-enabled for testing, please let me know.

[2018-12-03 16:45] SCPhilippHolzmann commented on #959
@mcntsh I'm not sure what you want with "corporate device". I test my site with a coporate computer. The Internal Server is not available from the internet.

[2018-12-03 20:07] mcntsh commented on #959
@SCPhilippHolzmann To give you some more information, there is a bug with IE and Edge where the parent window can not properly communicate with a child that it outside of its security zone. I'm wondering if this is what you are running into.

The way that I was able to fix this was by removing sites from my *Trusted Sites* security zone that were added by default on my corporate computer. Please t

[2018-12-03 22:49] mcntsh commented on #945
Hey @mouadrouass there are quite a few reports mentioning a similar bug. Could you please see this comment on issue #959 and let me know if this solves your problem?This will help us keep track of which ticket is related to which bug, since the example.com redirect can happen for a few different reasons.

[2018-12-03 22:50] mcntsh commented on #878
Hey @vuvutestaccount  and @ppkarthik there are quite a few reports mentioning a similar bug. Could you please see [this comment on issue #959](https://github.com/paypal/paypal-checkout/issues/959#issuecomment-443851819) and let me know if this solves your problem?

This will help us keep track of which ticket is related to which bug, since the example.com redirect can happen for a few different re

[2018-12-03 22:50] mcntsh commented on #838
Hey @elliotj1 there are quite a few reports mentioning a similar bug. Could you please see [this comment on issue #959](https://github.com/paypal/paypal-checkout/issues/959#issuecomment-443851819) and let me know if this solves your problem?

This will help us keep track of which ticket is related to which bug, since the example.com redirect can happen for a few different reasons.

[2018-12-03 22:52] mcntsh commented on #824
Hey @shekharparkhi and @sukumaranj there are quite a few reports mentioning a similar bug. Could you please see [this comment on issue #959](https://github.com/paypal/paypal-checkout/issues/959#issuecomment-443851819) and let me know if this solves your problem?

This will help us keep track of which ticket is related to which bug, since the example.com redirect can happen for a few different reas

[2018-12-03 23:00] vuvutestaccount commented on #959
@mcntsh - this unfortunately does not resolve the problem as the developer has already tried this. We went down this route when I mentioned not to use intranet mode.

[2018-12-04 00:35] mcntsh commented on #959
@vuvutestaccount did the developer also remove their sites from the *Trusted sites* and other zones, not just Intranet?

[2018-12-04 07:43] SCPhilippHolzmann commented on #959
@mcntsh I tried to remove the internal site and all paypal.com sites. But the field are empty. I added for fun the internal server and the "https://www.sandbox.paypal.com" size to the trusted Sites and restart the Browser. After that the Paypal checkout does not cancel the payment. I think we can close the issue.

[2018-12-04 13:16] vuvutestaccount commented on #959
@mcntsh - yes they did. As mentioned, this was done when we also disabled intranet mode.

[2018-12-04 14:45] elliotj1 commented on #838
While [the comment on issue #959](https://github.com/paypal/paypal-checkout/issues/959#issuecomment-443851819) that you suggested did not solve our issue, [the comment a few messages down](https://github.com/paypal/paypal-checkout/issues/959#issuecomment-444002221) that mentions adding "https://www.paypal.com" to the trusted site list did fix it. Thanks for the help!

[2018-12-04 14:45] #838 closed

[2018-12-04 16:03] vishakha94 commented on #963
@baybird Can you please copy here the integration script you have used? Also, the EC-token in the URL when you get the error message?

[2018-12-04 16:07] vishakha94 commented on #961
@vikasd989 Tried the issue on an iPad safari and am unable to repro. CLosing the issue for now.

[2018-12-04 16:07] #961 closed

[2018-12-04 17:56] baybird commented on #963
I am using following script to integrate  "paypal-checkout" with recurring payment.

- The payment() method would call the CREATE_PAYMENT_URL endpoint to create a billing plan, activate it and create an agreement.

- The onAuthorize() method would call the EXECUTE_PAYMENT_URL  endpoint to execute that agreement after buyer approved it.

- Latest EC token is EC-2RK5964401035115L

**My questions are

[2018-12-05 07:31] SCPhilippHolzmann commented on #959
@mcntsh The two Servers are only in the Trusted Sites not in the Internal Sites. The Internal Sites are empty. The three Include Checkboxes of the Local Intranet are checked. Maybe, this settings help others.

[2018-12-05 18:50] mcntsh commented on #963
Hey @baybird,

We do not support EC Billing Agreements through Checkout.js, instead we recommend you integrate through [Braintree Vaulting](https://developers.braintreepayments.com/guides/paypal/vault/javascript/v3). This would be a strictly client-side implementation, and would look something like this:

[code]

[2018-12-05 20:50] bluepnume commented on #963
@trainerbill can you help @baybird with the process for getting approved for billing agreements?

[2018-12-05 20:52] bluepnume commented on #959
Closing this specific issue. @mcntsh will be updating the intranet documentation to reflect what we've found around both IE11 and Edge. Glad it's at least working for you now.

[2018-12-05 20:52] #959 closed

[2018-12-05 20:55] bluepnume commented on #957
If the site is in compatibility mode, there is no way for the PayPal button to work. Which mode do you see being enabled in the IE11 developer console?

[2018-12-05 20:57] bluepnume commented on #956
Closing this due to inactivity.

[2018-12-05 20:59] bluepnume commented on #960
Please raise a ticket at https://www.paypal-support.com/s/?language=en_US -- this repo is only for checkout.js issues and questions.

[2018-12-05 20:59] #960 closed

[2018-12-05 21:01] bluepnume commented on #958
Webviews are not fully supported. Please use a redirect integration instead, and redirect to a full browser window from your app.

[2018-12-05 21:01] #958 closed

[2018-12-05 21:17] cheryjose commented on #956
I have send email to @mcntsh with access details to our pre-prod environment? This is happening in IE also, can we reopen this issue.

[2018-12-05 21:19] bluepnume commented on #595
@walmik have there been any developments on this one?

[2018-12-05 21:29] #162 closed

[2018-12-05 21:30] #232 closed

[2018-12-05 21:30] #246 closed

[2018-12-05 21:30] #253 closed

[2018-12-05 21:30] #238 closed

[2018-12-05 21:31] #254 closed

[2018-12-05 21:31] #259 closed

[2018-12-05 21:31] #291 closed

[2018-12-05 21:31] #363 closed

[2018-12-05 21:32] #468 closed

[2018-12-05 21:32] #534 closed

[2018-12-05 21:33] bluepnume commented on #562
This is solved by the new payments sdk, in pilot. Return and cancel urls are now optional, and not used by the new integration.

[2018-12-05 21:33] #562 closed

[2018-12-05 21:34] #564 closed

[2018-12-05 21:35] bluepnume commented on #447
This is solved by the new payments sdk, in pilot. We will accept a nonce as a parameter. Will update here when it goes live.

[2018-12-05 21:35] #447 closed

[2018-12-05 21:35] #688 closed

[2018-12-05 21:37] bluepnume commented on #700
Closing this as there's no known fix. Calling `focus()` isn't working in Firefox; seems to be no way around that.

[2018-12-05 21:37] #700 closed

[2018-12-05 21:50] trainerbill commented on #963
@baybird If you haven't already you will need a billing plan id so execute:

https://developer.paypal.com/docs/api/payments.billing-plans/v1/#billing-plans_create

Then you have to activate the plan

https://developer.paypal.com/docs/api/payments.billing-plans/v1/#billing-plans_update

Then you will need to create a web service that executes the create billing agreement api

https://developer.payp

[2018-12-05 22:35] baybird commented on #963
@trainerbill @bluepnume Thanks. Just tried. Yep, it works with recurring payment.

So, it calls the back-end to creates an agreement with billing plan and returns the agreement token in the payment() method, instead of returning the billing plan ID.

[code]

It would be nice, if recurring payment can be mentioned in the [dev docs ](https://github.com/paypal/paypal-checkout#learn-more-in-our-dev-do

[2018-12-05 22:37] baybird commented on #963
Hey @mcntsh , thanks for the recommendation, I will try later.

[2018-12-05 22:37] #963 closed

[2018-12-05 23:13] bluepnume commented on #711
I believe this is fixed now. Please let me know if not.

[2018-12-05 23:14] #711 closed

[2018-12-06 01:13] walmik commented on #595
HI @Props0 and @joweste I discussed with @bluepnume and we did identify some options for the way forward. I ll let @bluepnume communicate on the ETA but by the looks of it, we ll have a solution that addresses all the concerns outlined here in this issue.

[2018-12-06 03:15] flatmax commented on #960
WE are still suffering from this problem.
Is there any reason why the items aren't being picked up ? I can see them in paypal, but they don't appear in the API

[2018-12-06 04:38] vishakha94 commented on #930
@ppartheeban Thanks for reporting this! This looks like a bug at our end. Basically, when we are picking the attribute elements off of HTML for tracking, we are getting duplicated from both <div> and <img>.

[2018-12-06 08:41] bluepnume commented on #885
Closing this as issue seemed to be with the merchant's site blocking the event loop. Please let me know if this is still a problem.

[2018-12-06 08:41] #885 closed

[2018-12-06 08:42] #840 closed

[2018-12-06 08:43] #915 closed

[2018-12-06 08:44] #303 closed

[2018-12-06 08:45] #597 closed

[2018-12-06 08:51] qetzal commented on #700
What about this suggestion from @fzan ?

[2018-12-10 06:30] bluepnume commented on #956
Can you confirm if the `null` is inside the paypal iframe, or not?

[2018-12-10 06:32] bluepnume commented on #955
Webviews are not officially supported by this SDK. Please try redirecting from your app to a full browser window with the paypal experience.

[2018-12-10 06:32] #955 closed

[2018-12-10 06:33] bluepnume commented on #953
Thanks for the request -- but `actions.request.post` is unlikely to evolve much beyond its current form. This is intended only as a helper to make simple ajax calls, and for more advanced functionality we'd recommend using an external library.

[2018-12-10 06:33] #953 closed

[2018-12-10 06:33] bluepnume commented on #945
Closing this due to inactivity.

[2018-12-10 06:33] #945 closed

[2018-12-10 06:36] bluepnume commented on #779
Closing this issue; if you have a specific question, please feel free to open a new issue and we'll be glad to help. For now the demo app should give an idea of how validate() can be used.

[2018-12-10 06:36] #779 closed

[2018-12-10 06:37] bluepnume commented on #552
Closing this as we'll likely be removing support for `paypal.request.post` in future versions. I would recommend making use of more fully-featured ajax libraries to achieve this.

[2018-12-10 06:37] #552 closed

[2018-12-10 06:39] bluepnume commented on #707
We're running a beta for the new sdk at the moment. Right now it's at 80kb and we're exploring lazy-loading to reduce its footprint even further. Closing this issue as it is unlikely these performance improvements can be backported to checkout.js.

[2018-12-10 06:39] #707 closed

[2018-12-10 06:39] bluepnume commented on #471
Closing this; this issue is fixed in the new version of the sdk which is currently in beta. Will update here when it's available for general release.

[2018-12-10 06:39] #471 closed

[2018-12-10 06:40] bluepnume commented on #881
Closing for now, since this issue is being tracked internally, and this repo is primarily for the sdk itself.

[2018-12-10 06:40] #881 closed

[2018-12-10 06:42] bluepnume commented on #639
@mcntsh -- could you take a look into this one?

[2018-12-10 06:42] sshimizupp commented on #957
Even when in Edge mode, I see the issue.

[2018-12-10 06:44] #263 closed

[2018-12-10 06:44] #265 closed

[2018-12-10 06:45] #467 closed

[2018-12-10 06:45] #436 closed

[2018-12-10 06:46] bluepnume commented on #420
Closing this; if anything, this is better suited as a feature request for the native mobile sdk.

[2018-12-10 06:46] #420 closed

[2018-12-10 06:46] #308 closed

[2018-12-10 06:46] #282 closed

[2018-12-10 06:47] #323 closed

[2018-12-10 06:47] #367 closed

[2018-12-10 06:47] #473 closed

[2018-12-10 06:47] #353 closed

[2018-12-10 06:48] #300 closed

[2018-12-10 06:48] #307 closed

[2018-12-10 06:48] #90 closed

[2018-12-10 06:48] #332 closed

[2018-12-10 06:50] #544 closed

[2018-12-10 06:51] #583 closed

[2018-12-10 06:51] #603 closed

[2018-12-10 06:52] #617 closed

[2018-12-10 06:57] bluepnume commented on #878
Closing this issue. We've made several fixes for IE/Edge in intranet and trusted mode. @mcntsh will be updating the docs with our latest recommendations.

[2018-12-10 06:57] #878 closed

[2018-12-10 06:59] bluepnume commented on #841
Fixed for the upcoming beta docs for the new version of this sdk. Closing this issue.

[2018-12-10 06:59] #841 closed

[2018-12-10 07:02] bluepnume commented on #359
Should be able to rely on https://github.com/paypal/paypal-sdk-constants/blob/master/src/locale.js#L448 -- if it's part of this array, it's supported by paypal web sdks.

[2018-12-10 07:02] #359 closed

[2018-12-10 07:08] bluepnume commented on #957
OK I was able to repro just now. Even though IE dev-tools shows "Edge", the button is still being loaded with an IE7 user-agent. So this is unlikely to be something we're going to fix. We would just recommend avoiding setting compatibility mode for any site where you're rending the paypal button.

[2018-12-10 07:08] #957 closed

[2018-12-10 07:32] AlexWayfer commented on #953
I thought, standard is simple, not "advanced"…

[2018-12-10 10:59] cheryjose commented on #956
I can confirm that tomorrow,

[2018-12-10 16:48] vasanthk commented on #90
@bluepnume Is there a way to do this now?

[2018-12-10 17:57] bluepnume commented on #953
We'll actually be removing this from future versions. `actions.request.post` from future versions. With simple promise-returning apis like fetch, there's not much utility for it any more.

[2018-12-10 20:18] ajlangsdon opened #964 "IC window not loading after PP button clicked in FF and sometimes Chrome"
### Description

When checking out on https://www.stuartweitzman.com, the PP button on the checkout page triggers an error in Firefox. I was able to reproduce this issue using Firefox 63.0.3. After clicking the checkout button, I see this error: http://prntscr.com/lt8rid. The IC window loads and then immediately closes.

This issue seems to be isolated to this specific website and the PayPal butto

[2018-12-10 22:58] AlexWayfer commented on #953
OK, thanks.

[2018-12-10 23:00] bluepnume commented on #964
I see the following code in the integration:

[code]

They're using `reject()` as a means of doing validation and forcing the popup to close. That isn't recommended. reject is intended for error cases, and should always be passed an error explicitly -- like `reject(new Error('Ajax call to /foo failed'))`

They should follow this pattern for validation: https://developer.paypal.com/demo/checkout/#/

[2018-12-10 23:00] #964 closed

[2018-12-11 20:58] bluepnume commented on #956
Hi, did you get a chance to check this one?

[2018-12-11 20:58] bluepnume commented on #942
@mcntsh -- I added https://github.com/krakenjs/cross-domain-utils/commit/2f044960143346210d6d20bdb45fc1ae63ef04d8 -- it trades off memory usage in IE11 for extra reliability for `isWindowClosed()`. Can you please pull this into your test env and see if it resolves this issue?

[2018-12-11 23:20] bluepnume commented on #824
Any updates on this one? @shekharparkhi can you confirm if the merchant is hitting either intranet or trusted mode? And are you able to personally repro?

[2018-12-12 02:39] peachyecwid opened #965 "Black screen appears when you try to pay with PayPal in Ecwid store on Wix within Facebook Mobile app"
### Description

When you try to pay with PayPal in Ecwid store on Wix in the Facebook mobile app, the popup doesn't work correctly. The black screen appears which is very confusing for customers. The issue occurs consistently.

Here is a screencast: https://monosnap.com/file/7icCglFGiaLN1Q9IzrMEtn8AkCfgEh
Link to the store on FB: https://www.facebook.com/pg/premierperformancecz.uk/shop/

### Step

[2018-12-12 09:05] cheryjose commented on #956
<div><div class="src-styles-app---paypalButton---1Gd6D" id="paypal-button">null<div class="paypal-button paypal-button-context-iframe paypal-button-label-paypal paypal-button-size-responsive paypal-button-layout-horizontal" id="zoid-paypal-button-9d230c3d77"><style>
                    #zoid-paypal-button-9d230c3d77 {
                        font-size: 0;
                        width: 100%;

[2018-12-12 09:06] cheryjose commented on #956
`<div><div class="src-styles-app---paypalButton---1Gd6D" id="paypal-button">null<div class="paypal-button paypal-button-context-iframe paypal-button-label-paypal paypal-button-size-responsive paypal-button-layout-horizontal" id="zoid-paypal-button-9d230c3d77"><style>
                    #zoid-paypal-button-9d230c3d77 {
                        font-size: 0;
                        width: 100%;

[2018-12-12 09:07] cheryjose commented on #956
Sorry for the delay, I checked its not in iFrame

[2018-12-12 09:10] cheryjose commented on #956
I have put the mark-up in a pen https://codepen.io/chery/pen/bOdZZL

[2018-12-12 09:22] bluepnume commented on #956
And can you confirm if the `null` is present (or not present) if you don't call `paypal.Button.render()`?

@mcntsh did you get a chance to look into the pre-production env emailed over?

[2018-12-12 09:30] cheryjose commented on #956
null is displayed only when paypal.Button.render() is called and happens only in Edge and IE

[2018-12-12 09:35] bluepnume commented on #956
Do you see the same issue at https://developer.paypal.com/demo/checkout/#/pattern/client ?

[2018-12-12 09:42] cheryjose commented on #956
I think we can close this issue, with some of the pointers you have mentioned I was able to find the root cause. It is a coding issue in my side. Fixed now. Thanks for you help mate.

[2018-12-12 09:42] #956 closed

[2018-12-12 20:00] AleksMeshkov commented on #323
Hello, @bluepnume! Was it released already?

[2018-12-12 20:03] bluepnume commented on #323
Should be -- do you see an issue still?

[2018-12-13 03:55] mahdiridho commented on #960
We're using checkout.js on the client shop then we pull the paypal list payments api on the admin shop. So we're wondering if any related problem between checkout.js or paypal api?

[2018-12-13 04:06] flatmax commented on #960
We have now opened a technical support ticket against this issue.

[2018-12-15 02:58] mrtristan opened #968 "Production: Timed out waiting 10000ms for payment"
i know this is something that has been reported on and off before, but i don't see any recent issues for it:

we're seeing in our PRODUCTION environment the following error many times per day:

[code]

[2018-12-15 20:54] simeyla commented on #684
I honestly don't know why it took you guys so long to figure this out. This is the third time I've implemented PayPal and each time it's a fiasco. At least now I can stop using the legacy API (which allowed me to use any old DIV as a button).

**So thanks for finally adding this option.**

HOWEVER there are two outstanding things:

The [current documentation](https://developer.paypal.com/docs/chec

[2018-12-15 22:17] AleksMeshkov commented on #323
Yep. I still have to use @jookyboi workaround. Seems `paypal-checkout` can't manage to detect the electron platform because new window still opens.

Let's check the platform detection code. Do you use this snippet? I suppose this is the best way. (https://github.com/electron/electron/issues/2288)
[code]

[2018-12-15 22:18] AleksMeshkov commented on #323
@bluepnume, do you still have the issue? Have you tried the new release?

[2018-12-15 23:15] bluepnume commented on #323
This is the current electron check: https://github.com/paypal/paypal-checkout/blob/master/src/lib/device.js#L130

Happy to add the useragent check too -- or feel free to PR it in, if you like. Thanks for the reference

[2018-12-17 13:29] copra110 opened #970 "how to get transaction id after successful payment"
hello ,
i am trying to create express checkout request i am getting payment id in the response but i can't get transaction id also here is my response code:

{"id":"PAY-44648680T9894734BLQL2IFA","intent":"sale","state":"approved","cart":"3FV334665A417953P","create_time":"2018-12-17T13:27:02Z","payer":{"payment_method":"paypal","status":"UNVERIFIED","payer_info":{"email":"abdulrahman.acm@gmail.com"

[2018-12-17 17:58] mcntsh commented on #323
@AleksMeshkov Thanks for your contribution! I went ahead and merged it in since @bluepnume is out. We do releases every Wednesday at 13:00 PST, so you can expect to see it then.

[2018-12-17 17:59] AleksMeshkov commented on #323
@mcntsh thank you, Jon!

[2018-12-17 21:51] osielccenviaflores commented on #968
this problem that trigger because your request is more than 10 seconds

[2018-12-17 23:52] malliapi commented on #139
this is a major problem, why is the button rendered inside an iframe in the first place?

[2018-12-18 01:43] lparenteau commented on #915
Seeing this issue as well, on Chrome on Android devices, and Samsung's browser (Android too).

[2018-12-18 06:06] #970 closed

[2018-12-18 18:23] mcntsh commented on #968
@mrtristan We have a timeout in this callback for 10s, so if we don't get a resolved promise or a return in 10s we will throw this error.

What does your integration look like? Are fetching a token from a server via AJAX in this `payment()` method?

[2018-12-18 22:30] mcntsh commented on #784
It looks like there was an accessibility fix for this button back in March: https://github.com/paypal/paypal-checkout/commit/bddf347b6

[2018-12-18 22:30] #784 closed

[2018-12-19 18:13] mcntsh commented on #787
This change will be out in today's release. Thanks!

[2018-12-19 18:13] #787 closed

[2018-12-20 09:20] AleksMeshkov commented on #323
@bluepnume @mcntsh
I still don't see an updated version in production even though today is Thursday. Has the deploy process went fine?

![image](https://user-images.githubusercontent.com/1904894/50275782-4485eb00-0451-11e9-8edb-22f1a43dd46f.png)

[2018-12-23 16:50] AAverin commented on #149
@bluepnume  What is `driver` in `react.button.driver()`? Where can I find a source code of this `driver` implementation?
Mainly because I need to know how can I pass a div inside to implement REST API based integration using paypal button? `paypal.button.render` did accept an id of the component to render server-based iframe into. How do it in react with driver?

[2018-12-23 22:03] leotm commented on #149
@AAverin https://github.com/paypal/paypal-checkout/blob/master/docs/frameworks.md#user-content-reactjs-element

[2018-12-26 09:34] SUNAnne opened #974 "How to turn off paypal debug print information"
Why hasn't the print message been turned off
<img width="964" alt="2018-12-26 5 34 11" src="https://user-images.githubusercontent.com/39116039/50441187-7953df80-0934-11e9-9db0-2452c9977ec3.png">

[2018-12-26 09:34] Sayed-Khalaf opened #975 "Can i transfer money from Facilitator account to Buyer Account using REST API?"

[2018-12-26 22:39] trainerbill opened #976 "actions.disable not preventing inline guest from being clicked"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2018-12-27 11:40] Sayed-Khalaf commented on #975
Solved

[2018-12-27 11:40] #975 closed

[2018-12-28 19:36] AKkilla69 commented on #975
Yeah

[2019-01-02 17:09] Azwan611 commented on #968
rLHzPsX6oXkzU2qL12kHCH8G8cnZv1rBJh

[2019-01-02 17:09] Azwan611 commented on #968
rLHzPsX6oXkzU2qL12kHCH8G8cnZv1rBJh

[2019-01-02 17:09] Azwan611 commented on #968
rLHzPsX6oXkzU2qL12kHCH8G8cnZv1rBJh

[2019-01-02 17:11] Azwan611 commented on #968
Yes

[2019-01-04 21:39] khanghoang commented on #976
This issue is addressed by https://github.com/paypal/paypal-checkout/pull/978 and another Hermes's PR

[2019-01-07 09:38] sankaran45 commented on #595
any updates on this ? we need some kind of invalidate session on checkout.js, that will internally cause the cookies that are put from paypal to be deleted -otherwise, even when we switch users, the new user gets to see the full paypal information of the prior user ... which is really bad and makes the checkout.js library completely unusable.

if i misunderstood anything, apologies in advance, ple

[2019-01-07 19:15] mcntsh commented on #968
@mrtristan Closing this for now. If you have any update regarding this timeout error you are free to open it back up :)

[2019-01-07 19:15] #968 closed

[2019-01-08 17:45] ziyadparekh opened #980 "Bridge Domain / Bridge Url confusion"
I'm confused about PayPal checkout's implementation of bridge urls and bridge domains. The Zoid documentation says that a `Bridge Domain` is only "required if the final domain of the bridge is different to that of the initial bridgeUrl provided - for example, if the original url does a 302 redirect to a different domain or subdomain."

From the source on line:
https://github.com/paypal/paypal-chec

[2019-01-08 18:20] Azwan611 commented on #968
Then One comment has good information only

[2019-01-08 19:12] jylc08 opened #981 "Potential clean-up issue in IE 11 after establishing a billing agreement"
### Description

Hello. I'm experiencing an issue with the PayPal checkout modal in IE 11. In a nutshell, when a user completes a billing agreement flow the first time, the second time they initiate the flow they get a `You've already set up preapproved payments with...` message.

In all other browsers the user is able to go through the modal flow and establish a billing agreement for the second t

[2019-01-08 19:14] mcntsh commented on #974
Hey @SUNAnne, that is the correct way to set the log level. The set-up script looks for one of these values: https://github.com/paypal/paypal-checkout/blob/master/src/constants/misc.js#L22

Can you please show the logs that are printing for you?

[2019-01-09 01:07] malliapi opened #983 "enablecheckoutiframe is undefined"
enablecheckoutiframe is undefined when trying to use it, however it seems available on these demos
https://developer.paypal.com/demo/checkout/#/pattern/validation

also paypal.Checkout is undefined?

version: v4.0.239

[2019-01-09 18:33] mcntsh commented on #793
@angel-carvajal I just followed up with that team and a fix will be going out next week. I'll keep track of it and update this issue after the release.

[2019-01-09 20:48] mcntsh commented on #983
Hey @malliapi do you have any code we can look at or perhaps a URL so that we can attempt to reproduce?

[2019-01-09 21:40] mcntsh commented on #981
Hey @jylc08, what are you returning for the `payment()` callback the second time around? You can not establish a billing agreement more than once per payment, so in this case IE 11 is working as intended.

My question is why it appears to be working on other browsers. I just tested myself by returning an EC-token in `payment()` which was already used to authorize a Billing Agreement, and got the "

[2019-01-09 22:48] jylc08 commented on #981
Hey Jon. In `payment()` we are hitting our own endpoint to fetch a billing agreement token ID. This should give a new token on each request. Given that the `You've already set up preapproved payments...` message is shown when an already-used token is returned in `payment`, I feel like IE might be caching the request. I'll investigate.

[2019-01-10 09:53] TyrionGraphiste commented on #356
Same error here, we did no internal changes on our side and it does not work anymore.

[2019-01-10 15:58] #983 closed

[2019-01-10 18:02] vishakha94 commented on #785
Closing this issue for now.

[2019-01-10 18:02] #785 closed

[2019-01-10 18:30] mcntsh commented on #942
Following up on this. As of `v4.0.240` we are using `cross-domain-utils@2.0.22`, which has a fix for this issue. I just tested myself in IE 11 using the latest checkout.js (https://www.paypalobjects.com/api/checkout.js) and am no longer able to reproduce.

@cbathgate are you still seeing this issue on IE 11?

[2019-01-10 19:57] jylc08 commented on #981
IE was indeed caching the request. Adding the `Cache-Control` header on the response solved the problem. Thanks for the help @mcntsh.

[2019-01-10 19:57] #981 closed

[2019-01-10 20:06] bluepnume commented on #471
Yep, new major version which will require a manual upgrade. Hoping to go public beta by the end of the month.

[2019-01-10 20:11] bluepnume commented on #980
Yep you're right. The only reason it's defined here is to make sure our tests work.

[2019-01-10 21:21] mcntsh commented on #639
@artofspeed I know it's been a long time since, but a fix has been merged and will be out in our next release (Wednesday at 13:00 PST).

[2019-01-11 06:54] AAverin commented on #580
@bluepnume  I have talked with Paypal support and they said that basic integration is not enough.
They also shared this doc with me: https://developer.paypal.com/docs/paypal-plus/germany/integrate/
The flow I envision:
- I manually create a payment template using Paypal API and get back `approval_url`
- JS library gets a full response object that Paypal API returned + approval_url
- There should b

[2019-01-11 18:22] tomasmd opened #984 "Paypal Button renders then immediately disappears"
I installed the paypal express plugin [for my woocommerce site:](https://dev.cmhelmets.com/product/sebastian-vettel-2018-montecarlo-monaco-gp-f1-replica-helmet-full-size/)

You can reproduce it by following that url and quickly scrolling down to the "add to cart" button. The paypal buttons appear and disappear just below it in less than a second, once the page is finished loading.

I believe this

[2019-01-11 19:32] mcntsh commented on #984
Hey @tomasmd, I just took a quick look and it seems like the page is loaded and PayPal Checkout is rendered, then the page container is [removed and re-appended in `MaterialLayout.prototype.init`](https://dev.cmhelmets.com/wp-content/themes/fab//assets/js/theme.js?ver=1.10.4) without re-initializing PayPal Checkout.

[2019-01-11 19:49] tomasmd commented on #984
Hi Jon.

Thanks for the help.
I'll see if I can re initialize payPal once it's loaded into the new
container

Regards,

* Tomás Viera*
IT Developer
Aguirre 1551 Piso 3 Of. 3
C1414ATE - C.A.B.A., Argentina
Tel: +54 11 4855 7899

<https://www.facebook.com/md.marketingdigital>
<https://twitter.com/MarketingD_Arg> <https://twitter.com/MarketingD_Arg>
<https://plus.google.com/+Mdmarketingdigital>
<http

[2019-01-11 22:08] osielccenviaflores commented on #968
Yes, i get a token from the server side and this is more than 10 seconds

[2019-01-15 17:53] lenlaurito opened #985 "Billing Agreements Token with paypal button"
From this issue: https://github.com/paypal/paypal-checkout/issues/133 it says that we can use the billing agreement token with the paypal button using `resolve(billingAgreementToken)` (sample of billing agreement token would be "BA-8A802366G0648845Y") instead of `resolve(paymentId)` (as per example in [advanced integration](https://github.com/paypal/paypal-checkout/blob/master/docs/button.md#advan

[2019-01-16 04:16] jasperck commented on #571
Hi, there! Does this issue been fixed, cause I still faced with blank page while opening the via the button in demo link. It could be reproduced with iOS 11 and Line WebView🙏

[2019-01-16 19:44] mcntsh commented on #980
Closing this out since I think this answers your question. Feel free to open it back up otherwise.

[2019-01-16 19:44] #980 closed

[2019-01-16 22:30] ajlangsdon opened #987 "Frameborder param triggering validation errors - move to CSS"
### Description

When the iframe for the PP checkout gets rendered, a **frameborder** parameter is added as inline HTML. For merchants using validation tools, this is triggering an error since it is inline HTML/CSS. Can this be moved to CSS?

<iframe class="zoid-component-frame zoid-visible" frameborder="0" allowtransparency="true"..... ></iframe>

* If the full iframe HTML is required, let me kno

[2019-01-17 00:29] atlanteh opened #988 "wrapper div has no class or id"
The generated paypal button has a wrapper class with no class or id, so if we want to target it for css or js, it's not easy at all. I think we should consider adding a class or even allowing custom class to be inserted. https://github.com/paypal/paypal-checkout/blob/25a114751185f806fb6d7f53246d9a8df1353723/src/button/component.jsx#L135

I think a "paypal-button-wrapper" is good enough. What do yo

[2019-01-17 09:23] springknees opened #989 "Pay by Debit or Credit Card - Create Account - inconsistent"
Using Chrome (incognito to eliminate cookie issues) I test the PayPal Checkout Button on this page:-

https://developer.paypal.com/demo/checkout/#/pattern/checkout

On a desktop/laptop the PayPal "log in" dialog opens with the "Pay by Debit or Credit Card" option button shown. When I do exactly the same with a phone/tablet, the PayPal "log in" dialog opens showing a "Create Account" button in plac

[2019-01-17 22:30] raky291 commented on #743
In the client side integration, should be possible to make asynchronous calls before displaying the popup, for example:

[code]

Use async calls it's the most common in the JavaScript's world. I hope that people support my proposal.
[code]

[2019-01-17 23:18] bluepnume commented on #743
I agree. Unfortunately though, if we don't open the popup synchronously on click, it gets blocked by most browsers' popup blockers.

[2019-01-18 20:04] vishakha94 opened #991 "Paypal button gets cut off with tagline set as false"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2019-01-23 14:17] muhammad-asad-26 opened #992 "Unable to start paypal flow without button click"
Hi,
I've been using BrainTree Paypal SDK, I don't want to render paypal button, instead I want to trigger checkout flow on my own button click, The button which is rendered by javascript client causes issues with react.js application. A new button is created on any state change or button click inside the web page.

![screen shot 2019-01-23 at 8 13 22 am](https://user-images.githubusercontent.com/3

[2019-01-24 05:16] gautia opened #993 "PayPal Button not rendering [ECBT]"
![box8-client](https://user-images.githubusercontent.com/24381783/51655840-70523e80-1fc4-11e9-9ff8-2f9692db4434.png)

When I try to render PayPal button via ECBT client side isn't working (Angular V6).

_Scripts and error are below_
[code]

- Screenshots or videos that show the issue
![box8-client](https://user-images.githubusercontent.com/24381783/51655910-b3acad00-1fc4-11e9-9c22-7baa8584832b.png

[2019-01-24 05:19] bluepnume commented on #993
Strange. The code looks fine. Do you have a page where I can repro?

[2019-01-25 17:22] trainerbill opened #994 "Deprecate NPM package."
We need to deprecate the NPM package so people quit integrating with it.

https://docs.npmjs.com/cli/deprecate

I think you should be able to do

`npm deprecate paypal-checout@"> 4.0.289" "CDN script include is now required moving forward.  Please update your integration to include the paypal script from CDN"

[2019-01-25 18:01] mcntsh commented on #992
Hey @muhammad-asad-26

We don't support opening the PayPal Checkout without a click on our button as it could pose a potential security risk to our buyers. You mentioned that our button is causing issues with your React.js application – is there a any help that we can give you to solve that problem instead?

[2019-01-25 18:21] bluepnume commented on #994
Agreed. We're going for a feb 7th doc release for the new sdk, we can make that deprecation then.

[2019-01-25 23:59] bluepnume commented on #994
Mainly because if we're deprecating we should have a recommended upgrade path. Upgrading to checkout.js on the CDN is only a short-term solve, so I'd rather wait a few weeks and give people a long-term path.

[2019-01-27 12:09] audiopilot opened #996 "Error message not shown during validation"
### Description

The error message is no longer displayed if there is a validation problem. This is a major concern and is resulting in loss of sales; from the user's perspective, the PayPal button is simply broken.

### Steps to reproduce

1. Go to https://developer.paypal.com/demo/checkout/#/pattern/validation

2. Click on the PayPal button without clicking on the checkbox.

3. Checkout is corre

[2019-01-27 19:54] bluepnume commented on #996
Can you clear cache and try again? This issue should be resolved.

[2019-01-27 19:59] audiopilot commented on #996
Looks good now, thanks.

[2019-01-27 21:47] #996 closed

[2019-01-28 21:50] kkagill opened #997 "paypal button leads to error after using jquery ajax in onCancel function"
### Description

When a user decided to cancel transaction by clicking x on the paypal modal, I am updating DB by using jquery ajax in onCancel function like below:

`
onCancel: function (data, actions) {

             $.ajax({
                type: 'GET',
                url: '@Url.Action("OrderCancelled", "ShopUserManagerAPI")',
                contentType: 'application/json; charset=utf-8',

[2019-01-28 23:59] mcntsh commented on #997
Hey @kkagill, would you mind showing us a bit more of what you're doing in the `payment` handler? The error you're getting tells me that you're not passing a token back. We expect `payment` to either return a promise that resolves a valid token, or a token string.

[2019-01-29 11:04] bormanEcwid opened #998 "Unexpected init message from domain"
### Description

Our ecommerce platform use paypal button integration(https://developer.paypal.com/demo/checkout/#/pattern/server)

Sometimes customers get error "Unexpected init message from domain http://.... -- expected message from https://www.paypal.com" from paypal
For example:
[code]

What means this error? How can we prevent this error?

### Steps to reproduce

n/a

### Affected browsers

[2019-01-29 12:38] drumil243 opened #999 "Paypal Checkout button not clickable (intermittent)"
### Description
Paypal checkout button for  Sandox not opening the dialog box after clicking in Chrome (V 71.0.3578.98 (64-bit)) (windows 10) - This issue is intermittent, but when it occurs, nothing happens on the click of the button, no log or error is displayed on the console, no loading, no change on the screen - as if the button is disabled.

### Affected browsers

- [x] Chrome (V 71.0.3578.9

[2019-01-29 15:21] springknees commented on #989
I've had no luck here, I've also "googled" without success - I've been unable to discover whether the behaviour I described above is "to be expected"! This is frustrating, as I now have to give the users of my online shop instructions that are specific to the device being used to access the shop. That, in itself, presents no technical difficulty, but why does PayPal have a protocol for mobile devi

[2019-01-29 19:50] kkagill commented on #997
Hi @mcntsh, here's what I got:

`    paypal.Button.render({
        env: 'sandbox', // Or 'production'
        // Set up the payment:
        // 1. Add a payment callback
        payment: function (data, actions) {
            // 2. Make a request to server
            return actions.request.post('/api/User/create-payment/')
                .then(function (res) {
                        return res

[2019-01-31 06:00] muhammad-asad-26 commented on #992
Hey @mcntsh
Thanks for the response but we have solved the problem. I'm closing this issue now.

[2019-01-31 06:00] #992 closed

[2019-01-31 22:31] mkondel opened #1002 "Please provide a React example"
### Description

I would like to add a paypal button to a page. Everyone writing React code uses webpack, not `<script>` tags in some plain HTML file. The examples given in this repo all use some kind of ancient syntax with `window.React.createClass`. Searching the past issues for a fix yields hax and workarounds from as far back as 2016. Here is what I have tried with various degrees of failure:

[2019-02-01 13:04] mkondel commented on #1002
I was trying to render on both server and client. The error about 'no window' was coming from the server side. That example is using a plain HTML file and adds react through `<script>` tags. I cant use it because I am using webpack. Is there a more modern example somewhere else?

Here is a working example that imports `paypal-checkout` the NPM module inside the `componentDidMount()`, then saves it

[2019-02-01 17:47] bluepnume commented on #1002
The code is not set up to work on the server. So you'd have to do something like:

[code]

[2019-02-01 18:48] mcntsh commented on #997
Hey @kkagill, apologies for the late response!

This all looks good – the `onCancel` callback doesn't require any token response, just `payment`. I'm wondering if something in your `OrderCancelled` API is causing failure in `/api/User/create-payment`. Can you confirm that `res.id` is a valid token?

[2019-02-01 19:46] adelphes opened #1003 "Make timeouts configurable in sandbox mode"
This is related to #477

During development, debugging any server-side API calls relating to PayPal becomes tedious when the client library keeps timing out after 10 seconds. In https://github.com/paypal/paypal-checkout/commit/3d7652e the timeout for `payment` calls was removed in non-production environments.

Could you update the rest of the API calls to also remove the timeout requirement in non

[2019-02-01 21:02] kkagill commented on #997
@mcntsh no `OrderCancelled` is not returning any token because that ajax is not passing any data to `OrderCancelled` api. That's why I asked you if I need to pass `onCancel`'s callback `data` to `OrderCancelled` and return token again,

[2019-02-02 00:37] kkagill commented on #997
It is returning a valid token when it is requesting to `/api/user/create-payment` **at the first try**. Then when a paypal popup asks me to login and I close it intentionally, it triggers `onCancel`, showing the alert message then what I do is send GET request to `OrderCancelled` to update DB which returns 200 response.

Then on the same page, I close the alert message and I clicked on the paypal

[2019-02-02 02:48] mcntsh commented on #997
Therein lies the problem. I'd check your network logs for your second request to `/api/user/create-payment` and see what's going on there. I suspect its a server failure resulting from the `OrderCancelled` request you made before it.

[2019-02-02 07:42] zetasyanthis commented on #337
This is still failing. :(

[2019-02-02 12:19] mkondel commented on #1002
I did not have to check for 'window' in the code I already posted above. It will help countless people trying to get Paypal to work in their React project. Please add it as an example to the docs.

[2019-02-04 16:24] dechov opened #1006 "`null` value for 'allowed' funding methods param breaks render"
Our Smart Payment Buttons integration broke late on Friday due to a change [[PR](https://github.com/paypal/paypal-checkout/pull/1001)] released in 4.0.254, because we were passing `null` as the `funding.allowed` parameter to `paypal.Button.render` and this change doesn't include a check for falsy values.

<img width="434" alt="screen shot 2019-02-03 at 11 34 09 am" src="https://user-images.githubu

[2019-02-04 19:46] nodonoghue-SLP opened #1009 "Inconsistent Redirect and Cancel behavior in Microsoft Edge"
### Description

In only Microsoft Edge when completing or canceling a PayPal transaction from within the popup  results in the popup not closing and showing an error saying that the specified URL cannot be found.  We don't have a specific URL to pass in as the calling application is a single page web app with error and success functions handled through javascript.  This works in Chrome, Opera, an

[2019-02-04 20:41] dechov commented on #1006
Yes, it's fixed in our integration with the 4.0.255 release. Thank you!

[2019-02-04 20:41] #1006 closed

[2019-02-04 22:59] #639 closed

[2019-02-04 23:00] mcntsh commented on #942
Closing this out. If you see the issue crop again, feel free to open it back up!

[2019-02-04 23:00] #942 closed

[2019-02-04 23:10] mcntsh commented on #984
Hey @laphilia, please see this issue: https://github.com/paypal/paypal-checkout/issues/1006.

@tomasmd since we haven't heard back in a while, I'm going to close this issue out. If you have any updates on your side that need our eyes, feel free to open up a new ticket :).

[2019-02-04 23:10] #984 closed

[2019-02-04 23:31] mcntsh commented on #985
Hey @lenlaurito, _officially_ we recommend you integrate through Braintree Vaulting for recurring payments. See [this issue](https://github.com/paypal/paypal-checkout/issues/963) for further details.

[2019-02-05 12:20] laphilia commented on #1006
Thanks a lot. The button  now works !

[2019-02-06 18:32] nodonoghue-SLP commented on #1009
After adding the sites to the security zones neither loaded.

Though looking at the article, this would be if a redirect had failed, which isn’t the problem we have.  We need the popup to simply close without any redirects.  This is the behavior we get on all other browsers.  Only edge is being problematic.

From: Jon McIntosh [mailto:notifications@github.com]
Sent: Monday, February 04, 2019 3:25

[2019-02-07 00:17] mcntsh commented on #930
PR which fixes this issue: https://github.com/paypal/paypal-checkout/pull/1011

Will be out in the next release.

[2019-02-07 09:27] rfdc opened #1012 "PayPal integration w/ React.JS | paypal.Button.driver | paypal is not defined"
### Description
I'm trying to implement paypal to a react app and the only complete doc that I found was from here:
https://www.robinwieruch.de/react-paypal-payment/

The doc uses `paypal.Button.react` which is deprecated and `paypal.Button.driver` should be used instead - as said on the official doc. BUT once I add that to react, got the following error:
`Uncaught ReferenceError: paypal is not de

[2019-02-07 09:36] rfdc opened #1013 "PayPal integration w/ React.JS | Serveless | Lambda"
### Description
I'm trying to implement paypal to a serveless react app that uses AWS Lambda as REST API. I have found this great video explaining implementation of PayPal REST SDK:
https://youtu.be/7k03jobKGXM

## Problem
But the REST API is suppose to redirect using:
[code]
That is an issue for a serveless approach w/ lambda because REST API are called in this manner:
[code]
This makes hard to u

[2019-02-07 18:02] mcntsh commented on #1013
Hey @rfdc, I'm still not clear what the issue is. Are you saying that the return/cancel URL's aren't going to be known at the time you create the payment? In that case you can use the `onCancel` and `onAuthorize` callbacks.

[2019-02-07 18:18] mcntsh commented on #1012
It gets exposed to the `window` once you load `https://www.paypalobjects.com/api/checkout.js`. I'm not super familiar with this `scriptLoader`, but looking at the docs it looks like the script will be loaded asynchronously with your component, so you'll have to do something like...

[code]

[2019-02-07 18:21] mcntsh commented on #994
@georgiosd Kind-of. We want to be sure merchants don't integrate with broken versions and are always on the latest, which is why we are talking about depreciating the npm package and pushing integration through checkout.js instead.

[2019-02-07 19:17] alex-exerve commented on #994
Will i be able to properly integrate the cdn version with my build process? I have a Vue application that renders client side and it's gonna be really detrimental if i have to rework it to use an external dependency.

[2019-02-07 19:24] mcntsh commented on #987
Good call. I made a PR to krakenjs/belter which addresses this: https://github.com/krakenjs/belter/pull/4

[2019-02-07 20:11] rodrimaqui opened #1014 "A payment and one or more receivers of the payment"
Hi everyone!!! i want to know how can i, in one transaction of payment,   get one or more receivers using paypal-checkout-components.

Thanks!

[2019-02-07 21:00] #985 closed

[2019-02-08 03:01] rfdc commented on #1013
hi @mcntsh, That is right, URL cannot be returned to the app. Does `onAuthorize` returns the the token? Where is it at the docs pls?

So far I successfully integrate w/ `express-checkout` using `braintree-sdk` because it returns the token via:
[code]
Can I do something like that w/ the API?
Thanks

[2019-02-08 03:22] bluepnume commented on #1013
Please see https://developer.paypal.com/docs/checkout/ for full docs on how to integrate without a return url.

[2019-02-08 03:46] rfdc commented on #1012
Doenst work: `Uncaught ReferenceError: isScriptLoadSucceeded is not defined` but all good - gonna try something else - thanks

[2019-02-08 03:46] #1012 closed

[2019-02-08 03:51] rfdc commented on #1013
Just saw this on the doc:

Gonna try something else - thanks

[2019-02-08 03:51] #1013 closed

[2019-02-08 04:50] bluepnume commented on #1013
I'm confused -- are you trying to accept credit cards directly (as in, on a form on your site), or via paypal (after a user logs in our checks out as a guest)? The latter is certainly still possible with this integration.

[2019-02-08 04:56] rfdc commented on #1013
Hi @bluepnume, I'm trying to accept CC directly. Thought Paypal had checkout feature like Stripe:
https://stripe.com/payments/checkout
It was so easy to implement.

[2019-02-08 07:12] AAverin commented on #1002
Is React example still relevant with new https://developer.paypal.com/docs/checkout ?

[2019-02-08 08:53] #214 closed

[2019-02-08 08:53] #993 closed

[2019-02-08 08:57] bluepnume commented on #676
Should be fixed in latest integration.

[2019-02-08 08:57] #676 closed

[2019-02-08 08:58] #974 closed

[2019-02-08 08:59] bluepnume commented on #599
Here it is! https://developer.paypal.com/docs/checkout/integration-features/shipping-callback/

[2019-02-08 08:59] #599 closed

[2019-02-08 09:00] bluepnume commented on #1003
Timeout has been removed in the latest integration. Please see https://developer.paypal.com/docs/checkout/reference/upgrade-integration/ for the upgrade path

[2019-02-08 09:00] #1003 closed

[2019-02-08 09:02] bluepnume commented on #994
@alex-exerve can you elaborate? Using the new sdk should be as simple as dropping a script tag. See https://developer.paypal.com/docs/checkout

[2019-02-08 09:03] bluepnume commented on #991
Fixed.

[2019-02-08 09:03] #991 closed

[2019-02-08 09:04] bluepnume commented on #989
The experience changes based on a lot of factors, including cookies. + @bluelnkd for more info. (since this is a common question maybe we should come up with some content for the dev docs?)

[2019-02-08 09:05] bluepnume commented on #999
Should never be an issue with the new integration. Please see the upgrade guide at https://developer.paypal.com/docs/checkout/reference/upgrade-integration/

[2019-02-08 09:05] #999 closed

[2019-02-08 09:07] bluepnume commented on #349
Fixed in new sdk.

[2019-02-08 09:07] #349 closed

[2019-02-08 09:09] bluepnume commented on #706
Closing this as no current plans to support wechat browser.

[2019-02-08 09:09] #706 closed

[2019-02-08 09:10] bluepnume commented on #987
Change released with new sdk. See https://developer.paypal.com/docs/checkout/reference/upgrade-integration/

[2019-02-08 09:10] #987 closed

[2019-02-08 09:10] bluepnume commented on #1014
That is not currently supported.

[2019-02-08 09:10] #1014 closed

[2019-02-08 09:10] #824 closed

[2019-02-08 09:12] bluepnume commented on #988
None of the elements rendered by this sdk should ideally have custom css applied. Unless there's a convincing use-case, please apply css to any container elements that you create, but do not rely on the inner dom structure as it may change in future without warning.

[2019-02-08 09:12] #988 closed

[2019-02-08 09:15] bluepnume commented on #1009
Can you confirm if this is happening on an intranet or corporate site at least? And if you see the same issue at [developer.paypal.com/demo/checkout](https://developer.paypal.com/demo/checkout)?

If so, there's not much we can recommend other than following the guide at https://developer.paypal.com/docs/checkout/troubleshoot/internet-explorer/ -- the script will not work in trusted or intranet mod

[2019-02-08 09:21] bluepnume commented on #440
Closing this for now. There's no clear way to support AMP given that it blocks all custom javascript; and without that there's no way to communicate the success back to the parent page.

[2019-02-08 09:21] #440 closed

[2019-02-08 09:22] bluepnume commented on #793
Are we good on this one?

[2019-02-08 11:53] atlanteh commented on #988
Actually in my case I want the button to self center or to take 50% of container, or margin etc.. Having a class on the container is very common practice.

[2019-02-08 19:36] nodonoghue-SLP commented on #1009
The issue does not seem to be present in the demo.   Could very likely be the page being on an intranet causing the problem.

We are setting up a test scenario which places the calling machine outside of our network to test if the problem is present when not on the same network as the web server.  I will followup again after this external test has been conducted.

I did follow the steps in the tro

[2019-02-08 19:43] bluepnume commented on #988
Can't you place the element in your own container which is an inline-block with 50% width? Does that cause any problems?

[2019-02-08 20:05] bikebot opened #1016 "Discounts / promo codes?"
### Description
With the checkout.js API, line items with negative values are possible. With the new Javascript SDK neither negative values nor negative quantities are possible.

How are we supposed to create orders including one or more coupons/promos/discounts (I don't mean shipping discounts)?

- The `paypal.version` from your browser console: "1.0.110"
- The exact browser version: "Mozilla/5.0

[2019-02-09 00:12] bluepnume commented on #1002
React demos have now been updated. Please run `npm run demo`

[2019-02-09 00:12] #1002 closed

[2019-02-09 00:12] #997 closed

[2019-02-09 17:25] springknees commented on #989
Thanks @bluepnume  - in my case "the experience changes" according to the alignment of the planets and the direction of the wind ;) There is no consistency - sometimes the guest checkout option is there **(Debit or Credit Card)** other times it isn't **(Create Account)**. Almost 100% of the time the only option available on mobile devices is **Create Account**. I've tested in Incognito mode and vi

[2019-02-11 03:51] steven6282 opened #1018 "403 Permissions Denied error"
So I'm having a problem using the SDK with a paypal app on Live.  It seems similiar to an old closed issue #703 but that is marked as closed and resolved.  I've tried creating a new app and it still occurs with the new app.  It happens even if I give the app all permissions available on live servers.

The same calls made through curl instead of the paypalrestsdk work fine.  The code I'm using is b

[2019-02-11 04:02] steven6282 commented on #1018
Sorry, just realized I posted this in the wrong github repo since it's concerning the sdk specifically.

[2019-02-11 04:02] #1018 closed

[2019-02-11 16:20] shanecav84 commented on #447
@bluepnume Is the nonce available in 5.0?

[2019-02-11 17:43] martinmckenna commented on #471
Adding my name to the people who need this feature. Not really sure why this issue is marked as closed when the release with the fix hasn't went live yet.

[2019-02-11 17:56] nodonoghue-SLP commented on #1009
After performing tests external to the office network, both of the above issues do not appear to be happening.  Thanks for the help, looks like it's caused by the network infrastructure and is not a general issue with Microsoft browsers.

[2019-02-11 18:32] osus opened #1019 "New Facebook messenger webview is not detected as webview"
Hi guys,

I've been working on an integration into Facebook Messenger webview and found that this old issue:

https://github.com/paypal/paypal-checkout-components/issues/217

Is happening again, probably with the new Messenger release. The popup can't be loaded so the screen stays in the spinner infinitely. It works fine on browsers, desktop or mobile.

My webview user agent is now:

Mozilla/5.0 (

[2019-02-11 18:54] bluepnume commented on #1009
Sounds good! That's exactly our understanding too. This is one of those issues we here about a lot from corporate networks, but not from external customers. Annoyingly it's not an issue we have any good solve for.

[2019-02-11 18:54] #1009 closed

[2019-02-11 19:58] bluepnume commented on #471
Please see:

https://developer.paypal.com/docs/checkout/
https://developer.paypal.com/docs/checkout/reference/upgrade-integration/

The latest script renders a button which is clickable from the moment it is rendered.

[2019-02-12 10:15] feimeizhan commented on #1016
Because the unit_amount cannot be negative.

[2019-02-12 14:14] atlanteh commented on #988
Well in my case, I have the following structure (classes converted to style):
[code]

The above is not possible as we can't access the paypal container (unless you consider .my-box > div valid). What I had to do is add another wrapper on top of the paypal button and I don't like it.

I do have to add that I really don't see the problem of adding a class on the top container so you can easily set m

[2019-02-12 17:12] Jauny commented on #139
hi @bluepnume,

Thanks for your previous diff, it seems it is going the right direction!

I need have a callback called when the paypal button is clicked while actions are disabled (actions.disable()).

We have this need because users are able to close the modal showing an error to be able to fix it (for example updating their address) to then trigger the paypal payment.
It creates confusion when

[2019-02-12 23:08] bluepnume commented on #1016
@rajarampadmanathan -- can you help with this one?

[2019-02-12 23:13] bluepnume commented on #988
I take your argument; but we're treating this an an encapsulation issue.

- We don't rely on any parent styles being set, or any specific classes being present in the parent
- You don't rely on any specific styles being set on the child, or any classes being present in the child

That way either layer can change without risk of breaking the other. That should outweigh the downside of having an ext

[2019-02-12 23:14] bluepnume commented on #998
Can you please re-open the issue and answer all of the questions to help us triage?

[2019-02-12 23:14] #998 closed

[2019-02-12 23:15] bluepnume commented on #989
For what it's worth -- if you use the vertical button layout, you should always see card buttons, and those buttons should always redirect to the guest experience. That's the recommended approach for allowing one-time card payments.

[2019-02-12 23:15] #989 closed

[2019-02-13 01:15] rajarampadmanathan commented on #1016
Will look into it and get back to you.

[2019-02-13 02:12] gety9 opened #1025 "Is now https required for localhost?"
When implementing paypal checkout in August we did all the testing on localhost over http and it worked fine.

Now however it works only over https (otherwise nothing happens after button is clicked)

Also there is an error:

[code]

FireFox 65, Windows 10

[2019-02-13 04:27] #930 closed

[2019-02-13 04:30] bluepnume commented on #1025
Sounds like your page is setting a `content-security-policy` header, to block http.

Also -- `http://www.paypalobjects.com/api/checkout.js` will auto-redirect to `https://www.paypalobjects.com/api/checkout.js` anyway. So you may as well use `https`

[2019-02-13 04:30] #1025 closed

[2019-02-13 04:33] bluepnume commented on #1019
We check for `FBAV` so I suspect our detection is working fine. Can you share a video of what you see?

[2019-02-13 05:52] rsdighe76 commented on #1016
Hello,

We are looking to introduce a generic "discount" field as part of the amount.breakdown similar to shipping_discount. Would something like this solve your need?

The challenge we have noticed when we used to allow passing negative line items is that it fundamentally changes the "sub total" which is meant to represent item sub total.

[2019-02-13 12:18] osus commented on #1019
Hi!

Here you have a video
https://www.dropbox.com/s/u8fxvkviabe67cb/2019_02_13_12_06_48.mp4?dl=0

I've tested in another device and the problem persists. Perhaps it is related to last Messenger version.

In desktop works fine.

[2019-02-14 08:11] atlanteh commented on #988
Well I disagree, as I think that you should give the developer the freedom of choice. especially in a valid case like this and especially when the underline divs do have classes (ie paypal-button, zoid-outlet etc.), so I think you should reconsider (maybe add a warning on the docs?) but I do respect your decision, whatever you choose :)

[2019-02-14 10:14] raRaRa opened #1026 "How do I add this library with npm or yarn?"
With the old library I could simply do `yarn add paypal-checkout` and import it dynamically on the payment page, but now it doesn't seem to work with this library. I don't want to reference a large SDK in my public index file for React, Vuejs or Angular. It's not recommended.

Thanks.

[2019-02-14 10:23] raRaRa commented on #994
I'm afraid it's not that simple, especially for people who are focusing on page speed. We don't want to reference a large SDK in our client-side applications, especially in the index file. We want to install the package and run it dynamically on the payment pages, that gives us code-splitting (chunks) out of the box, so that the JS behind this library is only fetched when needed.

If we're forced

[2019-02-14 12:12] raRaRa commented on #985
Any particular reason behind this? We just had to drop support for Braintree for our business, for many reasons. A few examples:

1. They only offer settlement in EUR for Iceland. This means that if our customer pays us $10, it needs to be exchanged to EUR and then to ISK. We're losing a lot of money because of this.
2. They send each transaction immediately within 1-3 business days to your bank.

[2019-02-14 12:37] raRaRa opened #1027 "Problem creating a billing agreement"
I was previously using the `paypal-checkout` library to create and execute billing agreement. I utilized the `payment` and `onAuthorize` properties to accomplish it.

However, with this library I use the `createOrder` and `onApprove` props, but `onAuthorize` always returns paymentID as null.

Any clue what I can do? I can't use Braintree in Iceland so that's not an option.

Thanks.

[2019-02-14 12:59] raRaRa commented on #1027
I figured it out, I should use `orderID` instead of `paymentID` for billing agreements.

[2019-02-14 12:59] #1027 closed

[2019-02-14 13:20] #1026 closed

[2019-02-14 13:39] raRaRa opened #1028 "Re-load SDK with different parameters"
Hi.

How do I load the SDK with different parameters after it has been loaded? E.g. on the payment page I pass the `currency`, `commit`, `vault=false`, etc. But then I visit the subscription page and I need to pass `vault=true`

For a client-side application this is an issue. I'd need to manually unload the SDK and somehow load it again.

Any help would be much appreciated.

[2019-02-14 15:31] alex-exerve commented on #994
Exactly. the work around I've created is a function that will add the script to the page when I need it, and in theory it chains a promise off of it too so i can not try to call the paypal object until the script is loaded.

[2019-02-14 19:56] raRaRa commented on #994
Another issue I had is when you have different payment pages on a client-side application. For example a page for subscriptions and another page for one-time payments. There doesn't seem to be a way to configure the SDK after it has been loaded. This is the biggest issue I've had with this SDK. I created an issue for that here: https://github.com/paypal/paypal-checkout-components/issues/1028

[2019-02-14 22:21] martinmckenna commented on #471
Just to be clear, if I'm using `https://www.paypalobjects.com/api/checkout.v4.js` it should be as simple as using v5 now?

[2019-02-15 02:07] bluepnume commented on #471
Not quite. I'd recommend taking a look at the upgrade guide.

[2019-02-15 02:35] bluepnume commented on #994
Agreed on the need to lazy-load the script; especially when the button is being rendered as part of a SPA, after a user-action. The performance doc elaborates on this: https://developer.paypal.com/docs/checkout/troubleshoot/performance/#delayed-render

Bundling the script in npm would actually degrade performance, for the following reasons:

a) The new sdk script is dynamically compiled on demand

[2019-02-15 08:58] raRaRa commented on #994
Thanks for the detailed answer @bluepnume. Much appreciated.

That's a very generic solution. I highly recommend adding a section for popular SPA frameworks.

For React I add the script to the `document.head` in the component constructor. I also make sure that `window.paypal` is undefined, because you get an error from the SDK if you try to add the script twice, and it could cause unwanted side ef

[2019-02-15 15:19] martinmckenna commented on #471
@bluepnume thanks for that. There's still one issue I can't figure out. I'm using the script in my React app and have the following in my `render` function:

[code]

I can't seem to figure out the new handler for `payment.` It doesn't work after upgrading and I'm not able to see the upgrade path in the docs

[2019-02-15 16:12] alex-exerve commented on #994
So, I'm sharing this function because it's pretty generic and is useful.

[code]

ideally, you can use this like so:
[code]

and it will load correctly. in theory. I haven't done extensive testing with this.

[2019-02-15 17:49] bluepnume commented on #994
@raRaRa that works -- but I would highly recommend using the `onload` event instead of polling using `setInterval`. Then you can use `setState` to set a flag indicating paypal is loaded, and trigger a re-render.

@alex-exerve -- looks good. I would also recommend handing the `onerror` event and rejecting the promise.

[2019-02-16 02:46] leogoesger commented on #149
@bluepnume I am trying to render a PayPal button in a drawer in React, when I close the drawer after the component is loaded. It gives the error `Uncaught Error: No response from window - cleaned up`. Do you know how to fix this?

[2019-02-16 03:03] leogoesger opened #1029 "react unmount paypal button"
### Description
How do you successful unmount a Paypal button? Let's say if the button is in a dialog, you just want to show the button when the dialog is open, and remove the button when the dialog is closed. How do you clean up without raising any errors?

[code]

The error I am getting is

If I make a payment successfully, then it unmounts correctly which does not raise any error.

Live link:

[2019-02-17 04:21] lucashu1 commented on #994
@alex-exerve Where exactly would you call `getScript()` in your example? I tried calling it at the top of `render()` (after plugging in my own Client ID), and am still getting: `'paypal' is not defined  no-undef`.

[2019-02-18 13:57] martinmckenna opened #1030 "[Upgrading Integration] createOrder callback"
### Description

I'm having issues upgrading my existing checkout code with the latest version of the JavaScript SDK. Specifically, I'm having issues with the `createOrder` callback which replaced the `payment` callback, as it was deprecated.

The `payment` callback seemed to expect a promise that returned a `payment_id` returned, but `createOrder` expects a promise that returns an `order_id`. Her

[2019-02-18 17:48] martinmckenna opened #1031 "302 Response from https://www.paypal.com/webapps/hermes/button"
### Description

Getting a 302 error when using v4 checkout scripts. Once the button renders this URL is requested

[code]

which results in a redirect to

[code]

However this 302 error is not consistent among our users. I cannot reproduce consistently myself. For example, this URL gives back a 200 response and I'm not really sure what the delta is between this one and the previous URL:

[code]

[2019-02-18 18:48] bluepnume commented on #1031
Hi Martin,

This definitely looks like an issue we already uncovered and fixed. But that was at least a month ago. Can you confirm:

1. What's the version you're loading on your site (is it just the standard paypalobjects/checkout.js url?)
2. What version your users see when experiencing the issue? (By typing `paypal.version` in the console)

[2019-02-18 18:52] bluepnume commented on #1030
Hi Martin,

There is still a token you can use from /v1/payments api with the new sdk. Please see https://developer.paypal.com/docs/checkout/reference/upgrade-integration/#server-side-rest-integrations-with-v1payments

[2019-02-18 21:04] martinmckenna commented on #1031
Hey @bluepnume

I was using this script URL:

`https://www.paypalobjects.com/api/checkout.v4.js`

which was giving me this version number:

`4.0.240`

but after using:

`https://www.paypalobjects.com/api/checkout.js` I get version: `4.0.257`

That seems to work

[2019-02-18 21:06] martinmckenna commented on #1030
Ok. In that case, I'll open a ticket internally to get our API to return the express checkout code. Just to be clear, will I still need to supply the `payment_id` and `payer_id` to finalize the transaction?

[2019-02-18 21:57] bluepnume commented on #1031
Got it. Yeah please do not use checkout.v4.js -- this isn't intended for public consumption and will not always be up to date with the latest fixes.

[2019-02-18 21:57] #1031 closed

[2019-02-18 22:14] bluepnume commented on #1030
Yep, that's correct. The SDK will still return `data.paymentID` in `onApprove` to help facilitate that.

[2019-02-18 22:56] #1030 closed

[2019-02-18 23:00] bluepnume commented on #404
Tracking this issue here: https://github.com/paypal/paypal-checkout-components/issues/1029 -- this should be fixed in the new sdk after the next release. 👍

[2019-02-18 23:00] #404 closed

[2019-02-18 23:01] bluepnume commented on #1029
Good callout. The fix is in for the next release.

Please note that this will likely only be fixed for the new SDK. Please see https://developer.paypal.com/docs/checkout/reference/upgrade-integration/ for instructions on how to upgrade.

[2019-02-18 23:02] bluepnume commented on #1028
Fix is ready for the next release 👍reloading the script will cause the old script and any associated components to be auto-destroyed and `window.paypal` to be repopulated.

[2019-02-19 15:27] IcanDivideBy0 opened #1032 "`validate` prop disappeared on react driver"
### Description

Using the react driver, we used to have a `validate` prop which allow to disable the paypal button. This feature seems to have disappeared with latest release.
This was really useful for disabling button if shipping information are not valid for example.

At least, a `disabled` prop would be nice, it's a very basic property to have for a "button" and I think most developers would

[2019-02-19 15:41] bluepnume commented on #1032
Agreed on this. We're working on getting a better version of validate() in which works for async validation too.

[2019-02-19 17:38] billstorms1 commented on #287
I'm having an issue where IOS mobile will not allow me to focus away from the Iframe. If a user fails to enter required checkout information and hits the Paypal button they should be scrolled back to the first empty required field.
 Currently a validation upon click runs this function :
handleError: function() {
var firstField = //Gets Id of first empty input
this.$refs[firstField + 'Input'].focus

[2019-02-19 17:48] mcntsh commented on #793
The fix went out last week -- I just got confirmation from the team.

Closing this one out! Please feel free to open it back up if the issue comes back.

[2019-02-20 10:49] tizend commented on #987
Hi @bluepnume, we still seeing the same error in our end.
![paypal](https://user-images.githubusercontent.com/47815795/53086419-5e9d8180-3505-11e9-9502-93a5a0486368.JPG)

Do we need to change something on our code? We are using the checkout.js

Thanks

[2019-02-20 12:01] superp commented on #793
Hi there!

@mcntsh  I have the last version v4 - 4.0.257, and I still to reproduce this bug.
In my case:
1) Click to Paypal Button
2) Don't login to paypal account
3) Click to Cancel and return to merchant
4) onCancel callback don't invoke

It's a very important issue for me because the user can click to my paypal button again and a will have duplicate orders...

[2019-02-20 12:50] Jauny commented on #350
I am facing the same issue, and the fact that the button is rendered in an iframe makes it very hard to manually override any styles...

[2019-02-22 09:24] RoseWebOnly commented on #644
@Kaushik0704  You solve this problem？

[2019-02-22 09:49] RoseWebOnly commented on #665
@pooventhirankp  do you slove the problem？ I’m in same situation

[2019-02-22 10:56] superp commented on #793
Any news on this?

[2019-02-22 11:25] nguyenchauhuyen commented on #634
@kulkarnisan  any solution for this? i got the same issue

[2019-02-22 12:22] nguyenchauhuyen commented on #567
<script src="https://www.paypalobjects.com/api/checkout.min.js"></script> not working for me.
any update @lepatachou  ?

[2019-02-22 13:01] erksch opened #1033 "Whitelisting buttons instead of blacklisting"
Hey there!

I integrated with the new SDK in my React project and beside the trouble of including a script that are described here #1028. I'm also having trouble to use the buttons separately.

It seems like the buttons are designed to be used all at once and you can disable some of them with the disable-funding config. But I want to use the buttons separately and manage my the payment method sele

[2019-02-22 13:13] erksch commented on #1033
Also another thing: This repo obviously seems to be for the deprecated `checkout.js` API and you already talked about deprecating it. Is there any other place where issues like this one can be opened to really address the new Smart Payment Buttons? Do you plan to release an npm package for that too? Or am I missing an already existing github repo?

[2019-02-22 13:23] erksch commented on #1033
Okay I actually just found your repo "paypal-smart-payment-buttons" sorry for that.
If you want I can open a new issue there.

[2019-02-22 23:46] techieshark commented on #994
+1 for that recommendation from raRaRa above.

It would be awesome if the same recommendation could apply to [Braintree's documentation](https://developers.braintreepayments.com/guides/paypal/checkout-with-paypal/javascript/v3) on how to implement with checkout.js. For folks building react apps, especially with static type checking, it seems ideal to be able to simply `import checkout from 'paypal

[2019-02-23 02:51] bluepnume commented on #1029
OK -- the fix is out for the new sdk.

[2019-02-23 02:51] #1029 closed

[2019-02-23 02:53] bluepnume commented on #1028
OK this is pushed! Reloading the script will now work without any errors -- it will auto-unmount the previous version when you reload.

[2019-02-23 02:53] #1028 closed

[2019-02-25 05:03] jacobhalls commented on #249
This error TypeError: [document.getelementbyid(...) is null](http://net-informations.com/js/iq/error.htm) would seem to indicate that there is no such element with an ID passed to getElementById() exist. This can happen if the JavaScript code is executed before the page is fully loaded, so its not able to find the element. The solution is that you need to put your JavaScript code after the closure

[2019-02-25 08:17] superp commented on #793
I see that you've realized new version 4.0.258, but I still reproduce this bug :(

[2019-02-25 12:52] raRaRa opened #1035 "Doesn't detect env from client id"
I'm not able to test on my local environment because the SDK doesn't seem to detect that my client-id is a sandbox one.

```Uncaught Error: Invalid client-id for production: AZWTYZyc9nV6f3HdYMcxjstzXtFmNUr3YOFo9IwdyLof4QtG3AS8KXNQLUV3vTGh8ewFVaZuNzuPPjWn```

[2019-02-25 15:51] dasx199 opened #1036 "'Click to Continue' Doesn't re-focus the incontext window in Chrome, Firefox or Safari"
### Description

'Click to Continue' Doesn't re-focus the incontext window in Chrome, Firefox or Safari.
(I know this has been reported for Firefox before, but it seems to affect other browsers as well now!)

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue:
https://drive.google.com/file/d/1sRRUk9FVnrdPsuYfjE19APu1FJ5rtic-/view?usp=shar

[2019-02-25 20:05] ferencbalogh commented on #914
This problem still exist.
![kepkivagas](https://user-images.githubusercontent.com/2694621/53365228-06211680-3941-11e9-8e2f-b8532e0ceb9d.JPG)

[2019-02-25 22:28] bluepnume commented on #793
@mcntsh can you check if this fix was actually rolled out?

[2019-02-26 05:45] tim-hoffmann commented on #994
I found a node package [react-paypal-button-v2](https://www.npmjs.com/package/react-paypal-button-v2) and added your solution to it. The pull request is already merged and hopefully released soon.

[2019-02-26 10:25] jo-lester commented on #841
Are we able to get the payment phone number as well?

[2019-02-27 16:48] shanecav84 commented on #447
@bluepnume Could we get the nonce parameter backported to v4? Upgrading to the new APIs will take a while, and I'd like to have our current implementation compatible with CSP.

[2019-02-27 17:49] adamduke commented on #599
Apologies for the late feedback.
Regarding the onShippingChange callback: this doesn't seem to allow for the paypal UI to update with new shipping methods and rates according to the newly selected shipping address/country.

For example, if I start the payment process and then change my shipping country to a country that has different shipping methods and rates (e.g. only DHL, and NOT the previousl

[2019-02-27 19:16] bluepnume commented on #1036
Thanks for the report! Looks like a browser change finally killed this when the window is focused from a different frame than where it was created.

I have a potential fix that I'll try out soon.

[2019-02-27 19:20] bluepnume commented on #1035
Can you let me know if this is still happening for you? I'll try to improve this error message but I suspect this was due to an issue with identity services on sandbox.

[2019-02-27 19:24] bluepnume commented on #1033
Hi. This is the right repo for questions like this 👍

Can I understand your use-case a little more? The SPB is designed to show the best possible range of buttons for a buyer visiting your site. What you see may not be the same as any of your customers.

Can I understand the concern with the buttons that are currently being shown? Is this more of a UI concern, or something else?

The reason these

[2019-02-27 20:37] aetheryx opened #1039 "React integration for v5?"
We were previously using the v4 Checkout script which had clear documententation for integration with React (and other frameworks). I am unable to find any similar documentation, rather *any kind of documentation at all* for integration with React. Does the SDK still support these frameworks? If so, how/where is this documented?

[2019-02-27 20:43] gpozos-pp opened #1040 "Handling funding failures (INSTRUMENT_DECLINED error)"
### Description

Documentation (here: https://developer.paypal.com/docs/checkout/integration-features/funding-failure/) specifies that actions.restart() should recover an INSTRUMENT_DECLINED error, nevertheless it is not working neither for client-side (which should have the handler without having to add any code), nor for server-side.

I used a sandbox account that worked well for checkout.js. Th

[2019-02-27 21:15] bluepnume commented on #1039
For now please see https://github.com/paypal/paypal-checkout-components/blob/master/demo/react.htm -- I'm working on getting full docs for this onto the developer.paypal.com site.

[2019-02-27 21:18] aetheryx commented on #1039
Thank you so much for the quick response. I think it's a good idea to keep this issue opened until then, do you agree?

[2019-02-27 21:35] tullera commented on #1016
We would also like to have multiple negative items. We have coupon discounts (including ones that are based on the shipping amount, or just on the subtotal without the shipping amount), gift certificates, discounts for buying 3 of the same thing, etc. With Apple Pay we can list them all individually:

<img width="438" alt="screen shot 2019-02-27 at 1 30 39 pm" src="https://user-images.githubuserco

[2019-02-27 21:51] raRaRa commented on #1035
It seems to be working now. Thanks @bluepnume

[2019-02-28 04:50] bluepnume commented on #1039
I'd definitely agree! Thanks for raising this.

[2019-02-28 04:52] bluepnume commented on #447
@shanecav84 this is unlikely -- we already have a large backlog of items so backporting features to older versions isn't the biggest priority. Hoping the upgrade guide at https://developer.paypal.com/docs/checkout/reference/upgrade-integration/#4-set-up-the-transaction will be helpful and sorry for the extra pain

[2019-03-01 03:43] leogoesger opened #1042 "example on paypal connect"
### Description

Please provide a short description of the issue here, along with:
Is there an example on paypal connect. I have implemented paypal checkout button, but not sure what is the right approach for getting paypal connect for authentication paypal user wokring?

For paypal checkout I am using something similiar to this:
[code]

[code]

[2019-03-01 09:33] MaTToX3 commented on #664
Just add <allow-navigation href="*" /> inside <platform name="ios"> tag and it will render.

[2019-03-01 09:39] princelonappan07 commented on #644
Hi @bluepnume We are facing the same issue in iOS application, but its working fine on the Android. We can see the PAYPAL related objects are successfully loaded in the site by debugging the "PAYPAL" window object, but the button is not rendered. We have also loaded the https://developer.paypal.com/docs/checkout/ site in the webview and checked the button issue. The same issue persists in the PayP

[2019-03-01 11:48] MaTToX3 opened #1043 "Login popup never loads when clicking "Paypal" button in WebView"
### Description

I successfully implemented the Express Checkout Paypal buttons. However, opening the app inside webview and clicking the "Paypal" button opens up modal which never loads; however, the other three buttons (with card options) work normaly. No error is shown in the console.

I used the example code provided on demo checkout:

[code]

Paypal version: 5.0.1

### Steps to reproduce

Add

[2019-03-04 17:07] sboisse commented on #1035
Hello @bluepnume, I still get the issue. It's intermittent. See the link below where I included more details about my issue:

https://www.paypal-community.com/t5/Sandbox-Environment/Invalid-client-id-for-production/m-p/1751656#M3889

[2019-03-04 21:26] raraujo91 commented on #1035
Same here, @bluepnume. It does not work as server or client mode. Keeps giving the error **Invalid client-id for production** for my sandbox client.

[2019-03-05 06:14] superp commented on #793
@bluepnume @mcntsh
I've started implementing the new checkout SDK and saw the same problem with the Cancel button (at paypal.com site example):
https://monosnap.com/file/qu5q7SZTpjSn87FNhuMvnSfsYiTs6r

[2019-03-05 11:42] cipriano200 opened #1045 "Call payment() function onEnter"
Is it possible to call payment function() when the button is initiated, without users to click on the actual button?

I tried doing this:
[code]

Here is my full code:
<div id="paypal-button-container"></div>

    <script>
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app:

[2019-03-05 12:17] KohheePeace commented on #699
@bluepnume @mcntsh Hi, First of all really thank you for your work. I want to notice that this issue is not solved.

My workaround is to change pwa's manifest.json "display" option from "standalone" to "fullscreen"

It is really appreciated if I can use this package with PWA.

Thanks

[2019-03-06 08:20] ItsiAdam opened #1046 "Implementation without checkout.js"

[2019-03-06 10:52] #1046 closed

[2019-03-08 09:44] jsacksick commented on #1016
Any update on this? Introducing a "discount" field as part of the breakdown would certainly help!
Without it, I'm not sure there is currently another way to support discounts... (That's causing the createOrder calls to break because of mismatching amounts...).

[2019-03-08 12:50] ChrisTalman commented on #948
Hey @mcntsh, has any progress been made with that functionality, and is there any sense of a timescale for its release? It would be very useful.

[2019-03-10 04:02] tctrini commented on #1016
We will open up a DISCOUNT field in the [amount_breakdown](https://developer.paypal.com/docs/api/orders/v2/#definition-amount_breakdown) section just like the shipping_discount.  The capability will be available on the 1st of April.

[2019-03-10 14:58] kslr commented on #725
Chinese users' payments to Chinese users are not allowed.

[2019-03-11 22:23] marcusleandro opened #1050 "paypalButtons Directive documentation"
Where Can I find the documentation for paypalButtons Directive? I spent hours looking for but couldn't.

<paypal-button></paypal-button>

Thanks for any help!

[2019-03-12 23:44] kkagill opened #1052 "Determine PaymentMethod (Debit or Credit)"
### Description

Please provide a short description of the issue here, along with:

I'd like to find out whether customer used debit or credit, more specifically which credit card is used (visa, master, etc).

What should I pass or where can I retrieve that value?

### Steps to reproduce

checkout.js:

     paypal.Button.render({
        env: 'sandbox', // Or 'production',
        style: {

[2019-03-13 15:32] VivekVikranth opened #1053 "Express checkout broken in edge browser"
### Description
In Microsoft Edge as soon as user clicks any smart button paypal sandbox window is opening and automatically the overlay behind the window is closed, While debugging we found that it is automatically calling `onCancel` method.

[Edge Error.zip](https://github.com/paypal/paypal-checkout-components/files/2962184/Edge.Error.zip)

![triggers_oncancel_automatically](https://user-images.

[2019-03-13 16:17] lianee commented on #1053
same thing with Chrome, only FireFox seems to work here, tested on [this page](https://developer.paypal.com/demo/checkout/#/pattern/checkout)

[2019-03-14 01:11] jiangfu204 opened #1054 "Unable to display login window on Android mobile phone"
### Description

I use the Quick Payment button, the Android mobile browser can not display the login window, in IOS and PC can be used normally, why?
I try to use millet, Huawei mobile browser is not good

`<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://www.paypal.com/s

[2019-03-14 01:59] zanneee opened #1055 "STC support by JS SDK Client Side integration"
### Description

Hi, I would like to request **tracking** (STC API: v1/risk/transaction-contexts) feature in JS SDK as it was supported in checkout.js.

There are some merchants looking for simple client-side integration to enable ISPP-DG without extra serve rside STC API call.

Here's a example code used in checkout.js for reference.

[code]
Thanks,
JinSung

[2019-03-14 13:14] prindacerk opened #1056 "No more NoShipping option?"
In the new version that was released in Feb 2019, two of the features I was using are not available anymore.

1. Validate option to prevent users from purchasing if they are restricted due to some choice they made (eg: invalid form values).
2. NoShipping setting is not there anymore. We provide service and there's no shipping involved. In previous version there was a setting under "experience" whe

[2019-03-14 14:28] lianee commented on #1053
works again with Chrome

[2019-03-14 19:24] cesarvarela commented on #1019
Any news about this? I'm having the same issue on both iOS and Android

[2019-03-15 12:38] underthecocotree commented on #1056
Hi @prindacerk, I used the same on the previous version which I only integrated a few weeks back.  I haven't found any new js code to remove shipping.

It feels like there was a big clear out, a lot of the docs and examples have been removed as well.

[2019-03-15 13:04] underthecocotree commented on #1040
@gpozos-pp I have been looking into performing negative testing as well.

I read that docs page you are linking to a few times as well but I kept missing it.  The code works for server instances.

My guess is that on the server side there needs to be a successful response that has `details.error`.  It would be great if the docs had clearer examples.

How did you set up your sandbox account to get

[2019-03-18 05:04] Abhith opened #1060 "README : Broken link"
### Description

Found a broken link in the **README.md** under **Features** section.

* <a href="https://github.com/paypal/paypal-checkout-components/blob/master/docs/http.md">Http (AJAX) Helper functions</a>

### Steps to reproduce

Try the link

### Affected browsers

- [x] Other

[2019-03-18 15:46] dpccristi commented on #914
Yeah.. me too, @ferencbalogh , do you found a solution?

[2019-03-18 16:51] cesarvarela opened #1061 "Not working on messenger Webviews"
### Description
Web taping on the paypal button, the modal keeps spinning forever.

Please provide a short description of the issue here, along with:
- The `paypal.version` from your browser console
5.0.14
- A link to your page with the issue, if possible
https://www.messenger.com/t/932384270296990
- Does the issue also occur at [developer.paypal.com/demo/checkout](https://developer.paypal.com/dem

[2019-03-18 21:05] bluepnume commented on #1053
Can you please share all of the console logs from the point where the page loads and the button is rendered, up to the point where the error happens, from IE11.

[2019-03-18 21:36] lotsofdan commented on #914
honestly pal, i gave up and just built against the production api and set the payments to £1 and just refunded myself every day until i was done testing. It sounds like a cop-out, but I couldn't wait for paypal to sort out their shit

[2019-03-19 00:04] bluepnume commented on #1036
Fix is in for wednesday checkout.js release.

[2019-03-19 03:45] nabeel-icm opened #1063 "'ppxo_unhandled_error' JavaScript error"
### Description

We have been noticing for a while that the below depicted JavaScript error appears out of nowhere on our application pagte which deals with Paypal payments. The error originates from Paypal Checkout.js.

![paypal error](https://user-images.githubusercontent.com/44759345/54647541-fab3ac00-4af6-11e9-9f96-b0ef6d888932.jpg)

In an already similar posted link:
https://github.com/paypal

[2019-03-19 04:52] bluepnume commented on #1063
You can drag and drop an image into an issue or comment -- or just copy/paste the error message and other logs.

[2019-03-19 04:53] bluepnume commented on #1063
Also can you please provide a link where this can be repro'd?

[2019-03-19 13:14] ferencbalogh commented on #914
@dpccristi Test in production better than sandbox, other things really funny, we provide 30 days access to premium content. We cant disable shipping address. :D

[2019-03-19 13:28] VivekVikranth commented on #1053
Initially I missed to add the meta tag `<meta http-equiv="X-UA-Compatible" content="IE=edge" />`  so the edge browser console I have seen a warning stating missing meta I thought that is causing the issue. But it is not. Even though I added the meta it is not working.

Below are the console logs screenshot of both my page that contains smart buttons and paypal checkout now window after broken.

![

[2019-03-19 14:21] sposs opened #1064 "Issue handling of tax with small amounts"
### Description

I'm having a problem creating an order and I can't see how to sort the problem. I have a 7.7% tax (in Switzerland), and I sell products 1 euro a piece. Now, this means the full price of the product after tax is 1.077. Therefore the breakdown is 1.00 for the price, 0.077 for the tax. But, because of the fact that the amounts must have only 2 decimal points, then there is a problem

[2019-03-19 16:47] sposs commented on #1064
Actually, the problem is when dealing with the quantity. Indeed, you cannot request rounded numbers if you then check the equality quantity*tax = total tax. indeed: if quantity=10, tax/item = 0.077, Total tax is 0.77 (10*0.077). But, as rounded tax per item is 0.08, total tax computed by paypal is 0.8 (10*0.08). This is very wrong and different and thus is rejected. Please remove the checks or all

[2019-03-19 23:05] nabeel-icm commented on #1063
screenshot attached.
And as it is appearing in a access-restricted application, I don't know how to reproduce it efficiently, externally.

[2019-03-20 14:00] Eralph commented on #1056
We are also implementing digital products so we do not need shipping. I hope they can add parameters for this one soon.

[2019-03-20 18:15] bluepnume commented on #1056
You can set `shipping_preference` here: https://developer.paypal.com/docs/api/orders/v2/#definition-application_context -- does this work for you?

Validation is coming with the next doc release.

[2019-03-20 19:15] gpozos-pp commented on #1040
Basically in order for it to work it must be like this:
` onApprove: function(data, actions) {

          console.log('**data:' + JSON.stringify(data));

          return  fetch(CAPTURE_ORDER_URL, {
                    method: "POST",
                    mode: "same-origin",
                    credentials: "same-origin",
                    body: JSON.stringify({
                      "orderID":

[2019-03-20 21:54] prindacerk commented on #1056
@bluepnume That's the Rest API. I believe others and I are talking about the checkout component in client side. No Server Side (Rest API) involved. That property used to exist in the previous version under "experience" but it doesn't exist anymore.

[2019-03-20 22:06] prindacerk opened #1066 "Multiple Paypal buttons throws error"
I have tried integrating the new Paypal Checkout script into my angular project. The previous script worked fine but as that has been archived and a new version has been promoted, I was trying to change my application to work with the new version.

One problem I have is when I have multiple (3 to be exact) Paypal buttons in the same page. Each button has it's own unique Id and has it's own render

[2019-03-20 22:09] bluepnume commented on #1066
Are you loading the script multiple times? Can you avoid that? You should be able to render the button without loading the script several times.

[2019-03-20 22:17] prindacerk commented on #1066
It could be possible. Not sure. I am using a porting package https://github.com/Enngage/ngx-paypal to implement it so maybe that module is loading it multiple times.

One related question though. Why are we passing the Client Id now in the script url? It used to be configurable in the paypalConfig before and that got passed into the render as a parameter. I would prefer that as I change the client

[2019-03-21 20:15] bluepnume commented on #1036
This is now resolved for checkout.js in all browsers except firefox.

[2019-03-21 20:15] #1036 closed

[2019-03-25 05:54] abby999 opened #1067 "JS Error - Use of Mutation Events is deprecated"
getting the following JS error in Production -

Use of Mutation Events is deprecated. Use MutationObserver instead. script.js:60:8
Blocked loading mixed active content “http://pp.netparcel.com/myaccountinfo.action”[Learn More] viewpaymentinfo.action
ppxo_xc_ppbutton_error
Object { error: "./node_modules/post-robot/src/index.js/_RECEIVE_MESSAGE_TYPE[conf.b.POST_MESSAGE_TYPE.RESPONSE]@https://www.pa

[2019-03-25 17:58] bluepnume commented on #1053
- I've set up a quick demo page -- can you try here: http://bluesuncorp.co.uk/icv4/button.htm
- Does anything in this doc help? We've seen intranet mode can affect edge users too: https://developer.paypal.com/docs/checkout/troubleshoot/internet-explorer/
- Do you see the issue only when browsing on a corporate device? or are you able to reproduce on a personal device off your corporate network?

[2019-03-25 18:09] bluepnume commented on #1067
Sorry, can you please open a new issue and answer all the questions? Otherwise it's extremely difficult for us to triage.

[2019-03-25 18:09] #1067 closed

[2019-03-25 18:10] bluepnume commented on #1066
This means we can decide which buttons you're eligible for when building the script. It means we can deliver a much more streamlined, optimized script that's specific to your site and your buyers.

[2019-03-25 18:10] #1066 closed

[2019-03-25 18:12] bluepnume commented on #1064
@rajarampadmanathan can you help answer this one. Is there any support non-rounded values?

[2019-03-25 18:13] bluepnume commented on #1056
The client side `actions.order.create` call accepts all of the parameters from the link I shared. You should still be able to pass `shipping_preference`

[2019-03-25 18:17] tfulton commented on #1053
confirmed, Edge is somehow invoking the onCancel() as the issue suggests.  here is a quick gist that might be easier to diagnose: https://gist.github.com/tfulton/45617db33d90d005975b547623969b5f

[2019-03-25 22:46] prindacerk commented on #1066
Thanks for the explanation. Appreciate it. However, doesn't this create a
risk of exposing the client id to anyone who can just view the page source?
Also, won't I have to configure different urls based on environment
(sandbox or prod) instead of passing a client Id in code in runtime?

This may be a bit messy approach on a SPA architecture I think. Please feel
free to let me know otherwise.

On T

[2019-03-26 00:30] abby999 opened #1068 "Checkout.js - return_url issue"
PayPal Redirect Issue.

 - JS CODE :

<div id="paypal-button-container"></div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
 <script>
// env: 'sandbox', // sandbox | production
paypal.Button.render({
env: '<%=((String) session.getAttribute("MODE")).equals("LIVE") ? "production" : "sandbox"%>',
locale: 'en_CA',
style: {
label: 'pay',
 fundingicons: true, // optional
brandi

[2019-03-26 03:51] prasannashr commented on #842
Hi @bluepnume How did you solve this issue.
I am also facing this error in my react/mobx project in IE-Edge/IE11.
It will be great help if you could share the solution.

Thanks :)

[2019-03-26 12:22] prindacerk opened #1069 "CORB error from Chrome"
In Chrome v73, I am getting
`Cross-Origin Read Blocking (CORB) blocked cross-origin response https://www.sandbox.paypal.com/xoplatform/logger/api/logger with MIME type text/html. See https://www.chromestatus.com/feature/5629709824032768 for more details.`
in the console. It is creating a lot of noise in the console.

Is there anything I can do to prevent this from happening? Would this happen in P

[2019-03-26 13:06] prindacerk commented on #1056
Thanks @bluepnume. The documentation doesn't explain the properties so I wasn't aware that these properties are available in javascript.

@Eralph @underthecocotree You can disable shipping using the code below.
`createOrder: (data, actions) => {
	return actions.order.create({
		intent: "CAPTURE",
		purchase_units: [],
		application_context: {
			shipping_preference: "NO_SHIPPING",
		},
	});
}`
Set

[2019-03-26 13:51] VivekVikranth commented on #1053
@bluepnume To answer your questions -

The quick demo page that you provided me is working fine on my Edge browser.

I haven't got any such error related to intranet.

We don't have access to our DEV environment outside of our corporate network.

[2019-03-26 13:52] VivekVikranth commented on #1053
Sorry, I closed this ticket by mistake. Re-opened it now,

[2019-03-26 14:49] prindacerk commented on #1063
I am also facing this same issue in my Angular application. It seems to appear when I navigate away from the page so maybe it's not closing properly or the event listener is not disconnecting?

[2019-03-26 14:52] prindacerk commented on #1066
Rendering this without the package directly is creating the problem mentioned in #1063

[2019-03-26 22:16] bluepnume commented on #1053
Looks like this is almost certainly an intranet issue. There will not be any errors as this is virtually impossible for us to detect in Edge.

I suggest following these guides; unfortunately this is the best we can offer:

https://developer.paypal.com/docs/checkout/troubleshoot/internet-explorer/
https://medium.com/@bluepnume/ie-intranet-and-trusted-modes-a852d3a0bd47

[2019-03-26 22:40] bluepnume commented on #1068
Looks like the call to the server is failing (a url which is not in our control):

<img width="1389" alt="Screen Shot 2019-03-26 at 3 30 56 PM" src="https://user-images.githubusercontent.com/1219075/55037816-34475400-4fdc-11e9-97e0-fe73f568cff8.png">

Then the code is trying to do `actions.redirect()` in `onError`. That's not supported. Should just do a regular `window.location = '...'` here.

I t

[2019-03-27 11:17] underthecocotree commented on #1056
Thats great, thanks for sharing it.  It was the `shipping_preference` parameter that I wasn't aware of.  Good to know that we can use the rest of the parameters as well.

I guess we can close this issue now.

[2019-03-28 07:52] BetaProg commented on #295
@bluepnume  While your solution holds good for 2 <div>s , it fails in the case where it is free input text field where the user can dynamically change the amount value. In that case without calling render every time, how the amount gets updated and passed to payment? Please clarify if I'm wrong somewhere.

[2019-03-30 10:59] janwol opened #1070 "XMLHttpRequest from origin 'https://www.paypal.com' has been blocked by CORS policy (multiple values)"
### Description
Chrome console:

_"Access to XMLHttpRequest at 'https://www.paypalobjects.com/js/xo/hermes/1.9.0/framework-code-split.js' from origin 'https://www.paypal.com' has been blocked by CORS policy: The 'Access-Control-Allow-Origin' header contains multiple values '*, *', but only one is allowed."_

### Steps to reproduce
Try to checkout with iframe-modal in standalone PWA. Clicking on th

[2019-03-31 05:25] Abhith commented on #1060
fixed on commit 6b298fa23609504a7caac8a51504aeb4cd0c6cfe

[2019-03-31 05:25] #1060 closed

[2019-03-31 19:25] nestonian opened #1071 "Amount from session on createOrder"
Is this possible to "enforce" somehow the retrieval of a session variable for the amount.
The exame tries to use the variable cost, but the var is retrieved only once on site opening...

`

     paypal.Buttons({

      createOrder: function(data, actions) {
      var cost = "<?php echo $this->session->userdata('finalCost')?>";

      // Set up the transaction
      return actions.order.create({

[2019-04-01 17:07] edindubai commented on #1070
I get this same error. See https://stackoverflow.com/questions/55450259/cors-and-createpayment-errors-for-paypal-standard

Everything works fine on sandbox but on wordpress with woocommerce going from checkout to paypal login I get the same CORS issue and trying to continue to do payment I get createPayment error with all payment methods, including preloaded balance so isn't a card issue. ( one li

[2019-04-01 18:18] #1053 closed

[2019-04-02 00:57] sideshowbarker commented on #1070
The cause is that `https://www.paypalobjects.com/js/xo/hermes/1.9.0/framework-code-split.js` is sending two `access-control-allow-origin: *` response headers in the response:

[code]

That’s exactly what’s causing the browser to fail and to report that _“The 'Access-Control-Allow-Origin' header contains multiple values '*, *', but only one is allowed."”_ error message.

So that server is misconfig

[2019-04-02 10:48] isuex commented on #1054
Has the problem been solved? What is a good solution?

[2019-04-02 11:10] isuex commented on #1043
Has the problem been solved? What is a good solution?

My browser on the iPhone is normal. On the Android phone, only by modifying UA to the iPhone can I display it properly. Otherwise, I always click the Payment button to display loading.

[2019-04-02 11:32] tommmn commented on #1016
@tctrini any news?

[2019-04-02 18:24] bluepnume commented on #1054
Hi all. If you're still seeing this issue, can you please open a new ticket and answer all of the questions (including error logs, screenshots, and exact browser versions)? We really need that information to help triage.

Thanks!

[2019-04-02 18:24] #1054 closed

[2019-04-02 18:26] bluepnume commented on #1071
Can you please clarify the question? If you want to retrieve a new `amount` from your server, you can make an ajax call to your server, and return a promise to the `createOrder` function, then call `actions.order.create()` once that ajax call completes.

[2019-04-02 18:29] bluepnume commented on #1069
This is a fire-and-forget call -- but I'll try changing the content-type to application/json and see if that helps. It definitely should not be html.

[2019-04-02 18:30] bluepnume commented on #1070
There's a push that should be going out today to resolve the issues with that file. Will update this thread.

[2019-04-03 01:59] tctrini commented on #1016
@tommmn  We have supported the DISCOUNT attribute but the external documentation is not updated.  The update will happen in a weeks time.  Having said so, please follow the below instructions to use the attribute.

The attribute is supported under the amount_breakdown object.
https://developer.paypal.com/docs/api/orders/v2/#definition-amount_breakdown

The name of the attribute (object) is 'discou

[2019-04-03 03:18] isuex opened #1072 "Web PayPal unable to display login window on Android mobile phone"
### Description

- Originally, I wanted to use WebView to embed Web PayPal in Android application. I encountered some problems in using it. After clicking the payment button, I always showed loading. Normally, I should jump into PayPal account input to complete payment after loading.
![](http://isuex.com/loading.jpg)

- I am connected to the latest checkout.js to the PayPal JavaScript SDK. https:/

[2019-04-03 12:33] tommmn commented on #1016
@tctrini thanks, it is working. There are more hidden QoL features out there? :blush:

[2019-04-04 22:29] teambuktu commented on #1069
Happens in production as well. However, everything is still working.

Hopefully changing the content-type fixes the issue...whenever it comes to payments, console warnings just look bad ;)

[2019-04-05 16:46] bluepnume commented on #1070
Should be released. Please let me know if you still see the issue.

[2019-04-05 16:46] #1070 closed

[2019-04-05 16:49] #1068 closed

[2019-04-05 16:55] FelipeNunes04 commented on #1070
Anybody get the solution for this problem?

[2019-04-05 16:56] FelipeNunes04 commented on #1070
I'm using paypal in my webview android, but i get this problem, he 'Access-Control-Allow-Origin' header contains multiple values '*, *', but only one is allowed. Origin 'https://www.paypal.com' is therefore not allowed access."

[2019-04-05 16:58] #1016 closed

[2019-04-05 16:58] #1056 closed

[2019-04-05 17:02] janwol commented on #1070
Still getting duplicated headers..

[2019-04-05 18:20] #1071 closed

[2019-04-06 09:55] Dubaidogfish commented on #1070
Still see the same error as before:

Edge:
SEC7128: [CORS] The origin 'https://www.paypal.com' found multiple Access-Control-Allow-Origin response headers for cross-origin  resource at 'https://www.paypalobjects.com/js/xo/hermes/1.9.0/framework-code-split.js'.

Chrome:
Access to XMLHttpRequest at 'https://www.paypalobjects.com/js/xo/hermes/1.9.0/framework-code-split.js' from origin 'https://www.pa

[2019-04-06 13:00] b101 commented on #1070
I'm also having the same problem, seems like the fix didnt work 😔

[2019-04-06 13:57] b101 opened #1074 "XMLHttpReq from CORS error and afterwards the pay now button does nothing"
I'm having the same problem as it was mentioned in [ISSUE 1070](https://github.com/paypal/paypal-checkout-components/issues/1070)
but when I just continue with the checkout and try to complete the purchase nothing is happening when hitting the pay now button. In my browser dev tools I see this:

`Failed to load resource: the server responded with a status of 400 () https://www.paypal.com/webapps/h

[2019-04-07 15:56] Erlix322 commented on #1072
+1 I can confirm this error/bug... any updates on this?

[2019-04-08 17:23] h3 commented on #350
@bluepnume The problem is that the workflow assumes that the amount is known *and* valid before the button is rendered. In a scenario where the user has to fill in a minimum amount, showing a clickable button that just links to a validation error makes no sense.

As for *Add a validate(actions) { ... } handler*, can you be more specific because I might be missing something, but this has no effects

[2019-04-08 17:41] bluepnume commented on #994
Going to close this issue for now as I don't see us deprecating the npm package any time soon. We don't want any new integrations on it, but we will still periodically release v4 with new customer facing updates and we need a path for merchants to seamlessly upgrade.

[2019-04-08 17:41] #994 closed

[2019-04-08 17:42] bluepnume commented on #1074
Please open a new issue and answer all of the asked questions, including a link to a page where we can reproduce the issue, and instructions to reproduce. Thanks!

[2019-04-08 17:42] #1074 closed

[2019-04-08 17:43] Darkwamba commented on #727
@raRaRa please can you tell me what do you do in this.createAgreement and this.onAuthorize? I have your same need

[2019-04-08 17:48] bluepnume commented on #1069
Thanks for the clarification. I think a recent chrome update might have triggered this. But we have a fix in for the next release.

[2019-04-08 17:53] bluepnume commented on #1064
Please let me know if this is still an issue.

[2019-04-08 17:54] bluepnume commented on #1063
I'm struggling to reproduce this one. Does anyone have a demo page where I can repro?

[2019-04-08 17:56] bluepnume commented on #1061
Thanks for the report. This is a known issue which is being tracked internally by our login team. I'll report back when this is resolved.

[2019-04-08 18:02] bluepnume commented on #1072
Closing as a duplicate of https://github.com/paypal/paypal-checkout-components/issues/1061 -- found the cause of this and tracking internally.

[2019-04-08 18:02] #1072 closed

[2019-04-08 18:04] bluepnume commented on #1052
Sorry, we do not have plans to support this from the sdk.

[2019-04-08 18:04] #1052 closed

[2019-04-08 18:04] bluepnume commented on #1050
Please see the examples at https://github.com/paypal/paypal-checkout-components/tree/master/demo

[2019-04-08 18:04] #1050 closed

[2019-04-08 18:05] bluepnume commented on #1045
No, the user must actually click on the button to proceed.

[2019-04-08 18:05] #1045 closed

[2019-04-08 18:05] bluepnume commented on #1043
We will track this one here: https://github.com/paypal/paypal-checkout-components/issues/1061

[2019-04-08 18:05] #1043 closed

[2019-04-08 18:06] bluepnume commented on #1042
This SDK does not manage paypal connect. Please follow the docs at https://developer.paypal.com/docs/integration/direct/identity/connect-with-paypal/

[2019-04-08 18:06] #1042 closed

[2019-04-08 18:08] bluepnume commented on #965
Can you confirm if you're still seeing this issue?

[2019-04-08 18:08] #976 closed

[2019-04-08 18:08] bluepnume commented on #1019
Tracking here: https://github.com/paypal/paypal-checkout-components/issues/1061

[2019-04-08 18:08] #1019 closed

[2019-04-08 18:09] bluepnume commented on #1032
Please see https://developer.paypal.com/docs/checkout/integration-features/validation/

[2019-04-08 18:09] #1032 closed

[2019-04-08 18:09] #1033 closed

[2019-04-08 18:10] bluepnume commented on #1035
Closing this out. If there are issues with the server SDKs, please open them in the relevant repos. @rajarampadmanathan can help triage.

[2019-04-08 18:10] #1035 closed

[2019-04-08 18:12] bluepnume commented on #1040
Are you still seeing an issue here?

[2019-04-08 20:27] b101 commented on #1074
@bluepnume another new issue? I thought this one would do 😅because it is a new one..

[2019-04-08 21:58] b101 opened #1075 "PayPal Checkout not working, having issues with CORS policy as well as a 400 status code on /webapps/hermes/api"
### Description

I'm runnin Wordpress 5.1.1 with WooCommerce 3.5.7, I've tried switching back to a standard Wordpress Theme, but it didn't help, so the error shouldn't be theme related.

**The error**
Basically I cant checkout with PayPal. I complete all the steps a buyer has to, (choose item, add to cart, go to cart, checkout, input personal information, pick PayPal as payment method, accept term

[2019-04-09 00:52] peachyecwid commented on #965
@bluepnume

Hello! You can't reproduce the issue in the merchant's store because they switched the shopping cart platform.

Though the issue still appears in my store. You can check it out at https://www.facebook.com/pg/Peachy-Store-344394829697370/shop/
Here is a screencast of the issue: https://take.ms/q4aI0

Please, let me know if you need more details. Thanks!

[2019-04-09 01:17] isuex commented on #1061
https://developer.paypal.com/docs/archive/checkout/integrate/#

It is possible to use the above case invocation. It is not clear whether it is the reason for remote invocation of js, sometimes it is very slow.

[2019-04-09 07:22] edindubai commented on #1075
Same issue, same wordpress and Woocommerce versions. Site has 'Let's Encrypt' SSL, no CDN. I have also tried disabling site isolation trial in Chrome. Same issue on Edge (last 3 screenshots). Similarly couldn't pay in Firefox. Same regardless of payment method, ie paypal balance or cards. Works without issue on sandbox. The fix apparently released for the CORS bug in #1070 didn't have any effect a

[2019-04-09 07:26] sposs commented on #1064
Are you joking? Why is this closed, I never got a reply???

[2019-04-09 16:20] rajarampadmanathan commented on #1064
I will look into this issue.

[2019-04-09 19:37] gpozos-pp commented on #1040
Yes.[ Documentation](https://developer.paypal.com/docs/checkout/integration-features/funding-failure/) is wrong regarding the handle of server-side funding failures.  It should be something like this:
` if (details.details[0].issue === 'INSTRUMENT_DECLINED') {
return actions.restart();
}`
Instead of this:
`if (details.error === 'INSTRUMENT_DECLINED') {
return actions.restart();
}`

[2019-04-09 20:32] rsdighe76 commented on #1064
is 1.077 even payable even if someone wants to ?

[2019-04-10 01:28] prindacerk commented on #1063
@bluepnume I created a sample project for you. Now the replication is not the same as my application because my application is loading content via API service and this has been hardcoded. So there's no subscribe involved.
But you can reproduce by clicking the different links provided in the page as quickly as you can. I think that it has to do with loading and unloading the components and similar

[2019-04-10 06:33] libaoqian opened #1076 "Payment REST API return 403 "PERMISSION_DENIED""
### Description
 I created a new application and it does not work, with the client_id of an old application works well, it seems that happen with the new apps.

`curl --verbose --request POST 'https://api.sandbox.paypal.com/v1/payments/payment/PAYID-LSWYSTY5GC60571HK0201839/execute' \
  --header "Authorization:BearerA21AAEC82KJpvWx_UCOMoJpdCDbFNcePiBP7hzqMrwa5jRd1Bj5KWBjY0PKzfRyqQHCsE9RBkkovxEG_D3

[2019-04-10 07:30] sposs commented on #1064
I don't mind if 1.077 is rounded to 1.08. But I mind that I cannot set 1.077 because I need it so that if multiplied by the quantity, it's set to 10.77 (the right amount), and not 10.80.

[2019-04-10 10:00] kerko opened #1077 "Page close and page unload trigger onError function of Smart Payment Button"
### Description
When you define an onError function like in the following code example, every time you navigate away from a page with a Smart Payment Button the following happens :
* Browser opens new url
* Browser get immediately redirected to url defined in on error

Is this expected behavior of the onError function ? It doesn't feel right to check the message of the error to not show the errorp

[2019-04-10 18:23] rsdighe76 commented on #1064
My recommendation would be to not pass tax within item but do so within amount.tax_total

leave this out.
[code]

[2019-04-11 07:47] sposs commented on #1064
Fair enough, that seem to work. I guess it's a little confusing to me: I thought the tax per item was mandatory. I see from the doc that it's not. That solves the issue. Thanks for the debug.

[2019-04-11 07:47] #1064 closed

[2019-04-11 11:53] edindubai commented on #1075
So the merchant account technical support said the engineers said the CORS issue should be ignored as the payment flow proceeds correctly to the point of clicking pay and it has no effect on it. They said payment failure is most likely an issue with the status/country of the seller account. I did try to do a paypal 'pay for services' transfer within paypal, to the seller account's email I was usin

[2019-04-11 21:11] jlchavez commented on #431
This "demo" doesn't exists anymore. There should be a validation mechanism.

[2019-04-12 11:57] b101 commented on #1075
@edindubai 😞

[2019-04-12 12:53] i7eo opened #1079 "PayPal Payments SDK script not present on page!"
Hi! I use paypal (v5.0.23), but i have some problems. Can you help me to review these problems?

### Description

![screen-capture](https://user-images.githubusercontent.com/18899748/56038243-0431dc00-5d64-11e9-9ac0-ea11bdb3558b.png)

Code:
[code]

I want to display smart payment button correctly on the page  in the page. but now the button didn't display on the page

### Affected browsers

- [ ]

[2019-04-12 13:59] i7eo commented on #1079
hi, I use the 'velocity' template(.vm) in my Java web project. I found that when I loaded with my own clientid, I was missing the smart file resource(pic-1). When I use you provide to ‘https://www.paypal.com/sdk/js?client-id=sb' The smart file resource exists(pic-2).
When I delete all the template code of the product details page(goodsDetail.vm), the example given in the official website exists in

[2019-04-15 01:57] #1079 closed

[2019-04-15 02:21] i7eo opened #1080 "Clicking the button on the mobile page is invalid."
### Description

The buttons worked in the desktop browser, but when I used chrome mobile debugging, it didn't work. Safari mobile debugging worked. This confused me. At first I suspected it was a style problem, but in safari it worked.

### Affected browsers

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [ ] IE
- [ ] Chrome Mobile/Tablet
- [ ] Safari Mobile/Tablet
- [ ] Web View / Safari V

[2019-04-15 02:22] i7eo commented on #1080
Chrome Mobile/Tablet is invalid, Safari Mobile/Tablet is effective.

[2019-04-15 09:02] syfgkjasdkn opened #1081 "CORS issue"
### Description

Similar to #1075 but not quite the same.

The error:

[code]

### Steps to reproduce

Not sure if it affects live transactions, but it definitely doesn't work for me in sandbox env. When I try to login and pay as a sandbox user, it shows me a message that the transaction couldn't be completed at this time, and the browser console shows the error above.

### Affected browsers

- [x

[2019-04-15 10:29] #1081 closed

[2019-04-15 10:30] syfgkjasdkn commented on #1081
Actually, the root cause is the same -- invalid merchant account.

[2019-04-15 11:44] wanlerong commented on #1070
still get this problem

[2019-04-15 12:06] Enngage commented on #1066
@bluepnume Hey, I'm the author of the mentioned `ngx-paypal` lib for Angular. From what I understand, it is not possible to have multiple script on a single page which essentially means you could not have 2 PayPal buttons whose URL parameters differ - e.g. different currency, is that correct?

Additionally, is there any way of destroying PayPal script? When remove paypal from window object and rem

[2019-04-15 15:13] mirkourrunanos opened #1082 "Problem implementing creating Order for React"
### Problem trying to implement creation order

I'm building this React Component to create a payment order. Check this code here:

[code]

On top, over the obvious import like React, I've also
[code]

The button is visible but if I try to click it I got this message:
[code]

I've already checked this example https://github.com/paypal/paypal-checkout-components/blob/master/demo/react.htm that look

[2019-04-16 08:40] EricBrandt2512 commented on #1061
any hope to fix this soon or is it better to use the deprecated checkout.js for now?

[2019-04-16 12:39] smakosh commented on #1069
Seeing the same warning on the console

[2019-04-17 13:20] pauzhang-61 commented on #1061
Waiting for the fix!!!

[2019-04-17 22:44] gbaudry303 commented on #1061
Any ETA on this? Clients waiting desperately on this.

[2019-04-18 06:17] wanlerong commented on #1072
same here. In sandbox envirment, when i use a US country business account

@bluepnume

[2019-04-18 06:21] wanlerong commented on #1061
same here. maybe it is related to the country of the business account.
In sandbox envirment, when i use a C2 country business account, it can't work
In sandbox envirment, when i use a US country business account, it worked normally

@bluepnume

[2019-04-19 14:32] pauzhang-61 commented on #1061
@wanlerong
I tried an US sandbox account,  it still can't work.

[2019-04-19 22:24] bluepnume commented on #1061
Fix is planned to be released on monday. 👍

[2019-04-22 05:48] i7eo commented on #1061
today?

[2019-04-23 13:19] ashishsaxena84 commented on #1069
Please suggest how to do it

[2019-04-23 15:38] gbaudry303 commented on #1061
It is now working, however there is a problem: the modal doesn't have focus, so it is not possible to scroll down to see content in the modal. The page behind gets scrolled instead. This happens on ios. Should a new issue be opened?

[2019-04-23 16:14] bluepnume commented on #1082
You're passing:

[code]

this should be:

[code]

[2019-04-23 16:14] #1082 closed

[2019-04-23 16:15] bluepnume commented on #1080
Please fill out the entire issue template when submitting issues. We ask specific questions to help us triage.

[2019-04-23 16:15] #1080 closed

[2019-04-23 16:16] bluepnume commented on #1077
Can you let me know the specific error you see being passed to `onError`? And do you have a page where we can reproduce the problem?

[2019-04-23 16:16] bluepnume commented on #1076
Please make sure the client id you're using to set up the payment is the same client id you're using to call /execute.

[2019-04-23 21:28] LoveChase commented on #365
Hey Thank you so much for your comment, I have been trying to figure out an odd bug that did not exists in incognito.
Really appreciate you!

[2019-04-24 06:51] kerko commented on #1077
Hi the Error passed is "Window navigated away"
I was able to trace it back to this function in the sdk :
[code]
I was no able to create a simple reproducer and we already have a workaround in place on our page :/. Maybe this is a race condition that the unload eventListener is not canceled fast enough somehow on our page ?

[2019-04-24 07:47] sandymca94 commented on #750
Hi,

I am also getting the same issue - "Checkout popup fires onCancel immediately after loading" on Edge.

For temporary solution I did this as suggested in this article - "https://github.com/paypal/paypal-checkout-components/issues/959" but I can't give this solution to our client.

 I added the internal server and the "https://www.sandbox.paypal.com" size to the trusted Sites and restarted the

[2019-04-24 09:06] kitrak17 opened #1086 "checkout.js button not clickable at some portion"
### Description
SPB is not clickable only at the some portion(especially at the top section) in few mobile devices when we test it in the Chrome browser. Also this happens only when we use Bootstrap classes along with the button render code.

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
![image](https://user-images.githubusercontent

[2019-04-24 10:35] sandymca94 opened #1087 "Checkout popup fires onCancel immediately after loading"
Hi,

I am also getting the same issue - "Checkout popup fires onCancel immediately after loading" on Edge.

For temporary solution I did this as suggested in this article - "https://github.com/paypal/paypal-checkout-components/issues/959" but I can't give this solution to our client.

 I added the internal server and the "https://www.sandbox.paypal.com" size to the trusted Sites and restarted the

[2019-04-24 11:30] fra105 commented on #1087
Since i am working on the same issue right now i will post this here and not open a new one:

----

### Description

After the button is clicked and the popup finished loading, onCancel is called immediately and finally onError is called and the overlay disappears but the popup stays open.

I found similiar Issues here already closed, telling us to change our internet/intranet settings and trusted

[2019-04-25 01:41] hnliyuan commented on #707
where is the new sdk?

[2019-04-25 13:03] fra105 commented on #1087
Now after i cleared my cache and cookies and everything on my Edge, i can not reproduce this issue anymore. At least onCancel is not called automatically. But onError is still called after the popup is closed manually by pressing X with the message "The remote server machine does not exist or is unavailable".

But clearing browser data is not a solution. The initial issue will still occur to some

[2019-04-26 04:54] sandymca94 commented on #1087
No it didn't help me, as I cleaned my cache and cookies and everything on my Edge but still it is not working and getting the same issue.

Description

After the button is clicked and the popup finished loading, onCancel is called immediately and overlay disappears but the popup stays open.

I found some link in GitHub - https://github.com/paypal/paypal-checkout-components/issues/750 and already c

[2019-04-29 15:17] gbaudry303 commented on #1061
Any update about this issue??

[2019-04-30 17:27] Ed-SA opened #1088 "Sandbox returns oncancel on all transactions since 4/29/19"
### Description

Code working 2 days ago now fires onCancel event always, regardless of payment method chosen (tried sandbox paypal account, test visa, test mastercard, etc).

### Steps to reproduce

Any sandbox transaction using the javascript buttons API now fails.

### Affected browsers

- [ ] Chrome
- [ ] Safari
- [x ] Firefox
- [ ] Edge
- [ x] IE
- [ ] Chrome Mobile/Tablet
- [ ] Safari Mobile

[2019-04-30 17:42] bluepnume commented on #1088
Thanks for the heads-up. This should now be fixed -- can you please check and see if you're still seeing the issue?