[2020-04-22 20:06] bluepnume commented on #1155
Please let us know if you're still seeing this issue. Recommend trying with the latest version of the sdk. Thanks.

[2020-04-22 20:07] bluepnume commented on #1153
Hi, closing this one for now as it's not a commonly requested feature.

[2020-04-22 20:07] #1153 closed

[2020-04-22 20:07] #1150 closed

[2020-04-22 20:07] #1147 closed

[2020-04-22 20:08] bluepnume commented on #1140
Closing this for now. We can reconsider this request in future, but for now we don't have plans to change the default behavior. Thanks.

[2020-04-22 20:09] bluepnume commented on #1139
Hi, sounds like this should be handled using async validation. Please let me know if you see any specific errors when trying that. https://developer.paypal.com/docs/checkout/integration-features/validation/

[2020-04-22 20:09] #1139 closed

[2020-04-22 20:11] bluepnume commented on #1247
Hi @ravishekhar -- has this one been resolved, and can it be closed out? Thanks.

[2020-04-22 20:12] #1245 closed

[2020-04-22 20:12] #1244 closed

[2020-04-22 20:12] #1240 closed

[2020-04-22 20:13] bluepnume commented on #1236
This is by design. For compliance reasons, we are unable to share the full address until the buyer has approved the payment. Thanks.

[2020-04-22 20:13] #1236 closed

[2020-04-22 20:14] bluepnume commented on #1235
We will be releasing a new native sdk shortly. Will share details when that is ready. Thanks.

[2020-04-22 20:14] #1235 closed

[2020-04-22 20:14] bluepnume commented on #1232
Hi, please let me know if you're still seeing this issue. Thanks.

[2020-04-22 20:14] #1232 closed

[2020-04-22 20:15] bluepnume commented on #1231
Please let me know if you're still seeing this issue. Thanks.

[2020-04-22 20:15] #1231 closed

[2020-04-22 20:17] bluepnume commented on #1230
Hi,

These warnings should not block actual payments. @andrewlorenz if you're seeing a specific error or issue in Firefox, can you please raise a new issue with details? Thanks.

[2020-04-22 20:17] #1230 closed

[2020-04-22 20:17] #1229 closed

[2020-04-22 20:17] #1226 closed

[2020-04-22 20:18] bluepnume commented on #1225
This should be resolved. Please let me know if you're still seeing the issue. Thanks.

[2020-04-22 20:18] #1225 closed

[2020-04-22 20:19] bluepnume commented on #1224
Thanks for putting this doc together Khang! Could you work with Tiona to get this included in the main troubleshooting section of the docs on developer.paypal.com? Thanks!

[2020-04-22 20:21] #1219 closed

[2020-04-22 20:22] bluepnume commented on #1203
Please let me know if you're still seeing this issue. Thanks.

[2020-04-22 20:22] #1203 closed

[2020-04-22 20:22] #1202 closed

[2020-04-22 20:22] #1201 closed

[2020-04-22 20:23] bluepnume commented on #1195
Hi, the vertical buttons do have a minimum size, that you're probably hitting up against here. Thanks.

[2020-04-22 20:23] #1195 closed

[2020-04-22 20:23] #1192 closed

[2020-04-22 20:25] bluepnume commented on #1189
Hi, please use the latest integration at https://developer.paypal.com/docs/checkout/ -- the iframe title is now `paypal_buttons`. Thanks.

[2020-04-22 20:25] #1189 closed

[2020-04-22 20:29] bluepnume commented on #1294
Hi, thanks for the report. Just to confirm -- are you saying the user is never redirected back from the browser window after hitting continue/pay now?

[2020-04-22 20:29] #1292 closed

[2020-04-22 20:30] bluepnume commented on #1291
Hi, this should now be resolved. Can you please let me know if you still see the issue. Thanks!

[2020-04-22 20:30] #1291 closed

[2020-04-22 20:30] bluepnume commented on #1290
Hi @cusero -- sorry, the discussion got a little sidetracked on an unrelated issue. I'll take a look at the problem you initially reported. Thanks.

[2020-04-22 20:31] bluepnume commented on #1289
Hi, sorry, this repo is only really for SDK integrations. Recommend reaching out to PayPal's tech support. Thanks.

[2020-04-22 20:31] #1289 closed

[2020-04-22 20:47] bluepnume commented on #1286
Hi all. If there's a specific issue I can help solve, please let me know.

In terms of relying on our button to start the checkout process, rather than starting it programmatically, this allows us to:

- Present the perfect buttons for a given buyer
- Allow the buyer to see an experience that's personalized for them
- Allow the buyer to do a seamless one-click payment in future.

Happy to help wor

[2020-04-22 20:47] #1286 closed

[2020-04-22 20:48] bluepnume commented on #1285
Can you please let me know if you're still seeing this issue, and provide specifics? Thanks.

[2020-04-22 20:48] #1285 closed

[2020-04-22 20:49] bluepnume commented on #1281
Can you please try with the latest sdk version and let us know if you're still seeing issues. Thanks.

[2020-04-22 20:49] #1281 closed

[2020-04-22 20:50] bluepnume commented on #1280
Hi, please pass NO_SHIPPING. https://developer.paypal.com/docs/api/orders/v2/#definition-order_application_context

Thanks.

[2020-04-22 20:50] #1280 closed

[2020-04-22 20:52] bluepnume commented on #1278
Thanks for the report. We're looking into the issue.

[2020-04-22 20:53] bluepnume commented on #1277
Hi, sorry this repo is only for the web js sdk.

[2020-04-22 20:53] #1277 closed

[2020-04-22 20:55] bluepnume commented on #1274
We can track this over here: https://github.com/paypal/paypal-checkout-components/issues/1290

[2020-04-22 20:55] #1274 closed

[2020-04-22 20:56] bluepnume commented on #1265
Hi @khanghoang -- are you familiar with this one?

@nevenblazic -- are you still seeing this issue?

[2020-04-22 20:57] bluepnume commented on #1264
Hi, sorry this is not supported, or planned.

[2020-04-22 20:57] #1264 closed

[2020-04-22 20:59] bluepnume commented on #1263
@khanghoang is this a known issue? Thanks

[2020-04-22 21:03] bluepnume commented on #1262
Hi, yes, you can redirect to `https://www.paypal.com/checkoutnow?token=XYZ` in this case.

We'll soon have a native sdk for your mobile app that will handle this for you. But in the mean time that should work.

[2020-04-22 21:03] #1262 closed

[2020-04-22 21:15] fstilman commented on #1263
Yes, it is, and was the reason for us moving to Stripe.

You can see this bug in action even on PayPal's Smart Payment Buttons demo
page on https://developer.paypal.com/docs/checkout/#

The error seems to happen in the following situation:

- Spanish UI (I think this depends on browser locale)
- Choosing a spanish-speaking country like Argentina or Uruguay. For Spain
this is not happening. Argenti

[2020-04-22 21:16] fstilman commented on #1263
Yes, it is, and was the reason for us moving to Stripe.

You can see this bug in action even on PayPal's Smart Payment Buttons demo
page on https://developer.paypal.com/docs/checkout/#

The error seems to happen in the following situation:

- Spanish UI (I think this depends on browser locale)
- Choosing a spanish-speaking country like Argentina or Uruguay. For Spain
this is not happening. Argenti

[2020-04-22 21:18] bluepnume commented on #1260
Hi -- this introduces a lot of potential failure points and isn't something we're likely to support, unless there's a really good use case.

If you need to disable cards in one case, I recommend using standalone buttons: https://developer.paypal.com/docs/checkout/integration-features/standalone-buttons/

That will give you a lot more control over what (and how) buttons are rendered on the page.

[2020-04-22 21:18] #1260 closed

[2020-04-22 21:21] bluepnume commented on #1258
Hi -- trying to narrow down the right person to look into this. Can you confirm if you're still seeing the issue? Thanks!

[2020-04-22 21:22] bluepnume commented on #1256
Hi -- trying to narrow down the right person to look into this. Can you confirm if you're still seeing the issue? Thanks!

[2020-04-22 21:22] bluepnume commented on #1255
Hi -- trying to narrow down the right person to look into this. Can you confirm if you're still seeing the issue? Thanks!

[2020-04-22 21:23] bluepnume commented on #1254
Can you confirm if you're still seeing the issue, and can you please try with the latest version of the sdk? Thanks

[2020-04-22 21:23] #1254 closed

[2020-04-22 21:23] bluepnume commented on #1253
Can you please reopen this issue with full details.

[2020-04-22 21:23] #1253 closed

[2020-04-22 21:23] bluepnume commented on #1252
Hi, this module is not intended to be consumed directly. Please follow the guide at https://developer.paypal.com/docs/checkout/ -- thanks!

[2020-04-22 21:23] #1252 closed

[2020-04-22 21:25] bluepnume commented on #1283
FYI @khanghoang -- I think in the short term, the best solution here is just to render a 'cancel' link in the card field iframe below the submit button, that closes and returns to the buttons.

[2020-04-22 21:26] bluepnume commented on #1248
Hi -- @vishakha94 can you please take a look and make sure the nonce passed in data-csp-nonce is making it into all of the style tags? Thanks!

[2020-04-22 21:27] bluepnume commented on #1223
Thanks for the report. Checking into it.

[2020-04-22 21:28] bluepnume commented on #1138
Can track this here. https://github.com/paypal/paypal-checkout-components/issues/1222

[2020-04-22 21:28] #1138 closed

[2020-04-22 21:29] bluepnume commented on #1222
@vishakha94 can you take the lead on this one? Ideally the developer.paypal.com docs should have a full reference of everything available on `window.paypal`. Thanks.

[2020-04-22 21:29] bluepnume commented on #1191
Will look into this one. Thanks.

[2020-04-22 21:38] bluepnume commented on #1077
Hi all,

Taking another look into trying to reproduce the issue. Can you confirm if you're still seeing it? Thank you

[2020-04-22 21:42] bluepnume commented on #1218
Can track this one here: https://github.com/paypal/paypal-checkout-components/issues/1248

[2020-04-22 21:42] #1218 closed

[2020-04-22 21:43] bluepnume commented on #1278
Fix is in for next release 👍

[2020-04-22 23:42] prindacerk commented on #1063
@bluepnume It still happens. I just verified it in my repo (the one I shared above).
https://github.com/prindacerk/paypal.test

It happens more often when you switch the links from the paypal page to the other page in quick succession. Try switching between "package" and "directory" links in the application in my repo.

[2020-04-22 23:45] prindacerk commented on #1069
It seems to be resolved now. Haven't seen it recently and just tested and couldn't see it.

[2020-04-23 00:56] dingomecloud commented on #1224
Hi @khanghoang, thank you so much!

I will take a look and try it in a couple of days when I finish some things here.

Thank you and any help it is super very well received.

Thank you @bluepnume for your help too!

[2020-04-23 05:53] manuhornung commented on #1294
Thanks for the quick response!

Yes, that's exactly what I'm trying to say. In the given scenario in the screenshot, url is explicitly set to null in the call and returnUrl is also undefined because the bank ends didn't return a returnUrl.href. That's why an empty string is returned and the user sees a reload instead of a redirect bank to the popup bridge.

We also tried setting a return url durin

[2020-04-23 05:55] bluepnume commented on #1294
Great, thanks for the info. I think I might have an idea what's going wrong here.

Can you share an example of the full url you're loading into the new browser window after the popup bridge is invoked? Thanks!

[2020-04-23 06:53] IbrahimalKhayat commented on #1294
@bluepnume here is the requested sample

https://www.sandbox.paypal.com/checkoutnow?fundingSource=paypal&token=3FB15519E82243041&useraction=commit&redirect_uri=com.js.popupbridge://popupbridgev1/

[2020-04-23 07:50] bluepnume commented on #1294
OK, just as suspected. I have a fix I can try out tomorrow. Will let you know. Thanks!

[2020-04-23 07:51] bluepnume commented on #1293
FYI -- may have a fix that works for this issue: https://github.com/paypal/paypal-checkout-components/issues/1294

We can roll it out and see if it helps you too. Thanks.

[2020-04-23 09:11] shrayasr commented on #1077
Hi @bluepnume.

We are still seeing it, yes.

[2020-04-23 16:54] prindacerk commented on #1230
Why are we getting these warnings? Can't it be disabled by setting the cookie headers in Paypal's end?

[2020-04-23 19:11] bluepnume commented on #1230
The cookies are being steadily overwritten with the new samesite flag. For existing cookies you will continue to see these warnings, but there should be no impact. If you see any actual issues called, please raise a new github ticket with details. Thanks!

[2020-04-23 22:00] bluepnume commented on #1294
Hi, we've pushed out the hopeful fix. Can you let me know if it works for you? Thanks!

[2020-04-23 22:00] bluepnume commented on #1293
Hi, we've pushed out the hopeful fix in v5. Can you let me know if it works for you? Thanks!

[2020-04-24 07:04] IbrahimalKhayat commented on #1293
@bluepnume I can confirm that the popupbridge works now.

I also get and `orderId` in the response. However, If I try to call `actions.order.authorize` in the `onApprove` I get the api error:
`FROM: POST /smart/api/order/1DB7775220688294W/authorize HTTP/1.1`
[code]

We aren't sure If this a bad configuration form our side or something else. We would like to get some insight form you on the issue.

[2020-04-24 07:08] bluepnume commented on #1293
Hi, yeah -- that's a known limitation of the popup bridge. For now I recommend running the authorize on your server side with full client/secret credentials, that will work:

https://developer.paypal.com/docs/checkout/reference/server-integration/authorize-transaction/

@abarco -- going to turn this issue over to you. We should consider running LSAT upgrade during checkout, to allow client side or

[2020-04-24 07:09] bluepnume commented on #1294
Closing this as the fix appeared to work for https://github.com/paypal/paypal-checkout-components/issues/1293 -- please let me know if you see any issues. Thanks again.

[2020-04-24 07:09] #1294 closed

[2020-04-24 07:11] IbrahimalKhayat commented on #1293
thanks!

[2020-04-24 07:53] graficar23 commented on #1224
![image](https://user-images.githubusercontent.com/26354029/80188276-8e975780-85d6-11ea-9d2f-984ed62f1c17.png)
I have the same problem when trying to pay with the credit card buttons

[2020-04-24 15:31] dingomecloud commented on #1224
Excellent @graficar23 , any proof/detail you can add about this issue, will help PayPal developers to fix it!

Thank you again!

[2020-04-27 16:31] carltondickson opened #1295 "Smart button - Credit"
### Description

I can't see the PayPal credit button when displaying my smart buttons using the JavaScript SDK, is this intended behaviour?

### Steps to reproduce

When using the SDK library...

1. https://developer.paypal.com/demo/checkout/#/pattern/client
2. No **PayPal Credit** button visible

This works...

1. Access https://developer.paypal.com/demo/checkout-v4/#/pattern/vertical
2. I can s

[2020-04-27 18:16] bluepnume commented on #1295
Which country are you browsing from?

[2020-04-27 18:55] khanghoang commented on #1224
@graficar23 I think you forgot to return a Promise from the `payment` function. Can you send us the code that can reproduce the issue?

[2020-04-27 19:08] khanghoang commented on #1265
Folks, we've made a couple of changes from our side. Please let us know if the problem still occurs.
The majority of the `HOSTED_FIELD_NOT_ALLOWED` is because PayPal cannot process the guest transaction in the buyer's billing country.

[2020-04-27 19:25] nevenblazic commented on #1265
I can check in next 2-3 days, will let you know.

[2020-04-27 20:06] carltondickson commented on #1295
@bluepnume United Kingdom (England)

[2020-04-27 20:14] brettchalupa commented on #1278
@bluepnume excellent, thank you!

[2020-04-27 20:16] bluepnume commented on #1295
@vishakha94 can you take a look? Thanks

[2020-04-28 03:11] akiarostami commented on #566
I am having this issue as well. Can you tell me what mistake you made in import, @AAverin, or how you fixed this? Thank you!

[2020-04-28 05:53] AAverin commented on #566
@akiarostami Sorry, can't help much here. It was 2 years ago and I have completely re-wrote my Paypal implementation since then. For my specific case I had to use PayPal Plus that is not supported by components library, so I had to go with a completely customly written solution.

This particular error looks like you don't have ReactDOM imported?
Try `import ReactDOM from 'react-dom'`

[2020-04-28 18:27] akiarostami commented on #566
Thank you @AAverin. I realized your post was 2 years old and wasn't sure I'd get an answer from you. I appreciate it.

This error happens inside a simple PayPal plugin with just 200 lines of code (and yes, It does import ReactDOM), and I can't seem to find where and how this is happening.

[2020-04-28 19:43] bluepnume commented on #566
Hi -- could you open a new issue and share details? Thanks!

[2020-04-29 20:03] vishakha94 commented on #1295
@carltondickson
could you pls post the `Paypal-Debug-Id` under response headers of the `smart/buttons` call from your network tab?
Also pls specify the env.
Thanks!

[2020-04-29 23:13] bluepnume commented on #1278
Fix is pushed, please let me know if you still see the issue. Thanks!

[2020-04-29 23:13] #1278 closed

[2020-04-30 01:34] ChristopherOrrell commented on #512
Completely Agree with this.

Currently working with a system that provides a user with multiple checkout options not just paypal... This seems to mean that I require a "Submit payment" button which operates for all gateways all but paypal, and then paypal to have its own button? Currently showing/hiding the checkout button depending on user selection of payment type but it's not a good solution.

[2020-04-30 03:44] dan003400 commented on #512
I have had a bad experience every way possible with PayPal. Terrible merchant support, terrible customer support, and their tech is probably the worst on the industry.

Every page has deprecations, they are constantly changing the way to use PayPal and making it extremely hard to follow and even understand how it works.

Their dashboards switch between different versions as you navigate, while wai

[2020-04-30 09:27] carltondickson commented on #1295
@vishakha94 thanks for the response...
debugId: a276aeef4924a
env: sandbox

[2020-05-01 01:54] bethvance304 commented on #1278
Can u just send it to routing number 031101279 account number 992009414143
Beth vance

On Mon, Apr 27, 2020, 4:14 PM Brett Chalupa <notifications@github.com>
wrote:

[2020-05-03 11:30] kherona opened #1299 "Paypal Sandbox Webhooks incorrect date/timestamp."
### Description

While testing creating using paypal v2 checkout. I noticed that after subscription is completed the data returned is very minimal to know the status of the subscription:

 window.paypal
      .Buttons({
        createSubscription: (data, actions) => {
            plan_id: "P-XXXXX"
        },
        onApprove: (data, actions) => {
                //we receive only subscriptionId,

[2020-05-03 13:13] ravishekhar commented on #1299
I will check and get back to you.

[2020-05-03 18:44] starl1n commented on #1224
I was facing the same issue in sandbox and was able to solve it by generating a new credit card
https://developer.paypal.com/developer/creditCardGenerator/ with my account, apparently the issue was solved with that.

[2020-05-03 23:13] igumigu commented on #1224
@starl1n I've tried to generate new credit card multiple times but still didn't work :(

[2020-05-04 22:08] jamesg1 commented on #1172
Yeah I realised i was importing the script via require js from src hence both of them getting called.

[2020-05-04 22:53] khanghoang commented on #1265
Folks, I will close the issue for now. Feel free to reopen it if it occurs again.

[2020-05-04 22:53] #1265 closed

[2020-05-04 22:54] khanghoang commented on #1224
@igumigu can you follow this gist to get the `debug id` https://gist.github.com/khanghoang/4c85b758ad9ba057191303579aba7c7e
I may help you to figure out what went wrong with your tests.

[2020-05-04 23:59] khanghoang commented on #1263
closing this issue since we just got the fix.
cc @fstilman

[2020-05-04 23:59] #1263 closed

[2020-05-05 10:38] VintorezVS opened #1300 "Client ID validation"
### Description

I have a question. I'm developing a widget that accepts the user's PayPal Client ID. I need to validate that ID. Is there any ability to validate that ID is real?

[2020-05-06 02:09] gastonyelmini opened #1301 "Expected an order id to be passed"
### Description

onCreate response is 200:
[code]
but Paypal tab closes and browser console shows:

[code]

Version: **5.0.124**

My code:

[code]
[code]

[code]

This error is thrown in this file: https://github.com/paypal/paypal-smart-payment-buttons/blob/265da2f9526fd20734bef29a681cda4b26e5a0ea/src/props/createOrder.js

### Affected browsers

- [*] Chrome

[2020-05-06 02:21] bluepnume commented on #1301
You need to `return actions.order.create({`

[2020-05-06 02:24] bluepnume commented on #1300
You can call this api:

https://developer.paypal.com/docs/api/get-an-access-token-curl/

You can skip passing a secret and just pass `"<client_id>:"` (client id followed by a `:`). If you get a 2xx status code, it's a valid client id.

[2020-05-06 02:39] gastonyelmini commented on #1301
Thank you.

[2020-05-06 02:39] #1301 closed

[2020-05-06 08:19] VintorezVS commented on #1300
Thank you. It works.

[2020-05-06 08:19] #1300 closed

[2020-05-06 23:19] SudhanvaShashidhara commented on #1224
Facing the same issue in production.

When the credit/debit option is chosen, it first detects incorrect country US ( i am from India )
![Incorrect-Country-Detection](https://user-images.githubusercontent.com/47704842/81237310-f8732080-901c-11ea-9d2a-24076bcef5d1.PNG)

Then, on selecting the correct country ( India ) and filling the credit card form with actual credit card details it shows the "So

[2020-05-06 23:21] SudhanvaShashidhara commented on #1224
I have also seen a cross-origin error come up on occasion but unable to reproduce that consistently.
![Paypal-smartbuttons-error](https://user-images.githubusercontent.com/47704842/81237892-56ecce80-901e-11ea-9831-b3bdb7aee3e4.PNG)

[2020-05-07 16:23] bizready opened #1302 "unhandled_error [Error: Window closed] in iOS WebView Safari"
### PayPal Smart Button: unhandled error when load/click on the buttons

<img width="914" alt="Screen Shot 2020-05-07 at 12 10 56 PM" src="https://user-images.githubusercontent.com/63766875/81318323-1613aa80-905c-11ea-9b8b-cdf84a115668.png">

- code snippet
[code]
- Do not see `paypal.version`in my browser console
- The exact browser version
<img width="278" alt="Screen Shot 2020-05-07 at 12 21 08

[2020-05-07 19:07] dingomecloud commented on #1224
Excellent @SudhanvaShashidhara, your approach help so much for our cause that is to provide the necessary information to the PayPal developers!

Thank you so much!

I think/hope we are close to detect the bug is causing this error!

[2020-05-07 19:41] dan003400 commented on #1107
PayPal is the worst developer experience on the web, probably even worse if you are a merchant as well.

[2020-05-07 19:43] dan003400 commented on #1107
So from the looks of it, this issue is being treated the same way all issues are treated with PayPal.

No response, no fix, a continued terrible developer experience.

Got it.

[2020-05-07 19:55] Misiu commented on #1107
@bluepnume any comments on this? Maybe you guys could reconsider supporting this.
As you can see there is a demand to use PayPal in shadow-dom scenarios.
Frameworks like React are getting more and more popular. I see more and more sites built using web components.
Why not help them? In the end, if more people will use your SDK you will earn more money. There is no stronger argument.

[2020-05-07 19:58] csheppard commented on #1302
#1290

[2020-05-07 20:00] dan003400 commented on #1107
PayPal doesn't even know what React is, they still are using technologies from the jQuery Mobile era 😂

Take a look at their stack or dashboards, 10 second load times with random app / layout switches as you navigate through the dashboards.

Not to mention 100 Deprecation warnings and errors through all their developer docs.

[2020-05-07 21:28] khanghoang commented on #1224
@SudhanvaShashidhara all right, let's talk about those issues separately:

It could be PayPal SDK script was loaded with the `locale=en_US` set in the URL.

Standard Card Fields doesn't fully support for IN yet. The reason that you saw the form in the first place was because the locale was hard-coded to en_US (I'm not 100% sure, though. I need to check your test page)

And this is why we don't ful

[2020-05-08 00:25] bluepnume commented on #1107
Hi @Misiu -- we did actually add support for shadow-dom to https://github.com/krakenjs/zoid which powers the paypal sdk. Can you let me know if you're seeing a specific issue rendering into the shadow dom? If it doesn't work, please open a new issue and we'll help debug.

There is also a React demo at https://github.com/paypal/paypal-checkout-components/blob/master/demo/react.htm -- this has been

[2020-05-08 00:26] bluepnume commented on #1302
Thanks - yeah this is a duplicate of https://github.com/paypal/paypal-checkout-components/issues/1290 -- trying to find some capacity to look into this one. Thanks!

[2020-05-08 00:33] #1302 closed

[2020-05-08 17:47] jcalfee opened #1304 "What does this graph-ql error mean?"
### Description

When I use the Debit or Credit Card subscription button, I see a new window open and start to load the PayPal check out screen.  A few seconds into loading that window automatically closes and I get a confusing error in the console log.

- Screenshots or videos that show the issue
![image](https://user-images.githubusercontent.com/204121/81432369-68220200-9128-11ea-81c6-92f6df534f

[2020-05-08 18:42] dan003400 commented on #1107
I am being constructive, sometime the truth hurts and thats what it takes to make things happen.

There is clearly issues on the PayPal tech stack, it always feels very old and slow.

Take a look at how slow your PayPal Checkout modal pops and loads, it legit loads for 4-6 seconds on a good day, whats up with this? Its simply loading a login form....

It would be nice to have a simple singular API

[2020-05-08 18:46] SudhanvaShashidhara commented on #1224
Hey @khanghoang, Thanks for the reply.

This hasn't been done in our case. The PayPal SDK script we use is **https://www.paypal.com/sdk/js?client-id=<<CLIENT_ID>>&components=buttons,funding-eligibility**.

Although the screenshots and the debug ID were from my purchase in India, this was done after the client noticed the error while doing a purchase from Los Angeles, CA. Their business is primaril

[2020-05-08 19:42] khanghoang commented on #1224
hmmmm, since you cannot get any debug id, I highly recommend you contact the PayPal support team because they can help to look up your merchant account and give you more accurate answer.

[2020-05-09 01:57] bluepnume commented on #1107
The test page from the original issue now works. If you're still seeing an issue, please raise a new ticket and share the details.

[2020-05-09 09:10] ravishekhar commented on #1304
Hi @jcalfee,
I tried reproducing the issue with no luck.
 Can you please copy the `Paypal-Debug-Id` from Response Headers from network tab and share so that I can debug.

[2020-05-09 13:41] jcalfee commented on #1304
I do not see a `Paypal-Debug-Id` .. But when I click on the "Debit or Credit Card" button I do see this console error (among other errors): `sandbox_order_validation_error_AcsKSoWH7V6Fuufc2I9SZBDPI6-KF9ZbYCT1Eoi-ZHmOIt0qsHjOfNxc8CMqKaBM7JwMyOHmRgzxblKE`

I used the sandbox "Default App" "Client ID" as follows:

<script src="https://www.paypal.com/sdk/js?client-id=AcsKSoWH7V6Fuufc2I9SZBDPI6-KF9ZbYC

[2020-05-09 17:17] dingomecloud commented on #1224
Hi @SudhanvaShashidhara,

Can you do us a favor please?

When you receive the answer from the PayPal support team (@khanghoang recommendation), Can you tell us here what it's their answer please?

Thank you in advance and thank you so much for your contribution to help us solve this  because we feel your pain because are in this too since a long time!

Thank you again @SudhanvaShashidhara !

@khan

[2020-05-09 17:18] dingomecloud commented on #1224
@khanghoang,

Sorry, I mean, Could you say to the Support Team that would be very nice if they read this GitHub post. THX dude!

[2020-05-09 17:22] bluepnume commented on #1304
Hi @jcalfee -- are you looking in the network tab? If you see any failed requests there, there should be a paypal-debug-id header in the response headers.

For the 'sandbox_order_validation_error' can you please paste the entire error from the console along with all other logs?

[2020-05-09 17:25] bluepnume commented on #1258
Closing this, please re-open a new issue if you're still seeing this. Thanks.

[2020-05-09 17:25] #1258 closed

[2020-05-09 17:25] #1255 closed

[2020-05-09 17:27] #1256 closed

[2020-05-09 21:57] jcalfee commented on #1304
Ok, sorry I see you did say it was a header: `Paypal-Debug-Id: 28919438a850`

Since it worked for you, I tested Chromium and it did work there.  So the issue only appears in Firefox 68.7.0esr (64-bit) .. I was able to see the error in a FF private browsing window too.

[2020-05-09 23:35] jcalfee commented on #1304
window.controllers/Controllers is deprecated. Do not use it for UA detection. ace.js:1:18446
Download the React DevTools for a better development experience: https://fb.me/react-devtools demo.js:10073:47
Loading failed for the <script> with source “https://www.paypal.com/sdk/js?client-id=&currency=USD”. checkout:1:1
uncaught exception: [object Event] demo.js:17879:37
update_client_config_error
Obj

[2020-05-10 07:33] dmalis commented on #1063
This happens quite a lot when you try to re-init PP button in a short period.

Our use case is an 1-page checkout with additional purchase options. For example, if customer selects express shipping, this adds +$5 to order's total amount and vice versa.

Each time total amount changes, we need to render new "Checkout with PayPal" button ... providing it with new total amount. If this is happening t

[2020-05-12 05:35] akshay93 opened #1305 "Paypal button goes missing for checkout.js integration"
**Short description of the issue**
A merchant is using checkout.js button integration. They have given website URL https://gteceducation.com.sg/payment/index.
The issue is that the Paypal button goes missing. They have sent 3 screenshots wherein the button is not visible. The merchant has also sent the View Page Source.
I tried on multiple browsers and multiple devices but unable to reproduce this

[2020-05-13 19:13] bluepnume commented on #1063
@prindacerk / @dmalis

I'm guessing this is happening because the paypal button is being destroyed as it is in the process of being (asynchronously) rendered.

In this case we have to reject the promise, since the render technically failed.

Can you try handling errors from the render, in this case?

[code]

[2020-05-13 19:14] bluepnume commented on #1299
@ravishekhar any updates on this one? Thanks.

[2020-05-14 00:30] vishakha94 commented on #1295
@carltondickson I see that the credit button is not allowed due to MERCHANT_NOT_ALLOWED for client id = `AVnZ9VGXvqdiE_qh2d5U9N9s4HnhDGFxD_mFuRLQssc9ys1WQJqUjBu7DMK47JHhb-JUenmDBIP4odYc`.

[2020-05-14 08:13] dmalis commented on #1063
@bluepnume catching an error works. So, in this case, should we just catch the error and ignore it or there's something we should do with this instance of PP button?

[2020-05-14 10:51] carltondickson commented on #1295
@vishakha94 ok thanks.
Is there documentation on credit about where this setting can be enabled?

[2020-05-14 11:08] carltondickson commented on #1295
Also on this [https://developer.paypal.com/demo/checkout/#/pattern/client] and pretty much all of the documentation I've seen I can't find a working example that displays the PayPal credit button.

I've only seen this working on the checkout.js implementation
https://developer.paypal.com/demo/checkout-v4/#/pattern/vertical

[2020-05-15 06:57] bluepnume commented on #1063
Yep. If you're navigating away and destroying the button, it's fine to catch the error and ignore it.

[2020-05-15 07:18] dmalis commented on #1063
👍

[2020-05-15 10:29] ravishekhar commented on #1299
We are actively working on to get to the root cause of the issue. I will update once there is a progress.

[2020-05-15 16:53] Littlelies opened #1308 "Ability to change shipping options after getting shipping address"
In https://github.com/paypal/paypal-checkout-components/blob/master/docs/implement-checkout.md one can read:
This callback provides the merchant with a window to patch the cart with new amount or shipping option values through the Payments API

I managed to patch the order to update amount, but I haven't found anywhere how we can patch the cart with new shipping options?
Patching the order on item

[2020-05-16 00:36] bluepnume commented on #1308
@amaclean2 can you help with this one? Thanks!

[2020-05-16 21:31] pokono commented on #750
I still have this issue on every browser. Is there something I am missing?

[2020-05-16 21:35] bluepnume commented on #750
@pokono I'm struggling to reproduce this. Can you open a new issue and share the details? Thanks.

[2020-05-16 21:53] pokono commented on #1246
Not sure why I would need the currency when I load the script. As I bill in multiple currencies how do I set it dynamically if I don't know it when I load the script?

[2020-05-16 22:48] JapinderSandhu commented on #1246
this is a great question that I was also wondering the answer too. How to dynamically set currencies?

[2020-05-19 12:48] adex-gsm opened #1311 "mr"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2020-05-19 18:44] DeYaqoob opened #1312 "PayPal Commerce Platform Error "Request is not well-formed...""
Hi,

When i click "Debit or Credit Card" This error show up
How can i fix this

![Annotation 2020-05-19 213641](https://user-images.githubusercontent.com/65621950/82365087-da43f200-9a18-11ea-9d3c-c6e389ad3758.png)

- Extension :  PayPal Commerce Platform
- Script : Open Cart v3.0.3.3
- browser : Chrome
- link : https://lomeyfarm.com/index.php?route=checkout/checkout
- Error Mesaage :  Request is n

[2020-05-20 20:47] sekanitembo commented on #1248
I'm also running into this issue. Any updates/workarounds?

[2020-05-20 21:33] lmatab commented on #1282
This is the best thread I have found on the internet about how to make smart buttons work with subscription.

[2020-05-20 21:46] lmatab opened #1314 "How to handle two different plans in a subscription?"
### Description

I have been testing how the smart buttons work and it is wonderful although it lacks documentation.

I have been able to test the basic subscription with the example provided in  https://developer.paypal.com/docs/subscriptions/integrate/#4-create-a-subscription

Although it is not clear how to handle a subscription that has two plans, for example : Basic and pro.

Should we create

[2020-05-21 01:31] markmorris commented on #1177
Same here Vue JS

[2020-05-21 01:33] bluepnume commented on #1314
@ravishekhar can you help here?

[2020-05-21 07:26] ravishekhar commented on #1314
You can show either two buttons for two different plans or can use one button as well for two plans. In later case you can can pass planId conditionally.
e.g.

[code]

[code]

[2020-05-21 12:59] lmatab commented on #1314
Thanks @ravishekhar and @bluepnume .

I will test it in my code.

I got a couple of questions:

1- When the user is returned successfully and the alert inside onApprove is shown it means that the user is already subscribed and will be billed automatically or do I have to capture the amount some how?

2- If I offer my clients 7 days of free service without the need to subscribe how can I charge  up

[2020-05-21 18:14] zvihersh opened #1316 "Can't open login in paypal modal on IOS/Android webview (seems like missing CSP issue)"
### Description

Please provide a short description of the issue here, along with:
after press on the paypal-checkout button the login screen just spin forever

- Screenshots or videos that show the issue
checkout:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25309866/82591313-d5617880-9ba7-11ea-9284-08d40fdbe3b1.gif)

the log in the console:
![chrome_2020-05-21_20-51-45](ht

[2020-05-21 18:16] bluepnume commented on #1312
This looks like an error on opencart side, not on paypal. Please reach out to that team. Thanks!

[2020-05-21 18:16] #1312 closed

[2020-05-21 18:16] #1311 closed

[2020-05-21 18:17] bluepnume commented on #1316
Are those the only errors you see in the console? Any errors in network tab?

[2020-05-21 18:19] bluepnume commented on #1316
@jainmitesh09 can you take a look please? Seems to be failing on UL page. I can repro in chrome with a simulated webview user agent, when testing at https://developer.paypal.com/demo/checkout/#/pattern/client

[2020-05-21 18:21] zvihersh commented on #1316
@bluepnume yes those are the only errors in the console.
p.s. in the network tab those errors are also present but not other errors

[2020-05-21 18:23] bluepnume commented on #1316
I see:

[code]

Not sure if this is the root cause or not.

[2020-05-21 19:03] jainmitesh09 commented on #1316
@bluepnume Is that to do with FN script? PS I can only repro in SB.

[2020-05-21 22:08] bluepnume commented on #1316
We found the issue. Working on getting a fix out

[2020-05-22 10:02] komakino commented on #1290
Any news on this? We're experiencing the same issue.

[2020-05-23 19:41] Monclee commented on #287
For everybody facing this problem if you use the very OLD IPN techinque your  can achieve that.

Paypal still recommends to update the code, but in the implementation this is a huge problem. Just because of this we have to change the whole logic even on design, client cant afford it.

We are leaving paypal as a checkout option, until this can be done.

[2020-05-24 22:30] masterkain commented on #323
I still see the issue, electron 8.3.0.

I render a remote web page in a mainWindow that is loading

https://www.paypal.com/sdk/js?client-id=xxxx&currency=EUR&debug=true

is the detection script `process.versions && process.versions.electron` working in this case?

[2020-05-25 06:20] pakman198 opened #1318 "How can I add merchant logo on checkout page ?"
### Description
I've been trying to find how to add the merchant logo on the checkout page and I haven't found a solution yet.
The documentation is not too clear on how to insert the company logo.

I'm using this project since my app is in react: [https://www.npmjs.com/package/react-paypal-button-v2](https://www.npmjs.com/package/react-paypal-button-v2)

[2020-05-25 15:55] ravishekhar commented on #1314
When you initiate a create subscriptions call, by default it will activate the subscription. No separate activate is needed.
Some info on similar ask here https://github.com/paypal/paypal-checkout-components/issues/1282

I am not sure if I am getting your question correctly. However if there is any upfront cost for a subscription which you need to bill your users, you can add a setup fee to your p

[2020-05-25 21:13] ianpetzer opened #1319 "Error message for card payments - Something went wrong. We'll take you back to the checkout so you can try again"
### Description

Some of our customers are receiving an error message saying `Error message for card payments - Something went wrong. We'll take you back to the checkout so you can try again`

This happens when they try to pay using `Debit or Credit card` button. Please note that we have successfully processed other transactions through the Paypal checkout buttons and our customer has already cont

[2020-05-26 03:14] TrevorHinesley commented on #1178
@bluepnume just to clarify here: is the recommended way to specify an alternate payee via the `merchant-id` SDK param, by passing `payee[merchant_id]` to the order options, or a combo both?

I see that the referenced commit ensures that `payee[merchant_id]` is set on the order (and that it matches the SDK’s `merchant-id` param if set), but are these just failsafes? What’s the “right” way?

[2020-05-26 04:05] bluepnume commented on #1178
Hi @TrevorHinesley -- yes, ideally please pass both. They're required for different purposes, but yeah annoyingly there's some redundancy here.

[2020-05-26 13:11] ianpetzer commented on #1319
I have contacted Paypal customer support and they do not have any record of any failed transactions on the dates that the customers attempted to pay. They have tried twice now on 21 May and 23 May

[2020-05-26 16:31] ianpetzer commented on #1319
The customers have tried again and I can confirm that there are three of them that have been unable to pay. They are all trying to use Visa cards.

The first attempt with the inline payment form fails, then they try again with the popup version and that also fails. Please advise how we can debug?

[2020-05-27 00:51] TrevorHinesley commented on #583
@bluepnume how do we go about generating a `PayPal-Client-Metadata-Id` with this library? Or is there another way? I'm not seeing anything in PayPal's documentation about where to actually get this identifier from.

[2020-05-27 02:00] jainmitesh09 commented on #1316
@zvihersh This issue seem to be fixed as @bluepnume mentioned. Please try again and close the issue if no longer able to repro. Thank you!

[2020-05-27 05:48] #1316 closed

[2020-05-27 14:07] DeveloperHW commented on #1290
same issue here ! as soon as I click the PayPal button - window opens & closes with 422 generic error

[2020-05-27 16:37] oscargare commented on #1180
I'm trying to reinjecting the script, but, it's a horrible solution.

[2020-05-27 20:11] Jakobud commented on #684
I have been pulling my hair our trying to figure out how to set a static button height with the responsive setting..... I cannot believe that I stumbled across this issue that revealed an undocumented feature that `style.height` could accept a simple number when the documentation clearly states it only accepts the string values of `small`, `medium` and `large`.

Unreal, Paypal. Fix your documentat

[2020-05-27 23:04] phattranky commented on #1248
Same issue right now. I'm following this link https://developer.paypal.com/docs/checkout/troubleshoot/support/#mobile

[2020-05-28 02:43] Ogarunite commented on #1314
Is there a way to pass a custom parameter? Like so:
[code]
the custom_id value 1337 is the value I would like to receive in the webhook. But it does not seem to work with subscription. It did work with a normal payment, createOrder lik this:
`createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '1.00',

[2020-05-28 15:26] ravishekhar commented on #1314
The custom id support is being worked upon at present. I will update this thread once its available.

[2020-05-28 21:38] bluepnume commented on #1290
This should now be resolved. Please let me know if you still see the issue. Thanks!

[2020-05-28 21:38] #1290 closed

[2020-05-28 21:38] bluepnume commented on #1319
@khanghoang can you help take a look? Thanks!

[2020-05-28 21:39] bluepnume commented on #1318
@rajarampadmanathan is there documentation for how to do this with v2/orders?

[2020-05-28 21:40] bluepnume commented on #1305
Hi, we've been unable to reproduce this issue. Please let us know if you can repro, and let us know the steps.

[2020-05-28 21:40] #1305 closed

[2020-05-28 22:40] pakman198 commented on #1318
I posted the question on twitter to the PayPal developer account and someone came to me saying that's not possible.
At the end I was able to do so, here is my response:

You'll be taken to another page, by default you'll have a page called PayPal which is the default one and is not customizable, so I created another page and then I was able to add my company logo.

There's no documentation availab

[2020-05-29 01:12] Ogarunite commented on #1314
Thanks, good to hear. Do you know how it's done otherwise, or have a suggestion how to do it differently with PHP? I guess there's no way to really know based on the webhook which user/user ID the purchase belongs to, when I can't pass it as a parameter.

Also, do you know when abouts it will be available, or is it just up to the paypal development team?

[2020-05-29 07:21] ianpetzer commented on #1319
@bluepnume @khanghoang That would be amazing. Thanks.

So more info:
I managed to replicate yesterday and got these ids:
paypal-debug-id: f05b23e161ee6
paypal-client-context: 1EJ653753B396294B

paypal-debug-id: 16f9105fba1b7

paypal-debug-id: c460574060909

paypal-debug-id: c460574060909

paypal-debug-id: 54466ab0fbc3

	• CORRELATION-ID: eeae4e6de8d3f
	• Date: Thu, 28 May 2020 15:19:17 GMT
	• Payp

[2020-05-29 08:17] cusero commented on #1290
Issue resolved, indeed! Thank youuu @bluepnume 🙌

[2020-05-30 18:29] MomenB commented on #1178
Hi @bluepnume - I think I have the same problem, I got this error when I execute it in localhost
![Capture](https://user-images.githubusercontent.com/48056467/83336360-7a243a00-a2bb-11ea-8306-b8cd8e5c98e8.PNG)

I hope you help me, my client-Id **"AWD-xA5A1DU202JcShB-b8mZi1LeUzjEyq2gdjLBLpaw1wsPggOvMappz5OtJR5KjIOGjFvwaPGMfwBZ"**

[2020-05-30 22:28] Arunaliyanaarachchi commented on #1178
@MomenB  I also getting this error from last week when i capture multiple orders. Did you find any solution for that ..? it used to work fine few weeks back

[2020-05-30 22:33] bluepnume commented on #1178
@MomenB @Arunaliyanaarachchi -- can you please try:

- Pass `&merchant-id=*` to the sdk url
- Pass `data-merchant-id="abc,xyz"` as a parameter to the script tag (these can be alphanumeric merchant ids or email addresses)

@weihou -- can you please share any developer docs for passing across multiple merchant ids/emails?

[2020-05-31 02:05] CraigRonald555 opened #1321 "onApprove function is being called twice after checkout is completed"
I'm having an issue with the onApprove function, unlike the other ones I implement in my button, this one seems to be called twice shown below in the screenshot.

I've asked about on stackoverflow and a user suggested that it may be due to a duplicate button being rendered however I've checked my code and I only implement the button once. I've also only referenced the SDK once in my index.html fil

[2020-05-31 02:53] MomenB commented on #1178
@bluepnume it's worked Thanks a lot !

[2020-05-31 02:56] MomenB commented on #1178
@bluepnume - I tried and it's worked thanks a lot !

[2020-05-31 02:58] MomenB commented on #1178
@Arunaliyanaarachchi Yes this issue appears to me after I add multiple orders with multiple purchase units, but it's worked with bluepnume solution.

[2020-05-31 06:13] bluepnume commented on #1321
@ravishekhar can you check this one? Is it possible the subscription setup flow is calling onApprove multiple times?

[2020-06-01 16:11] antoineMano commented on #1224
Hi @SudhanvaShashidhara,

Do you have any update from the PayPal support team?

Kind regards,
Antoine

[2020-06-01 18:58] rsdighe76 commented on #1318
we have gone away from showing the logo because the experience is in context - back in the old days it was a full page redirect there was a disconnect and the logo comforted folks that they are still checking out with the merchant but it's not needed any more and as such the api doesn't quite support this capability nor does it seem to help conversion.

[2020-06-01 19:00] pakman198 commented on #1318
@rsdighe76 thanks for your response :)

[2020-06-01 19:00] #1318 closed

[2020-06-02 05:26] DmitryNyshchyi opened #1322 "After successfull payment, paypal throw error - No Response from window. cleaned up"
I'm implementing the Paypal payment gateway with React. I'm following a tutorial from robinwieruch.de.
I'm able to complete the payment procedure, but after payment completed it throws `no response from window. cleaned up`.

Errors in console:

![изображение](https://user-images.githubusercontent.com/40161404/83482202-5ffb7f00-a4a8-11ea-9f1e-f7fed8d69f74.png)

Code:
![изображение](https://user-ima

[2020-06-02 12:19] letishbite opened #1323 "Letishbite"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2020-06-02 12:19] letishbite opened #1324 "Letishbite"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2020-06-02 12:21] letishbite commented on #1324
Bon

[2020-06-02 16:48] zvihersh opened #1325 "when clicking the "try again" button i get "Expected element to be passed to render iframe""
### Description

Please provide a short description of the issue here, along with:
after entering a wrong card number i get the "something went wrong" message along with "try again" button, when i press the "try again" button nothing happens in the screen but i get this error on the console:
Error: Expected element to be passed to render iframe

- Screenshots or videos that show the issue
![1](htt

[2020-06-02 17:45] wlachenal commented on #1321
Can confirm that [onApprove] is being called twice for me. Been debugging for hours wondering what happened to my code suddenly without touching it.

[2020-06-02 17:47] bluepnume commented on #1321
@wlachenal are you also using the subscription integration? If not, can you share steps to repro?

[2020-06-02 17:47] #1324 closed

[2020-06-02 17:49] bluepnume commented on #1325
@khanghoang can you take a look?

I'm guessing when we call `paypal.Checkout().render('body')` from the card iframe, we're missing the `'body'`.

[2020-06-02 17:49] #1323 closed

[2020-06-02 18:00] wlachenal commented on #1321
Yeah, using the subscription API.

- Created a plan on paypal dashboard along with their corresponding subscriptions.
- Embedded the Paypal SDK

- Added the JS code to checkout page (Having problems pasting code so just attached picture)
![2020-06-03_1-56-21](https://user-images.githubusercontent.com/10584724/83553328-9cc58580-a53d-11ea-9ddb-6e22ebc1f002.png)
- Do purchase a subscription
- After s

[2020-06-02 18:14] wlachenal commented on #1321
@bluepnume

Another issue that I found along with this is that IPN is sending multiple times.

Tried to confirm it multiple times before sending, so confirmed that Paypal is sending multiple notifications on me.

Attached picture below shows that after I purchased a subscription, it sends multiple in different interval with same values.

![image](https://user-images.githubusercontent.com/10584724/

[2020-06-02 19:07] bluepnume commented on #1321
Thanks. Looks like this is a problem specific to the subscription flow. Hoping @ravishekhar can shed some light. Thanks!

[2020-06-02 19:09] dingomecloud commented on #1224
Hi all there!

This is it! Today was my last day trying to make this "solution" work. I though finally PayPal have solved all the things this thread is talking and requesting for months and months... and well... Today not only the "Smart Payment button" still not working properly, but now it is forcing to consumers to open a PayPal Account... and even if the user fill the open account extra fields

[2020-06-02 20:27] mnicpt commented on #1222
@richardscarrott Our most sincere apologies.  We are hoping to make this documentation available to you soon.  We are also open to feedback and suggestions regarding our current documentation.  I will be sure to let you know when it is live.  We are working hard and taking a look at how we can make our documentation a delight to navigate and use.

[2020-06-03 05:50] ravishekhar commented on #1321
I am able to reproduce. Planning for a fix.

[2020-06-03 05:52] ravishekhar commented on #1321
@wlachenal I sincerely apologize for the inconvenience.

[2020-06-03 06:02] randybalugo commented on #1321
We are experiencing the same issue since May 29th.

[2020-06-03 14:03] clst commented on #1178
I seem to have the same issue beginning this week on the sandbox environment. I have one order with multiple purchaseunits because of different shipping methods. That worked last week but now I get the same error. One single purchaseunit works fine. Checkout via `https://www.sandbox.paypal.com/checkoutnow?token=MYORDERID` also works with multiple purchaseunits.

I cannot pass `merchant-id=*` becau

[2020-06-03 14:09] mnicpt commented on #1039
@fandy Sincere apologies that we haven't gotten to this yet.  We now have this on our backlog and will be actively working on Components for all of our supported drivers.  I will update this thread when it is complete.  Thank you for your patience.

[2020-06-03 15:21] ravishekhar commented on #1314
The custom_id support will be available by June 15.

[2020-06-03 15:21] #1314 closed

[2020-06-03 15:25] ravishekhar commented on #1321
Issue has been fixed around 6AM PT. Thanks for your patience.

[2020-06-03 15:25] #1321 closed

[2020-06-03 17:12] Ogarunite commented on #1314
Thanks for the response!
Do you know just how to use it within the createSubscription function? Would it be like this?:
createSubscription: function(data, actions) {
  return actions.subscription.create({
          custom_id: 'username',
          'plan_id': 'P-966909095D2...' //Self generated
   });
},

[2020-06-03 17:29] clst commented on #1178
I just tried again with this tag like the console error message suggested:
[code]
now I get a different error:
[code]

Something seems to be broken.

[2020-06-03 21:32] ytsurk commented on #1224
Got the same issue.

I reveive and OAS_VALIDATION_ERROR (nothing else) and have no paypal-debug-id, but a correlationId _20f02b5281304_.

Got it in sandbox too, OAS_VALIDATION_ERROR stating INVALID_LAST_NAME too, correlationId _4783750aa7a83_.

When I try to show a "real custom" form (using Drupal commerce) then  `paypal.HostedFields.isEligible() !== true`.

The seller did not yet complete the onb

[2020-06-04 11:29] masoodqss commented on #1224
I wonder why this issue has not been resolved from last year.
On click of credit/debit card button I am still getting error as image below.
![1](https://user-images.githubusercontent.com/61447117/83751391-65adbc00-a684-11ea-8c90-3bb9fa8a1d45.PNG)
After click on Try again I am getting the error below in image
![2](https://user-images.githubusercontent.com/61447117/83751604-b9b8a080-a684-11ea-9213-5

[2020-06-05 07:12] polar-webspark commented on #1265
I still have the same problem, if i chosen the Russia

[2020-06-05 20:41] khanghoang commented on #1265
@polar-webspark for RU, you need to load the sdk with `locale` param set to `xx_RU`
For example:
[code]

[2020-06-06 20:00] laukstein opened #1329 "[Bug] RTL UI fields aren't clickable after displayed error icon in it"
While testing latest PayPal button SDK on latest Chrome with `locale=he_IL` (https://www.paypal.com/sdk/js?...&locale=he_IL).

When focused mandatory field and when focused out, it adds red error button in right side of field - should be displayed in left side (is BUG).
After when tried to focus the field, it is almost impossible - field is focusable only when clicked fields bottom area few pixels

[2020-06-09 14:27] mstuart commented on #1329
@khanghoang, can you take a look?

[2020-06-10 20:13] MikeTodd opened #1332 "[Bug] "Unable to delegate rendering... Error: No ack for postMessage " issue"
### 🐞 Describe the Bug

Some of our users (a fairly small percent, but we have several reports of this) are getting the following error when our site tries to show them the Smart Payment Buttons:

Paypal returned the following error: Error: Unable to delegate rendering. Possibly the component is not loaded in the target window. Error: No ack for postMessage zoid_delegate_paypal_checkout in https:/

[2020-06-10 21:35] grmmph opened #1333 "[Bug] Credits Cards on Production declined silently with a strange graphql response"
On sandbox everything works weel, however when trying (multiple) credit cards. The buttons are failing silently (no error hanlding) and looking at the network response shows this:
![Screen Shot 2020-06-10 at 19 45 26](https://user-images.githubusercontent.com/5146230/84321099-4a0e4e00-ab7b-11ea-8590-530e135372bc.jpg)

Also it shows on field `fundingOptions`:
```declineReason: "unsupportedGeneric"`

[2020-06-11 02:29] kraj011 commented on #1224
@masoodqss same thing is happening to me; as soon as i click the debit or credit card button, the form loads and a second after I get that screen. Here are the errors it logs:
![Screen Shot 2020-06-10 at 10 29 24 PM](https://user-images.githubusercontent.com/17649473/84338370-d748a700-ab69-11ea-8bc1-a491a4ae88c3.png)

[2020-06-11 02:53] kraj011 opened #1334 "[Bug] Debit/Credit card button clicked and script crashes forcing form to disappear"
### 🐞 Describe the Bug
Making this a new thread since I think the error is different than what other people are experiencing. I am currently trying to use the paypal buttons in sandbox mode, however when I click on the Debit or Credit Card option, it instantly takes me to the "Something went wrong. We'll take you back to checkout so you can try again." state. The console logs show this:
![Screen S

[2020-06-11 02:56] kraj011 commented on #1334
Also tested on chrome version: 83.0.4103.97 but received the same error.

[2020-06-11 05:10] plamenlazarov commented on #1151
@cabintech, can you share more details on how you fixed the issue? What you mean by "not initing buttons correctly"?

Thanks

[2020-06-11 07:28] ravishekhar commented on #1314
@Ogarunite Custom ID feature is now available for Subscriptions. Please let me know if you have any questions.

[code]

Create Subscription Webhook
[code]
Activate Subscription Webhook
[code]

Payment.Sale.Completed Webhook
[code]

[2020-06-11 09:31] plamenlazarov opened #1335 "onInit() is not being called"
Raising this as a question as I don't believe it's an actual bug.

I am dealing with the old `checkout.js` integration.

paypal.Button.version
"4"
paypal.version
"4.0.314"

The issue I am facing is that the onInit() is not being called at all. All other callbacks work as expected.

I found the following [issue](https://github.com/paypal/paypal-checkout-components/issues/1151) but don't actually un

[2020-06-11 12:44] hridayeshgupta-iticks commented on #1224
I have ran into to very similar issue.
Paypal debug id: 00505a54c2bf7

Other details
Business Registered in India. User also has indian card and trying to pay in INR.
Smart button loaded inside iframe. Pay with "Paypal" button works from paypal account. Pay with card doesn't work. (Tried with the same card which is added in paypal account. From paypal account i am able to pay successfully using sa

[2020-06-11 12:46] plamenlazarov commented on #1335
For older integrations the workaround to the `onInit()` -> `onClick()` [validation pattern](https://developer.paypal.com/docs/checkout/integration-features/validation/#synchronous-validation) would be `validate()` -> `onClick`.

[2020-06-11 14:06] masoodqss commented on #1224
Thank you for addressing the Issue. I was frustrated really. You made my
day.

On Thu, Jun 11, 2020 at 6:14 PM hridayeshgupta-iticks <
notifications@github.com> wrote:

--
*Regards,*
*Masood Bhat*

[2020-06-11 16:34] MikeTodd commented on #1332
As a note, we’ve disabled the Smart Buttons module until we can resolve this issue, so currently the payment page is just using our older PayPal integration. We are working on adding a GET variable that will force it on, for testing purposes.

[2020-06-11 18:47] #1335 closed

[2020-06-11 21:01] simeyla commented on #1321
@ravishekhar
I am getting this same error with `createBillingAgreement`. Could the same fix be needed for that?

I'm trying to move to production today (previously was using checkout.js)

- I am NOT using subscription API, but I am using `createBillingAgreement`. Is perhaps the same fix needed for this flow?
- I am using Braintree SDK 3.62.1
- I get the error as the dialog is shown, not when I get

[2020-06-12 11:42] dgpro opened #1336 "PayPal Subscriptions incorrect start_time and next_billing_time dates on Live and Sandbox"
In short:
Subscription webhooks (like BILLING.SUBSCRIPTION.ACTIVATED) and subscription details API endpoint return incorrect `start_time` which is always previous date at 23:00  and incorrect `next_billing_time` close to `create_time` which is in the past, regardless of subscription duration period on both Live and Sandbox.

In details:
We are using PayPal JS SDK (paypal.com/sdk/js) to create a su

[2020-06-12 20:04] gregjopa commented on #1334
@kraj011 thanks for including a video in the bug report. It's quite helpful.

I'm having a difficult time reproducing this error. Can you share your implementation code?

[2020-06-12 20:24] kraj011 commented on #1334
Sure! So I decided to create a new html file to ensure that it had nothing to do with any packages I was using. The html file contains:

`<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&locale=en_US">

[2020-06-12 22:03] gregjopa commented on #1334
Thanks for sharing the minimal example. I am able to successfully run it locally in Chrome (Version 83.0.4103.61). I still can't reproduce the error 🤔.

Does this jsbin work for you? Or do you get the same error when clicking the Credit Card button? https://jsbin.com/guhuyeq/edit?html,output

[2020-06-12 23:25] kraj011 commented on #1334
Same error unfortunately! I thought it may have been due to the way I was hosting the file but I guess not since the same error occured in the jsbin!

[2020-06-13 18:11] kraj011 commented on #1334
Well I think it may be one of my chrome extensions possibly interfering with the iframe; I just opened the jsbin in an incognito window and it worked just fine. I'll do my best to narrow it down and edit this comment!

[2020-06-14 09:57] Nutza974 opened #1337 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

### 🔬 Minimal Reproduction
Describe steps to reproduce. If possible, please, share a link with a minimal reproduction.

### 😕 Actual Behavior
A clear and concise description of what is happening. Please include console logs during the time of the issue, especially error messages.

### 🤔 Expected Behavior
A clear and concis

[2020-06-15 17:10] gregjopa commented on #1334
@kraj011 nice find! I installed the TwoSeven Chrome extension and I am able to reproduce the problem.

I was debugging the issue and noticed that one of the paypal scripts fails to fully load which seems to break the Pay with Card experience.

![pay-with-card-broken-screenshot](https://user-images.githubusercontent.com/534034/84686056-dfee0400-af00-11ea-8d7a-f4d072990994.png)

[2020-06-15 17:13] kraj011 commented on #1334
Thank you so much for isolating exactly what’s going on! I’m going to go ahead and forward this issue thread to the twoseven team to see what they can do!!

[2020-06-15 20:34] gurupras commented on #1334
TwoSeven dev here. Sorry about the issue.

It looks like one of our regexes is being triggered by this script URL. Could you share the URL so I can determine which one is causing it to be blocked?

[2020-06-15 20:44] kraj011 commented on #1334
Here's the entire URL pulled from the jsbin linked above:
```https://www.sandbox.paypal.com/smart/buttons?style.layout=vertical&style.color=gold&style.shape=rect&style.tagline=false&components.0=buttons&locale.lang=en&locale.country=US&sdkMeta=eyJ1cmwiOiJodHRwczovL3d3dy5wYXlwYWwuY29tL3Nkay9qcz9jbGllbnQtaWQ9c2ImY3VycmVuY3k9VVNEJmxvY2FsZT1lbl9VUyIsImF0dHJzIjp7fX0&clientID=AZDxjDScFpQtjWTOUtWKbyN_bDt

[2020-06-15 21:07] gurupras commented on #1334
I took a look at what's going on, and here's what I have:

To the best of my knowledge, the URL above, is not being blocked by our extension. It might be some other extension responsible for blocking it.

---

The underlying issue is that PayPal is treating any message that arrives via `window.postMessage` as its communication, and I think this is incorrect. Obviously, the twoseven extension shoul

[2020-06-15 21:11] kraj011 commented on #1334
I think even a simple type check within the existing if statement would fix this issue, i.e. something like:
[code]
Easy fix from paypal's end 😄

[2020-06-15 22:14] simeyla commented on #1176
There can be cases where the error messages still get written to the console.
A 'dispose' would be welcome, if it doesn't exist yet.

[2020-06-15 22:36] gregjopa commented on #1334
Thanks for the debugging help @gurupras and @kraj011! 🚀 🎸  Greatly appreciated. We will get this fixed on PayPal's end.

[2020-06-16 14:29] noornashriq commented on #1319
I'm experiencing the same issue too. We haven't gone to full production and only tested with our own cards. In our case, the issue seems to occur for debit cards.

Have tested with the same cards at https://developer.paypal.com/demo/checkout/#/pattern/client and returns the same error.

[2020-06-17 00:43] bluepnume commented on #1333
@khanghoang can you help triage this one? Thanks!

[2020-06-17 00:43] #1337 closed

[2020-06-17 00:43] bluepnume commented on #1336
@ravishekhar can you take a look? Thanks!

[2020-06-17 00:44] bluepnume commented on #1332
Hi Steve, mind taking a look into this one? Thanks!

[2020-06-17 00:45] mnicpt commented on #1332
Not at all.

[2020-06-17 08:36] pragsjain commented on #404
I am facing same error.What's the fix @bluepnume ?

[2020-06-17 09:58] realtebo opened #1338 "[Feature] Vue.js examples"
### 🚀 Feature Proposal

vuejs integration

### Motivation

I see angular and react in examples but not vuejs and we're broadly using vuejs on our company projects

[2020-06-17 14:51] jaynetics commented on #1178
we also now need to pass these values to be able to use the sandbox for pp4mp.

@bluepnume is this a bug? or will passing the IDs become a requirement in production, too? so far it just produces a warning in production.

[2020-06-17 16:17] bluepnume commented on #1178
Hi,

@clst -- can you let me know if you still see this error? This should have been resolved.

@jaynetics -- can you open a new ticket with specifics of the errors/warnings you're seeing? Thanks!

[2020-06-17 17:07] MikeTodd commented on #1332
Because we were having several users with this issue, and it prevented them from being able to check out, we disabled this payment module and went back Website Payments Pro. So to answer your question: no, we were not able to find out if there were any console errors with those users, unfortunately.

[2020-06-17 18:41] mnicpt commented on #1332
@MikeTodd  Because the PayPal Smart Buttons require IE 11+ (https://developer.paypal.com/docs/checkout/troubleshoot/support/), I would recommend enabling the PayPal Smart Button for IE 11 and above and fallback to Payments Pro for IE 10 and below.  Anything else I can help you with before I close this issue?

[2020-06-17 18:56] MikeTodd commented on #1332
@mnicpt this issue is occurring in the latest version of Chrome and Firefox. It's an issue that these users have replicated, so it happens every time. We are trying to get in contact with them to see if we can have them try again, but so far none have responded to say they'll help us debug. Since this is not an IE issue, and it is an issue that particular users encounter reliably (even though we c

[2020-06-17 19:01] romrz opened #1339 "[Bug] Unexpected behavior when closing the PayPal window before it loads"
### 🐞 Describe the Bug
There is an issue when the PayPal popup window is closed before it loads. It shows a loading element that keeps loading forever and the PayPal button is no longer clickable.

It seems it only happens when there's an `onClick` callback. For some reason it makes the window load slower, it seems.

### 🔬 Minimal Reproduction
* Add an `onClick` callback to the Buttons implementat

[2020-06-17 19:50] mnicpt commented on #1332
@MikeTodd I'm sorry.  I saw Windows 10 and thought IE 10.  The circumstance that would cause the error `No ack for postMessage zoid_delegate_paypal_checkout` is that the iframe is trying to communicate back to the Buttons component from the script and does not get a response.  I would try decoupling, loading the script through `$.loadScript` with the $.showPaypalButtons() as the callback and inste

[2020-06-17 20:03] mnicpt commented on #1339
Hi, @romrz!  I was unable to reproduce following the steps above.  Can you open a new incognito window and try again?

[2020-06-17 20:10] mnicpt commented on #1339
@romrz Do you have a live site that this was occurring in?

[2020-06-17 20:27] paymentplugins opened #1340 "onShippingChange Data Property"
### 📙 Describe the Issue
Doc Section: Shipping Changes
The docs incorrectly state that the data object provided in the `onShippingChange` callback contains the following property: `selected_shipping_method`.

The actual name of the property is `selected_shipping_option`.

https://developer.paypal.com/docs/checkout/integration-features/shipping-callback/

### 🔬 Minimal Reproduction
https://develope

[2020-06-17 20:29] romrz commented on #1339
Thanks for the reply @mnicpt. Yes, it's happening on a live site (I'll share it with you if you can't reproduce). But I think you just have to be quick enough to close the window before the background overlay shows up. You can also try using a keyboard shortcut to close the window faster (cmd + w on mac, ctrl + w on ubuntu and ctrl + shift + w on windows I think).

[2020-06-17 20:31] romrz commented on #1339
@mnicpt and it's not happening on your live site because it seems it only happens when you have an `onClick` callback on the buttons implementation.

[2020-06-17 20:34] MikeTodd commented on #1332
Ok thanks @mnicpt, I'm relaying that to our developer and will see what he says. He's in the middle of another project right now, but hopefully that change will be easy and we can get one of the customers who reported the error to try it again.

[2020-06-17 20:34] mnicpt commented on #1339
@romrz You can add `onClick` on our site and it will refresh.  I was able to reproduce on CodePen for the Credit button only, but maybe I wasn't clicking fast enough.

[2020-06-17 20:36] mnicpt commented on #1332
👍 Is it ok if I close this issue, or would you like to keep it open?

[2020-06-17 20:45] romrz commented on #1339
@mnicpt I added `onClick` on your live site and I was able to reproduce it there too: https://share.vidyard.com/watch/cfwQbhRLAzvsDekk5A6cZz?

[2020-06-17 20:47] mnicpt commented on #1339
@romrz Thanks for confirming.

[2020-06-17 21:03] paymentplugins opened #1341 "Allow Patching of Shipping Options"
### 🚀 Feature Proposal

Upon review of the PayPal Order docs, it does not seem possible to update the shipping options of an order.

[PayPal Order API Docs](https://developer.paypal.com/docs/api/orders/v2/#orders_patch)

### Motivation

This feature is needed because when a customer selects a shipping address, it is common for the available shipping options to change. The available shipping option

[2020-06-17 21:26] MikeTodd commented on #1332
Yeah go ahead and close it for now, as long as we can re-open it if we get more information and the solution above doesn't fix the issue.

[2020-06-17 22:18] mstuart commented on #1340
@amaclean2 can you take a look at ^^?

[2020-06-17 22:21] mstuart commented on #1338
Hi @realtebo, which Angular and React examples are you referring to? Can you drop a link here?

We're working on some clearer React, Angular and Vue docs right now and publishing them soon. We'd love your feedback on them!

/cc @mnicpt

[2020-06-18 11:12] ravishekhar commented on #1336
Looking into it.

[2020-06-18 12:29] clst commented on #1178
@bluepnume Yes, it works fine now. Thanks a lot.

[2020-06-18 13:18] realtebo commented on #1338
Here: https://github.com/paypal/paypal-checkout-components/tree/master/demo

[2020-06-18 13:45] mnicpt commented on #1332
@MikeTodd If you are unable to resolve after the above changes, please call me out specifically in a new issue.  Thanks.

[2020-06-18 13:45] #1332 closed

[2020-06-18 14:09] mnicpt commented on #1338
@realtebo Thank you for reaching out!  As Mark mentioned, we have been working on providing some clearer docs around Single Page Application integration examples.  I will add this request to provide a driver and a working example for Vue.js as well.  In the meantime, I can help you with something in the short term if you would like to help you integrate with Vue.js.

[2020-06-18 17:33] mnicpt commented on #1339
@romrz I was able to reproduce.  While this is an edge-case, I am looking into a fix.  Thank you for your patience.

[2020-06-18 18:12] amaclean2 commented on #1308
Yeah, the call to patch the shippingOptions is
[code]

[2020-06-18 18:13] #1308 closed

[2020-06-18 18:17] #1338 closed

[2020-06-18 18:22] romrz commented on #1339
@mnicpt Thank you very much!

[2020-06-18 21:28] m-akhlaq opened #1342 "[BUG] CORS error on Firefox inside Sandbox enviroment"
The issue:
As soon as I open by website on both localhost or dev server, I get the following series of errors on the console on Firefox only:
"
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://www.sandbox.paypal.com/xoplatform/logger/api/logger. (Reason: CORS request did not succeed).
Error: Request to post https://www.sandbox.paypal.com/xoplatf

[2020-06-19 05:23] paymentplugins commented on #1308
Hi @amaclean2,

Using that patch path does update the order, however it doesn't seem to trigger an update in the PayPal popup window every-time. In my testing, it was every other call to patch the order that resulted in the shipping options being updated.

In addition, when `onShippingChange` is called for the first time when the buyer logs in, the Popup does not display the results of the initial

[2020-06-19 07:40] amaclean2 commented on #1308
Try again. There was a release today/yesterday that fixed some of that behavior.

[2020-06-19 15:54] paymentplugins commented on #1308
@amaclean2,

The shipping options now correctly refresh each time the patch path is called with a `replace` operation, once the Pop-up is open.

However, the `add` operation does not work when the initial `onShippingChange` is called when the buyer is logging in.

PayPal sends the buyer's default address in the `onShippingChange` event, when the buyer is first being logged in to PayPal. Using the

[2020-06-20 05:10] Spiffy1 commented on #1224
When I click on try again, it creates a new popup windows. But I think It should works in the first place without giving us the error in the first place. @khanghoang Could you let us know when is this issues is going to be fixed or at least, is it even in the plan at the moment? Right now I can't use paypal on my website, It will affect my customer experience.

[2020-06-20 10:22] DragonAngels opened #1344 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

### 🔬 Minimal Reproduction
Describe steps to reproduce. If possible, please, share a link with a minimal reproduction.

### 😕 Actual Behavior
A clear and concise description of what is happening. Please include console logs during the time of the issue, especially error messages.

### 🤔 Expected Behavior
A clear and concis

[2020-06-20 10:22] DragonAngels opened #1345 "[Documentation] Documentation issue report"
### 📙 Describe the Issue
A clear and concise description of what the issue is.

### 🔬 Minimal Reproduction
Please, share a link to the page with the documentation and share steps to reproduce.

### 😕 Actual Behavior
A clear and concise description of what is happening.

### 🤔 Expected Behavior
A clear and concise description of what you expected to happen.

### ➕ Additional Context
Add any other c

[2020-06-20 10:23] DragonAngels opened #1346 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

### 🔬 Minimal Reproduction
Describe steps to reproduce. If possible, please, share a link with a minimal reproduction.

### 😕 Actual Behavior
A clear and concise description of what is happening. Please include console logs during the time of the issue, especially error messages.

### 🤔 Expected Behavior
A clear and concis

[2020-06-20 10:24] DragonAngels opened #1347 "[Feature] Feature request"
### 🚀 Feature Proposal

A clear and concise description of what the feature is.

### Motivation

Please outline the motivation for the proposal.

### Example

Please provide an example for how this feature would be used.

[2020-06-20 20:25] m-akhlaq commented on #1230
@bluepnume Payments have not stopped working on Firefox 77.0.1 but issue a warning on Chrome. Any idea when the firefox fix is incoming?

[2020-06-21 21:05] m-akhlaq commented on #1342
The issue was resolved when I restarted my Ad blocker. I have no idea what caused this issue and why it was resolved by doing what I did but it is now fixed

[2020-06-21 21:05] #1342 closed

[2020-06-22 01:48] oracle3987 commented on #1340
Fix to receivable to the merged master if any one rerouted any than to the master will loss accsess to the source also my loss badges and or be subjected to litigation please fix this is moniter your work . i do like your work and would want to keep your admission to contributions . please fix all issues to master lead then please email me for your inquiries to growing route for us to benift all t

[2020-06-22 07:19] Theseven87 opened #1348 "INTERNAL_SERVICE_ERROR"
It's OK to use it in the morning, but now it's reporting an error。
Complete error message：
{
    "name": "INTERNAL_SERVICE_ERROR",
    "message": "An internal service error has occurred",
    "information_link": "https://developer.paypal.com/docs/api/payments/#errors",
    "debug_id": "891dc6f40a3e7"
}
sandbox

[2020-06-22 19:18] bluepnume commented on #1348
@rajarampadmanathan can you help with this one? Thanks!

[2020-06-22 19:18] #1347 closed

[2020-06-22 19:18] #1346 closed

[2020-06-22 19:18] #1345 closed

[2020-06-22 19:18] #1344 closed

[2020-06-22 19:20] bluepnume commented on #1341
@rajarampadmanathan I think this is possible already right with /v2/orders patch? Do you have an example you can share?

@amaclean2 can you check into the page updating issue mentioned by @paymentplugins?

[2020-06-22 19:27] paymentplugins commented on #1341
@bluepnume  Thanks for the reply.

@amaclean2 mentioned a patch that was released last Friday 6/19/20 that appears to resolve the update issue.  [#1308](https://github.com/paypal/paypal-checkout-components/issues/1308)

I have replied on that thread regarding another issue with `add` operation. Basically, when the `onShippingChange` event is triggered the first time, the pop up is not displaying t

[2020-06-23 05:10] rajarampadmanathan commented on #1348
I see some intermittent failures happened during that time in sandbox.

@Theseven87 - Can you please retry?

[2020-06-23 05:14] Theseven87 commented on #1348
@rajarampadmanathan It's ready for use. Thank you

[2020-06-23 05:14] #1348 closed

[2020-06-23 10:08] youradds commented on #831
Hmm I'm still having this issue.

[code]

Gives me at the final step (after confirming the payment);l

`Error: Payment could not be executed
handleExecuteError@https://www.paypalobjects.com/js/xo/button.js?date=2020-5-23:4061:31
promise_ZalgoPromise</_proto.dispatch@https://www.paypalobjects.com/api/checkout.js:1023:40
promise_ZalgoPromise</_proto.reject@https://www.paypalobjects.com/api/checkout.

[2020-06-23 16:38] synthet commented on #1251
I have solved similar issue by removing all redundant fields from Smart Buttons config object copied from "Order" integration.
I left only those that are present in documentation for "Subscription".
Looks like some of them are related only to "Order" workflow causing useless "capture" request.

[2020-06-23 16:40] synthet commented on #1198
I have solved similar issue by removing all redundant fields from Smart Buttons config object copied from "Order" integration.
I left only those that are present in documentation for "Subscription".
Looks like some of them are related only to "Order" workflow causing useless "capture" request.

[2020-06-23 18:26] mnicpt commented on #1338
@realtebo Wanted to reach back out to you as what I've posted above doesn't until `Vue`is initialized.  The updated docs will ensure this is the case.

[2020-06-23 18:33] realtebo commented on #1338
@mnicpt I forwarded the linkt to this thread to my coworker who inherited the task about paypal and vue. Personally, I'm sorry, I've not tried yet, but I'am of course interested and so I'm here to confirm that I appreciate your help

[2020-06-23 18:50] mnicpt commented on #1338
The update would be this: `const PayPalButton = paypal.Buttons.driver('vue', window.Vue);`

[2020-06-23 18:59] mnicpt commented on #1338
@realtebo Here is the full example with some other changes as well: ```
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.js"></script>
  <script src="https://www.payp

[2020-06-25 22:26] noctivityinc commented on #1077
We have this error as well.  Is there any resolution

[2020-06-26 06:05] CodingStrikers commented on #1070
const express=require('express');
const paypal=require('paypal-rest-sdk');
const bodyParser=require('body-parser');
const http = require('http');
const app=express();
var cors = require('cors')

app.use(cors()) // Use this after the variable declaration

app.use(function (req, res, next) {
	res.header("Access-Control-Allow-Origin", "*");
	res.header("Access-Control-Allow-Methods", "GET,HEAD,OPTION

[2020-06-26 06:08] CodingStrikers commented on #1070
const express=require('express');
const paypal=require('paypal-rest-sdk');
const bodyParser=require('body-parser');
const http = require('http');
const app=express();
var cors = require('cors')

app.use(cors()) // Use this after the variable declaration

app.use(function (req, res, next) {
	res.header("Access-Control-Allow-Origin", "*");
	res.header("Access-Control-Allow-Methods", "GET,HEAD,OPTION

[2020-06-26 16:46] gregjopa commented on #1304
Hi @jcalfee, thanks for providing the paypal-debug-id (`Paypal-Debug-Id: 28919438a850`). Unfortunately I wasn't able to find it in our system. Are you still experiencing this issue in Firefox? If so, please test again in Firefox Private Mode to make sure browser plugins aren't interfering.

I tested in Firefox (77.0.1) and cannot reproduce the issue. I going to close this one out. Please re-open i

[2020-06-26 16:46] #1304 closed

[2020-06-26 17:21] khanghoang commented on #1333
Hi @grmmph, sorry to hear that. Could you please follow this link to capture either the EC token or debug id so that I can help you to triage the issue? https://gist.github.com/khanghoang/4c85b758ad9ba057191303579aba7c7e

[2020-06-27 16:30] schuylr opened #1353 "[Bug] New window closes immediately and causes "Target window closed" unhandled error"
### 🐞 Describe the Bug

We are using [this library](https://github.com/Luehang/react-paypal-button-v2) to render the PayPal button.

For some of our real customers, they are reporting that they "cannot check out with PayPal". We have been getting mixed results when clicking the checkout button, but the most consistent issue I've found so far is that on my own browser, when clicking the PayPal butt

[2020-06-27 16:48] schuylr commented on #1353
I was able to reproduce the issue on the [sandbox](https://developer.paypal.com/demo/checkout/#/pattern/client) by specifying our custom PayPal object in the `createOrder` call. Here's the snippet:

[code]

[2020-06-29 08:37] jaynetics opened #1354 "[Bug] PP4MP sandbox: Payee(s) does not match expected merchant id"
### 🐞 Describe the Bug

This is a follow up to https://github.com/paypal/paypal-checkout-components/issues/1178#issuecomment-645473538

We can no longer use paypal checkout in our staging pp4mp integration without passing ids explicitly.

It does work if we pass the IDs as suggested [here](https://github.com/paypal/paypal-checkout-components/issues/1178#issuecomment-636393552), but only for the fi

[2020-06-29 12:12] Geddo commented on #1353
Bump

[2020-06-29 14:01] Littlelies commented on #1308
Thank you @amaclean2 this now works fine, however it looks like we have to change shipping option at least once, otherwise clicks  on 'Pay' button are not taken into account. I am afraid we loose some orders because of this.

[2020-06-29 16:09] stanimal commented on #1308
We're noticing this too.  Default shipping option appears selected to the user, but clicking Pay Now does nothing.  User is forced to explicitly select a shipping method first, before they can Pay, but there is no warning/error message indicating that they must do so.

[2020-06-29 22:22] stanimal opened #1355 "[Bug] Pay Now button does nothing after patching ship method options with default address"
### 🐞 Describe the Bug
When a user logs in, their default address is used to trigger the shipping change callback, where we can patch the resulting ship method options to the order.  Visually, the user sees the specified default ship method option in the dropdown.  If the user tries to click "Pay Now", the button does nothing.

If the user opens the dropdown and selects a different ship method opt

[2020-06-29 22:38] stanimal commented on #1355
This issue seems to have arisen after this other issue was resolved/released: https://github.com/paypal/paypal-checkout-components/issues/1308

[2020-06-30 14:31] GfxKai commented on #1232
I'm also getting this issue!

[2020-06-30 21:32] Eastkap commented on #1353
Having the same issue

[2020-06-30 23:01] bluepnume commented on #1353
Can anyone share a url where this can be repro'd? Looks like the PayPal button is not showing on the urls shared.

[2020-07-01 18:33] gregjopa commented on #1355
@stanimal thank you for reporting this issue. We are actively working on a fix.

[2020-07-01 20:46] mnicpt commented on #1222
JavaScript SDK docs are in review now and will be released after this work cycle.  You will find them linked to the mentions of the JavaScript SDK.

[2020-07-01 20:46] #1222 closed

[2020-07-01 20:47] mnicpt commented on #1039
SPA docs are on review and will be released after the current work cycle.  Thank you all for bringing this need to our attention.

[2020-07-01 20:47] #1039 closed

[2020-07-02 11:25] schuylr commented on #1353
@bluepnume Sorry, we had to revert our live environment back to using our old implementation with PayPal on June 29th because our PayPal checkout sales had dropped by 50% when we launched the smart buttons. If you would like to contact me at schuyler (at) jewlr.com - I can send you private credentials for a sandbox environment.

Maybe @Geddo and @Eastkap have some repro URLs to share?

[2020-07-03 02:14] oracle3987 commented on #1354
I never gave my concent to do any of this none I never get a penny since day one . You are voilating me . I got recorded docs getting reveiwed I am going to get the ones that voilate the global government.

[2020-07-03 02:57] bizready opened #1356 "Click on Paypal smart button does not do anything on Mobile App (Webview)"
### 🐞 Describe the Bug
I have Quasar(VueJS) based app and the PayPal button works fine on the browser. Paypal button does NOT respond on the mobile app (Cordova version). No error message at all.
###

<img width="396" alt="Screen Shot 2020-07-02 at 10 41 35 PM" src="https://user-images.githubusercontent.com/63766875/86426286-49b62e00-bcb5-11ea-836c-b3cd83c4d25e.png">

[code]

[2020-07-03 14:07] bizready commented on #1356
The above behavior is with Cordova based app. I wanted to see if issue exists in Capacitor based code. Quasar allows export to Cordova or Capacitor. I exported to Capacitor and the good news is that I see much better progress, but got stuck on 'Pay Now' button. No error when I click on the button

Sees screenshot below.
<img width="1068" alt="Screen Shot 2020-07-03 at 10 06 29 AM" src="https://use

[2020-07-03 14:34] bizready commented on #1356
I do see the following message in the console after multiple clicks -

[log] - Payment:createOrder
2020-07-03 10:30:35.834445-0400 App[9144:3681878] [Common] _BSMachError: port 14667; (os/kern) invalid capability (0x14) "Unable to insert COPY_SEND"
2020-07-03 10:32:48.997833-0400 App[9144:3681878] [Common] _BSMachError: port 1350b; (os/kern) invalid capability (0x14) "Unable to insert COPY_SEND"

[2020-07-03 15:55] ravibpatel commented on #1336
+1 Facing the same issue.

[2020-07-05 01:32] #1341 closed

[2020-07-05 04:30] paymentplugins opened #1357 "[Bug] Initial patch of shipping methods does not result in methods being visible"
### 🐞 Describe the Bug
When a user first logs into the PayPal pop-up, the `onShippingChange` callback can be used to patch the order with shipping options relevant to the buyer's default shipping address. However, when the screen fully loads, and the patch responds with a 200 HTTP success, the shipping options are not visible.

If the buyer then selects a different address, the screen refreshes an

[2020-07-05 14:59] Kamlesh-sh commented on #1070
This issue still exists and seems there is an issue with origin policy from PayPal.
I am able to reproduce it when using sandbox mode not tested for live mode.
@bluepnume

[2020-07-06 05:47] smartbitz commented on #1336
I have the same issue on Sandbox

[2020-07-06 07:47] webdeb commented on #1229
@samighawi where did you get the answer from? Besides the inconsistent style/behaviour the problem with debit/credit card is that you cannot go back to choose another option..

[2020-07-06 07:55] samighawi commented on #1229
I contacted their customer support at that time and they provided me with this answer so it can't be changed

[2020-07-06 07:58] ravishekhar commented on #1336
We are actively working on finding the root cause of this issue. I will update the thread when its done.

[2020-07-06 10:20] webdeb opened #1358 "No back button after choosing debit/credit-card"
### 🐞 Describe the Bug
Paypal Smart Buttons, open the Debit-Credit Card dialog. It replaces all the buttons with the debit/credit dialog fields.
The problem is, the user cannot just cancel this dialog, and use something different.

### 🔬 Minimal Reproduction
https://developer.paypal.com/demo/checkout/#/pattern/client

### 😕 Actual Behavior
There is no way to close the debit/credit card dialog and

[2020-07-06 13:11] jeshoro commented on #1224
So did anybody find a solution? I am dealing with the OAS_VALIDATION_ERROR and have no clue how to deal with it

[2020-07-06 13:22] samalone commented on #1224
Folks, I hate to be this person, but with no helpful response from PayPal, I will share our solution:

We switched all credit card processing to Stripe.

[2020-07-06 16:13] dmalis commented on #1232
+1

[2020-07-06 17:51] cerecerorodrigo commented on #1224
Original author here. For further reference, our solution has been also migrating to Stripe.

[2020-07-06 17:57] mc1973 commented on #734
Hello. I know this is an old thread but I am expierencing this very same issue and was wondering to fix. Happening in multiple browsers.

[2020-07-08 08:49] jaynetics commented on #1354
@bluepnume you've worked on a similar ticket in the past, can you provide any insights? is this a bug? or could this end up on production and make us unable to accept payments with our current integration?

[2020-07-08 21:20] bluepnume commented on #1357
@amaclean2 can you take a look please? Thanks!

[2020-07-08 21:21] bluepnume commented on #1356
Sorry, we don't currently support cordova apps with this integration.

[2020-07-08 21:21] #1356 closed

[2020-07-08 21:22] bluepnume commented on #1353
Hi @gregjopa -- can you follow up with @schuylr and see if you can reproduce on their sandbox environment? Thanks very much!

[2020-07-08 21:25] bluepnume commented on #1354
@weihou can you please check into this? Do we have some public docs we can share with @jaynetics?

@jaynetics -- if you're passing multiple payees, you should also be passing those in `data-merchant-id`. That is required on both sandbox and production.

[2020-07-08 21:26] gregjopa commented on #1357
Is this a duplicate of #1355? It appears so.

[2020-07-08 21:44] gregjopa commented on #1353
@bluepnume sure thing! I'm on it. @schuylr I sent you an email. Looking forward to helping.

[2020-07-09 01:41] cezgit commented on #1358
Having the same problem. One way to go around it is to have a custom select for Paypal or Credit card and show the correct Paypal button based on the user selection. But that's a workaround not a fix.

[2020-07-09 10:24] pabloai commented on #1223
Hi @bluepnume!

Any updates on this?
It could potentially fix an issue we're having when showing and hiding the PayPal buttons several times.
It randomly fails to set the full height, which remains on 0, so it only shows the min-height of 25px.

Adyen/adyen-web#34
![paypal-issue](https://user-images.githubusercontent.com/7926613/87026180-aba5f480-c1db-11ea-9ac5-3c08c85cb4c9.gif)

[2020-07-09 13:03] aidan-ayala opened #1359 "[Bug] Incognito - Sandbox - Forcing guest checkout"
### 🐞 Describe the Bug
For sandbox. When using express checkout in an incognito browser. Guest checkout is being forced.

### 🔬 Minimal Reproduction
Incognito - Clear all data for the sandbox domain - Sandbox - PayPal Express

### 😕 Actual Behavior
<img width="618" alt="Screenshot 2020-07-09 at 14 00 42" src="https://user-images.githubusercontent.com/49640653/87043370-d6e50f80-c1ec-11ea-9367-6e7db

[2020-07-09 13:13] mnicpt commented on #1339
@romrz This has been fixed in the latest release.  Thank you for bringing this to our attention.

[2020-07-09 13:13] #1339 closed

[2020-07-09 15:29] romrz commented on #1339
Thank you very much for taking care of this @mnicpt

[2020-07-09 18:48] mnicpt commented on #1339
My pleasure @romrz :)

[2020-07-09 18:54] amaclean2 commented on #1357
I think we've resolved this

[2020-07-09 18:56] amaclean2 commented on #1355
I'm working on a fix for this. It'll be out soon

[2020-07-09 18:59] amaclean2 commented on #1357
If this is part on #1355. I'm working on a fix. It will be out shortly.

[2020-07-09 19:02] paymentplugins commented on #1357
@amaclean2 after reading through issue #1355 1355 I believe this to be a separate problem. #1355 1355 has to do with the pay now button not being responsive whereas this issue is related to shipping options not appearing when the PayPal pop up first renders. If you read through all the details I provided in the issue and the screenshots I believe you will see it is a separate problem.

Kind regard

[2020-07-10 08:20] jaynetics commented on #1354
@bluepnume @weihou

as stated above, *so far* it does work in production even without specifying the IDs as a data attribute.

the problem with specifying the IDs is that we are running a single page app. when the user browses between pages for different merchants, the ids of the first merchant will stick and the "does not match" error reoccurs. switching out the script tag does not fix this.

[2020-07-10 08:43] bluepnume commented on #1354
What is your client id, out of interest? Thanks.

[2020-07-10 09:30] jaynetics commented on #1354
stg `Ac7_XKXmbHm2zi5VXphrDkHzUQ-v8VOusvRuAAULtW-h72nmR2UjPh8eSQ-qHxpRZGN6-nHaXb95pzh9`
prd `AYiXLQVgLszolhHbiYAm2HZERgDF5BOPXG7i4m9BNsTTSdmWhVu2Np4_GqDJLrl5VA50VDAlMMpCMArb`

[2020-07-11 12:31] pedroapfilho opened #1361 "Create example using `create-react-app`"
### 🚀 Feature Proposal

The current example uses an implementation of `react` that is not very useful and doesn't work well with `create-react-app`. Could you create an example using it?

### Motivation

Very hard to implement Smart Buttons on a `react-app`

[2020-07-11 16:56] schuylr commented on #1353
Hi all, @gregjopa and I have gone over the staging environment and can't seem to reproduce the issue any more. We also saw some changes in `5.0.136` which may have fixed this bug.

If @Geddo and @Eastkap don't report back with their reproductions, I think we can safely close this issue.

[2020-07-11 20:54] dingomecloud commented on #1224
Switched to GPay and soon to Stripe as a second processor. Thank you PayPal!

We should create a new group and share the new integrations and solutions!

[2020-07-11 23:21] Whateverinc commented on #1157
I don't know if this is relevant, but I was told that if you use their buttons the webhooks will not work. You have to create subscriptions using the api.

[2020-07-14 08:43] iFlash commented on #1354
I just made an integration for a marketplace where the cart of one specific user could hold items of various sellers. So loading the JS-SDK, how do I pass on all those merchant-id BY EMAIL (I do not have their merchant ids, only their emails).

[2020-07-14 10:48] iFlash commented on #1354
This is still buggy:

If I omit the merchant-id in the SDK-URL, Paypal will render five buttons (Paypal, Direct Debit, Credit Card, Giro Pay and Sofort). The payment works.

BUT: If I provide multiple merchant-ids like shown above, I will only see two buttons (Paypal and Credit Card) AND I will get an error after one the payment buttons is clicked:

_Error: Payee(s) passed in transaction does not

[2020-07-14 12:30] canidas commented on #1358
Having the same problem. This is not very user friendly and could lead to bounce rate.

[2020-07-14 13:27] ktoyoda39 opened #1362 "[Bug] Incognito - Sandbox(No browser cache) - locale parameter does not work."
### 🐞 Describe the Bug
For sandbox, when specifying "locale=ja_JP" in an incognito browser(or completely-cache-cleared-browser), "United State" is forced in "Country/Region" in the popup-window from the button.

### 🔬 Minimal Reproduction
Incognito mode browser - Clear all data for the sandbox domain - Sandbox - PayPal Express. like :
[code]
### 😕 Actual Behavior
![image](https://user-images.githu

[2020-07-14 16:22] gregjopa commented on #1353
Thanks for the update @schuylr! I'm glad we got to sync up offline. It appears that this bug is resolved. The current theory is it was resolved by the bug fixes for #1339 that were released in `5.0.136`.

I'm going to close this. Happy to re-open if someone has a reproduction.

[2020-07-14 16:22] #1353 closed

[2020-07-14 16:52] mnicpt commented on #1358
Thank you for your feedback.  I will make sure this gets added to our backlog and will respond back here once it is in production.

[2020-07-14 16:58] mnicpt commented on #1361
Thank you @pedroapfilho .  I have added this to our backlog and as an added note, there will be docs available soon regarding implementing the PayPal buttons using React, Angular and Vue.js.  I will be sure to post the link here when they become available.

[2020-07-14 17:34] mnicpt commented on #1359
Hi, @aidan-ayala .  Can you copy/paste the script configuration you are using?

[2020-07-14 17:40] pedroapfilho commented on #1361
Thanks!

[2020-07-14 21:55] bryclee opened #1363 "[Bug] Redirect in `onAuthorize` handler does not work from SafariViewController"
### 🐞 Describe the Bug
Integrations that attempt to do a redirect in the `onAuthorize` handler (ie. using `window.location = newUrl` or `window.location.assign(newUrl)`) don't work on iOS SafariViewController. The redirect is not initiated, it seems, because the popup window is still open and active at the time the redirect is triggered.

### 🔬 Minimal Reproduction
* Open [this page](https://www.b

[2020-07-15 00:24] abdinasirjamal171 opened #1364 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

### 🔬 Minimal Reproduction
Describe steps to reproduce. If possible, please, share a link with a minimal reproduction.

### 😕 Actual Behavior
A clear and concise description of what is happening. Please include console logs during the time of the issue, especially error messages.

### 🤔 Expected Behavior
A clear and concis

[2020-07-15 00:25] abdinasirjamal171 opened #1365 "[Documentation] Documentation issue report"
### 📙 Describe the Issue
A clear and concise description of what the issue is.

### 🔬 Minimal Reproduction
Please, share a link to the page with the documentation and share steps to reproduce.

### 😕 Actual Behavior
A clear and concise description of what is happening.

### 🤔 Expected Behavior
A clear and concise description of what you expected to happen.

### ➕ Additional Context
Add any other c

[2020-07-15 08:19] DmitryNyshchyi commented on #1322
Hi!
Can I get help?
I don't get any answer for more than 1 month.

[2020-07-15 20:48] mstuart commented on #1365
Hi @abdinasirjamal171, looks like you forgot to include details. If you have some details, can you edit and re-open this Issue? Thanks!

[2020-07-15 20:48] #1365 closed

[2020-07-15 22:11] abdinasirjamal171 commented on #1365
I need help in payment processing kindly I found it difficult to adjust
please assist and put my account on order.

On Wed, Jul 15, 2020, 11:48 PM Mark Stuart <notifications@github.com> wrote:

[2020-07-15 23:11] AdamHashim commented on #1319
Me too, experiencing the same issue with debit cards!

[2020-07-16 18:27] Richabhu opened #1367 "Integrating React with paypal checkout (v2)"
I am integrating PayPal checkout with react using SDK. The seller currency is USD. I am testing it with an Indian sandbox account. The transaction is successful with all other accounts except for Indian Accounts. In all other cases, the sandbox does the currency conversion and pays the amount accordingly except in Indian currency which says the seller doesn't accept payment in your currency. What

[2020-07-16 19:21] bluepnume opened #1368 "[Feature] Attribute for extension detection of smart button"
### 🚀 Feature Proposal

Add an attribute to the SPB container

Would need to be done in both v4 and v5 buttons.

### Motivation

This would allow extensions (e.g. Honey) to begin detecting the SPB and acting accordingly.

### Example

[code]

[2020-07-16 19:25] #1364 closed

[2020-07-16 20:32] paymentplugins commented on #1357
Hi @bluepnume / @amaclean2,

I reviewed the changelog but don't see any activity sine 7/1/20. Do you need any additional information from me to troubleshoot this issue?

Kind Regards,

[2020-07-16 21:39] amaclean2 commented on #1357
Yeah, I'm working on it. It'll be done soon, sorry for the delay

[2020-07-16 22:27] amaclean2 commented on #1340
Fix is submitted for review

[2020-07-17 04:04] mstuart commented on #1368
Tracking as DTCHKINT-113 internally

[2020-07-17 05:24] #1293 closed

[2020-07-18 00:26] 719media commented on #1308
Can someone paste a link of where the patch to shipping options is in the paypal API documentation?
I can only see patch to order

[2020-07-18 00:37] amaclean2 commented on #1308
Braintree does only support orders v1, I think. I have to get back to you on that.

[2020-07-18 00:41] 719media commented on #1308
Cool, thanks. Regardless, I'd love to see where the reference to `/shipping/options` is in the paypal documentation, I can't find it anywhere.

[2020-07-18 01:11] amaclean2 commented on #1308
There's more shippingOptions/callback documentation coming out soon. It's in revision

[2020-07-18 22:20] emmanueldietrich commented on #1246
Hi,
I had the same error because I missed a coma in js. Chrome console didn't warn me. Firefox did ;-)
Fixed the coma and things went back ok.

[2020-07-19 13:25] pixelicous commented on #447
Same with latest paypal module for prestashop (1.7.6.7)
Using checkout "in context" gets data forwarded to "javascript:ECInContext()"
You must turn on unsafe-inline for this to work ([info](https://apimirror.com/http/headers/content-security-policy/form-action)) https://apimirror.com/http/headers/content-security-policy/form-action

If using REDIRECT checkout, that forwards to https://www.paypal.c

[2020-07-20 08:36] ravibpatel opened #1383 "[Bug] The cycles_completed value is 0 in webhook if user immediately cancels subscription after subscribing"
### 🐞 Describe the Bug
The cycles_completed value is 0 in BILLING.SUBSCRIPTION.CANCELLED webhook if the user cancels the subscription immediately after subscribing.

### 🔬 Minimal Reproduction
Add PayPal smart buttons for subscription and subscribe using the sandbox account. Immediately cancel the subscription after the payment is successful.

### 😕 Actual Behavior
I am getting 0 as cycles_complet

[2020-07-21 09:28] Tiagojdferreira commented on #994
Yesterday we updated our npm dependencies (from 4.0.202 to 4.0.315) and the button stopped working in production (button didn't render, no error in console). We rollbacked to the 4.0.202 version and right now I am not sure what to do. Should I stick to this old version?

[2020-07-21 14:04] mnicpt commented on #994
@Tiagojdferreira Thank you for reaching out to us!  I would recommend that you update to using the JS SDK, https://developer.paypal.com/docs/checkout/reference/upgrade-integration/#, or if there is anything you can send me with your setup, that will help me to further debug your integration.  This current issue is closed and not related to your question.  Can you open another issue and fill in the

[2020-07-21 14:41] MSkelton-LDG commented on #1359
Hi - we are getting the same issue (Paypal sandbox redirecting to guest checkout).
We are redirecting from a Magento2 setup and don't have the same issue if we change the API keys to our production ones so it looks to be something within the sandbox.
Is there a fix or config change?

Can provide further details if needed.

[2020-07-21 15:07] mnicpt commented on #1359
@MSkelton-LDG If you could provide the code snippet you are using to integrate, that would be great!  Thank you.  We have this on our backlog and will be looking into a resolution.

[2020-07-21 15:17] aidan-ayala commented on #1359
@mnicpt here's a snippet we're using on the frontend to trigger express standard

`<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div id="paypal-button" data-payment="paypal"></div>
<script>
	window.paypalPageLocation = '/paypal/checkout';
	paypal.Button.render({
		payment: function (resolve, reject) {
			return paypal.request.post(window.paypalPageLocation)
				.then(funct

[2020-07-21 15:25] MSkelton-LDG commented on #1359
Hi @mnicpt - not too sure which parts you require but the button is:

`<input type="image" data-action="checkout-form-submit" data-checkout-url="https://{site}/paypal/express/start/button/1/" src="https://{site}/static/version1594819883/frontend/{code}/{name}/en_GB/{code_name}/images/en_GB/paypal.gif" alt="Checkout with PayPal" title="Checkout with PayPal">`

Then paypal-checkout.js:

[code]

If y

[2020-07-21 15:59] tkeeber commented on #1295
Hi, any update on this? Can we get @carltondickson questions answered please.

[2020-07-21 16:06] mnicpt commented on #1359
Thanks, @MSkelton-LDG

[2020-07-21 16:43] mnicpt commented on #1359
@MSkelton-LDG @aidan-ayala We are working on this issue and will respond back here when the issue has been resolved.  Thank you for bringing this to our attention.

[2020-07-21 19:22] abhishekkarna commented on #1319
I just integrated paypal to my application and it is giving the same error while making the payment via cards .

[2020-07-22 19:10] paymentplugins commented on #1357
Hi @amaclean2,

Thanks for the update. Do you think the fix will be part of today's Wednesday release?

Kind Regards,

[2020-07-22 19:24] amaclean2 commented on #1357
It's probably going to be next week

[2020-07-22 20:53] paymentplugins commented on #1357
@amaclean2 Got it, thanks for the update. Through my partnership with PayPal I support a quite a few very high volume merchants and they are directly affected by this issue. If there's any chance you can get it out before then it's much appreciated.

Kind Regards,

[2020-07-22 21:10] 333design commented on #1319
I am having the exact same issue with Woocommerce. Some clients can check out and some cannot.

[2020-07-23 13:18] rajmondx opened #1389 "[Bug] German Error Message Causes Scrolling"
### 🐞 Describe the Bug

The german text is too big for "paypals message box" which causes it to scroll

![120-paypal-scrolling](https://user-images.githubusercontent.com/56911973/88290782-8e9f1480-ccf7-11ea-9b26-d05d28f31ea0.gif)

It is caused by `height:160px` in "paypals message box":

![image](https://user-images.githubusercontent.com/56911973/88290829-a1194e00-ccf7-11ea-98d4-156c7086be4b.png)

[2020-07-23 13:19] mateja176 commented on #1290
Still experiencing the issue, right after the `div` containing the buttons is unmounted.

[2020-07-23 13:42] csheppard commented on #1290
Yes I was still getting the window closed error in my Vue SPA.

It's not ideal but I got around it by executing the PayPal SDK every time I want to render the button, e.g. append the javascript SDK to the document head and call window.paypal within the script.onload.

[2020-07-23 17:37] Andyyyyyyyyyyyyyy commented on #724
@vishakha94 I am trying to make a multivendor website which uses PayPal and payments are direct from customer's PayPal to seller PayPal and I found this from looking through the code on another site and I think it might be what I need. I am not a programmer so I don't really understand what this is but I am thinking it could be the answer to my problem I have been stuck on for months. If you could

[2020-07-23 22:32] KES777 opened #1391 "[Question] Webhook /resend endpoint is 404ing"
### 🐞 Describe the Bug
for the payment.sale I get next response:
[code]

Because of some issue on our server we did not handle this request. So I try to use links from the object.
Currently I want to resend this hook.

When I use this link I get 404:
[code]
***NOTICE debug_id

But when I want to get webhook, then URL works:
v1/notifications/webhooks-events/WH-5G104985TP0999132-7MD08978AU724400U

[

[2020-07-23 22:35] KES777 commented on #1391
Despite on I get accepted for `.../resend` query to PP, we still do not see resended webhook from paypal

[2020-07-23 22:57] mstuart commented on #1391
Hi @KES777, your issue isn't related to the JS SDK or paypal-checkout-components or PayPal Checkout in general, but I'm working on finding you an answer to your question. Stay tuned. Thanks!

[2020-07-23 22:58] mstuart commented on #1389
/cc @khanghoang

[2020-07-23 23:01] mstuart commented on #1389
Hi @rajmondx, thanks for letting us know about this issue!

[2020-07-23 23:05] khanghoang commented on #1389
Noted, I create a ticket for it.

[2020-07-24 01:40] venue7 opened #1392 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

### 🔬 Minimal Reproduction
Describe steps to reproduce. If possible, please, share a link with a minimal reproduction.

### 😕 Actual Behavior
A clear and concise description of what is happening. Please include console logs during the time of the issue, especially error messages.

### 🤔 Expected Behavior
A clear and concis

[2020-07-24 01:55] mstuart commented on #1392
Hi @venue7, can you add some more details and re-open this issue?

[2020-07-24 01:55] #1392 closed

[2020-07-24 13:45] ravishekhar commented on #1383
We are checking this. Will get back to you.

[2020-07-24 15:01] kimfucious opened #1393 "[Integration Help] Expected element to be passed to render iframe"
### 🐞 Describe the Bug
Using Paypal in a React app, and loading the paypal script via the NPM package, React Load Script, everything works on the first go around.

The problem is, that if the user navigates away from the payment page and returns, an error is produced same as #1177, which is: `Expected element to be passed to render iframe`.

The loading of the script is pretty basic:

[code]

With

[2020-07-24 19:53] KES777 commented on #1391
I am sorry. My question is about paypal checkout. And I think this is more closer repository.

Is there a better place to ask/report about problems for PP v1 checkout API?

[2020-07-25 07:12] KES777 commented on #1391
404 again.

[code]

As we can see - web hook exists
If we try to get payment we get 404
[code]

If we try execute payment, It also does not exists:
[code]

[2020-07-25 07:20] KES777 commented on #1391
more not found links:

     v1/payments/payment/PAYID-L4NNLKI2SP52902VW2537810
     v1/payments/payment/PAYID-L4NNJIA23F06524VF230351F

[2020-07-25 10:04] Arvind6353 opened #1394 "[Bug] MSP with Hosted fields [error in xhr request to graphql endpoint]"
Hi Team ,
Am getting the below error in sandbox , when trying out MSP with Hosted fields (i.e pass multiple merchantIds in the script).
`Access` to XMLHttpRequest at 'https://www.sandbox.paypal.com/graphql' from origin 'http://localhost:3500' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the r

[2020-07-25 15:09] mstuart commented on #1394
Hi @Arvind6353, I tried this locally and removed the extra `merchant-id=*` parameter and it seems to work. I'm not sure why adding that extraneous parameter causes CORS to not work correctly. Can you try that?

[2020-07-25 15:17] Arvind6353 commented on #1394
@mstuart , Yes I removed this parameter and it is working fine . And this is happening with hosted-fields alone. Am able to render Buttons with merchant-id=* for MSP.

[2020-07-25 15:20] mstuart commented on #1394
Awesome. What does `merchant-id=*` do?

[2020-07-27 14:31] gregjopa commented on #1393
Hi @kimfucious, thanks for opening the issue. One tricky thing with the PayPal JS SDK is you cannot load it twice on the page (at least not with out doing some cleanup work). So we recommend separating out loading from rendering. You can do this by checking `window.paypal` to see if the JS SDK has already been loaded. If so, just render the buttons. Here's an example to better illustrate:

[code]

[2020-07-27 17:56] weihou commented on #1394
try to host the page on `localhost.merchant.com` (with domain name).

[2020-07-27 18:20] Arvind6353 commented on #1394
@weihou It would be good , if this can be updated on docs, as it's not mentioned anywhere else. Thanks.

[2020-07-27 20:02] upigilam commented on #1359
@aidan-ayala It looks like there was a ramp on sandbox which was causing issues around guest checkout experience and the experiment was ramped down to 0% on jul 21st 2020. May i request for re-verification??

thanks!

[2020-07-27 20:43] aidan-ayala commented on #1359
@upigilam Looks like the issue is no longer happening. Thank you all.

[2020-07-27 20:59] mstuart commented on #1391
Hi @KES777, I don't know of a public GitHub repository to handle /v1/payments issues. Our API documentation's support links point at https://www.paypal-support.com/s/?language=en_US. Typically these requests fall into that bucket. For now, I opened up an internal JIRA ticket and sent it to the appropriate team and I'll relay back updates to this GitHub issue.

[2020-07-28 14:37] upigilam commented on #1359
@aidan-ayala thanks for confirming ...

[2020-07-28 14:45] #1359 closed

[2020-07-28 22:23] mstuart commented on #1391
Hi @KES777, checking in. It appears to be an intermittent issue. They're trying to figure out why. I'll relay back updates here.

[2020-07-29 16:53] mstuart commented on #1391
Hi @KES777, I have an update! As you called out initially, the /resend API had an intermittent issue at the time you called it. Since then, we've been able to confirm on our end that the event exists.

For the subsequent /v1/payments/payment/PAYID-* calls that you pointed out, we see that the buyer had an [INSUFFICIENT_FUNDS](https://developer.paypal.com/docs/api/payments/v1/#error-INSUFFICIENT_FU

[2020-07-29 16:53] #1391 closed

[2020-07-29 17:40] KES777 commented on #1391
thank you very much

[2020-07-29 17:47] mstuart commented on #1391
Agreed! I relayed that back to the API team. I also felt like a more descriptive error message would have been more helpful.

[2020-07-29 21:41] bluepnume opened #1396 "[Feature] Document and validate vault=true and vault=false"
### 🚀 Feature Proposal

Right now it's kind of a not-well documented requirement that:

- BA or BA+Purchase: you must pass `vault=true` to the SDK
- Purchase: you must pass `vault=false` to the SDK

https://developer.paypal.com/docs/checkout/reference/customize-sdk/#vault

We should:

- Do a better job documenting that.
- Add validation which fails in local, stage, and sandbox
- Add instrumentatio

[2020-07-29 21:42] bluepnume commented on #1396
Only 0.92 confidence @issue-label-bot?

[2020-07-29 21:44] bluepnume opened #1397 "[Feature] Lazy Loading"
### 🚀 Feature Proposal

We should be able to use `import()` in the SDK.

Here is the biggest challenge with this right now:

https://github.com/webpack/webpack/issues/2739
https://github.com/webpack/webpack/pull/6378

### Motivation

Easier to improve performance, by lazily importing things which are not critical to the first render.

### Example

[code]

[2020-07-29 22:30] mstuart commented on #1396
It's AI. okay?

[2020-07-30 00:53] paymentplugins commented on #1357
@amaclean2 Do you have an estimated timeline for this issue?

[2020-07-30 02:51] mstuart commented on #1394
Any reason plain localhost couldn't work?

[2020-07-30 03:01] mstuart commented on #1367
Hi @Richabhu, thanks for filing this issue! Can you share a PayPal Checkout URL (w/ a `token` query string parameter) or any request with a `paypal-debug-id` response header? I wasn't able to reproduce the issue, but I might not have it set up correctly. Let me know, thanks!

[2020-07-30 03:13] Arvind6353 commented on #1394
@mstuart this was because there is a validator plug in that is being used to find if an origin is a valid Url or not. And this plug in is returning for localhost origin.

soln for localhost is to add to  require_tld: false   - Reference - https://github.com/validatorjs/validator.js/issues/754
 validator.isURL(clientOrigin, { allow_underscores: true , require_tld: false})

[2020-07-30 03:34] mstuart commented on #1394
Nice! Assuming that PR is merged and released, would this issue be resolved?

[2020-07-30 03:48] Arvind6353 commented on #1394
Yes @mstuart  I think this would solve the issue.

[2020-07-30 14:44] mnicpt commented on #1368
@bluepnume Was it confirmed why Shopify was putting the SPB inside another iframe?

[2020-07-30 16:52] ivancukns commented on #1314
Hello @ravishekhar

The 'custom_id' field doesnt seem to work for subscriptions, in the IPN request I am not getting anything, for both custom and custom_id fields.

Also, in your example, there are responses for various webhooks, but does it for for the IPN calls?

[2020-07-30 18:16] amaclean2 commented on #1357
@paymentplugins this fix went out yesterday. Let me know if you see any more problems with this issue.

[2020-07-30 19:17] paymentplugins commented on #1357
Hi @amaclean2,

The issue is still present, shipping options are not present in the initial patch using the buyer's default address. Here is an explanation and GIF showing the issue:

1. PayPal button is clicked and pop-up loads
2. `onShippingChange` is called with default address **1 Main St** and patch is called with shipping options resulting in 200 response code
3. Shipping Options are not pre

[2020-07-30 19:42] upigilam commented on #1362
@ktoyoda39 It looks like there was a ramp on sandbox which was causing this issue, locale not being set properly while redirecting and it should be resolved now since the experiment was ramped down to 0% on jul 21st 2020.

may i request you to verify one more time from your side to check whether the issue is still exists? sorry for the re-verification..

thanks!

[2020-07-30 21:43] ktoyoda39 commented on #1362
@upigilam Thank you so much for your update. I confirmed that it works fine on sandbox environment.
Do you know if the same issue exists on production environment ?
if exists, do you have any idea when it will be fixed ?

[2020-07-30 23:22] upigilam commented on #1362
thanks for verifying, this issue is not present in the production env since the ramp was done in only sandbox environment.
so please close this issue.

thanks!
_Upendra

[2020-07-31 00:21] amaclean2 commented on #1357
I'm confused. It appears in your video that the shippingOptions did patch and you can see it in the window.

[2020-07-31 00:32] paymentplugins commented on #1357
@amaclean2 The shipping options only showed up after the default address was changed. The shipping options should display when the PayPal pop up first renders, not after a customer changes their address. Most buyers will not change their address, but will instead rely on the default address.

If you re-watch the gif you will see that no shipping options are visible after the first patch. That is w

[2020-07-31 01:33] ivankokus commented on #1362
This issue appears on both sandbox and productions environment for us. Tested a few minutes ago.

The problem is only for the first time customers, which are pretty much all of them for our business model.

In incognito mode or the first time customer in regular mode, it always shows United States and English instead of Japan and Japanese.

Once you make one purchase, from the second one it shows

[2020-07-31 01:36] ivankokus commented on #1362
BTW, I noticed the same behavior for Russian and Brazilian Portuguese, while other languages where fine.  Basically it happens for all languages where it opens PayPal window in a popup instead of inline.

[2020-08-01 13:42] kimfucious commented on #1393
Thanks for this, @gregjopa

Per your reply, I've removed `npm react-load-script` and have implemented the below, based on your example:

[code]
Sadly, I'm still in the same spot, where navigating away and back to the page, throws the following error with the buttons not rendered:

[code]

I know this is probably me doing something wrong, I just can't figure that out yet.

[2020-08-02 06:14] hbstone commented on #1332
@MikeTodd I'm trying to buy something right now on drivethrurpg.com and am consistently getting this error... I googled to find out if it was a thing and found this issue.

I'm a web dev so hopefully able to provide whatever info you need to help debug.

[2020-08-02 06:19] bluepnume commented on #1332
@hbstone I see drivethurpg.com has `pointer-events: none;` on the paypal button container. That will stop it from working.

<img width="1131" alt="Screen Shot 2020-08-01 at 11 18 46 PM" src="https://user-images.githubusercontent.com/1219075/89116838-62993700-d44d-11ea-867d-86cf57c119f8.png">

[2020-08-02 07:17] kimfucious commented on #1393
I got a bit frustrated and implemented this [react-paypal-button-v2](https://www.npmjs.com/package/react-paypal-button-v2).

While I normally don't like to use packages, if I don't really have to, this seems to work well, and it handles the script loading such that navigating away and back to the page renders the buttons as expected.

I'm gonna look under the hood to see if I can figure out what i

[2020-08-02 15:48] jkk commented on #1336
This is blocking our team from launching PayPal subscriptions. Any updates?

[2020-08-02 19:47] oliwer commented on #1070
I also still get this issue using Firefox 79.0. I tried to disable tracking protection but it does not change anything. Requests fail because of CORS. It seems I simply cannot use Paypal anymore. :clap:

[2020-08-03 02:46] alstrash commented on #1224
Is there any solution other than just switching to Stripe? Because I see a lot of comments doing that and I wonder what kind of solution is that to a thread that has been open since October 2019.

[2020-08-03 13:59] MikeTodd commented on #1332
@bluepnume you're looking at the payment selection page. The actual payment buttons are shown on the confirmation page (the next step).

@hbstone I'll have the developer that's working on this bug get in touch with you. It would be very helpful to have info from an actual web developer who can reproduce this. Thank you!

[2020-08-03 14:02] MikeTodd commented on #1332
@hbstone could you email me (my username here at onebookshelf.com) so that I can get you in touch with that dev? We'll be more than happy to give you store credit for helping us.

[2020-08-03 14:15] gregjopa commented on #1393
Hi @kimfucious. Sorry to hear that. I reviewed [your code snippet](https://github.com/paypal/paypal-checkout-components/issues/1393#issuecomment-667534165) and I think you're close. What does your `useRef()` implementation look like? I don't see it in the snippet. The container using the `ref` needs to be in the DOM when rendering to it.

I was able to reproduce this error by calling ` window.payp

[2020-08-03 14:27] fhferreira commented on #1232
+1

[2020-08-03 16:00] kimfucious commented on #1393
Thanks @gregjopa for that super-helpful response.

Let me have a go, and I'll reply here soonest.

[2020-08-03 23:03] paymentplugins commented on #1357
@amaclean2 Did you watch it from the beginning and see what I’m talking about!

[2020-08-04 14:08] kimfucious commented on #1393
No luck yet...

Below is the code for the payment/subscription page that I'm working on.

useRef is a React hook, that starts out as `null` (line 9).

Sorry for all the extra noise, but there's going to be some logic surrounding the type of subscription, so it's kind of necessary to illustrate what I'm trying to do.

[code]

[2020-08-04 17:07] gregjopa commented on #1393
@kimfucious I haven't had a chance to run this yet but one thing jumps out at me. I noticed that you're conditionally rendering the div containing the `ref`:
[code]

This container needs to be in the DOM before `.render(paypalContainerRef.current)` runs. For troubleshooting purposes can you try moving it so it's always in the DOM?

[code]

If that works, then try adding it back under the `scriptLo

[2020-08-04 21:43] amaclean2 commented on #1357
Here's a PR. I'm keeping track of the issue there.
(https://engineering.paypalcorp.com/jira/browse/PPPLMER-86634)

Thanks for hanging on

[2020-08-04 21:44] paymentplugins commented on #1357
@amaclean2 cool thanks for the update.

[2020-08-04 22:33] mstuart commented on #1367
Hi @Richabhu, going to close this ticket for now. Feel free to re-open it once you have a token or paypal-debug-id response header, then we can take a look. Thanks!

[2020-08-04 22:33] #1367 closed

[2020-08-04 22:37] mstuart commented on #1363
Hey @bryclee, I think I heard you were chatting w/ @bluepnume on this. Do we need to make some checkout.js changes? Wondering if this is blocking Lite ramps. If so, maybe we can prioritize this. Let me know!

[2020-08-04 22:40] mstuart commented on #1362
@upigilam, can you check on this? ^^ @ivankokus mentioned it also happens in production?

[2020-08-04 22:58] mstuart commented on #1340
Looks like it was fixed! Awesome!! Ty @amaclean2 :D

https://developer.paypal.com/docs/checkout/integration-features/shipping-callback/

[2020-08-04 22:58] #1340 closed

[2020-08-04 23:00] bryclee commented on #1363
No, this is not blocking Lite ramps - it affects both versions of Checkout. But there's a thread going back about iOS conversion issues which could be related to this.

When I was chatting with Daniel about this, I didn't realize that this was actually working properly on the v5 buttons. So I think we can take a look at the sequencing of the popup closing and the onAuthorize handler finishing to s

[2020-08-04 23:01] mstuart commented on #1333
Hi @grmmph, closing this issue for now. If you're still facing this issue, can you reply w/ an EC token or paypal-debug-id response header to help debug further?

[2020-08-04 23:01] #1333 closed

[2020-08-04 23:05] mstuart commented on #1325
Hi @zvihersh, are you still able to reproduce this issue? Tested it and it seems to be working.

<img width="944" alt="image" src="https://user-images.githubusercontent.com/742884/89353874-fe5cba00-d67c-11ea-9be8-903b7136a30b.png">

Closing the issue for now. If it's still occurring, please re-open the issue. Thanks!

[2020-08-04 23:05] #1325 closed

[2020-08-06 12:06] Cyriuz commented on #1319
Same issue here, getting a lot of support requests every day with people that can't pay but I have not been able to repro it...

[2020-08-06 12:09] remdd commented on #1319
Me too unfortunately - exactly as per the previous comment, I'm unable to reproduce but getting a steady stream of reports.

[2020-08-07 15:51] kimfucious commented on #1393
Thanks, @gregjopa

I got distracted with something, and I've not tried your suggestions yet.

Kindly keep this open, and I'll report in when I can.

Best,

Kim

[2020-08-11 04:40] ivankokus commented on #1362
This appears to suddenly be fixed in both sandbox and production without us making any changes to our code.  Has a fix been deployed?

[2020-08-11 14:06] sinedoOo commented on #1336
Any update on this? I have the same issue on sandbox, and I'm not sure if we can deploy PayPal Subscriptions to production.

[2020-08-11 15:56] gregjopa commented on #1393
Hi @kimfucious, just wanted to follow up. Have you had time to test out the suggestions?

[2020-08-11 16:17] gregjopa commented on #1334
Just wanted to provide a status update. We have not released a fix for this yet. We are coordinating this change internally and hope to have it released in the next couple weeks.

[2020-08-12 02:36] myloudharim commented on #345
add this input in the html area of your code
<input type="number" id="p" step="any" min="0" max="100">
and add that modify your payment function like so;
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',

      },
      createOrder: function(data, actions) {
          return actions.order.create({

[2020-08-12 10:41] MiladSadinam opened #1406 "[Bug] SameSite Cookie blocked on Chrome: Payment not possible"
### 🐞 Describe the Bug
Our company offers a booking plugin which our customers can integrate on their website. Part of the booking process is the Paypal Plus Checkout Container (https://www.paypalobjects.com/webstatic/ppplus/ppplus.min.js). One of our customers integrated our plugin (with the Paypal Plus Checkout Container) using the Wix CMS (Wix.com). In Wix this can only be done using an iFrame

[2020-08-12 14:37] praggygruntt commented on #1319
Same issue here - I can't reproduce it though.

I am using the Ecwid Integration through SiteJet, so I haven't touched the code. Just hooked in PayPal through the Ecwid Dashboard.

[2020-08-13 10:26] chinmaygmail commented on #1224
Does any have any solution ? Seems like many have faced this issue and this thread is open for quite long.

[2020-08-14 06:42] ravishekhar commented on #1336
We are working on the fix. The fix will be available by 8/31. Will update the thread once changes are rolled out.

[2020-08-14 09:33] Scruffy21 commented on #1056
Having the same problem as @damianobarbati . Perhaps you found a solution?

[2020-08-14 11:35] underthecocotree commented on #1056
Have you tried without passing a payer?

[2020-08-15 05:05] Scruffy21 commented on #1056
Actually yes, I've only tried without a payer. My code:
`        paypal.Buttons({
            createOrder: function (data, actions) {
                console.log('creating orders: ', arguments);
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    intent: 'CAPTURE',

[2020-08-15 05:07] Scruffy21 commented on #1056
Actually yes, I've only tried without a payer. My code:
[code]

[2020-08-15 06:22] Prince007-bd opened #1409 "[Documentation] Documentation issue report"
### 📙 Describe the Issue
A clear and concise description of what the issue is.

### 🔬 Minimal Reproduction
Please, share a link to the page with the documentation and share steps to reproduce.

### 😕 Actual Behavior
A clear and concise description of what is happening.

### 🤔 Expected Behavior
A clear and concise description of what you expected to happen.

### ➕ Additional Context
Add any other c

[2020-08-15 11:59] initplatform commented on #350
How is this closed when there is no official solution from paypal?

This hack works for my purpose... I dynamically add this `.disabled-overlay` class to the `#paypal-button-container` to disable it until the user has read the terms and conditions.

[code]

you can adjust the background-color and opacity to suit your needs.

PayPal should invest in some more developer usability resources.
It's qui

[2020-08-15 15:55] kimfucious commented on #1393
Hi @gregjopa,

Thanks for the pro follow-up.

I got a chance to work on this, and you are correct.

Basically, I was using React conditional logic to show the buttons after the script was loaded for UX reasons, which resulted in the PayPal container not being in the DOM, as you mentioned.

Per your suggestion, I've changed things so that the PayPal container is always rendered.  The UX now is such

[2020-08-15 19:05] UserName9793 commented on #1224
Same problem here, but after disabling adblock (Chrome on Windows) it works. Did anyone else try the same?

[2020-08-17 07:41] Arvind6353 commented on #1394
@weihou  I still see this issue

[2020-08-17 07:45] Arvind6353 opened #1410 "UCC with MSP throwing error when one of merchant id passed is not eligible for UCC"
CLient ID - AVajOV0VnH8tD0mWYqeWH22uB-DOIWPO5yRzmrqTCOeWx0oopJfeZl6NiL1NAITC3mKiTY1XuAT_mXeh

Merchant IDs - 3M5SFHD87UCNA,**FWMV7URQXNHFJ**

Here  merchant ID - FWMV7URQXNHFJ is not eligible for UCC

We are getting paypal.HostedFields.isEligible() to be true

But when rendering Hosted fields button , it is throwing

![image](https://user-images.githubusercontent.com/23059431/90370797-97330280-e08

[2020-08-17 13:56] initplatform commented on #350
For reference this is how you do it in stripe:

`this.card.update({ disabled: true });`

[2020-08-17 14:21] gregjopa commented on #1393
Thank you for the kind words @kimfucious! You made my day 😊

It's great to hear your react integration is successfully working. I think the loading spinner is a good idea as well. I'm going to close this one out. Please open up a new issue if you encounter any other integration challenges 🍻

[2020-08-17 14:21] #1393 closed

[2020-08-17 14:49] underthecocotree commented on #1056
Can you change to `order_application_context ` to `application_context` and remove the return_url and brand_name.

[code]

[2020-08-17 16:31] Scruffy21 commented on #1056
@underthecocotree that worked, thank you!

I wonder why in the docs sometimes it says `order_application_context` and sometimes `application_context`

[2020-08-17 17:29] mnicpt commented on #1056
@Scruffy21 `application_context` is part of the `createOrder` request body, and I am seeing that the link for `application_context` goes to the `order_application_context` section.  I will get this resolved through the docs.  Thanks for bringing this to our attention.

[2020-08-17 18:30] weihou commented on #1410
This is by design. in MSP, Paypal.HostedFields.isEligible() returns `true` when the sdk is loaded. But it returns `false` after the 2nd rendering which happens after the page is loaded.

The right way to integration is to add `.catch()` on `paypal.HostedFields.render()` to catch error and then hide the hosted fields.

[2020-08-17 19:38] Arvind6353 commented on #1410
Thanks @weihou for the suggestion

[2020-08-18 17:48] paymentplugins commented on #1357
@amaclean2 The link you provided appears to be internal to PayPal and so I can't view the status. Do you have any updates on this bug? It's been outstanding for quite a while now.

Kind Regards,

[2020-08-19 10:49] Soulpancake000 commented on #1290
Yes, the Issue is still there.
![image](https://user-images.githubusercontent.com/36916707/90625774-b66e9300-e237-11ea-9dd4-52b4b1645707.png)

[2020-08-19 10:50] Soulpancake000 opened #1411 "Issue in Rendering Paypal Button."
Yes, the Issue is still there.
The button is not getting render.
![image](https://user-images.githubusercontent.com/36916707/90625774-b66e9300-e237-11ea-9dd4-52b4b1645707.png)

_Originally posted by @Soulpancake000 in https://github.com/paypal/paypal-checkout-components/issues/1290#issuecomment-676133856_

[2020-08-19 14:44] gregjopa commented on #1411
@Soulpancake000 thanks for creating the issue. It's hard to help troubleshoot the problem with only the screenshot you provided. Can you share a reproduction? Or a code snippet of your implementation?

[2020-08-19 14:53] komape opened #1412 "[Bug] JavaScript SDK throws error: PayPal Payments SDK script not present on page"
I just tried to set up a page with Smart Payment Buttons to my side but I constantly get this error:

![image](https://user-images.githubusercontent.com/25869589/90650492-3e569c00-e23c-11ea-8232-60bbdc41efc9.png)

I just followed [this guide here](https://developer.paypal.com/docs/checkout/integrate/#2-add-the-paypal-javascript-sdk-to-your-web-page). And my page really just contains the following

[2020-08-19 14:54] komape commented on #1412
This error occurs both in Firefox and Chrome.

[2020-08-19 15:01] komape commented on #1412
Ok, I found out that I need to add `www` as described in [this issue](https://github.com/paypal/paypal-checkout-components/issues/1219). Please fix this! Or give a hint in your documentation.

By the way, [here](https://developer.paypal.com/docs/payflow/express-checkout/sale/#javascript) it's still documented without `www`.

[2020-08-19 15:48] Soulpancake000 commented on #1411
Actually, I am implementing Paypal smart button on ServiceNow Portal. I am loading below Paypal SDK on load--
https://www.paypal.com/sdk/js?client-id=**Client-ID**&disable-funding=card
`<div>

  <div id="paypal-button-container"></div>

  <script>
    paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and

[2020-08-19 15:55] Soulpancake000 commented on #1411
Actually, I am implementing Paypal smart button on ServiceNow Portal. I am loading below Paypal SDK on load--
https://www.paypal.com/sdk/js?client-id=**Client-ID**&disable-funding=card

`<div>

  <div id="paypal-button-container"></div>

  <script>
    paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and

[2020-08-19 16:28] gregjopa commented on #1412
@komape thanks for bringing this to our attention. The doc definitely needs the `www` added. We will get this fixed asap.

[2020-08-19 18:56] zeinabYounes commented on #1107
try to remove any javascript  file

[2020-08-20 17:31] egbertmza opened #1413 "Payments on behalf of resulting in error"
I am using the sandbox environment to test taking payments on behalf of merchants. I am passing my Client id + the merchantid when calling the client side sdk (the intent is created server side and the intent id is then passed back to client application) and getting an error "Payee(s) passed in transaction does not match expected merchant id. Please ensure you are passing merchant-id...".

I notic

[2020-08-23 20:36] MGParisi commented on #1070
Getting this issue on some pages but not all.

[2020-08-24 13:02] givicha commented on #1319
Hi Alexander
Thanks for your attention

I do not have ad blocker

My problem is -

If I select PayPal for the payment, it opens the modal login window of
PayPal correctly and works fine. But if I click on a credit or debit card,
I make the payment, it processes for a sec and says: "Something went wrong.
We'll take you back to checkout so you can try again". then it cut the
money and return it (Pay

[2020-08-25 17:46] amaclean2 commented on #1355
@stanimal can you check if you can still reproduce? I think this issue is fixed.

[2020-08-25 19:28] gregjopa commented on #1413
Hi @egbertmza, have you onboarded as a partner and associated merchants with your account? https://developer.paypal.com/docs/platforms/seller-onboarding/.

Can you share the url of the docs page(s) you find confusing? Also, not sure if you've seen it already but this page has more info about the merchant-id: https://developer.paypal.com/docs/checkout/reference/customize-sdk/#merchant-id. Thanks fo

[2020-08-25 19:33] gregjopa commented on #1411
Hi @Soulpancake000, I tested out your code snippet and it ran successfully for me 🤔.  My guess is the ServiceNow Portal integration is loading the sdk script async and `paypal.Buttons().render()` is being executed before the JS SDK script has finished loading causing the error. Can you try waiting for the onload event before rendering?

[code]

[2020-08-26 16:55] gregjopa commented on #1409
This is spam. Closing.

[2020-08-26 16:55] #1409 closed

[2020-08-26 16:55] gregjopa commented on #1409
This is spam. Closing.

[2020-08-26 17:04] gregjopa commented on #1368
This attribute has been successfully added to both v4 and v5. Closing.

[2020-08-26 17:04] #1368 closed

[2020-08-27 05:50] ravibpatel commented on #1383
Any updates on the issue?

[2020-08-27 06:52] tanyuantj commented on #1281
We met the same problem. It works great on an iOS simulator but keeps loading on iOS devices. We use the official JS SDK.

[2020-08-27 11:16] monysaku opened #1415 "Set environment variable for smart button not working"
Hi all,
I'm facing an issue with the paypal-buttons directive in an AngularJS application. I've followed the [example here](https://github.com/paypal/paypal-checkout-components/blob/master/demo/angular.htm) and implemented the checkout button on my web application.
In production environment everything is working fine.
However if I set in $scope.opts the variable env on 'sandbox' and use a client-i

[2020-08-27 14:23] monysaku commented on #1415
It was working fine in sandbox, no need for setting the env variable. It depends on client-id.

[2020-08-27 14:23] #1415 closed

[2020-08-28 02:13] wemio2200 opened #1416 "[Documentation] Documentation issue report"
- - grande

[2020-08-28 02:14] #1416 closed

[2020-08-28 12:57] #1410 closed

[2020-08-28 17:17] Mansi1 opened #1417 "Rendering credit or debit card on my website"
### 🐞 Describe the Bug
Rendering debit and credit card in my website
![image](https://user-images.githubusercontent.com/12079044/91594907-f1bd4000-e962-11ea-80a5-b3a324cd61a2.png)

it will destroy the design,
 - user can not choose an different payment method.
 - no back button or cancel

[2020-08-28 17:25] mstuart commented on #1417
Hi @Mansi1, thanks for opening this issue. Agreed that the lack of a back button is frustrating. This is a duplicate of #1358. I'll mention this issue there, so we don't lose the reference to the screenshot you posted above. Closing this issue for now and we'll keep #1358 open.

/cc @khanghoang for FYI

[2020-08-28 17:25] #1417 closed

[2020-08-28 17:26] mstuart commented on #1358
https://github.com/paypal/paypal-checkout-components/issues/1417 was filed recently. Closed that one in favor of this. Just wanted to reference it.

[2020-08-28 17:59] Mansi1 commented on #1358
is it possible that it will open in a new window, than all checkouts will have the same flow ...

[2020-08-29 16:22] davidboon78 commented on #1319
Experiencing the same problem as people above.  Not using any ad blocker, and tried with the default paypal on woocommerce as well as the woocommerce paypal gateway plugin.  Same error every time I try to use a credit card.

[2020-08-30 08:29] KES777 commented on #1391
When I ask PP to resend it does noting.

[code]
as response we get:
[code]
And none events come from PayPal

PayPal just waits next time tick and then sends webhook event.  **It forces us to wait hours, MANY MANY HOURS to resolve production problem...** and our clients just gone :`-( We also glad to gone from PayPal, but we just have no alternatives currently =(

Expected behavior:
PP **MUST** res

[2020-08-31 10:06] Soulpancake000 commented on #1411
Thank you, its working fine now.

[2020-08-31 10:06] #1411 closed

[2020-08-31 18:58] elizabethmv commented on #1412
Thanks again for raising this issue @komape, this has now been fixed and can be confirmed [here](https://developer.paypal.com/docs/payflow/express-checkout/sale/#javascript).

[2020-08-31 18:58] #1412 closed

[2020-08-31 19:27] MikeTodd commented on #1332
Just to leave a note/update: after further investigation, it seems like this happened for larger carts/orders, where it took our system a while to actually create said order, and the PayPal library treated it as a timeout.

[2020-09-01 03:55] jagpreetuppal-kiwi commented on #1336
@ravishekhar Do you have any update on fixes of PayPal Subscriptions incorrect start_time and next_billing_time dates on Live and Sandbox

[2020-09-01 14:48] mstuart commented on #1362
@upigilam, can you verify that a fix has been deployed?

[2020-09-01 14:48] #1362 closed

[2020-09-07 06:11] hbstone commented on #1332
Makes sense; when I was able to repro this it was with only one "item" in the cart but that item was a pretty big bundle. That's probably why I couldn't repro it later with an actual single item in the cart.

Glad to hear you figured it out!

[2020-09-07 07:52] allanascano-otus opened #1420 "Uncaught Error: Order could not be captured"
I successfully implemented Smart Buttons on my website. I am now trying to integrate the same using webview on android.

I found a library that will support paypal on webviews - https://github.com/braintree/popup-bridge-android

Problem is, when submitting a payment, Im getting "**Uncaught Error: Order could not be captured", source: https://www.sandbox.paypal.com/smart/buttons?style.label=pay&sty

[2020-09-08 08:32] ravibpatel commented on #1336
@ravishekhar Any updates on fixes for this issue?

[2020-09-08 14:56] mnicpt commented on #1420
@CodyEngel Can you take a look at this or assign to someone on the Android team?

[2020-09-10 20:14] CodyEngel commented on #1420
@allanascano-otus, it looks like you have opened an issue on the [Braintree library](https://github.com/braintree/popup-bridge-android/issues/29). I can follow-up with their team to find out more information, we'd likely want to close out this issue though.

[2020-09-11 01:06] allanascano-otus commented on #1420
thank you @CodyEngel . One last question, can I force the inline popup as seen here
![success](https://user-images.githubusercontent.com/6380178/92835584-02af8c00-f40e-11ea-9302-bf8621ae4e17.png) instead of the new window popup when clicking the Pay with Paypal button?

[2020-09-11 06:52] domtripodi opened #1421 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

### 🔬 Minimal Reproduction
Describe steps to reproduce. If possible, please, share a link with a minimal reproduction.

### 😕 Actual Behavior
A clear and concise description of what is happening. Please include console logs during the time of the issue, especially error messages.

### 🤔 Expected Behavior
A clear and concis

[2020-09-11 06:54] #1421 closed

[2020-09-11 07:09] domtripodi opened #1422 "[Bug] Bug report - Smart Buttons Debit/Credit card createOrder failure working unexpectedly"
### 🐞 Describe the Bug
The onError() callback does not get called when an error occurs in the createOrder() callback. This is only when selecting the debit/credit card option - the first smart paypal button that redirects to the checkout fails and calls the onError() callback as expected.

### 🔬 Minimal Reproduction
I just had the two smart buttons rendered on a html page with the createOrder, onA

[2020-09-12 05:08] amjedomar commented on #1248
By following this  https://developer.paypal.com/docs/checkout/troubleshoot/support/#content-security-policy-rules

I sent a `nonce` for both `script-src` and `style-src` directives, then I passed it  to the PayPal script tag
[code]

After I do that the javascript errors gone

However the `inline-style` error still

[code]

[2020-09-12 08:45] domtripodi opened #1425 "[Bug] Bug report - Type Error: Cannot read property 'paypal' of ..."
### 🐞 Describe the Bug
When clicking the first paypal smart button (not credit/debit button) - it randomly produces the error shown below:

![image](https://user-images.githubusercontent.com/24926301/92991489-3f20dc00-f523-11ea-8dcf-4c9d0d5e289f.png)

It does not produce this error every time - sometimes it does successfully go to the paypal gateway. The error is happening randomly more and more.

[2020-09-12 09:01] radenoff opened #1426 "[Bug] Bug report Angular open in new tab trouble"
### 🐞 Describe the Bug
Im using paypal checkout script in my angular app, and once i add this script in index.html, and i click on any routerlink with right  mouse button, and select open in new tab, all tabs got redirected to localhost:4200, only one that i opened is opened as it should...

### 🔬 Minimal Reproduction
Describe steps to reproduce. If possible, please, share a link with a minimal re

[2020-09-12 12:43] mostadev commented on #1420
I've The same issue and tried different browsers to solve it and till now i can't find any helpful solution please take care of this asap

[2020-09-12 21:26] kklark commented on #1425
Having exactly the same issue

[2020-09-14 16:41] elizabethmv commented on #1334
Hi @kraj011 @gurupras, thank you for your patience as we addressed this issue! The fix is in production and we were able to verify that the TwoSeven extension plays nicely with the card form. I'm going to close this issue now since it has been resolved.

[2020-09-14 16:41] #1334 closed

[2020-09-14 18:39] CodyEngel commented on #1420
@allanascano-otus I'm chatting with one of the engineers that works on `paypal-checkout-components`, can you update this issue to follow the [bug template](https://github.com/paypal/paypal-checkout-components/issues/new?assignees=&labels=bug&template=1-bug-report.md&title=%5BBug%5D+Bug+report)? Doing so will give us more details so we can determine the best resolution/next steps.

[2020-09-14 20:01] bluepnume commented on #1425
This should now be resolved. Please let me know if you see this reoccurring. Thanks!

[2020-09-15 13:37] pabloai commented on #1223
Hi @bluepnume and @mstuart,
Is there any update on this? Cheers!

[2020-09-15 15:05] #1355 closed

[2020-09-16 20:13] dloker commented on #1336
We're having similar issues. We're calling the paypal API on our server and using webhooks to grab information and the next_billing_time is consistently wrong even after payment has went through. There is a delay, seemingly arbitrary, that if you call the subscription endpoint the next_billing_time will get updated. Unfortunately, if the user cancels the sub before that point, they get charged and

[2020-09-19 02:15] rodrigc opened #1432 "[Bug] Accessing https://www.paypalobjects.com/en_US/i/scr/pixel.gif gives a CORS error in browser"
### 🐞 Describe the Bug
Accessing https://www.paypalobjects.com/en_US/i/scr/pixel.gif from inside a web page on another server
results in a CORS error in the console of the web browser.

### 🔬 Minimal Reproduction

If I do:

[code]

I get back:

[code]

These headers are missing:

[code]

If I look at https://github.com/paypal/paypal-checkout-components/issues/1070 , where this example:

[code]

re

[2020-09-19 20:20] jamesnash10 commented on #1319
Same issue as above in WooCommerce - any news on a fix?

[2020-09-19 21:52] 719media commented on #1357
Hello, is there any update on this bug? It's pretty much a roadblock to one-step paypal, honestly I'm surprised this hasn't gotten more activity given that it will be such a huge optimization for ecommerce paypal

[2020-09-20 02:17] amaclean2 commented on #1357
This should be fixed. If you confirm on your side I’ll close this ticket.

[2020-09-20 02:46] paymentplugins commented on #1357
@amaclean2 This issue is not fixed. I have demoed the problem to Nate Sanders @ppnsanders and he asked me to update this issue with further details.

As you can see in the GIF, when the popup loads, the shipping options are not present, even though the order has been patched with the shipping options. Upon changing the shipping address the shipping options are briefly visible but they're for the o

[2020-09-20 03:54] lawlmart commented on #1282
@ravishekhar

Here's why: unless I'm missing something, if PayPal activates a subscription on Paypal.com, but the users connection goes out before the onApprove callback makes a request to our server to connect the subscription ID with our user ID, you have an orphaned subscription.

[2020-09-20 04:15] paymentplugins commented on #1357
@amaclean2 This issue is not fixed. I have demoed the problem to Nate Sanders @ppnsanders and he asked me to update this issue with further details.

As you can see in the GIF, when the popup loads, the shipping options are not present, even though the order has been patched with the shipping options. Upon changing the shipping address the shipping options are briefly visible but they're for the o

[2020-09-20 11:26] RadoslavLazarov commented on #1319
Same issues here. I'm using  WooCommerce PayPal Checkout Gateway. I have two Visa cards. First card is accepted when I use billing address in my country. When I use different billing address is not accepted. The second card does not accept it at all.

[2020-09-21 11:00] hicreate commented on #1258
I too am seeing this issue. Can it be reopened?

[2020-09-21 11:32] hicreate opened #1433 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

When using the Paypal Smart Buttons with Paypal JS in an inappbrowser window through Cordova, we get CORS errors preventing internal Paypal windows opening as part of the login/checkout process. These errors have started in the last fortnight (checked first week of September 2020 no issue, checked today and find the issue)

[2020-09-21 22:05] mstuart commented on #1247
Hi @buggoing, the fix was released last week. Will close this issue for now. Feel free to re-open it if it's still occurring. Thank  you!

[2020-09-21 22:05] #1247 closed

[2020-09-23 14:21] WeTruck opened #1435 "How to integrate 3D (PSD2) secure payment authentication with PayPal in PHP"
I've a PayPal payment get-way like this,

[code]

Now, is there anything to do with the new payment get-way? The PSD2 ?

https://www.paypal.com/uk/webapps/mpp/psd2-new

If so, how could I integrate it?

Please help. I don't find any good reference. Thanks in advance.

[2020-09-24 21:25] #1426 closed

[2020-09-25 10:23] HeuHax commented on #1336
This is still an issue. Any ETA?

[2020-09-25 19:23] AlexRomanenko opened #1438 "[Bug] "Please make a selection as to how you want to receive this order.""
Hi,

with the code that worked before 09/24/20 I am getting now error - "Please make a selection as to how you want to receive this order."

This is happening when I click "Continue" after address change and after replace patch on /shipping/options with updated shipping costs.
I don't see any errors with debug=true and all patches are successful.

Can't find any reference to this error anywhere.
<

[2020-09-28 03:30] TonyWoo commented on #1357
@amaclean2  We also encountered the same problem. Can you help fix it? We need to use this feature in our production sites. Thanks.

[2020-09-28 05:10] SeriaWei commented on #1357
I also encountered this issue. I patch the shipping options on `onShippingChange` event. But the new shipping option does not appear in the dropdown until change the shipping address.
[code]
I have tried to  patch shipping options on server side, it was the same.
And it seams that `selected: true` does not work with patching.

Is there a plan to fix this issue?

[2020-09-29 13:12] AlexRomanenko commented on #1438
Since this morning 09/29/20 everything is working again (no code changes were made on our side).

[2020-09-29 16:06] phuhl commented on #1314
Any updates on this?

How are you supposed to link a subscription to a user? How are people doing it today?

[2020-09-29 16:14] ivancukns commented on #1314
@phuhl Hi, I've found a solution at the end, but it was really hard and I wasted many hours. There is no real documentation for this anywhere.

so, this is my paypal button on the frontend:

        createSubscription: function(data, actions) {
          return actions.subscription.create({
            'custom_id': name,
            'plan_id': 'XXXXXXXX'
          });
        },

And this is how I

[2020-09-29 16:34] phuhl commented on #1314
@ivancukns Thank you for the quick response.

Is this `$username = $request['rp_invoice_id'];` a body field? My API-logs don't show that, neither as header field, body field or query parameter.

My button code:
[code]
I can't spot a difference to what you are doing... I am really confused by now :/

[2020-09-29 16:47] ivancukns commented on #1314
@phuhl Oh yes, sendbox doesnt work properly, I was testing with the real account the whole time. :(

so, on the frontend it must be called 'custom_id', but in the backend in your IPN listener, the 'custom_id' is going to be passed as 'rp_invoice_id' POST field.

[2020-09-29 17:22] difayez commented on #1319
Having the same issue, really wish it would work as it's preventing me from launching my online shop.

[2020-09-29 21:30] mnicpt commented on #1329
@laukstein A fix has been released for this issue.  Thank you for being patient while we provided the fix.  Feel free to reopen this Issue if you find there is still a problem.  Thank you.

[2020-09-30 13:06] #1438 closed

[2020-09-30 16:00] ToddHoff opened #1445 "[Bug] Bug report"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

Uncaught Error: Window closed

js?client-id=XXXX&currency=USD:2 unhandled_error
{err: "Error: Window closed↵    at https://www.paypal.com…XXX&currency=USD:2:10145", timestamp: "1601480886165", referer: "XXX", uid: "XXX", env: "production"}
env: "production"
err: "Error: Window closed↵    at https://www.paypal.com/sdk/js?cl

[2020-09-30 19:24] laukstein commented on #1329
@mnicpt, still the Hebrew RTL (right-to-left) UI is broken, see:
![grabilla Hp3192](https://user-images.githubusercontent.com/183966/94730215-8e606c80-036b-11eb-959a-cb9c3cb78ee5.png)

I think this task should be solved by someone having understanding of RTL UI, bidi-directional UI.

[2020-10-01 08:20] phuhl commented on #1314
Thanks ivancukns, for the really quick answers the other day. Sadly we didn't get it to work, no matter what we passed into the buttons, there was nothing related coming out of the IPN.

We went with fully integrating PayPal and went to Stripe for credit cards.

[2020-10-01 10:31] ivancukns commented on #1314
@phuhl hm, weird since it works like that on my side. I see some differences in your code when compared to mine, for example custom_id not quoted in your code snippet.... maybe its some kind of small thing like this thats preventing it to work.

[2020-10-01 11:55] misswayua commented on #1445
I have the same problem but not in production but in sandbox.

[2020-10-01 12:03] omerinvia opened #1446 "[Bug] Bug report - Cant see checkout buttons specifically on iOS WKWebview"
### 🐞 Describe the Bug
Hi! weve tried to implement the checkout solution with paypal on top of android & ios webviews.
I simplified the code for the question so its kinda the same as your provided example:
[code]

while I was tried to see the results on chrome // android it worked as expected but on iOS devices it looks like the iframe which rendered is empty. (body, head tags exists and empty)

#

[2020-10-01 12:50] ivancukns commented on #1314
@phuhl I just wanted to let you know that I had a new subscription today, and my solution does not work any more.
The previous one I had on the Sepmteber 14. it worked!! This is such a BS! :( :( 👎

[2020-10-01 14:59] mnicpt commented on #1329
@laukstein So sorry this hasn't been fixed for you.  I will reach out to the team.

[2020-10-01 17:06] 719media commented on #1357
@amaclean2 I know you must be incredibly busy with a lot going on at PayPal. It's difficult that this issue, which is causing a fairly critical issue that has been explained, isn't getting more communication. If you could please communicate a little more on this issue and what's happening to resolve it, it would be greatly appreciated.
Thank you.

[2020-10-01 17:12] amaclean2 commented on #1357
There was another release that went out yesterday to address this issue. Can you verify that it works/doesn't work in sandbox or production

[2020-10-01 23:37] westonruter commented on #440
@bluepnume AMP now allows for custom JavaScript via [`amp-script`](https://amp.dev/documentation/components/amp-script/). This component runs the custom script off the main thread and synchronizes the sanitized DOM changes back to the main thread via [WorkerDOM](https://github.com/ampproject/worker-dom).

Nevertheless, I can see that the SDK is apparently 271KB+, whereas `amp-script` limits custom

[2020-10-02 00:03] stephengardner commented on #440
@westonruter to add some additional color here, a quick scan of the PayPal JS SDK (https://www.paypal.com/sdk/js?client-id=sb) shows an abundance of methods not supported by WorkerDOM and/or amp-script.  `document.createElement('script');`, `e.preventDefault()`, `window.location`, etc, etc, etc.  So I'm not sure this would even be a viable route had it been under the script limit.

[2020-10-02 03:30] paymentplugins commented on #1357
@amaclean2 I just tested this in sandbox version `5.0.168` @ 6:30PT and the issue is still not resolved.

[2020-10-02 05:29] amaclean2 commented on #1357
@paymentplugins I resolved this issue with a few other merchants and I haven't been able to reproduce the specific situation you're having. Can we schedule some time to try to reproduce this and get this cleared up once and for all. It'd be great to end this circle.

Thanks

[2020-10-02 14:20] paymentplugins commented on #1357
@amaclean2 Happy to schedule a time to reproduce the issue. I'll email you with some suggested times.

[2020-10-02 19:20] ivancukns commented on #1314
This is how this ends:
PayPal tech support guy: 'I have confirmed with our product developers that this is no longer supported via IPN.'

[2020-10-02 23:17] claeusdev commented on #1361
hey @pedroapfilho @mstuart @mnicpt I'd like to work on this, could you please provide some extra details. A bit lost on the context of the issue. Thanks

[2020-10-02 23:45] pedroapfilho commented on #1361
@mstuart so, is this in progress, or the development didn't start yet?

[2020-10-04 00:30] vivek12345 commented on #1397
@bluepnume do you think we can use https://www.npmjs.com/package/es6-promise-promise. I read your comment on the webpack issue and you were looking for a way to handle a promise implemention(either es6 or any custom) using a provider plugin.

This particular npm package does that. Let me know if we it's safe to rely on this and then I can may be take a look at sending a pr for the same.

[2020-10-04 00:34] vivek12345 commented on #1397
I am trying to understand if doing something like the following is an issue
[code]

Will this not solve the problem with ie11?

[2020-10-04 12:07] mnicpt commented on #1361
@pedroapfilho This hasn't been started yet.  Here is the link to the docs I mentioned above though: https://developer.paypal.com/docs/business/checkout/configure-payments/single-page-app/#

[2020-10-05 11:37] amjedomar commented on #1248
@bluepnume Can any one of contributors looks into this issue please?

[2020-10-05 16:44] pedroapfilho commented on #1361
I feel like the problems with the current implementation are:

1. We have to check if PayPal is available in the environment before we do anything with it, so using typescript is a nightmare.
2. We don't have examples on how it works with `styles`
3. We don't have implementations where the user can change its currency, so the script would change too

[2020-10-05 20:00] mstuart commented on #1361
Sorry @claeusdev, I mislabeled this w/ the hacktoberfest labels. I think we need to re-group and figure out what we want to do w/ this first. Let me know if that's okay.

[2020-10-05 20:09] mstuart commented on #1397
@bluepnume know if ^^ would help?

[2020-10-06 05:02] mstuart commented on #1358
This was released today! Woohoo 🎉

[2020-10-06 05:02] #1358 closed

[2020-10-06 20:55] CaptainBeOS commented on #1336
I read elsewhere that PayPal have no intention of changing this behaviour, which led me to understand that we all must be missing something. After much digging and experimenting I can share the solution to this problem with you all and hope nobody else wastes so much time.

It seems that when the initial BILLING.SUBSCRIPTION.ACTIVATED event is triggered it is done so BEFORE the payment has actuall

[2020-10-07 05:16] ravibpatel commented on #1336
@CaptainBeOS I am also using the same technique for some time now but problem with this is that next_billing_time is not honored when PayPal charges the user for renewal. It should be 10:00am GMT but it charges the user's card at random time. I tried it on sandbox using per day subscription.

[2020-10-07 09:30] CaptainBeOS commented on #1336
@ravibpatel I think this is just the way it is: I'm guessing that if PayPal start processing all renewals due that day at 10:00am it probably takes quite some time to complete the batch process. There must be hundreds of thousands for them to get through. So PAYMENT.SALE.COMPLETED could he hours later. Plus there might be problems settling, e.g. customer's card details have expired, insufficient f

[2020-10-07 12:17] webdeb opened #1447 "Pay Button has NO TEXT!!!"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.

Debit/Credit Dialog -> "PAY Button" has no text

![Bildschirmfoto 2020-10-07 um 14 12 53](https://user-images.githubusercontent.com/14992140/95329733-b9851780-08a7-11eb-8255-358e20c2b050.png)

### Affected browsers

What browser(s) are affected?

- Chrome

### ➕ Additional Context

Language: German

[2020-10-07 14:13] nick4414 commented on #1447
I've already reported the issue to the paypal development team and they are working on it.

[2020-10-07 19:17] amaclean2 commented on #1357
@paymentplugins I found a couple inconsistencies between what the patch call sends and what we're getting internally. I'm looking at what's causing this. I'll let you know when I find something. Also, it doesn't appear that the patch gets called everytime the PayPal site gets loaded. I don't know what's causing that. I just wanted to let you know.

[2020-10-08 12:26] dotku opened #1448 "[Bug] React driver throws deprecation warning in StrictMode"
### 🐞 Describe the Bug

I use the code from here as a sample
https://github.com/paypal/paypal-checkout-components/blob/master/demo/react.htm

But I got the error report with content:

![image](https://user-images.githubusercontent.com/1519232/95458348-e593ad80-0926-11eb-9b16-b2089747e9d1.png)

### 🤔 Expected Behavior
Should not have an error report

### 🌍 Environment

- Browser version: - Chrome
-

[2020-10-08 19:31] amaclean2 commented on #1357
@paymentplugins I think there might be an issue with the asychronicity of how you're calling the patch call in `onShippingChange`. Can you share with me the code snippet you showed me one more time?

[2020-10-08 19:35] paymentplugins commented on #1357
@amaclean2 Just sent you an email regarding your request.

[2020-10-08 20:28] amaclean2 commented on #1357
So, the issue @paymentplugins was facing, I don't know about others, was that there was a break in the promise chain of `onShippingChange`. Anyone calling `onShippingChange` needs to make sure that the patch call is in a contiguous promise because our code is checking the response from that promise chain for a patch call. When a patch call is outside of the promise, it's not going to be seen.

[2020-10-08 20:28] #1357 closed

[2020-10-11 09:55] jousi592 opened #1450 "[Documentation] Documentation issue report"
### 📙 Describe the Issue
No description of all possible actions within lifecycles (onApprove, createOrder, ...).

### 🔬 Minimal Reproduction
https://github.com/paypal/paypal-checkout-components/tree/master/docs

### 😕 Actual Behavior
I cant find any information on what possible actions I can use within each of the lifecycles.

### 🤔 Expected Behavior
There should be a documentation of all possible

[2020-10-11 15:52] gregjopa commented on #1450
Hi @jousi592, we recently released this JS SDK reference doc that may help: https://developer.paypal.com/docs/business/javascript-sdk/javascript-sdk-reference/#buttons

There’s also an onShippingChange callback that seems like what you’re looking for: https://developer.paypal.com/docs/checkout/integration-features/shipping-callback/

[2020-10-11 18:21] gregjopa commented on #1361
Hi everyone, we just released the library react-paypal-js to make it easy to integrate PayPal with React: https://github.com/paypal/react-paypal-js. It should be pretty straight forward to integrate into a create-react-app application. Let me know if you have any questions about the new library.

[2020-10-11 18:25] gregjopa commented on #1448
Hi @dotku to get around this warning you can use useRef() instead of the zoid react driver.

Also, we just released a react library to simplify this style of integration: https://github.com/paypal/react-paypal-js.

[2020-10-11 18:28] gregjopa commented on #1397
Webpack 5 was just released which supports async modules: https://webpack.js.org/blog/2020-10-10-webpack-5-release/#async-modules. I wonder if we can use that 🤔

[2020-10-11 18:40] bluepnume commented on #1397
Few notes:

- Webpack 5 - started working on the upgrade here: https://github.com/krakenjs/grumbler-scripts/tree/webpack-v5 (currently seeing some issues with `sass-loader` though, that seems to be the only blocking thing)
- `import()` works in webpack 4 even. The bigger problem is still: https://github.com/webpack/webpack/issues/2739
- `webpack.ProvidePlugin` does not help -- it doesn't polyfill

[2020-10-12 06:32] jousi592 commented on #1450
Hi there, indeed the shipping callback does seem like the correct solution, thank you for pointing me to it!

I do still think that there should be a more thorough explanation of all possible actions within each lifecycle. I had to dig into the src code and other materials to get some answers.

[2020-10-12 14:35] ceronem opened #1451 "NuxtJS - Error: zoid destroyed all components"
Hi guys, I'm having a problem using this SDK with NuxtJs. The problem only occurs during client-side rendering. As a workaround I call the paypal.Buttons.render() function with a delay of 500 ms.
Loaded script inside nuxt.config.js
[code]

[code]
Doesn't work:
[code]

It's works:
[code]

[2020-10-12 14:37] gregjopa commented on #1397
Thanks for the update @bluepnume. And for clarifying this feature request. I removed the Hacktoberfest labels and I'm watching webpack/webpack#11565

[2020-10-12 14:44] gregjopa commented on #1451
Hi @ceronem, it seems like you are running into trouble with using `defer` without having a reliable way to know when the script is done loading and is ready for use. To solve this problem, we recommend using the [paypal-js](https://github.com/paypal/paypal-js) library. This client-side loader library is for loading the script with a promise api so you know when it's finished. It loads the script

[2020-10-12 15:14] ceronem commented on #1451
It works very well. Thanks a lot

[2020-10-12 15:14] #1451 closed

[2020-10-12 15:21] gregjopa commented on #1451
@ceronem that's great to hear! 🚀 😄

[2020-10-12 16:38] mstuart commented on #1299
Hi @kherona, I have an update from the webhooks team. This shouldn't affect new webhooks anymore, but will continue to affect existing webhooks as those timestamps can't be safely changed without negatively affecting other hooks. Can you create a new one and try again? Let us know if you still see the issue. Thanks!

[2020-10-12 16:38] #1299 closed

[2020-10-13 12:30] #1361 closed

[2020-10-14 00:34] WastedFreeTime commented on #1281
**Iam facing the same issue.**

The console output:
`Invalid sdk meta: eyJ1cmwiOiJodHRwczovL3BheXBhbC5jb20vc2RrL2pzP2NsaWVudC1pZD1zYiIsImF0dHJzIjp7ImRhdGEtdWlkIjoiYTdhNzkxOTEyNl9tZGE2bXR5Nm16aSJ9fQ`

The problem is the **sdkMeta** HTTP Parameter. Without this parameter everthing is working fine. But you can't override this param by yourself. So its only working theoretically without this param.

H

[2020-10-14 00:42] bluepnume commented on #1281
Hi,

Please make sure you have the `www.` in the paypal sdk url.

https://*www.*paypal.com/sdk/js?client-id=sb

[2020-10-14 07:51] SeriaWei opened #1452 "[Bug] The order amount has not been updated"
After modifying the address information, there is a prompt message showing the price.

![image](https://user-images.githubusercontent.com/6006218/95956437-dd5cd600-0e30-11eb-8626-cd9ddaeffea9.png)

But after changing the shipping option, the price is not been updated. Shipping price change to $16.0

![image](https://user-images.githubusercontent.com/6006218/95958846-4eea5380-0e34-11eb-945e-e958e7d

[2020-10-14 19:19] saltyfedor opened #1453 "[Bug] Paypal button - Problem with “Invalid sdk meta”"
The script does load and I'm able to render the paypal button, however when clicked it opens an infinite checkout load. Upon loading the page sends a request to https://www.sandbox.paypal.com/smart/buttons?.....

and receives a response 400 bad request with body :

Invalid sdk meta: eyJ1cmwiOiJodHRwczovL3BheXBhbC5jb20vc2RrL2pzP2NsaWVudC1pZD1BWHdITVB4cFFPNDdKeVFYcndDUXJKZzBlNlp0Q0dvRm9vYlpYTnpIa0lp

[2020-10-14 19:19] saltyfedor opened #1454 "[Bug] Bug report"
The script does load and I'm able to render the paypal button, however when clicked it opens an infinite checkout load. Upon loading the page sends a request to https://www.sandbox.paypal.com/smart/buttons?.....

and receives a response 400 bad request with body :

Invalid sdk meta: eyJ1cmwiOiJodHRwczovL3BheXBhbC5jb20vc2RrL2pzP2NsaWVudC1pZD1BWHdITVB4cFFPNDdKeVFYcndDUXJKZzBlNlp0Q0dvRm9vYlpYTnpIa0lp

[2020-10-14 19:22] #1454 closed

[2020-10-15 04:21] tpng opened #1458 "[Bug] locale=zh_HK generate function Gn(){return null.replace("www.","api.")}"
### 🐞 Describe the Bug
Passing locale=zh_HK to https://www.paypal.com/sdk/js will result in wrong function being generated.

### 🔬 Minimal Reproduction
https://www.paypal.com/sdk/js?locale=zh_HK&currency=HKD&client-id=YOUR_CLIENT_ID

### 😕 Actual Behavior
The function Gn() is generated as below:
function Gn(){return null.replace("www.","api.")}

### 🤔 Expected Behavior
https://www.paypal.com/sdk/j

[2020-10-15 07:57] SeriaWei opened #1459 "[Bug] Item detail is not shown after click "More""
Click "More" link

![image](https://user-images.githubusercontent.com/6006218/96093699-0ba8e700-0eff-11eb-843e-765485152a24.png)

But no details are displayed

![image](https://user-images.githubusercontent.com/6006218/96093738-16fc1280-0eff-11eb-91c8-d750782ce2d2.png)

The quantity and description are displayed on v1 payments:

![image](https://user-images.githubusercontent.com/6006218/96093428-b

[2020-10-15 11:17] KudretBayram commented on #139
Hi guys, this Synchronous sample by PayPal isn't working:
https://developer.paypal.com/docs/checkout/integration-features/validation/

I need this functionality in order to:
- first validate a form
- allow the payment process to commence

Any ideas?

[2020-10-15 18:53] tobsn commented on #139
I dont think that ever worked - you can try to disable the paypal button up until your form is validated on input field blur and use the code I pasted above: https://github.com/paypal/paypal-checkout-components/issues/139#issuecomment-501353748

[2020-10-16 01:37] KudretBayram commented on #139
That's a good suggestion, thanks. The issue is that I have a form with multiple fields (one of which is optional) and the validation is server-side (via ajax). AND we're using Google reCaptcha so submitting the form after every onBlur could trigger the captcha after every input is blurred.

I appreciate your input, any other ideas?

![Screen Shot 2020-10-16 at 12 32 39 pm](https://user-images.gith

[2020-10-16 20:19] nbierdeman commented on #1450
@jousi592 Would you mind sharing what information you had to dig through the src code and other materials to find? I'm going to work on the documentation, and would really appreciate your input. Thanks!

[2020-10-16 21:33] CesarBarajasG commented on #541
Check this documentation, it helps me a lot.
https://developer.paypal.com/docs/archive/checkout/integrate/#1-get-the-code

[2020-10-17 00:48] tobsn commented on #139
@KudretBayram just deactiveate it and once your checks are done remove the deactive class ;)

[2020-10-17 01:15] Pyrolistical commented on #1224
I ran into this issue when I entered trash data. It complains about first/last name, but the UI shows

<img width="426" alt="Screen Shot 2020-10-16 at 18 14 00" src="https://user-images.githubusercontent.com/463642/96325276-64e64880-0fdb-11eb-84f3-b2ad50fbb799.png">

In the console I see `{message: "OAS_VALIDATION_ERROR", stack: "Error: OAS_VALIDATION_ERROR↵    at guestCheckout (…s/dist/src/graphq

[2020-10-17 01:34] KudretBayram commented on #139
I've tried that using the actions.disable(); and actions.enable(); without success.
See attached...

Thanks again.

[smartbutton.zip](https://github.com/paypal/paypal-checkout-components/files/5394835/smartbutton.zip)

[2020-10-17 02:09] tobsn commented on #139
@KudretBayram no no, you would simply add the class and remove the class.

in jquery:

$('#paypal-button-container').addClass( 'disabled' );
and
$('#paypal-button-container').removeClass( 'disabled' );

look at my css:

https://github.com/paypal/paypal-checkout-components/issues/139#issuecomment-501353748

[2020-10-18 07:49] jousi592 commented on #1450
I will be glad to help.
What I had trouble finding, as my comment above says, were all possible actions I could take within each "lifecycle" (not sure what you call it), since I am usually not one to use pre-build solutions, I like to be able to customize my functionality. I think your your BE integration is thorough, but the SDK FE integration lacks a little more depth.
For example when looking a

[2020-10-18 17:24] phuhl commented on #1314
Yeah, Paypal is not dev friendly. As they say... :/

[2020-10-19 02:24] beshoo opened #1462 "Dos Smart button support IPN?"
Dear support.
I have 3 questions

1- I am from Saudi Arabia, And today I note the smart button function. and it seems to support Credit card, but what I know that Saudi Arabia is not supported to charge clients b their credit cards only via a paypal account.
How can I confirm this?

paypal-debug-id: **e20b35800c5f9**

2- Dos Smart button support IPN notification since there is no place to add noti

[2020-10-19 03:10] KudretBayram commented on #139
Ah yes, I see what you've done. Quite clever ;) Thanks for your contribution mate.

Surely PayPal can provide a proper solution for a seemingly obvious problem...

Cheers mate.

[2020-10-19 03:40] beshoo commented on #1462
It seems I have to pass the hidden vars like the following
[code]
Please confirm that.

Please confirm that I can charge my clients via there credit cards

[2020-10-19 04:07] bluepnume commented on #139
@KudretBayram -- you would need to set up any of your listeners in `onInit`. For example:

[code]

[2020-10-19 05:36] KudretBayram commented on #139
@bluepnume Thanks Daniel. Slight oversight by me there...
That said, the dialogue/pop-up still doesn't appear after actions.enable() is called.
Do we need to trigger it manually? I understand there's no way to trigger a click on the PayPal button?

I've attached an HTML file with your recommendation:
[pay.html.zip](https://github.com/paypal/paypal-checkout-components/files/5399263/pay.html.zip)

I

[2020-10-19 06:05] bluepnume commented on #139
So, the sequence here is:

- PayPal button is rendered
- onInit is called
  - You optionally set up any event listeners
  - At any point before the button is clicked, you can synchronously `actions.enable()` or `actions.disable()` the button at will, on any events from your page
- The user clicks the PayPal button
- The button checks whether it is in `enabled` or `disabled` stage
  - If it is `dis

[2020-10-21 10:19] mcfiredrill opened #1463 "createSubscription and createOrder in same checkout"
Hi,

I'd like to be able to create a subscription and a regular order in the same checkout process.
I've noticed I'm not allowed to pass both createSubscription and createOrder at the same time.

I thought perhaps I'd be able to use just one of the callbacks, but the `subscription` object is not available in the `actions` in the createOrder callback, and vice-versa `order` is not available in `cre

[2020-10-21 14:15] KudretBayram commented on #139
Thanks for your detailed response mate. I've been able to navigate my way to a solution. It's not great but also not horrible. Hopefully it's of help to someone with similar challenges...

Basically, I had to write a custom promise function because our form submitting ajax function (post_request) is custom and has unique functionality. I've been able to wrap it in a promise and reject the PayPal p

[2020-10-21 23:16] kedzior-io commented on #1453
@saltyfedor

Had same issue today after applying html minification.
Check your output html and make sure if you have any minification turned on that removes https protocol from attributes.

In my case this was my output:
`<script src="//www.paypal.com/sdk/js?client-id={your-id}"></script>`

And it should be this:
`<script src="https://www.paypal.com/sdk/js?client-id={your-id}"></script>`

[2020-10-22 11:58] dmalis opened #1464 "[Bug] JSON Parse error: Unexpected identifier "object""
I'm seeing huge amount of such JS console errors throughout all our websites.

# environment
sandbox + production

# browsers
- mac os + latest Brave browser with tracking shield enabled
- ios + facebook webview

# error
![image](https://user-images.githubusercontent.com/274254/96868447-5c27c380-146e-11eb-9193-96e5e53dc02a.png)

# how to replicate
Include <script data-log-level="error" src="https:

[2020-10-22 16:37] rbulph commented on #139
bluepnume I had a quick try with your suggestion but the onclick function doesn't trigger when the Paypal buttons are disabled. So you have to enable it by listening for changes to all of your entry fields. And then when all of them are OK you have to enable the Paypal buttons. But is it possible to call actions.enable() from outside of the Paypal script? I couldn't see how.

So I'm thinking it's

[2020-10-23 06:49] jankoboz commented on #769
Removing tte invoice number worked for me too. Thanx alot

[2020-10-23 08:24] fschutt commented on #1464
I am having this issue, too. The Smart Buttons don't work anymore, but they did work just fine yesterday. Seems to me that there was a breaking change within the last 24 hours.

Brave Version 1.15.76 Chromium: 86.0.4240.111 (Official Build) (64-bit), Windows 8.1

[2020-10-23 08:51] fschutt commented on #1464
Here are my errors:

![image](https://user-images.githubusercontent.com/12084016/96975990-8c796b80-151b-11eb-9b97-9a37b390e3d5.png)

In text form:

[code]

WARNING: long

Here is the full log when enabling `debug=true` in the script:

[code]

I think the distilled error is here:

[code]

And here is the log directly before it crashes:

[code]

![image](https://user-images.githubusercontent.com/120

[2020-10-23 09:00] fschutt commented on #1464
As far as I can see in the debug script, the first error originates here:

[code]

![image](https://user-images.githubusercontent.com/12084016/96978649-e0398400-151e-11eb-8bbb-a0ff33e7c3d8.png)

I hope this is enough debug info for now.

[2020-10-23 21:36] jkassis opened #1465 "[Bug] IFrame Open Fails / Timeout With Attached Debugger"
### 🐞 Describe the Bug
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/3630156/97055619-09b4d880-153c-11eb-8373-ebd5e1ef52d7.png)
No ack for postMessage postrobot_method in https://www.sandbox.paypal.com in 10000ms
Unable to delegate rendering. Possibly the component is not loaded in the target window.
No ack for postMessage zoid_delegate_ppch

[2020-10-25 05:04] uttam-iu opened #1467 "'Dabit or Credit card' button opens a form without new window sometimes."
hi,
after clicking paypal button it always opens in new window, but after clicking dabit or credit card button, sometimes it opens the form in new paypal window, sometimes it hide the paypal button and opens the form below the dabit or credit card button without new window like paypal button click. anyone please help, how to opens both in paypal new window always..

[2020-10-26 14:16] pramodmangalore commented on #1063
I am getting a similar error out of the blue today. Seems to be occuring only on our QA server however but neither DEV/PROD.
<img width="949" alt="Untitled" src="https://user-images.githubusercontent.com/72147883/97183462-33584480-1774-11eb-81b6-0a9c5c129fb6.png">

[2020-10-26 17:14] mnicpt commented on #1467
@uttam-iu It is intentional that clicking the PayPal button opens in a new window and the debit or credit card button will open a form below if standard card fields are available or guest checkout popup if they are not. https://developer.paypal.com/docs/checkout/integration-features/standard-card-fields/?mark=guest%20checkout#what-is-the-checkout-experience-if-standard-card-fields-isnt-available.

[2020-10-26 17:14] #1467 closed

[2020-10-27 15:27] mariusz-schimke-iteo commented on #1336
@CaptainBeOS, a similar issue brought me here. What we already do is request subscription details on handling the PAYMENT.SALE.COMPLETED webhook event. Today we noticed that at that moment the request still returns out-of-date results. When we repeat it after a while, the next_billing_time is up to date. I'm lost.

[2020-10-27 17:26] CaptainBeOS commented on #1336
@mariusz-schimke-iteo I was going to post about this because as soon as I took things out of dev into test it also failed to work.

It turns out waiting for PAYMENT.SALE.COMPLETED is met with a marginal success rate and it seems to depends on how fast paypal updates the database their end and how quick your software responds to the web hook. After much experimentation I've found that the incorrect

[2020-10-27 19:46] krosoftware commented on #1319
Any solution on this, please?

[2020-10-28 00:05] HeuHax commented on #1336
@CaptainBeOS It really should not be that hard xD xD

[2020-10-28 07:42] mariusz-schimke-iteo commented on #1336
@CaptainBeOS, thanks a lot for your valuable input!

[2020-10-28 12:35] mohdhallal commented on #1248
+1

[2020-10-28 15:51] nbierdeman commented on #1450
@jousi592 Thanks for the feedback! We appreciate it.

For the "scroll down to 4" bit, there's a link that goes to https://developer.paypal.com/docs/api/orders/v2/#orders_create for the options you can pass w/ `actions.order.create()`.

If you're still getting an error in Chrome, please head on over to https://developer.paypal.com/support/ for support.

[2020-10-30 16:59] RBSUS commented on #1319
Having the same issue with cards. I believe this is to do with passing an application_context object. You are able to "avoid" the error by not doing so or passing both a return and cancel url. [See here](https://developer.paypal.com/docs/api/subscriptions/v1/#definition-application_context). However, passing custom URLs fails to close the paypal dialog and thus doesn't trigger the onApprove event

[2020-10-31 04:21] fborm opened #1468 "[Bug] smartButtons onCancel() never called if PayPal popup window is immediately closed"
### 🐞 Describe the Bug
onCancel() is never called if PayPal popup window is immediately closed. As far is I can tell, this applies to the time period in which the order is being created on the backend (i.e. before the main browser window will be dimmed and the popup window starts to populate with content). This means that my checkout process will just keep on displaying "In Progress..." forever.

[2020-10-31 09:47] williamd5 commented on #1229
That's a pity. This issue should be reopened as a feature suggestion. I think we can all agree that this functionality is extremely annoying.
My platform has a dark theme. Not only do the inputs contrast too much, but the dark text (because the iframe is transparent and the background is this of my dark website) is barely readable, obscuring important to the client information!!!

[2020-10-31 12:59] mnicpt commented on #1229
@williamd5 Thank you everyone for bringing this up and sorry you haven't gotten an answer that is meeting your needs.  As you saw, you can now close this section and go back. This was recently implemented from a suggestion given by someone like you. Given that, it IS hard to see on a dark theme. There is another option for you to use besides standard card fields to give you more control, hosted fi

[2020-10-31 13:05] mnicpt commented on #1229
@williamd5 Here is the JS SDK Reference: https://developer.paypal.com/docs/business/javascript-sdk/javascript-sdk-reference/?mark=hosted%20fields#hosted-fields

[2020-11-03 19:08] HeuHax commented on #1336
![image](https://user-images.githubusercontent.com/2834719/98029678-2f7d8f80-1e10-11eb-8128-61a023f11163.png)

Just wanted to point out that even the email notification is wrong ......

[2020-11-03 22:53] mlerley commented on #1314
@ivancukns @phuhl FYI I just tried passing the custom_id this way doing this on a new project with a single plan and a simple implementation, but this did work for me:

    createSubscription: function(data, actions) {
        return actions.subscription.create({
            'plan_id': 'planid',
            'custom_id': 'customid'
        });
    },

The custom ID is indeed being shown in my subsc

[2020-11-04 08:00] ivancukns commented on #1314
@mlerley yeah, it gets saved with the corresponding subscription, but we are not getting that information with the IPN request anymore- thats the problem.

It now requires more work and custom code to check the subscription username in the IPN listener, which sucks, cuz it could have been just a field in the IPN request (like it used to be).

[2020-11-05 00:33] 719media commented on #1308
Is there any documentation for this yet?

[2020-11-05 00:33] 719media commented on #1308
@amaclean2

[2020-11-05 00:34] 719media commented on #1308
@amaclean2 Is there any documentation for this yet?

[2020-11-05 01:16] padaliya-Kapil commented on #1453
I'm also having the same issue  .
[code]
Please if anyone can help with the issue

[2020-11-05 01:17] mstuart commented on #1329
Hi @laukstein, it's fixed! Let us know if that's okay. I don't have an issue clicking into the fields for RTL and it seems like the error icons, error tooltips are okay. Sorry about the trouble. Let us know if you have any other issues with these fields.

[2020-11-05 01:17] #1329 closed

[2020-11-05 03:31] gregjopa commented on #1453
It looks like you are missing “www” from the SDK url. It should be `https://www.paypal.com/sdk/js?client-id=${clientId}`

[2020-11-05 10:48] MaxithSs commented on #1232
+1

[2020-11-05 13:20] padaliya-Kapil commented on #1453
OMG :( , I feel so silly
Thank you for your help .

[2020-11-05 16:15] gregjopa commented on #1453
@padaliya-Kapil no worries. I've made the same mistake myself with forgetting the "www" part in the url.

Also, I noticed you are using the `react-paypal-button-v2` library. We recently released an official react library for the JS SDK and recommend using that instead: https://github.com/paypal/react-paypal-js

[2020-11-05 16:15] #1453 closed

[2020-11-05 20:19] wenderjean opened #1469 "[Documentation] Documentation tells it is possible replace the entire purchase_units"
### 📙 Describe the Issue
So, in the Paypal API documentation there is piece of text like that one below:

`You can patch these attributes and objects to complete these operations:`
1. `purchase_units — replace, add.`

Reading it I supposed it is possible to replace the entire collection but in practice I'm not able to do that, the documentation itself does not provide us a clear example other than

[2020-11-08 19:38] laukstein commented on #1329
It looks now fine.

[2020-11-09 08:35] #1458 closed

[2020-11-09 21:01] dshoulders commented on #1281
I was stuck on this too. The JavaScript SDK configuration page gives this example:

`<script src="https://paypal.com/sdk/js?client-id=YOUR_CLIENT_ID"></script>`

The provided script tag does not work.

After adding the `www.` it works as expected. Please could you update the docs page?

https://developer.paypal.com/docs/business/javascript-sdk/javascript-sdk-configuration/#query-parameters

[2020-11-09 21:15] mstuart commented on #1281
Yikes! Thanks @dshoulders. We'll fix that.

[2020-11-10 14:51] giladv opened #1470 "[Bug] Payee(s) passed in transaction does not match expected merchant id."
trying to create a payment to a third party merchant via payee merchant_Id e.g
[code]
it worked perfectly until today when suddenly i'm getting a warning in the console

[code]
my use case is a marketplace were the money transfers directly to the merchants so i can't specify in the script tag a merchant id as it changes according to the product.

to reproduce:
- simple script tag with client-id an

[2020-11-11 18:11] JexPY commented on #1336
Same bug on new V2 php SDK, I have created billing plan that should renew after 1 year but got **"next_billing_time" after month**???

[2020-11-11 20:18] trainerbill commented on #1191
@bluepnume anyway we can get this feature?

[2020-11-12 14:59] tttp opened #1472 "[Documentation] Is this possible to use directly these compoents instead of the paypal button?"
### 📙 Describe the Issue
Paypal button recommend loading the script directly from paypal and not use a local copy.
However, it seems mostly a thin wrapper around the checkout component.

For privacy reason, we do not want to load a script from paypal
https://us.cnn.com/2020/11/12/cnn-underscored/payment-app-privacy/index.html

Is this possible to simply have a copy of the button image and use our

[2020-11-16 04:39] dredd00 commented on #1420
I'm having exactly the same issue using paypal checkout button, popup bridge for android webview.

[2020-11-16 13:10] TangLiang commented on #431
@danyilkotenko I still facing this problem.do you fixed this?

thanks

[2020-11-16 16:30] gregjopa commented on #1472
https://us.cnn.com/2020/11/12/cnn-underscored/payment-app-privacy/index.html

Hi @tttp, can you elaborate why you don't want to load the script from the PayPal CDN?

We encourage folks to load the PayPal SDKs from our CDN and not to use paypal-checkout-component directly.

[2020-11-16 16:37] mnicpt commented on #1470
@giladv Have you tried setting the query param, `merchant-id=*`, and then setting all of the merchant id's in the `data-merchant-id` attribute comma-separated on the script tag?  Something like this:
[code]

[2020-11-16 16:45] mnicpt commented on #1413
@egbertmza Have you tried setting the query param, merchant-id=*, and then setting all of the merchant id's in the data-merchant-id attribute comma-separated on the script tag? Something like this:
[code]

[2020-11-17 14:53] giladv commented on #1470
@mnicpt this is not an option for my use case.. the merchants are dynamic (anyone can signup and start selling goods)
i cannot pass potentially thousands of merchants as argument

[2020-11-17 16:43] mnicpt commented on #1470
@giladv I understand.  I will got back to my team to discuss what we can do for marketplace integrations.  For now, I would look at this doc if you haven't yet: https://developer.paypal.com/docs/platforms/seller-onboarding/

[2020-11-17 17:53] tigerosik commented on #1056
Please help me how to disable "Confirm shipping details" so that you can pay immediately? I'll use this code I am using script on a button

`paypal.Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '<?php echo get_price($total_amount,

[2020-11-17 17:57] tigerosik opened #1474 "generic-error"
Please help me, when paying via the Chrome browser, i get an error https://www.paypal.com/latinumcheckout/error/generic-error

When paying via the Microsoft edge browser, the payment is successful. Tell me how to fix this error in the Chrome browser

[2020-11-17 18:00] tigerosik opened #1475 "disable "Confirm shipping details""
Please help me how to disable "Confirm shipping details" so that you can pay immediately? I'll use this code I am using script on a button
Please edit my code

    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            val

[2020-11-17 19:47] biancadanforth opened #1476 "[Documentation] Clarify if checkout can load PayPal in the same tab instead of a popup window"
### 📙 Describe the Issue
I've been looking at various PayPal docs for hours now, and I can't find documentation on whether or not the PayPal button can load the PayPal checkout page(s) in the same tab instead of in the popup window and redirect back to the merchant's checkout page when complete.

### 🔬 Minimal Reproduction
Looked at
* [Standard Payments](https://developer.paypal.com/docs/business/

[2020-11-17 21:25] lkatkus commented on #1463
How are you handling sdk imports? I am having a sort of similar issue. I want to have to separate buttons on the same page - one to handle `createOrder` and another `createSubscription`.

As I understand, to have `createSubscription` you have to pass `intent=subscription`, but if have it with `intent=subscription`, then `createOrder` will not work... Importing sdk second time with `intent=subscrip

[2020-11-17 22:04] gregjopa commented on #1463
Hi @mcfiredrill and @lkatkus, you will need to re-load the JS SDK `<script>` to toggle between Orders and Subscriptions. Here's an example codepen: https://codepen.io/gregjopa/pen/RwagNWR?editors=1010.

We recommend using the [paypal-js](https://github.com/paypal/paypal-js) client-side loader to make it easy to load and re-load the JS SDK.

Hope this helps. Let me know if you have any additional q

[2020-11-18 00:43] biancadanforth commented on #1476
I don't think this is possible, even with the legacy `checkout.js` script after looking into this more (see [Do a full-page redirect](https://developer.paypal.com/docs/archive/checkout/how-to/customize-flow/?mark=advanced%20checkout#do-a-full-page-redirect)). I also don't think it's desirable after talking with some other engineers, so I'll just close this issue.