[2019-04-30 17:46] Ed-SA commented on #1088
That was fast!  Works fine again now, thanks!!

[2019-04-30 17:46] #1088 closed

[2019-04-30 18:07] gbaudry303 opened #1089 "Can't scroll down on messenger Webviews"
### Description

On the facebook messenger WebViews, when the paypal button modal is opened, it is not possible to scroll down the modal.

- The `paypal.version` from your browser console
latest from the sdk
- Does the issue also occur at [developer.paypal.com/demo/checkout](https://developer.paypal.com/demo/checkout)?
yes
- Does the issue occur consistently, or intermittently?
consistently

### S

[2019-04-30 18:08] gbaudry303 commented on #1089
kinda related to issue #1061

[2019-05-01 06:30] devo253 opened #1090 "actions.enable() not working in angular app after actions.disable()"
### Description

I'm trying to validate an e-mail address and eventually some other fields prior to allowing the paypal flow to begin.   I have found examples on paypal site and other github issues, and can make this work in a simple html page by calling actions.disable() and actions.enable().

However in my angular app I am hitting an issue I can't get past.    It seems that once actions.disabled

[2019-05-01 07:07] alisonp opened #1091 "MicroSoft Edge - Closing of pop up window throwing errors on page"
Hi there,
Error occurring with orders V2 Payments sdk in production. This browser has been used to test the website while in sandbox mode and this error was not present.

When closing the PayPal pop-up, the following errors are thrown. The JavaScript seems to stop processing further, which we believe causes users to not be able to click on anything within the webpage. At this point the website pag

[2019-05-01 13:46] sandymca94 commented on #959
#1087 still i am waiting to get a response to solve edge browser issue.

@bluepnume  please help me on this

[2019-05-01 18:15] bluepnume commented on #1091
Hi @alisonp -- could you please answer the questions from the original issue template? We at least need a url where we can test this out :)

[2019-05-02 05:04] sandymca94 commented on #750
@bluepnume the link - https://github.com/paypal/paypal-checkout/blob/master/docs/debugging/ie-intranet.md is no more available can you please check.

Because this issue on edge browser creating problem for us and i can't ask to client to add paypal site as trusted site.

Let us know for any other solution to fix edge browser issue to stop OnCancel event fire automatically.

[2019-05-02 06:36] alisonp commented on #1091
Yes here is the URL
https://staging.rnib.panlogic.co.uk/donations-and-fundraising/donate-now

Thanks

[2019-05-02 07:54] sandymca94 commented on #1087
@mcntsh and @bluepnume please help me on this issue.

[2019-05-02 10:26] jpbarber1 commented on #1091
You can see the problem on our dev site at https://www.uktights.info
PayPal credit and Guest checkouts (cards) cause the overlay to remain in Edge when the Popup is closed.
If you pick PayPal Express all ok if you pick PayPal Express then change to guest and close overlay remains.

[2019-05-02 10:50] peachyecwid commented on #965
Hi @bluepnume

Could you recreate the issue in my store: https://www.facebook.com/pg/Peachy-Store-344394829697370/shop/ ? Do you have any update on this issue?

Thanks!

[2019-05-03 02:45] bluepnume commented on #1089
Thanks for the report. I believe I've discovered the problem; pushing a potential fix tomorrow.

[2019-05-03 02:45] bluepnume commented on #1061
Closing in favor of https://github.com/paypal/paypal-checkout-components/issues/1089

[2019-05-03 02:45] #1061 closed

[2019-05-03 02:49] bluepnume commented on #1087
Given that this is an intranet/trusted issue, there's nothing we can do but:

a) Recommend the following guides: https://developer.paypal.com/docs/checkout/troubleshoot/internet-explorer/ and https://medium.com/@bluepnume/ie-intranet-and-trusted-modes-a852d3a0bd47

b) Assure you that this should not happen for live users on your site. We have only ever seen this issue happen for users testing on t

[2019-05-03 02:49] #1087 closed

[2019-05-03 02:52] bluepnume commented on #1086
Are you still able to repro? I can't get the issue to occur in chrome.

Does this happen in real mobile device browsers, or only in chrome in mobile testing mode?

[2019-05-03 02:54] bluepnume commented on #793
This should be resolved now. Please let me know if you still see the issue.

[2019-05-03 02:54] #793 closed

[2019-05-03 02:55] #1076 closed

[2019-05-03 02:56] #1075 closed

[2019-05-03 08:26] superp commented on #793
It works on latest version 4.0.267
Thanks!

[2019-05-03 11:53] alisonp opened #1092 "IE11 pop up appears then closes itself"
Using the Payments SDK orders v2
Clicking on the “PayPal” button, the popup appears and the just closes.

Steps to reproduce

https://staging.rnib.panlogic.co.uk/donations-and-fundraising/donate-now
Click on PayPal button

https://developer.paypal.com/demo/checkout/#/pattern/client
Pop up will appear but it is blank.

 Affected browsers

- [ ] IE 11

[2019-05-03 15:14] gbaudry303 commented on #1089
fantastic, if possible let me know when the potential fix has been deployed, so I can test it.

[2019-05-03 22:52] bluepnume commented on #1091
Can you check this issue again? We've rolled out some potential fixes.

(If you still see issues, please also let me know what you see when entering `paypal.version` in your javascript console. Thanks!)

[2019-05-03 22:53] bluepnume commented on #1089
Feel free to give it a try. Hopefully you get the latest script; if it's still broken please wait a few hours then try once more.

Thanks again!

[2019-05-03 23:42] bluepnume commented on #1092
I'm not able to reproduce this one. Can you confirm if https://developer.paypal.com/docs/checkout/troubleshoot/internet-explorer/ helps?

[2019-05-04 04:27] gbaudry303 commented on #1089
it did fix the issue, thanks a lot!

[2019-05-04 04:27] #1089 closed

[2019-05-04 15:53] jfhs commented on #1090
I am hitting similar issue with form validation based off [documentation](https://github.com/paypal/paypal-checkout-components/issues) on version 5.0.29 (a side question: last release in this repo is 5.0.25, where is this newer version coming from?)

After returning `actions.reject()` from `onClick` handler, button becomes non-responsive.

I've taken a look in code and the issue seems to be coming

[2019-05-04 18:58] bluepnume commented on #1090
Thanks so much to you both for the detailed reports.

I've added some fixes and added test cases to cover both of these scenarios in https://github.com/paypal/paypal-smart-payment-buttons/commit/285227ee403b02a7167a93ac4407a11dc77732d5

Can you check and let me know if you still see any issues around this?

[2019-05-04 18:59] bluepnume commented on #1090
This is just one module in the sdk. The actual publish/release happens via https://github.com/paypal/paypal-sdk-release

[2019-05-05 10:29] jfhs commented on #1090
Your change fixed it for my case (and it looks like it should work for all of them). Thanks for such a quick fix 👍

[2019-05-05 14:54] devo253 commented on #1090
Yes.  Working great in my case as well, thanks much to both!

[2019-05-05 14:54] #1090 closed

[2019-05-06 17:14] peppeocchi opened #1093 "Enforce shipping address"
### Description

I was using the previous version of the checkout and it allowed me to pass a shipping address and to enforce that address to the users, preventing them to change it. A nice message was showing up when they tried to change it

<img width="449" alt="Screenshot 2019-05-06 at 18 35 12" src="https://user-images.githubusercontent.com/4161743/57240228-3ca89b00-702e-11e9-8d30-c20aa24544f3

[2019-05-06 20:08] bluepnume commented on #1090
Great, thanks for verifying!

[2019-05-07 08:18] peppeocchi commented on #1093
Just to add some more info about the problem with different shipping address, by default a transaction that has a shipping address (in PayPal) and is delivered to a different address does not qualify for the "Seller Protection Programme" as described in [section 11.6](https://www.paypal.com/uk/webapps/mpp/ua/useragreement-full?locale.x=en_GB#r011)

The use case is that a user goes through our chec

[2019-05-07 08:22] zanneee opened #1094 "Error with 'tracking' (STC) for client side integration."
### Description

The error has been occurred since STC API migration in end of April, therefore the merchant cannot complete the checkout with 'tracking' fields.

Please provide a short description of the issue here, along with:

Here's a feedback from the team - https://engineering.paypalcorp.com/jira/browse/PPPLMER-70210

### Steps to reproduce
`
    <script>
        paypal.Button.render({

[2019-05-07 09:14] nickbrowne opened #1095 "Rejected promise on createOrder results in unhandled error"
### Description

We have an issue where the PayPal Smart Button internals don't gracefully handle rejected promises when creating an order, resulting in spurious error reports to Bugsnag.

Turning off or limiting what bugsnag reports is not really an option because we obviously do want to be alerted immediately if there is a legitimate frontend issue with payments. Ideally the PayPal code would no

[2019-05-07 11:07] jpbarber1 commented on #1091
Hi Daniel

No change, it still has the overlay on Edge when the popup is closed

Cheers

Jonathan

From: Daniel Brain <notifications@github.com>
Sent: 03 May 2019 23:52
To: paypal/paypal-checkout-components <paypal-checkout-components@noreply.github.com>
Cc: jpbarber1 <jonathan@uktights.com>; Comment <comment@noreply.github.com>
Subject: Re: [paypal/paypal-checkout-components] MicroSoft Edge - Clo

[2019-05-07 13:38] alisonp commented on #1091
Hi Daniel,

Thanks for the update.
The issue still remains.
The PayPal version returned: 5.0.29

[2019-05-07 20:54] bluepnume commented on #1093
@rajarampadmanathan can you please help with this one.

[2019-05-07 20:55] bluepnume commented on #1094
I've reported this to the owner of this api. They're planning to make a fix.

[2019-05-08 12:45] longbridge-pm opened #1096 "PayPal button not working on Chrome Canary (76.0.3787.0)"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
Create a html (e.g. paypal.html) using source from (https://developer.paypal.com/demo/checkout/#/pattern/client)
- The `paypal.version` from your browser console
"5.0.29"
- The exact browser version
Chrome Canary (76.0.3787.0)
- All console logs during the tim

[2019-05-08 14:56] Phyrekracker opened #1097 "Merchant receiving errors in console."
We are seeing some errors in the console, and while everything seems to work fine, we are wondering whether we could/should eliminate any of them.

1.	 On the shopping cart page, when a returning Paypal user clicks Paypal button, we do not want to proceed to Paypal, but redirect to our Summary page.  To test whether the user is returning we are hooking in into the Buttons.createOrder callback.  Th

[2019-05-08 15:24] peppeocchi opened #1098 "Order Api response error: INVALID_REQUEST - when passing items and amount breakdown"
### Description

When passing the `items` and the `amount.breakdown`, I am getting an error with "INVALID_REQUEST"/"INVALID_SYNTAX"
The description seem like a code error/unhandled exception rather than a syntax error in the request, but of course it might be misleading to me

This is a screenshot of the chrome console (I'll add later the copy&paste from the console)

<img width="1637" alt="Screen

[2019-05-09 22:23] asecaida opened #1099 "Responsive width issue"
This is my current configuration,
`{
    locale: 'en_US',
    style: {
        size: 'responsive',
        shape: 'rect',
        color: 'white',
        tagline: 'false'
    },
	funding: {
		disallowed: [ paypal.FUNDING.CARD ]
	}
}`

From the docs, https://developer.paypal.com/docs/archive/checkout/how-to/customize-button/#size, if I set size to responsive my minimum width should be 100px but it'

[2019-05-10 20:12] haider792 commented on #1012
in the first line of render use       const paypal = window.PAYPAL.... it will help

[2019-05-11 08:15] radi-cho opened #1102 "Question: How to disable the card icons in ReactJS"
### Question
How to disable the card icons in ReactJS?
I tried passing fundingIcons prop or fundingIcons parameter in the style object, but without effect.
Also tried to add funding prop with disallowed `paypal.CARD`, but it throws undefined.

[2019-05-11 18:04] Erlix322 opened #1103 "Paypal Window pops up and closes"
# EDIT
Seems only be the case when I put in the sandbox id... On Live everything seems to be fine so far
### Description
I tried using the smart checkout buttons, but I noticed that sometimes, after I press the paypal button the window appears and dissapeared after a few milliseconds. This happened random after a few tries.

Please provide a short description of the issue here, along with:

### St

[2019-05-13 00:21] Otomakan commented on #1103
I am having the same problem using my sandbox credentials. I made no changes and it suddenly stopped working. Every now and then it will work again though.

[2019-05-13 21:06] bluepnume commented on #1099
The minimum width of the paypal button is 150px.

[2019-05-13 21:06] #1099 closed

[2019-05-13 21:06] bluepnume commented on #1102
Please see https://developer.paypal.com/docs/checkout/reference/customize-sdk/#disable-funding

[2019-05-13 21:06] #1102 closed

[2019-05-13 21:07] bluepnume commented on #1098
@rajarampadmanathan can you take a look

[2019-05-13 21:08] bluepnume commented on #1097
This is not a supported pattern right now. The SPB only supports first-time users. We will be introducing support for returning users in the next few months.

[2019-05-13 21:08] #1097 closed

[2019-05-13 21:10] rajarampadmanathan commented on #1098
Sure. Will take a look and get back to you.

[2019-05-13 21:11] bluepnume commented on #1096
Does the issue occur when you run the sdk on an https server, rather than http?

[2019-05-13 21:14] bluepnume commented on #1095
If the user clicks on the button, and an order id can not be created for any reason -- that is by definition an error case, since we're unable to open the popup and show the checkout experience.

Can you help me understand when/why you are rejecting the promise returned to `createOrder`? There may be a better way to achieve what you're trying to do.

[2019-05-13 21:18] rsdighe76 commented on #1093
it should be

```shipping_preference: 'SET_PROVIDED_ADDRESS',```

there is no "s" at the end of preference it's "preference" not "preferences"

can you please let me know where did you read it as shipping_preferences - looks like a documentation issue to me that we can help fix.

Thanks

[2019-05-13 21:21] #1086 closed

[2019-05-13 21:35] thomasplevy opened #1105 "Billing Agreements Deprecated but cannot execute subscriptions via Checkout"
Not exactly a bug report but I cannot find any way to get this question answered by anyone at PayPal!

Per documentation at https://developer.paypal.com/docs/api/payments.billing-agreements/v1/ Billing Agreements have been deprecated and replaced with subscriptions (https://developer.paypal.com/docs/api/subscriptions/v1/)

However, I cannot figure out how to integrate these replacements into check

[2019-05-13 21:46] rajarampadmanathan commented on #1098
Hi @peppeocchi  -

All the amount are represented as money (https://developer.paypal.com/docs/api/orders/v2/#definition-money) object. It should have both `currency_code` and `value` property.

I can see `breakdown` in the request body doesn't follow this structure. Can you please make the changes and try? It should be like,
[code]

[2019-05-13 22:01] SGrondin commented on #356
@bluepnume

It's happening again.

[2019-05-13 22:10] SGrondin commented on #1103
We're also experiencing the same problem. This sort of unreliability is concerning.

[2019-05-13 22:51] bluepnume commented on #1103
@walmik can you help triage this one? Looks like identity failures on sandbox. Thanks!

[2019-05-14 03:51] bluepnume commented on #1105
Yes, support is planned. @ravishekhar can provide some more details.

[2019-05-14 05:09] asecaida commented on #1099
![image](https://user-images.githubusercontent.com/3698208/57672147-b52dcf80-75cb-11e9-9bbe-2d225572db60.png)

[2019-05-14 05:56] jhammond045 commented on #356
Seeing the same behavior here, in local testing and again on https://developer.paypal.com/demo/checkout/#/pattern/buynow

[2019-05-14 06:20] nickbrowne commented on #1095
We're creating a Payment ([either one off or recurring, depending what the user selects](https://donate.theconversation.com/au)) server side in Ruby, which can fail:
[code]

So making assumptions about what to do in this case (because the documentation for PayPal Smart Buttons seems to assume only a success state) we saw that:
 - Rather than just return a value in the `createOrder` callback, you c

[2019-05-14 07:15] ravishekhar commented on #1105
@thomasplevy Yes, The Recurring Payments API https://developer.paypal.com/docs/api/payments.billing-agreements/v1/ is deprecated.

You can read more about next generation Subscriptions APIs in these docs.
https://developer.paypal.com/docs/subscriptions/
https://developer.paypal.com/docs/api/catalog-products/v1/
https://developer.paypal.com/docs/api/subscriptions/v1/

The support for Subscriptions

[2019-05-14 09:03] peppeocchi commented on #1098
Hi @rajarampadmanathan thanks for your reply, that solved the problem! My bad I missed that bit in the documentation, so this issue can be closed.

I am now facing a different issue, you might have some insights on how to workaround it.
We're calculating the tax amount at the line level, I'll give you an example

Item X, unit price is **104.68**, tax is 20% of the unit price, so the unit tax amoun

[2019-05-14 09:30] peppeocchi commented on #1093
Hi @rsdighe76 thanks for your reply, I thought I did a copy&paste but I probably added a "s" by mistake, sorry that was my bad. This issue can be closed thanks!

Something I noticed is that if I have both the braintree drop in and the paypal sdk, most of the requests via the paypal sdk are failing with
[code]

But I can see the authorization header in the **orders** request

![Screenshot 2019-05-1

[2019-05-14 10:32] i7eo opened #1106 "set funding.allowed paypal.FUNDING.CARD has some errors"
### Description

In this page [https://developer.paypal.com/demo/checkout/#/pattern/client](https://developer.paypal.com/demo/checkout/#/pattern/client),
i want to set funding.allowed paypal.FUNDING.CARD , but console report Cannot read property 'CARD' of undefined.

paypal.version : "5.0.29"

### Affected browsers

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [ ] IE
- [ ] Chrome Mobile/Ta

[2019-05-14 10:59] alisonp commented on #1092
The merchant is aware of this and tried this but it did not resolve the issue.
Thanks

[2019-05-14 11:28] peppeocchi commented on #1093
Maybe the 401 error is unrelated to what I mentioned, for some reason it doesn't happen when the braintree dropin script is there on my dev env.
It seems there is some issue with the Paypal Sandbox Environment, even the demo page (https://developer.paypal.com/demo/checkout/#/pattern/client) doesn't work giving back the same authorization error, and I've tested other sites where I've implemented pa

[2019-05-14 13:04] beitomartinez commented on #356
Having this issue since yesterday

[2019-05-14 14:16] NeoTianHow commented on #356
The issue is reappearing again. Please fix it ASAP :(

[2019-05-14 14:55] lpellegr opened #1107 "Error: Window closed when SDK used with lit-element"
### Description

I am integrating Paypal checkout button in a [lit-element](https://github.com/Polymer/lit-element) application. Basically, it makes use of web components: the Paypal button is rendered in a web component.

When integrated, the button appears for **about 3 seconds** and then disappears with the following error in the console:

The error occurs consistently in _sandbox_ and _product

[2019-05-14 16:45] thomasplevy commented on #1105
Thanks @bluepnume & @ravishekhar

Is #1100 what we're talking about here? Should I be waiting for updates in documentation or would it be "safe" to start using the methods merged in that pr?

[2019-05-14 16:59] Ed-SA opened #1108 "production site appears broken since 5/14"
PayPal button code that worked yesterday no longer works today.  The PayPal status page shows all green.  Any assistance will be greatly appreciated.  I'm getting back the following stack traces and have been unable to process payments since 10:42am EST this morning (sometimes one message, sometimes the other message):

{"description":"The remote server machine does not exist or is unavailable","s

[2019-05-14 17:07] Connum commented on #356
Sorry for the choice of words @ppnsanders - but can you open a ticket again and tell developers or server ops or whoever's responsible for these outages again and again to get their sh*t together? Not only is this annoying, but it should be very embarassing for PayPal. This has been happening for 2 years now, impairing live systems - I mean, what the heck?!

[2019-05-14 19:01] ppnsanders commented on #356
@Connum, and all, there has been a new issue created for this. https://github.com/paypal/paypal-checkout-components/issues/1103

[2019-05-14 19:14] jhammond045 commented on #1103
Seeing the same issue in testing, as well as in PayPal's official doc demo.

[2019-05-14 20:23] Ed-SA commented on #1108
The user receives a paypal popup with "things don't appear to be working at the moment" when I get the above errors in the log.  Some payments are getting through occasionally, so I suspect a browser-specific issue.

[2019-05-14 20:25] bluepnume commented on #1108
Can you please let me know the browser(s) you're seeing this on, and share a url where I can repro?

[2019-05-14 20:50] Ed-SA commented on #1108
I can no longer repro in my dev environment, possibly there are/were 2 separate issues going on, one related to a specific credit card.  The group of users still unable to process payments are all using IE11 (I had one of them try Firefox, but with the credit card that I now believe causes a separate error).  Additionally, all of these IE11 users that are still experiencing issues are within the s

[2019-05-14 20:57] #1108 closed

[2019-05-14 22:22] longbridge-pm commented on #1096
![Paypal_SessionID_error](https://user-images.githubusercontent.com/49376558/57736238-8ce8c280-76ea-11e9-9cf0-0236013db31f.png)

I started a local static http server by running
[code]

[2019-05-14 22:47] walmik commented on #1103
yes sure @bluepnume

[2019-05-14 23:59] bluepnume commented on #1091
Quick update: I managed to reproduce this issue in my testing environment. I've pushed out another fix which resolved the issue for me.

Can you please test again, and make sure console.log(paypal.version) in your browser console shows at least '5.0.32'.

Thanks,
Daniel

[2019-05-15 01:47] claytantor opened #1109 "Module not found: Can't resolve '@paypal/checkout-components' for react SPA"
### Description
When attempting to import  '@paypal/checkout-components' using the ES6 import pattern for a react SPA the checkout-components cannot be found.

[code]
## package.json
[code]

Repo with the runnable example at https://github.com/claytantor/paypal-react-poc (master)

The  working branch that relies on async script loader and NOT this approach or import:
https://github.com/claytantor/

[2019-05-15 04:32] ravishekhar commented on #1105
Yes #1100 is the PR. Presently waiting for one of API dependencies to go live before anyone can use the feature. I will update and close this issue once its live.

[2019-05-15 08:34] jpbarber1 commented on #1091
Looks like you've fixed it.

Many thanks
Jonathan

[2019-05-15 10:48] alisonp commented on #1091
Hi Daniel, I can confirm also that the issues has been resolved.
Many thanks

[2019-05-15 11:00] alisonp commented on #1092
The merchant has retested this issue and now what appears to be happening is that the PayPal window remains open but does not actually load. The loading spinner continues while no page is loaded into the window.
I tested this also in this browser and experienced the same.
Thanks

[2019-05-15 14:46] Ed-SA opened #1110 "paypal script errors in IE"
### Description

in IE11, errors are thrown in the base paypal js file seemingly related to when it is attempting to determine the locale

![Capture](https://user-images.githubusercontent.com/50150171/57784548-135acf80-76fe-11e9-920e-5dd6dba1a1f2.PNG)

setting the "&locale=en_US" in the script load line made no difference

### Steps to reproduce

in both sandbox and production now, button code is

[2019-05-15 15:22] thomasplevy commented on #1105
Thanks @ravishekhar

[2019-05-15 15:35] tovileo commented on #353
the component stopped working, after you add the user and the password, it stays in the login padlock.

[2019-05-15 18:05] bluepnume commented on #1110
Thanks for the report. We've rolled out a fix, the cache should be cleared soon with the new version.

[2019-05-15 18:06] bluepnume commented on #1109
We do not support ES6 imports -- you must load the script as a script tag. The reason for that is, we build a custom script for your site on-demand, with just the code / buttons you need (rather than bundling everything in your build).

[2019-05-15 18:06] #1109 closed

[2019-05-15 18:32] NeilujD commented on #1107
I have exactly the same issue using Polymer (also web components).
Just to compare @lpellegr can you provide the code that integrate your paypal button ?

For my part here it is :
[code]

[2019-05-15 18:44] lpellegr commented on #1107
@NeilujD You can find a link to the code used in the section _Steps to reproduce_ above. It uses the minimal code shown in the official Paypal example: `window['paypal'].Buttons().render(...)`.

Would love to make some progress on this issue, at least to find a workaround. Until now that's a blocking issue that prevents us to use Paypal.

[2019-05-15 19:18] Ed-SA commented on #1110
Works again now in IE in both production and sandbox, thanks.  Had to clear browser cache first.

[2019-05-15 19:18] #1110 closed

[2019-05-15 19:21] Ed-SA commented on #1108
This issue was unrelated directly to the javascript codebase.  Affected users had the site in their "trustedsites" list which is documented in paypal as disallowed when using IE.

[2019-05-15 21:45] bluepnume commented on #1103
This has been resolved.

[2019-05-15 21:45] #1103 closed

[2019-05-15 21:46] bluepnume commented on #1106
You don't need to manually enable cards in this sdk. It's enabled by default for the vertical buttons.

[2019-05-15 21:46] #1106 closed

[2019-05-16 02:05] claytantor commented on #1109
I don't understand why you would limit this package this way, most react developers use package managers like npm or yarn and ES6 imports for SPAs with frameworks like Gatsby. What you get out of the efficiency of lazy loading seems to me to create too much friction for most react developers. They just want to install your package and use your components. I really liked the idea of using a PayPal

[2019-05-16 02:06] bluepnume commented on #1108
Aha. Yep, that's definitely an issue we can't fix. Thanks for letting me know!

[2019-05-16 09:28] NeilujD commented on #1107
It seems to be caused by the `watchForClose` method but I do not know why yet.

[2019-05-16 14:31] NeilujD opened #1111 "Error: Unable to find global parent component window↵ at ChildComponent.getParentComponentWindow"
### Description

I have an e-commerce website which use the Paypal smart buttons to provide the Paypal payment platform to our customer.
As I use WebComponents and I observed that the lib is not really compliant with shadow dom, I tried to integrate the Paypal button using an `iframe` to prevent serving shadow dom.
The button is rendered fine and when I click on it a paypal checkout tab is opened

[2019-05-16 22:04] eduardo0099 commented on #1105
Hi @ravishekhar , I checked that #1100 is already merged in the 5.0.30 version. Is there now a way to use new subscriptions via Checkout?

[2019-05-17 08:38] lpellegr commented on #1107
@bluepnume Any ideas about what's the problem?

[2019-05-18 10:14] morbidick commented on #353
@tovileo are you talking about the webcomponent wrapper? If so could you mind opening an issue at the [project](https://github.com/morbidick/paypal-express-checkout) directly and adding a little more info, or even a reproduction? Thanks

[2019-05-21 00:41] Chris-KCIT commented on #1069
Hi, any update on this?

[2019-05-21 05:27] i7eo opened #1112 "CSP has some errors"
### Description

paypal.version: "5.0.35"

Refused to display 'https://www.paypal.com/us/home' in a frame because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'self' https://*.paypal.com"

### Steps to reproduce

Please provide each individual step required to reproduce the issue

### Affected browsers

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
-

[2019-05-21 05:27] i7eo commented on #1112
![image](https://user-images.githubusercontent.com/18899748/58070572-296c0280-7bcc-11e9-9808-7bb72f4d73f0.png)

[2019-05-21 05:28] bluepnume commented on #1112
Thanks for the report. There's an ongoing live routing issue on paypal.com. I'm on call to resolve this.

[2019-05-21 07:05] i7eo commented on #1112
all right...
Please let me know when you have solved the problem

[2019-05-21 16:57] bluepnume commented on #1112
This was resolved as of 1am PST.

[2019-05-21 16:57] #1112 closed

[2019-05-21 17:58] rajarampadmanathan commented on #1098
HI @peppeocchi - Sorry for the late reply. Skipping `tax` field at the item level will help in this scenario. Please try and let me know
reference: https://github.com/paypal/paypal-checkout-components/issues/1064

[2019-05-21 18:06] rajarampadmanathan commented on #1093
@bluepnume - This looks like the same SBX authentication issue which your'e working on. Can you please provide the reference ticket number here?

[2019-05-22 01:55] invative commented on #1105
Is there any way to workaround this limitation today? I have attempted using the createBillingAgreement callback and returning the billing agreements token ( "BA-..." ) from the subscriptions api through my server's endpoint, but that does not seem to work either.

[2019-05-22 03:24] zanneee opened #1113 "actions.payment.patch() in onShippingChange() doesn't work with checkout.js - clientside"
### Description

Please provide a short description of the issue here, along with:

When using **actions.payment.patch()** inside of **onShippingChange()** to update shipping cost it gets an error below.

- Screenshots or videos that show the issue

- Your code
`<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,

[2019-05-22 05:28] bluepnume commented on #1113
This is not a documented or a supported pattern. Please use `onShippingChange` in the latest sdk, documented at https://developer.paypal.com/docs/checkout/integration-features/shipping-callback/

[2019-05-22 05:28] #1113 closed

[2019-05-22 06:30] xdejonghe-viseo opened #1114 "Cannot read property 'US' of undefined - the window.paypal.config.locales variable is not defined"
### Description

It seems that the global variable **window.paypal.config.locales** does not longer exist in global scope but the file https://www.sandbox.paypal.com/webapps/hermes/static/js/button.js?build=x continue to use it and that generates an error.

This error rises since version **4.0.269**.

**Error**

{err: "TypeError: Cannot read property 'US' of undefined↵…D&uid=cb3b712850&version=min

[2019-05-22 09:30] zanneee opened #1115 "tagline fade-out with tagline: false"
### Description
When set tagline: 'false', layout: 'horizontal' then
 tag was shown and faded out 1 second later.

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
![tagline_gone](https://user-images.githubusercontent.com/17840593/58163674-f81c3100-7cb6-11e9-8eeb-56fa3c1da547.png)
![tagline_gone_2](https://user-images.githubusercontent.

[2019-05-22 14:57] bluepnume commented on #1114
Thanks for the report. Rolling out a fix.

[2019-05-22 15:41] xdejonghe-viseo commented on #1114
The issue is fixed, thank you for your speed

[2019-05-22 15:41] #1114 closed

[2019-05-22 16:00] ravishekhar commented on #1105
At present it is not possible to use createBillingAgreement to create subscription id as. We are working on introducing subscription related callbacks in button. I will update this issue once the feature is live, in a week or two.

[2019-05-23 21:12] bluepnume commented on #1115
`tagline: false` not `tagline: 'false'`.

[2019-05-23 21:12] #1115 closed

[2019-05-25 12:44] AbuHani commented on #1096
I have same issue on google chrome canary (76.0.3805.0)
<img width="1440" alt="Screen Shot 2019-05-25 at 3 40 58 PM" src="https://user-images.githubusercontent.com/17643875/58369486-c64bda00-7f03-11e9-8375-95396f4cb3ed.png">

[2019-05-27 09:03] NeilujD commented on #1107
@lpellegr did you find any workaround about it ?

[2019-05-27 09:49] lpellegr commented on #1107
@NeilujD I ended up using the Paypal REST API instead. It requires more work to have a full working flow but it works with no SDK on client side.

[2019-05-27 11:44] NeilujD commented on #1107
@lpellegr I agree.
Thank you for your feedback.
Do you think you could provide a LitElement component or a code sample that could help me moving forward ?

[2019-05-28 06:02] rosa2 commented on #1069
Any update? Thanks

[2019-05-28 16:14] NeilujD commented on #1107
@lpellegr I just figured out a workaround using the client SDK.
It is not as clean as I would like but it works great and it is compliant with Shadow-DOM.

Basically I just create the `div#paypalButton` tag at the root of my app (in index.html) but I insert it in my mais app element as a slot.
Then I pass the slot to the children until it is present in my checkout element.
Next I just need to call

[2019-05-28 20:56] leogoesger opened #1117 "disable Paypal Credit on react component"
After upgrading to the latest, the Credit button shows up as default in React apps. How do you disable that?

[code]

[2019-05-29 00:18] #1117 closed

[2019-05-29 21:44] LittleLampLight opened #1118 "Bug — Uncaught TypeError: Cannot read property 'eligible' of undefined"
### Uncaught TypeError: Cannot read property 'eligible' of undefined

Sup. Seems like last release has broke initialization of paypal buttons. And now all the scripts on webpage along with js sdk falling as well. It's kinda easy to reproduce — just visit any page, which initializes paypal buttons via this sdk.

https://developer.paypal.com/demo/checkout/#/pattern/horizontal — seems broken as well

[2019-05-29 22:04] bluepnume commented on #1118
Hi, I'm struggling to reproduce this one. Can you link me to any other page where this is happening?

[2019-05-30 05:18] LittleLampLight commented on #1118
Well, the error was resolved itself. Seems like it was some temporary bug. Looked like error with importing jquery and jquery dependency was missing. However it wasn't only my side, i asked couple of friends to reproduce error as well. Thank you. You may close the issue if you think it's ok

[2019-05-30 17:17] bluepnume commented on #1118
We found a potential cause and rolled out a fix. Please let me know if you see any instances of this in future. Thanks!

[2019-05-30 17:17] #1118 closed

[2019-06-01 00:05] numalex opened #1119 "Problem when create order"
Hi there,

I have a problem when the script call a create a order in the page HTML/javascript.

In the console, I have an error "Expected a promise for a string order id to be passed to createOrder".

I give my code HTMl/javascript
[code]

I give My code PHP

[code]

[2019-06-03 08:04] stwilz opened #1121 "?locale=en_AU not settings country in popup"
### Description
We rely on setting the locale in the paypal buttons SDK to ensure the user's country is correctly set in their address when we pass a `payer` object to the `actions.order.create` method.

This has been working for us for sometime but has now stopped. Has there been a change the to paypal SDK recently that may have caused this?

#### Version
5.0.47

#### CODE
[code]

- Screenshots o

[2019-06-03 11:06] sheepsteak commented on #1096
I've also been getting this with Google Chrome Dev (76.0.3807.0). I just tried Google Chrome Beta (75.0.3770.66) and it works.

I've made a CodePen that uses the [React demo in this repo](https://github.com/paypal/paypal-checkout-components/blob/master/demo/react.htm). If you try on Google Chrome Dev you'll get the `sessionID` error. On Google Chrome Beta everything will work fine:

https://codepe

[2019-06-03 17:31] davvblack commented on #1105
Any update on this? We are eagerly looking to integrate with checkout.js and subscriptions.  I can see that there's a significant amount of subscription code already in the library.

[2019-06-04 00:33] stwilz commented on #1121
Yay! Looks like you guys where one step ahead of me with your most recent release. I assume this change fixed things.

![CODE_CHANGE](https://user-images.githubusercontent.com/6521778/58843023-1b31e200-86b4-11e9-9a06-ecf2afc0e54b.png)
![en_AU_WORKING](https://user-images.githubusercontent.com/6521778/58843024-1bca7880-86b4-11e9-8cf3-43ba6ca3b82b.png)

Thanks!

[2019-06-04 00:33] #1121 closed

[2019-06-04 16:18] ravishekhar commented on #1105
This feature is now live. Please feel to try it out while we are getting the Developer Docs updated.
Sample code
[code]

[code]

Closing this issue. Please let me know in case of any issues.

It will appreciable if you can share any feedback or suggestions.

[2019-06-04 16:18] #1105 closed

[2019-06-05 12:11] peppeocchi commented on #1098
@rajarampadmanathan that works just fine thanks!

[2019-06-05 12:11] #1098 closed

[2019-06-05 19:27] erin-doyle commented on #1030
Using v5 it doesn't look like `paymentID` is being returned by `onApprove` anymore if it was at one time.  I only see `orderID` and `payerID` in `data`.

[2019-06-05 20:10] erin-doyle opened #1122 "Is v5 compatible with the v1 REST API?"
We have upgraded our React SPA to use the v5 React integration but our backend services are still using the v1 REST API.  We are calling `actions.order.authorize` during `onApprove` and are passing the `orderID` to our backend service which uses `/v1/payments/payment/{orderID}` to try to get the payment/order and is failing to find it with an INVALID_RESOURCE_ID error.  I'm guessing because the `o

[2019-06-06 15:25] rpundlik opened #1123 "INTERNAL_SERVICE_ERROR for /v2/checkout/orders/{order_id}/authorize"
Hi All,

When I am trying to authorize the created order using the below api

https://api.sandbox.paypal.com/v2/checkout/orders/{order_id}/authorize, I am getting the following error

I have checked the access token and request also which seems to be valid.

Any help on this appreciated. Please provide the solution on this asap as we are looking it on urgent basis.

[2019-06-06 16:55] irbrownie commented on #842
Any update on this?

[2019-06-06 16:56] irbrownie commented on #1091
Please explain what his fix was as I'm facing this in my own application.

[2019-06-07 13:32] xijo commented on #149
@leogoesger @bluepnume I'm seeing the same error occasionally, but I were not able to reproduce it.

Any suggestions on what might fix it or at least how to track it down?

[2019-06-09 16:57] Heher commented on #1039
Any update with this? I'm currently trying to upgrade our current PayPal integration and I'm not finding any React-specific documentation.

[2019-06-12 15:05] blinder commented on #1105
@ravishekhar following your example, i'm unclear how a subscription would be created in the case of a recurring donation, where the amount (aka plan) is essentially "dynamic" (the amount and the possibility of an end-date are determined by the payer). Using this new feature, how would one go about creating a plan "on the fly"? Is that even the correct approach?

[2019-06-12 16:32] tobsn commented on #139
Was facing the same issues - we used the existing form library we use that we also use if stripe is selected but we disable the paypal button if the validation fails:

`<div id="paypal-button-container" type="submit"></div>`

First I added the type submit to trick thee validation class into accepting it the forms submit button, that is not valid html, clearly, but it will work just fine. This way

[2019-06-13 10:30] hermeslin opened #1125 "[Sandbox] paypal button call createOrder() function twice"
### Description
paypal version: `5.0.49`

In the sandbox, SDK call `createOrder` function twice when I click the paypal button once, and there are two sandbox API call history entries in the [dashboard](https://developer.paypal.com/developer/dashboard/sandbox/), maybe SDK should call `createOrder` function once?

![Jun-13-2019 17-41-57](https://user-images.githubusercontent.com/2077412/59422553-27

[2019-06-14 11:14] ChrisTalman opened #1126 "REST Repository Support?"
Is the [PayPal-REST-API-issues](https://github.com/paypal/PayPal-REST-API-issues) repository still supported by PayPal developers? Many legitimate issues have been raised recently, but few, if any, have received a developer response.

This may not be considered to be the most appropriate location to raise this issue, but it seems to be one of the few places where there are some active PayPal devel

[2019-06-15 07:53] springknees opened #1127 "No [payer] [email_address] when using Credit Card"
I'm upgrading to Smart Button SDK and having difficulty sending a confirmation email to Credit Card customers, because I'm unable to get the customer's email address from the PayPal response.

As an example - if I use this demo for a **PayPal transaction** (https://developer.paypal.com/demo/checkout) and edit the finalize code to read:-

`alert('Transaction completed by ' + details.payer.email_add

[2019-06-17 03:07] hermeslin commented on #1125
hmm..
paypal version: `5.0.49`
It got fixed, SDK calling `createOrder` function once now

[2019-06-17 03:07] #1125 closed

[2019-06-17 20:02] ravishekhar commented on #1105
Unfortunately dynamic amounts is not supported in this Subscriptions product. You can take a look at WPS variation https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx-websitestandard-htmlvariables/#recurring-payment-variables

[2019-06-19 00:26] sheravanan commented on #1089
Hi Guys, I am also facing this issue. I am using a web-view angular component inside my mobile app. when the PayPal sandbox opens it's not able to scroll. I am using Braintree services. Please help me, anybody. it would be very helpful. I appreciated your reply. Thanks

[2019-06-19 15:50] springknees commented on #1077
I have the same/similar issue - here are the specific details.

It can reproduced by adding the documented onError function to the demo page at (https://developer.paypal.com/demo/checkout), like this:-

`onError: function (err) {	 console.log("Error here");  console.log(err);   }`

A page load/refresh triggers the "Window navigated away" error at each page load time. The console displays:-

 at VM

[2019-06-20 16:18] elrumordelaluz opened #1130 "File not found"
### Description

Upgrading the `patch` version of `paypal-.checkout` the _Button_ stop working.

### Steps to reproduce

Upgrade form `paypal-checkout@4.0.274` into `paypal-checkout@4.0.275` getting this error:
<img width="1085" alt="Screenshot 2019-06-20 at 18 16 27" src="https://user-images.githubusercontent.com/784056/59864645-96b7b280-9387-11e9-8e7c-97c99cb31342.png">

Also seems the [file](ht

[2019-06-20 16:49] mcntsh commented on #1130
Hey @elrumordelaluz, thanks for catching that! This should be fixed now.

https://www.paypalobjects.com/api/checkout.4.0.275.js

[2019-06-20 16:49] #1130 closed

[2019-06-21 08:37] davidpierson commented on #1127
I am having the same issue. Using www.paypalobjects.com/api/checkout.js
When paying by credit card, the email address is not supplied in the response.

It is missing from the actions.payment.get and the action.payment.execute
In the "return actions.payment.get().then(function (paymentDetails) " the
paymentDetails.payer.payer_info.email field is missing.

We do not require customers to login to our

[2019-06-21 16:21] hxddev commented on #1127
I also encountered this problem.

I found this problem only in the sandbox environment, i can get the email_address in the live environment.

This should be a back-end issue, You can use the live environment to develop and test credit card payments before the official fix.

@springknees @davidpierson

[2019-06-21 21:57] davidpierson commented on #1127
I've only seen this in sandbox, because we are just about to go live, and this has thrown a spanner in the works.
 Is there a way to test credit card payments in the live environment, without making actual payments from a real credit card?

[2019-06-22 17:23] Erlix322 opened #1132 "SEPA Checkout optional Account"
### Description

I have the problem that sepa is not possible without paypal account on mobile. (see picture)

### Steps to reproduce

this is the code straight from the tutorials
[code]

The picture below shows what I am expecting on mobile but it only works on desktop browsers. For mobile I have to open up a paypal account.
More specific this happens with mobile WebView. (e.g React Native)

![im

[2019-06-24 17:44] thomasplevy commented on #1105
@blinder

I'm creating "dynamic" plans but just creating a new plan on the fly whenever one is needed via an additional AJAX call to my server. I pass in the required information, create the plan, pass the plan id back and then use that to create the subscription.

Additionally I'm saving plan information in a local database so that if a "dynamic plan" already exists I don't have to recreate a dup

[2019-06-24 17:46] blinder commented on #1105
@thomasplevy that's an interesting approach. I think that's what I'll end up doing. It was either that or creating 3 "canned" plans but that just felt really awkward, especially given the fact that our system is for collecting gifts. Thanks for this!

[2019-06-25 14:00] sheepsteak commented on #1096
I think this issue has now progressed to Chrome Beta as 76 has now moved on to there:
![image](https://user-images.githubusercontent.com/1379888/60103285-3ba30880-9757-11e9-95f9-3677b63ad099.png)

Here is a CodePen you can try which contains what is in https://github.com/paypal/paypal-checkout-components/blob/master/demo/button.htm

https://codepen.io/anon/pen/KLJerM

Works in every browser except

[2019-06-26 21:24] cabintech opened #1135 "Stop the flow synchronously in onClick()?"
We implement validation in the onClick event as described in https://developer.paypal.com/docs/checkout/integration-features/validation.  Why does this not work:

			onClick: function(data, actions) {
				if (!$("#agree-chk").is(':checked')) {
					//... update UI with error message...
					actions.reject();
					return;
				}
			}

Calling actions.reject() does not stop the flow or close the PayP

[2019-06-27 08:00] springknees commented on #1127
@davidpierson - AFAIK the only way to test CC payments in the live environment is to execute a live payment, cancel it, then issue a refund. Not very satisfactory!

In my case, I have a working implementation of Checkout that uses the archived checkout.js - I thought I'd move with the times and upgrade to use Paypal Javascript SDK. I ran into this sandbox "email_address" problem and also Issue #10

[2019-06-27 14:05] cabintech opened #1138 "Is there a complete reference of button events?"
Is there a complete reference to the button APIs? I keep stumbling on new things as I wander around the PayPal documentation (e.g. https://developer.paypal.com/docs/checkout/integration-features). Is there a list of all the onXXXX functions, their arguments and methods that can be called on the 'actions'?

The 'REFERENCE' link on that page does not have it...

[2019-06-27 14:47] cabintech opened #1139 "Uncaught errors in the console"
There are many reasons we might reject() a promise in onClick or other events. These always result in uncaught error messages and stack traces in the browser console. It is a goal for our web apps to produce no console output unless there is a real failure.

Issue #600 was closed with "Rejecting in payment() is an error case and throwing to the console helps when we need to debug." OK, but make a

[2019-06-27 15:24] cabintech commented on #1135
Never mind, my bad, should be "**return** actions.reject()". That  works fine.

[2019-06-27 15:25] #1135 closed

[2019-06-27 15:53] cabintech opened #1140 "Allow onShippingChange reject to supply custom message"
Currently if we have to reject a customer address change in onShippingChange(), the PayPal dialog show a generic, and possibly misleading message "My Company doesn't ship to this location. Please use a different address."

There are many reasons an address might be rejected, not all of them as simple as that message suggests. For example, the customer has chosen a shipping service which is not val

[2019-06-27 21:08] springknees commented on #1140
I agree! My very simple implementation requires the purchaser to enter their shipping destination on our purchase page. I then compute the shipping cost and present the Smart Checkout Button together with the computed shipping cost (to the selected destination). A problem arises because the purchaser can then select another destination on the Paypal portal (either accidentally or deliberately), wh

[2019-07-01 02:22] tryb-kimwan opened #1141 "Is there a way to resize paypal button height for mobile?"
### Description

We currently have a requirement that shows different button sizes when moving from a large screen to medium/small screen. This is not a problem when reloading the page since PayPal button supports an onload styling and I can set the button height of PayPal up to 55px. But when using a high res tablet like an iPad (768 x 1024) and switching between portrait and landscape mode since

[2019-07-01 12:39] TheImpressionist commented on #1109
I've ran into the same issues and confusion. So here's my solution for the problem:

[2019-07-01 12:42] TheImpressionist commented on #1039
Here's a quick solution I posted on another issue: https://github.com/paypal/paypal-checkout-components/issues/1109#issuecomment-507247259

The solution is pretty basic, but you should get the gist of it. This includes loading the script async when the component is rendered.

[2019-07-02 20:05] cabintech opened #1147 "Bug when changing order (purchase_unit) description"
In our onShippingChange handler we replace (patch) the entire purchase_unit like:

        return actions.order.patch([
            {
                op: 'replace',
                path: "/purchase_units/@reference_id=='default'",
                value: updatedPurchaseUnit
            }
        ]);

The updatedPurchaseUnit includes a new "description" field which contains important information for

[2019-07-02 20:19] cabintech commented on #1147
From other issues it seems that nobody from PayPal monitors these issues, so I opened a technical support case with PayPal

Case Number: 06184995

[2019-07-02 20:27] bluepnume commented on #1111
Can you share a link for a demo page where I can reproduce the issue?

[2019-07-02 20:28] bluepnume commented on #1119
You're returning `data.token` but I don't see `token` in the json response in your php. Can you please check the token is being returned correctly to the client side?

[2019-07-02 20:30] bluepnume commented on #1122
Yes, if you're using v1/payments, you should be able to access `data.paymentID` in the `onApprove` callback. Please see https://developer.paypal.com/docs/checkout/reference/upgrade-integration/#server-side-rest-integrations-with-v1payments-1

[2019-07-02 20:30] bluepnume commented on #1123
@rajarampadmanathan can you please check this one?

[2019-07-02 20:31] bluepnume commented on #1126
@rajarampadmanathan is there a better centralized place to get support for the server-side rest SDKs?

[2019-07-02 20:32] bluepnume commented on #1132
Can you please provide a few tokens to help us debug and check our logs?

@bluelnkd is this expected?

[2019-07-02 20:33] bluepnume commented on #1138
We have plans to add full api docs.

[2019-07-02 20:34] bluepnume commented on #1139
Can you provide an example of a use case where you need to reject a promise in `onClick`? And in that case is it not possible to catch the promise yourself to avoid console noise?

[2019-07-02 20:35] erin-doyle commented on #1122
Is there a specific intent needed to get this data?  We're using 'authorize' and we're only getting the `orderID` and `payerID` in the data argument to the `onApprove` callback.

[2019-07-02 20:35] bluepnume commented on #1147
@mcntsh can you take a look?

[2019-07-02 20:36] bluepnume commented on #1141
Can you render two different buttons, and then use media queries to show/hide them based on the current screen dimensions?

[2019-07-02 20:38] bluepnume commented on #1140
@mcntsh can you follow up on if we have plans to support a custom message?

[2019-07-02 20:39] bluepnume commented on #1127
@rajarampadmanathan can you please check on this? Guest/card transactions should still come with a buyer email address, right?

[2019-07-02 20:40] bluepnume commented on #1089
@sheravanan can you please raise a new issue and answer all of the questions? Thanks,

[2019-07-02 20:42] #1091 closed

[2019-07-02 20:50] bluepnume commented on #1107
Closing this since right now we have no known fix or plans to support shadow-dom. We'll revisit this in future if there's sufficient demand.

[2019-07-02 20:50] #1107 closed

[2019-07-02 20:53] lpellegr commented on #1107
That's really sad. Web components and shadow-dom are supported by all major
browsers. Paypal lives in the past...

Le mar. 2 juil. 2019 à 22:51, Daniel Brain <notifications@github.com> a
écrit :

[2019-07-02 21:04] bluepnume commented on #1122
Oh wait a sec -- sorry, yeah, if you're using orders api / `orderID` for the rest of the integration, you will need to do a GET on `/v2/checkout/orders/{order_id}`.

[2019-07-02 21:06] rajarampadmanathan commented on #1126
@dshaw  - Looks like `https://github.com/paypal/PayPal-REST-API-issues` is used tracking the non checkout SDK issues. Do you have POC who manages this?

[2019-07-02 21:08] erin-doyle commented on #1122
Got it, thank you!

[2019-07-02 21:08] #1122 closed

[2019-07-02 21:12] rajarampadmanathan commented on #1123
@rpundlik - Can you please provide recent samples?

[2019-07-02 23:45] cabintech commented on #1139
We do a lot of validation during onClick(), including calling our server and validating all the cart prices and quantities. This is because the user can put things in their cart and then not checkout for days or even weeks. Customers have used this as a means to 'freeze' pricing of items - just leave the cart page in a browser tab, and then click the PayPal button sometime (very much) later. We en

[2019-07-03 07:06] anatoliyarkhipov commented on #1107
Also, absolutely the same problem happens if I use PayPal Checkout in a WebView with [Turbolinks Android](https://github.com/turbolinks/turbolinks-android). I wasn't able to fully debug it, and as a workaround I just disabled Turbolinks on the page where the PayPal button is rendered. Also, it works fine with Turbolinks if I open the page through a browser on my desktop. The problem appears only o

[2019-07-03 15:32] cabintech opened #1150 "IE 11 failing with syntax error"
Trying to support older browsers... we are using fetch and promise pollyfills:

[https://github.com/github/fetch]
[https://github.com/stefanpenner/es6-promise]

Using IE 11:

If my sandbox account is not logged on, clicking the PP button brings up the PayPal dialog and logon prompt as usual. After logging on, it spins for a few seconds and shows:

"Things don’t appear to be working at the moment."

[2019-07-03 16:24] cabintech opened #1151 "onInit() is not being called"
All our event handlers are called as expected, except for onInit() which is never called. Verified this with consol.log() calls and setting debugger breakpoints...

	{
		// Called during JS init of the buttons at page load time
		onInit: function(data, actions) {
			console.log("Here I am");
			actions.disable();
		},

		// Called when the user first clicks on the PayPal button.
		onClick: functio

[2019-07-03 16:39] cabintech commented on #1151
OK, I just knew this had to be our own problem, and it was - we were not initing the buttons correctly... never mind.

[2019-07-03 16:39] #1151 closed

[2019-07-03 17:19] bluepnume commented on #1150
I'm struggling to repro. Can you please share:

1. The page you're testing on
2. The sandbox user credentials you're using.
3. Do you see the same issue at https://developer.paypal.com/demo/checkout/#/pattern/client

(for future, please do not delete the issue template, these are all questions we need to triage issues. thanks!)

[2019-07-03 17:34] cabintech opened #1153 "Disable does not change the UI appearance? And disable/enable oddness."
If we call actions.disable() in the onInit() method we would expect the PP button(s) to render as grayed out, hashed, or otherwise to appear disabled, and the pointer should not change when passing over it. This is how a disabled UI element should behave.

But the button remains clickable, and our onClick() method gets called - which seems wrong if the button is supposed to be 'disabled'. The PayP

[2019-07-03 17:44] bluepnume commented on #1093
Are you still seeing this issue?

[2019-07-03 17:45] bluepnume commented on #1094
Are you still seeing this issue?

[2019-07-04 01:37] tryb-kimwan commented on #1141
I can try. I'll let you know.

[2019-07-04 13:21] agrapana opened #1154 "integrate with react"
integrate with react :

got an error : TypeError: paypal_checkout__WEBPACK_IMPORTED_MODULE_2___default.a.Buttons is undefined

if i delete import paypal from 'paypal-checkout'

it will said paypal is not defined,

could someone please point out, what did i do wrong in this code?

thanks

[2019-07-04 13:58] #1154 closed

[2019-07-05 01:11] tryb-kimwan commented on #1141
So that one works. I guess we can close this issue now. It would be nice to just have 1 paypal button though

[2019-07-05 01:11] #1141 closed

[2019-07-08 11:25] Millais opened #1155 "Relaunching the window in IE/Edge closes the window"
### Description

If a user loses focus of the PayPal Checkout window, we currently provide an option in the parent window backdrop to regain focus of the checkout window: _"Don't see the secure PayPal browser? We'll help you re-launch the window to complete your purchase."_

**Expected Behaviour** is that clicking 'Continue' brings the PayPal Checkout window back into focus, above the parent windo

[2019-07-08 18:31] mcntsh commented on #1140
We're more inclined to make the message either more "generic" to account for a wider range of use-cases, or to give the merchant the option to pass an enum to the `actions.reject()` method to change the context of the error.

@cabintech, it seems like there's an incompatibility between the address the buyer provided before checkout and what they selected within checkout. Traditionally, we'd solve

[2019-07-08 18:43] cabintech commented on #1140
In our case, we know only enough of the address (country, zip) to have the user select a shipping vendor and shipping service, from which we calculate shipping costs. We really don't want to collect full addresses and we certainly don't want to restrict what address they can use once they get into the payment process. So the onShippingChange callback is ideal... except that there are a lot of poss

[2019-07-08 20:36] mcntsh commented on #1140
Security, mainly. Allowing for the error message to be freely customizable has potential for abuse. Imagine a rogue merchant sends through a message saying "Contact the PayPal support line at XXX-XXX-XXXX". It's displayed within the PayPal flow and it looks like an official error message. Imagine the buyer contacts that number and is asked for their password by someone pretending to be PayPal.

I

[2019-07-08 20:40] cabintech commented on #1140
Oh, yup, I get it. Did not think of that... here I was assuming that merchants are trusted! Ha!

[2019-07-08 21:01] cabintech opened #1156 "Request means to set PayPal 'custom' transaction field"
Feature request:

We use the 'custom' PayPal transaction field in our older cart-based submission system but I don't see any way to set that field here. We use it to encode various internal data about the order, data we do not want to expose to the customer. This field is returned by the https://api-3t.paypal.com/nvp/?METHOD=GetTransactionDetails API.

Perhaps a 'custom' field in the purchase_unit

[2019-07-08 21:18] cabintech commented on #1156
Never mind, it is there already, 'custom_id'. sorry.

[2019-07-08 21:18] #1156 closed

[2019-07-09 00:57] WayneUong opened #1157 "Question on creating subscription and receiving payments"
I follow this guide to create plan and subscription: https://developer.paypal.com/docs/subscriptions/integrate/

How do I check when payments are made? For the old plan/agreement API, I can use webhook events to track payments. But the new subscription doesn't seen to generate payments, or at least not right away. Is the payment only coming at the end of the cycle now? I can see a payment event wa

[2019-07-09 09:16] springknees commented on #1140
Thanks @mcntsh. I like this-

@cabintech originally requested the ability to halt the flow on `actions.reject() ` - if there was also the option to pass an enum to the `actions.reject()` method (as you suggest), that would be ideal.

[2019-07-09 16:00] ravishekhar commented on #1157
Payment.Sale.Completed is sent for all(initial & Subsequent) payments.
Details: https://developer.paypal.com/docs/subscriptions/reference/#webhooks

[2019-07-09 19:03] WayneUong commented on #1157
@ravishekhar Thanks for your reply.

First, how would I be able to reference a payment to a subscription? In the previous plan/agreement API, there's a field call `billing_agreement_id` for every recurring payment. What is it now with the new subscription?

Second, I'm testing using a sandbox account, made several daily subscription attempt but none of them has attempted any payment except for the

[2019-07-09 23:17] WayneUong commented on #1157
Product request payload:
[code]
Plan request payload:
[code]
We then use the smart button to create and approve a subscription:
[code]

[2019-07-10 16:14] cabintech opened #1158 "Neither onError nor onCancel called when onClick returns actions.reject()"
### Description
By handling `onError `and `onCancel` events we can always know when the PayPal frame has been closed and update our UI accordingly. However there is one case (we found) where neither of these events are fired, and that is if we return `actions.reject()` from the `onClick `handler. In that case the PayPal UI is closed, an unhandled error is show in the console log, and no call to `o

[2019-07-10 16:27] cabintech commented on #1158
Oddly (or maybe not), if the return from `onClick `is a `Promise `that subsequently does a` reject() `then the `onError `event is fired as it should be (with still unhandled error messages in the console). E.g. this `onClick `handler will cause the `onError `event to be fired:

            onClick: function(data,actions) {
                console.log("onClick");
                //return actions.re

[2019-07-11 07:09] ravishekhar commented on #1157
Thanks for bringing up the payment not happening on sandbox. Let me check. I will get back to you.
Also `billing_agreement_id` should be there in `PAYMENT.SALE.COMPLETED` webhook. In the `BILLING.SUBSCRIPTION.CREATED` webhook there will be an `id` field in `resource`.

[2019-07-11 09:07] bluepnume commented on #1155
Thanks for the report. @mcntsh can you take a look at this one?

[2019-07-12 08:58] YanzheL opened #1161 "'Pay Now' button does not render and work in many browsers"
### Description

After I entered my credit card information, I clicked the blue button, but nothing happened.
Before I click the button, I saw bunch of errors in console.
While I'm clicking the blue button, no any new error shows in console.

Is there should be some text on the blue button? It seems that it does not be correctly rendered.

Desktop Browsers
- Screenshots or videos that show the iss

[2019-07-15 16:44] springknees commented on #1127
@rajarampadmanathan I have just re-tested this and found that I now receive the payer's `email_address`  in the response - so I think this issue might have been fixed - thanks.

[2019-07-16 00:22] githins commented on #665
@pooventhirankp
Do you have any solution for this issue??

Thanks

[2019-07-16 00:23] githins commented on #665
I am having the same issue and can't find any solution!!!
Please help if you know any.

Thanks

[2019-07-16 03:15] nwallis commented on #362
Original poster no longer exists - but I am curious how important SSR is for SEO in 2019.

[2019-07-16 05:58] ravishekhar commented on #1157
The Sandbox environment was experiencing some trouble sending webhooks. It's fixed now. You should be able to get webhooks.

[2019-07-16 05:58] #1157 closed

[2019-07-16 17:41] bluepnume commented on #1161
@bluelnkd can you triage this one?

[2019-07-16 21:06] rajarampadmanathan commented on #1123
@rpundlik - Any update on this?

[2019-07-17 09:03] guidolodetti opened #1162 "Change Smart Button z-index"
Hello,

I'm implementing a _PayPal Smart Button_, and it sets its `z-index` to `100`, which breaks all my modals in the webpage. Is there a way to prevent it from setting its `z-index`?

Thanks!

[2019-07-17 15:10] ensete opened #1163 "Display issue of newly added `powered by Paypal` tagline"
### Description

How can I disable the newly added tagline of `powered by Paypal` or at least change the color of how it looks because sometimes it renders badly on user website without white background. Setting the customized option `style.tagline` to `false` seems not to work with `vertical` `style.layout`.

![tagline-issue](https://user-images.githubusercontent.com/39819339/61386927-55131c80-a8

[2019-07-17 23:03] githins commented on #664
Thanks
It worked for me.

[2019-07-18 01:56] ericelliott commented on #1039
I'm  trying to get this working right now. I haven't figured out all the parameters I'm supposed to pass yet, but I have the script loading and the buttons rendering. I made a React component to wrap the PayPal API.

Here's what I have so far:

[code]

[2019-07-24 06:40] LeiSe7en opened #1166 "Integrate paypal without iframe"
### Description

Please provide a short description of the issue here, along with:

Hi guys:
  I am doing the integration of the paypal payment on wechat browser right now. But i cannot use iframe on wechat browser. So i just curious about is there any way to do the integration without iframe? (eg: call the api manually and render the button manually)

Thanks!

[2019-07-24 11:31] Millais opened #1167 "Funding Icons missing in IE11"
### Description

Funding Icons currently disappear with checkout.js in Internet Explorer when the button style is greater than 'small'. The PayPal Wallet button is retained, but changing the size upwards appears to drop the funding icons from being displayed to customers.

This is consistently reproducible on the test site in IE11 with PayPal Version 4.0.282. There are no console logs: https://dev

[2019-07-24 14:56] Millais opened #1168 "Cancelling payment returns user to parent window in webview modal"
### Description

Clicking 'Cancel & Return' on PayPal Checkout loaded in an iOS webview currently triggers unexpected behaviour. I've been able to reproduce this consistently in production with the merchant, who is using version 4.0.282 of checkout.js.

This is occurring on their iOS app only – where their checkout is loaded in a webview. Clicking 'Cancel & Return' on PayPal Checkout loads the par

[2019-07-25 13:36] AdamKochanski commented on #1114
This issue still occur

`logger.js:63 ppxo_xo_buttonjs_bootstrap_err
{err: "TypeError: Cannot read property 'PL' of undefined↵…d=71a0f997d8&version=4.0.270&xcomponent=1:1209:32", timestamp: 1564060833281, windowID: "8bb2a5ad49", pageID: "d06be0bc09", prev_corr_ids: "", …}
country: "US"
env: "sandbox"
err: "TypeError: Cannot read property 'PL' of undefined↵    at https://www.sandbox.paypal.com/weba

[2019-07-26 16:19] Millais opened #1169 "Clicking funding icons in production triggers duplicate token request"
### Description

Clicking Visa/Mastercard etc funding icons is currently triggering a duplicate API request to create a checkout token. This does not happen when the PayPal Wallet button is clicked. Unfortunately this then causes a 422 `ORDER_NOT_APPROVED` responses further down the line for card payments, as the customer does not approve the correct token on PayPal Checkout.

This is currently ha

[2019-07-27 10:39] Millais commented on #1169
Fix was pushed last night and I've validated as working this morning. Thank you @bluepnume! 👍

[2019-07-27 10:39] #1169 closed

[2019-07-30 11:29] realadityayadav opened #1170 "This happening with Magento 2 Checkout with Paypal button - Failed to load https://www.paypal.com/xoplatform/logger/api/logger: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://www.xxxxx.com' is therefore not allowed access."
### Description

Please provide a short description of the issue here, along with:
When we try to checkout via Paypal (One Click checkout), An error is added in console of browser and doesnt let any paypal action to happen.

Please visit https://www.landscapedepot.com/9001015-genuine-echo-gear-case-oiler-assembly

and try to use the Pay with Paypal button and the results will follow.

This is happ

[2019-07-31 09:53] VivekVikranth opened #1172 "Why PayPal Express checkout.min.js loading twice ?"
## Description

Every time when our page loads with PayPal express checkout smart buttons, the required checkout.js minified is downloaded twice: once on page load and once more when the button render function gets triggered. Is that expected behavior ?

- Screenshots or videos that show the issue
![image](https://user-images.githubusercontent.com/3896638/62201494-d8c11480-b387-11e9-9860-ac50745d9

[2019-08-01 11:17] Millais opened #1173 "Unable to click 'Cancel and Return'/ PayPal Terms/Policies when guest checkout is displayed in an iOS webview"
### Description

When guest checkout is initiated in an iOS webview, it appears that the CSS/links become misaligned. This means that when the customer scrolls down to click on the PayPal Terms or PayPal Policies in the checkout footer, or tries to click 'Cancel and Return', the click is actually placed elsewhere on guest checkout and the page jumps back upwards as a result.

This was reported in

[2019-08-02 13:01] VivekVikranth commented on #1172
@bluepnume  Could you please clarify regarding the posted question. Our production team is concerned about this issue as a performance degradation in the live site.

[2019-08-02 13:16] playma opened #1175 "CSP Problem in paypal"
What happened?
It always be failed when I pay by visa or master
But pay by paypal is successed

<img width="1440" alt="螢幕快照 2019-08-02 下午9 15 11" src="https://user-images.githubusercontent.com/7677470/62372678-a9b6c880-b56a-11e9-8650-9a945aadfffc.png">

[2019-08-05 10:25] gijsmater commented on #1069
Hi, is there any update on this issue?

[2019-08-05 17:59] MrMooky opened #1176 "Destroy method"
This is not really a bug report, but I am not able to find any reference on how to destroy the Smart Payment Button. Basically the opposite of `.render('#paypal-button-container')`.

I would need this when I close my modal box.

[2019-08-06 13:51] secretlifeof opened #1177 "Error: Expected element to be passed to render iframe"
I am trying to integrate the PayPal-checkout-buttons with React and Preact. Because of Preact paypal.driver(...) is not an option because it does not work.

I have a useScript that loades the PayPal script (src "https://www.paypal.com/sdk/js?client-id=sb")
https://usehooks.com/useScript/

My shopping cart has the following relevant code:
[code]

The problem is that I get the following error:

[cod

[2019-08-08 08:03] drey101 opened #1178 "Uncaught Error: Payee xxx does not match expected merchant id: yyy"
### Description

Paypal Smart Buttons suddenly encounter error regarding payee not matching merchant id. It was working yesterday, but not today, so the new release may have done something.

![Screen Shot 2019-08-08 at 4 00 41 PM](https://user-images.githubusercontent.com/2406579/62685690-bbc6ba00-b9f5-11e9-99f5-94a0e039abad.png)
![Screen Shot 2019-08-08 at 3 58 29 PM](https://user-images.githubus

[2019-08-08 09:29] kristina1lyba opened #1179 "Different set of Smart Payment Buttons on the same page"
Hey guys!

We have a requirement to show different sets of Smart Payment Buttons on the same page, i.e. only yellow PayPal button on the top and all available buttons on the bottom of the checkout page. The only way to disable funding I found is to customize SDK script (https://developer.paypal.com/docs/checkout/reference/customize-sdk/#query-parameters) which sets global `paypal` object and doesn

[2019-08-08 13:56] 6h4k5h498h9485gh39458h9o12um3412j34lj commented on #1132
@Erlix322 have you solved the issue?

[2019-08-08 17:22] bluepnume commented on #1178
Are you passing a cusom payee when you set up the transaction?

And if so, are you passing merchant-id to the sdk? https://developer.paypal.com/docs/checkout/reference/customize-sdk/#merchant-id -- you would need to do this

[2019-08-08 17:23] bluepnume commented on #1177
Can you add a null check for paypalButtonContainer.current -- I'm guessing it's being rendered before this is set.

[2019-08-08 17:25] bluepnume commented on #1179
Hi! This isn't currently supported through this integration. The recommendation is to use a single set of buttons.

[2019-08-08 17:25] bluepnume commented on #1176
You can just destroy the modal box or remove it from the DOM, and the button will automatically be destroyed.

[2019-08-08 17:26] bluepnume commented on #1175
This repo is for issues with the sdk and smart buttons only. Please raise a ticket over at https://www.paypal-support.com/s/?language=en_US

[2019-08-08 17:26] #1175 closed

[2019-08-08 17:28] bluepnume commented on #1173
Can you raise this one as an internal issue. The guest team doesn't currently track issues on this github page.

[2019-08-08 17:28] #1173 closed

[2019-08-08 17:29] bluepnume commented on #1170
@abarco can you follow up on this one when you've had a chance to look at the loggernodeweb issues. Thanks!

[2019-08-08 17:32] realadityayadav commented on #1170
Hi @bluepnume

Looks like it was a temp issue when I was but the headers were fixed later on after a couple of hours.

Cheers(y)

[2019-08-09 04:03] drey101 commented on #1178
I'm using the following to set up the transaction, but I'm still getting the error:
[code]

[2019-08-09 04:26] drey101 commented on #1178
I've figured out why it doesn't work even if I don't add a payee, apparently using `sb` as the parameter for the `client-id` doesn't work. I need to pass my own `client-id` so that it would properly resolve the `merchant-id` and `client-id`, even though I don't define the payee anymore.

Doesn't work:
[code]
Works:
[code]

Hmmn, so how does one go about defining a custom payee using an email addre

[2019-08-09 09:07] jaynetics opened #1180 "Can no longer change currency"
Now that `currency` is passed as a param to the script tag, it is no longer possible to set it dynamically.

There seem to be only two workarounds, both of which are bad:

- reload the page
  - not acceptable if you have form data on the page
- add another script tag with the correct currency on demand
  - fails with "Can not register multiple components" errors
  - deleting the appropriate zoid o

[2019-08-09 09:37] jwoodmansey commented on #1178
Also having this exact issue.

This has broken our production checkout implementation.

How are we now meant to facilitate a custom payee using an email address, and if a merchant-id is needed how can this be obtained? Really struggling to find clear documentation on this.

[2019-08-09 09:55] sheepsteak commented on #1096
I've just tried this on Chrome 77 and the latest Chrome Dev (78.0.3876.0) and the problem seems to be resolved.

[2019-08-09 12:18] lfarks commented on #1178
Same problem here. I am reaching paypal support for help. Until yesterday it worked just fine like you all say.

[2019-08-09 12:58] knupska commented on #1178
We're suffering this same issue.

It broke our PayPal integration for our ecommerce system on all live client sites, and in every other occurrences we had, test environments, local development etc.

The dead giveaway that something had changed on PayPal's side was that we hadn't deployed any changes to production in a month, and everything was working fine up until two days ago, when our error mon

[2019-08-09 13:10] bluepnume commented on #1178
Hi all,

Given the number of instances of problems here, I've disabled this check for now. I apologize for the inconvenience. Can you please let me know the client-ids for your integration, and urls where I can test your integrations, so we can make sure you're not affected again.

[2019-08-09 13:18] jwoodmansey commented on #1178
Hi @bluepnume

Thanks for your response.

Our client id is `AX17VO9s87hiFXpHLCahoO7sSvP2JHRkjQO6LJE7uza0dE7swJV3PoBiupOz7eExWeU5HGBH_9LWCcdl`

And you can test the integration [here by clicking 'Buy tickets'](https://www.vibetickets.co.uk/event/22af4f71-9407-4f60-90e8-a55b43de6885/creamfields---thursday-friday,-saturday-&-sunday-creamfields-festival-warrington).

Or if you'd rather I can send deta

[2019-08-09 13:26] knupska commented on #1178
@bluepnume Thanks.

Our production client id is:
`AY8IEoPa2cTTVpYgjfKAYby35wyUgTE4liI1SEEXCYLGa4F2kdwSoOMSKE82jXXUL1NuXOQ1ARslBF65`

However as mentioned we're now running on the legacy `checkout.js` (which isn't experiencing the problem), until it gets fully resolved just to avoid any downtime for our clients.

I appreciate the removal of the check, but longer term we would prefer to properly com

[2019-08-09 13:26] bluepnume commented on #1096
Thanks for confirming!

[2019-08-09 13:26] #1096 closed

[2019-08-09 13:26] halomademeapc commented on #1178
We're experiencing the same issue too - this broke payments in our event registration app in production.

Our Client ID is ```ATZCrZ6_m5JW1cI7AZl29lrYk3DIijxXabVcwiyQVM658ixdm05nGrsYEz-GZgiUD0nE0IJCe1-9DMkk```
You can test it [here](https://app.infarmbureau.org/eventregistration/Start?event=22)

Thanks

[2019-08-09 13:29] bluepnume commented on #1178
Thanks all,

To everyone asking about how to provide the merchant id across when you only have the seller's email address: we'll be providing detailed instructions for how to do this.

Appreciate your reports and patience on this one

[2019-08-09 13:33] TheImpressionist commented on #1039
I'm not fully versed in the new `useEffect`. How does it check whether the script itself has loaded? Normally you'd have `onload` and `onerror` methods on the `HTMLElement`.

[2019-08-09 15:32] ericelliott commented on #1039
`useEffect` runs on every render by default. We have passed a second parameter, so it will only run when the component mounts, or `isLoaded` changes. We're loading the PayPal script synchronously in the component, so the first time `useEffect` runs after mounting the component, we should be ready to use it.

[2019-08-13 04:52] drey101 commented on #1178
Thanks! I've verified it works on our end as well. We're still just applying Paypal integration so I'm just using sandbox accounts.

Closing this for now as it seems to be currently resolved. Will wait for detailed instructions on how to retrieve the merchant id using the seller's email address.

[2019-08-13 04:52] #1178 closed

[2019-08-13 04:59] knupska commented on #1178
I noticed that the check was re-enabled, (albeit in a different way) shortly after it was disabled, https://github.com/paypal/paypal-smart-payment-buttons/commit/fdbce9da9302e43603737b3a9d9cf40f62ce4170

I'm curious as to what the implementation difference is there?

Does it no longer enforce that the merchanId be passed to the `sdk` include?
Is it possible to advise if that will be re-added in fu

[2019-08-13 05:13] bluepnume commented on #1178
Hi @knupska -- the check that's in place now will only validate if you explicitly pass the `merchant-id` parameter to the sdk.

We're working on adding a way for you to securely pass a payee email address when initializing the sdk. I'll update this thread when that's ready.

In the mean time, please feel free to upgrade again to the sdk when you're ready. We have your client id, and if we roll for

[2019-08-13 06:06] knupska commented on #1178
That all sounds great to me, thanks @bluepnume.

[2019-08-14 11:25] lfarks commented on #1178
Hi @bluepnume , can you also add my client id to the whitelist, so won't break in future updates:
client id: ASeuLJMrrdglkgGVsGYgW4LmhfH4s1YMWZTtTN2X94AQXxqcsKPBOZTRgslVixqmO7N7twu7T1A6adUo

[2019-08-16 10:06] kristina1lyba opened #1183 "Small UI issue: Extra margin when cards disabled"
Extra `margin-top: 10px` appears when cards are disabled.
Really small issue but it breaks our layout cause we render not only PayPal buttons.
Please help 🙏

<img width="1303" alt="Screen Shot 2019-08-16 at 12 53 45 PM" src="https://user-images.githubusercontent.com/47673738/63162835-3f9f2880-c02c-11e9-9438-df63c68eab26.png">

Thanks!

[2019-08-16 18:25] abarco commented on #1168
@Millais I'm unable to repro this issue on regular webviews. I'm also unable to access the app given country restrictions on the app store. Can you confirm this is still an issue on `v4.0.284`?

[2019-08-19 08:41] jaynetics commented on #1183
what worked for us was putting the button in a `div` with an appropriate `max-height` style and `overflow: hidden`.

the correct value for the style depends on the button setup - probably 50px in the case above. of course this will break things when the button layout changes.

[2019-08-19 08:45] kristina1lyba commented on #1183
@jaynetics We've disabled `cards` but not PayPal `credit` so the number of rendered buttons can be different inside an iframe, your fix wouldn't work for us :(

[2019-08-19 13:15] Millais commented on #1168
Hey @abarco – confirming that this is still an issue on `v4.0.284`. Let me connect with you internally and see if there's a way which we can get you access to the app.

Thanks,
Patrick

[2019-08-19 21:03] JamieCorkhill opened #1185 "Usage with React Native"
### Description
Hello. I'm just wondering what SDK I'm supposed to use to get the functionality provided by this repo in my React Native application. If necessary, I can use the native Swift and Java/Kotlin SDKs and build a wrapper around them for use with React Native.

Thank you,
Jamie

[2019-08-20 08:29] kristina1lyba opened #1186 "No data about what button was clicked"
Hi guys,
Is there a way to know which PayPal button was clicked? (PayPal, PayPalCredit, Venmo, local providers)

Thanks!

[2019-08-20 12:49] iamthefreeman commented on #1158
I'm getting the same issue here, looking to validate form information before PayPal window. @cabintech I've tried your working around and it doesn't seem to work anymore?

@bluepnume Are there any planned fixes in the works for this?

[2019-08-20 15:05] cabintech commented on #1158
This still works for us (e.g. instead of returning `actions.reject()`, we return a Promise on which we call `reject()`). Here is our `onClick `handler (I removed the rather involved async validation, the synchronous case shows how we do it).

You can try this yourself on our web site (cabintechglobal.com) - add something to the cart, go to checkout, be sure the "I agree..." checkbox is unchecked,

[2019-08-20 15:22] iamthefreeman commented on #1158
Ah right, I can see now. Thanks for the quick response.

I did try out your website, and when trying this out I was still getting the uncaught error exceptions,
![Screenshot 2019-08-20 at 16 18 44](https://user-images.githubusercontent.com/916500/63360610-96776b80-c366-11e9-823d-f436a183c3bd.png)

Is there any way to catch/suppress these errors?

[2019-08-20 16:43] cabintech commented on #1158
I saw those errors get reported by our web server, not sure what is going on there... I cannot reproduce it. I do see in our async validation code that we don't handle non-200 HTTP codes correctly, but unsure why the server would be returning non-200 status codes... need to look into that...

[2019-08-21 15:45] peppeocchi commented on #1093
@bluepnume I haven't seen this happening in the last month of testing, I think this can be closed thanks for the help!

[2019-08-22 05:18] jackkinsella opened #1187 "Upgrade issue: "Only 1 purchase_unit is supported.""

[2019-08-22 05:26] #1187 closed

[2019-08-22 07:16] piavgh commented on #1012
@rfdc : `as said on the official doc` => Where is the official doc? I can't find this information anywhere

Another question is, I see that you use prop `payment={payment}` in PaypalButton.
What is the difference between `payment` and `createOrder` ?

I used `createOrder` and it works normally

[2019-08-24 19:43] damianobarbati commented on #1056
Not working, still asking for billing info:

[code]

[2019-08-27 08:35] ChesterEcwid opened #1188 "Inline guest checkout not working with US credit card"
### Description

Hello! I'm Yuri from Ecwid.
We have js integration with PayPal (PayPal smart buttons). For three days inline guest checkout doesn't work when US credit card provided.

Client paypal.version is 4.0.284.

To avoid this issue we temporarily deactivate inline checkout but we wait for resolving.

### Steps to reproduce

Steps:
1) customer clicks PayPal inline checkout icon at payment p

[2019-08-27 14:30] PhilibertDugas opened #1189 "A11Y: Frame title may not be clear"
### Description

## Issue summary
The current value of the PayPal `iframe` `title` attribute may not clear in its meaning for people with cognitive disabilities. This could lead to a confusing user experience.

![Screen Shot 2019-06-26 at 10 21 05 AM](https://user-images.githubusercontent.com/1392632/60187786-2e8c2500-97fc-11e9-9d31-7afb30595bc6.png)

### Current code

#### HTML
[code]

## Steps t

[2019-08-27 16:02] travisfortney opened #1190 "in-line card issues on payment dialog - 17hats"
### Description

We were seeing some improvements over the last week but have a report now from multiple users that clients are unable to process payments on mobile devices (iOS so far only have been reported)

 When pressing one of the CC options (instead of 'pay with paypal' on the payment dialog), clients are now required to enter their shipping address; which isn't ideal for us but not the pro

[2019-08-28 08:05] #1186 closed

[2019-08-28 13:12] trainerbill opened #1191 "Overlay does not stay when returning a promise"
In checkout.js, returning a non-resolving promise would keep the overlay around.  This was useful for merchants that do a redirect so that the background was not functional while the browser was performing the redirect.  I cannot get this to work in the new payments SDK.

[code]

[code]

https://youtu.be/-ovTDmvu_D4

[2019-08-28 14:36] vsashyn opened #1192 "Q: Is it possible to use overlay on window.parent if SPBs are rendered in iframe ?"
Hello guys!
Is it possible to render overlay somehow on a parent window if smart payment buttons are rendeder inside iframe?
We have specific case and thinking how can we manage it.

![img_iframe_spb](https://user-images.githubusercontent.com/4557935/63865411-3615a900-c9ba-11e9-9f9b-f87f09d05ef1.png)

Thanks a lot!

[2019-08-29 14:20] gwardwell commented on #1189
This really does need to be fixed for those of us that care about ADA compliance.

I can't seem to find a reference to `ppbutton` as the iframe title in this repo. If you can point me to the right place, I'd be happy to make a pull request.

[2019-08-29 20:42] bradbyu commented on #1189
Looks like the title for this iframe was initially added in this issue. https://github.com/paypal/paypal-checkout-components/issues/614

[2019-08-30 14:59] travisfortney commented on #1190
we noticed in the URL from your screenshot, token=undefined. This is a bit odd but while we haven't changed anything here since this ticket was submitted @khanghoang , we just tried again making a few payments on mobile and it seems to be working! I think we are good to close this for now and I appreciate the work done (it's been close to a month with over 100 reports so we are glad our users are

[2019-09-02 11:44] glauber-sampaio commented on #1069
Hello there! I'm having the same issue and I think it's the cause of error message like "you can't purchase right now. try again later".

[2019-09-02 15:21] JulienPradet commented on #154
For reference, it seems that it's `onRendered` now with the latest version of the API.

@bluepnume  Is that the case?

[2019-09-04 01:42] mauriblint commented on #914
Hey, I'm having the same issue using the sandbox API testing my integrations with Smart Buttons. To disable the shipping, add this param:

`          application_context: {
              'shipping_preference': 'NO_SHIPPING'
          }`

[2019-09-05 16:03] trainerbill opened #1195 "Button Responsive Bug"
### Description
No matter what CSS i throw at the container, I cannot get the right margin to square up.  It looks to be the `zoid-paypal-buttons-51582d112a_mtu6nty6mde` id that is not changing its width so I think its an issue in the SDK.  I have witnessed this on other merchants sites as well.  Also this happens in both checkout.js and payment SDK.

![image](https://user-images.githubusercontent

[2019-09-08 00:07] khanghoang commented on #1190
@travisfortney Of course. I'm glad to hear that the issue was gone. Lemme close this.

[2019-09-08 00:07] #1190 closed

[2019-09-08 02:17] ekhaidarov opened #1196 "createSubscription flow is throwing an error"
### Description
Using the latest paypal-JS-SDK:latest(https://www.paypal.com/sdk/js?client-id=sb&currency=CAD&commit=false&vault=true) unable to proceed with subscription checkout. Server is responding with the valid payload, but button is expecting a subscription Id. Payload looks correct.

Button throws an exception
`Erroneous payment OR failed to load script! Error: Expected an subscription id

[2019-09-08 05:08] ravishekhar commented on #1196
@ekhaidarov Can you please share the webpage where this code is hosted?

[2019-09-08 14:12] ekhaidarov commented on #1196
Hi @ravishekhar ,

This is still in development, hosted privately, but I can share bits and pieces and provide a network capture, and the console logs as needed. We are using this out of the react.js. We are using https://www.npmjs.com/package/react-paypal-button-v2 with an additions that we wrote to be able to create a subscription, which is basically the function that I shared in the bug. We cre

[2019-09-09 06:33] ravishekhar commented on #1196
@ekhaidarov Can you pls host relevant codes in github or some place and share so that I can verify. Looking at the video it appears network calls are successful but Subscription Id (I-XXXXX) was not returned from `createSubscription` hook.

[2019-09-09 06:40] dev-reactjs commented on #1012
Hi @all,
I want to load PayPal in the same window. Is it possible if yes, please guide me on how can I achieve this?

Thanks

[2019-09-09 14:49] ekhaidarov commented on #1196
Hi @ravishekhar,

I ripped out all of proprietary code, and created a simple app showcasing the problem. Please review file:SectionPricing.tsx for details. It is plain vanilla button on the page with our SB key, and simple create subscription fllow.
[paypal-subscription-createsubscription-problem.zip](https://github.com/paypal/paypal-checkout-components/files/3591106/paypal-subscription-createsubs

[2019-09-09 16:58] ravishekhar commented on #1196
Here is the issue, in this file
paypal-subscription/src/views/PricingPage/Sections/SectionPricing.tsx:L104
Change
      `createSubscription: (data: any, actions: any) => {this.onCreateSubscription(data, actions, standard)},`

to
`createSubscription: (data: any, actions: any) => {return this.onCreateSubscription(data, actions, standard)},`
It Works!
Created a subscription as well :)

Also You do no

[2019-09-09 16:58] #1196 closed

[2019-09-09 17:05] ekhaidarov commented on #1196
@ ravishekhar thanks so much for taking the time to look at this. I have been battling this for couple of days, and without having another pair of eyes on it. Again, thank you.

[2019-09-09 17:42] ekhaidarov commented on #1196
@ravishekhar hopefull last question, I have made the changes, and indeed the diaglog is showing up now, but attempting, but upon finalizing the payment. SDK doesn't call onApprove function, but rather thrown an unhandled exception. It seems one of the server APis is responding with 500 Internall Error, seems like backend app related.

[checkout.log](https://github.com/paypal/paypal-checkout-compon

[2019-09-10 16:15] ekhaidarov opened #1198 "PayPal checkout process dies at the end when creating a subscription"
### Description
PayPal button loads for a split second and disappears. Everything worked with this code as of September 9, 2019. Using the latest SDK : 5.0.67 . I am also attaching our sample application that reproduces the problem. Secondary problem when using createSubscription flow, user is able to login and gets a screen to perform checkout, but SDK never calls onApprove, and fails with an Err

[2019-09-11 01:19] ekhaidarov commented on #1198
Also attaching a zip file containing har shows 500 Internal Error in the sanbox environment when try to capture the order after subscription is created.

[checkout.har 2.zip](https://github.com/paypal/paypal-checkout-components/files/3598360/checkout.har.2.zip)

[2019-09-11 07:31] ravishekhar commented on #1196
As I was mentioning earlier

We will get our docs updated.

[2019-09-11 07:42] ravishekhar commented on #1198
Can you please remove commit=true from your config and try again. For Subscription you cannot capture the transaction. Capture is one time payment construct.

The similar construct for subscription is activate.
https://developer.paypal.com/docs/api/subscriptions/v1/#definition-application_context
Pls see section `user_action`

[2019-09-11 10:51] ekhaidarov commented on #1198
Hi @ravishekhar,

I did remove the commit, and I retried various configurations. I apologize, I must have included the original zip file before the recommended change. However, I have made the change and attaching the latest sample code that has commit set to **false** and vault set **true**. It is exactly the same problem.

[console.log](https://github.com/paypal/paypal-checkout-components/files/

[2019-09-12 01:31] ekhaidarov commented on #1198
Hi @ravishekhar ,

Can you please share any code that you may have the shows complete end to end example on what should be done to integrate subscription fully?

[2019-09-12 10:43] secretlifeof opened #1199 "Paypal Smart button style issue (only sofort and giropay)"
### Description

We are trying to integrate PayPal with Preact v10 and Nextjs v9.

Our PayPal button Component looks like this upon recommandation from the Preact GitHub repo.

[code]

We live in Germany and sadly the "giropay" and "sofort überweisung" looks like this:
<img width="251" alt="image" src="https://user-images.githubusercontent.com/38684618/64777023-9b8c9c80-d559-11e9-9595-a0f79a1b90e5

[2019-09-12 18:16] Ed-SA opened #1200 "Buttons payment form no longer modal"
### Description

Starting today, users have reported that almost always, the payment form is displaying inline in the page instead of modally.  It does it for me as well.  Instead of the centered modal popup with overlay, it displays a squished-looking set of the data fields within the page; and will not process the transaction when data is entered (my log shows "navigated away" as the message).

[2019-09-12 18:21] annshress opened #1201 "Reached 5 failures on API POST_graphql"
### Reached 5 failures on API POST_graphql. Circuit breaker is open now and API is not available.

Following [this](https://developer.paypal.com/docs/checkout/integrate/#5-capture-the-transaction) documentation.

Occassionally I receive following in the response on `mutation payWithCard`.

[code]

- paypal version: 5.0.71
- environment: sandbox
- browser: firefox quantum 69.0 64-bit
- issue also o

[2019-09-12 18:29] annshress opened #1202 "Missing documentaion for `x-app-name` header"
On mutation (like `payWithCard`), we receive following as extension response,

[code]

There is no reference for such header in the documentation

[2019-09-14 04:27] ManlyBoy opened #1203 "Smart Buttons works BUT no transactions are recorded"
I have followed the Smart Buttons Integration guide plus installed the SDK and have everything working fine including the return call from PayPal recording the approval to the capture, entering into my database etc. Only problem is that the credit/debit are not recorded in the relative sandbox accounts nor when going live in the real accounts.

Here's my script:

Created Script = "<script language

[2019-09-14 14:34] ekhaidarov commented on #1198
@ravishekhar  Is it possible to get an update on this? We are completely blocked by this issue to be able to proceed into Production. Can you please advise how to work around it? System is clearly acknowledging the fact that the transaction succeeded, but JS code due this failure doesn't fire any other events to be able to finalize and complete user flow. Any help would be greatly appreciated

`cu

[2019-09-14 15:32] monir12342 commented on #1198
Dear sir
I will glad that if you transfer money my bank account. . Bangladesh MUTUAL
TRUST BANK LTD. SHAH MAKHDUM AVENUE 12. A/C NO - 0620300014032 MY SAVINGS
ACCOUNT.
REGARDS
MONIRU ISLAM
R 18 H38 SECTOR  11 WEST UTTARA DHAKA 1230

On Sat, Sep 14, 2019, 8:34 PM ekhaidarov <notifications@github.com> wrote:

[2019-09-14 16:08] monir12342 commented on #1198
Dear sir
My bank account details
Name- MUTUAL TRUST BANK LTD
WEST UTTARA, SHAH MAKHDUM AVENUE, SECTOR-12
DHAKA 1230 BANGLADESH
A/C NO - 0620300014032 SAVINGS ACCOUNT.
MOBILE NO +8801765523107
REGARDS
MONIRUL ISLAM

On Sat, Sep 14, 2019, 9:32 PM Monirul Islam <monir12342@gmail.com> wrote:

[2019-09-14 16:15] monir12342 commented on #1198
Dear sir,
Please sorry for account no
Below wright one
A/C NO - 0620310004032 MY SAVINGS ACCOUNT
REGARDS
MONIRUL ISLAM

On Sat, Sep 14, 2019, 8:34 PM ekhaidarov <notifications@github.com> wrote:

[2019-09-14 17:01] ravishekhar commented on #1198
Hi @ekhaidarov,
Sorry I was out sick, could not reply earlier.
As I was mentioning you cannot capture a subscription transaction. capture is a one time payment construct.

In your code `src/components/Payment/PaypalButtonV2.tsx:139` change
[code]
to
[code]

And you should be good to go. Please read my earlier comments for documentation around it.

[2019-09-14 17:01] #1198 closed

[2019-09-14 17:05] monir12342 commented on #1198
Bank account details MUTUAL TRUST BANK LTD. SHAH MAKHDUM AVENUE SECTOR-12 WEST UTTARA DHAKA-1230
A/C No - 0620310004032  MONIRUL ISLAM

[2019-09-14 17:44] monir12342 commented on #1199
Noted with thanks

[2019-09-14 17:45] monir12342 commented on #1199
Noted with thanks

[2019-09-14 17:52] monir12342 opened #1204 "Fund transfer my bank account"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2019-09-14 18:09] monir12342 opened #1205 "Fund transfer"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2019-09-14 18:24] #1204 closed

[2019-09-14 18:24] #1205 closed

[2019-09-14 18:26] bluepnume commented on #1192
Yes -- please load the paypal script in the parent window too. Then the overlay will appear on that page.

[2019-09-16 08:58] ashishsantikari commented on #1172
Okay, I am also facing a similar issue, not sure if it has the same root cause.
Using this component causes bundle size to increase(1.4 MB+), also IDK why it downloads the file from CDN too(2 times for the same job?). This seems very strange.

[2019-09-16 13:32] Ed-SA commented on #1200
For anyone else experiencing this issue, the resolution was: Josh@paypal made a change to "blacklist the merchant" (his terminology) which seems to have reverted the API to the previous version for them (transactions now process and the UI is back to the modal experience).

[2019-09-16 13:32] #1200 closed

[2019-09-16 14:39] ekhaidarov commented on #1198
@ravishekhar Thanks for your help!

[2019-09-16 21:13] davidyeager commented on #471
This is a serious issue that could be hurting conversion depending on the delay people are experiencing.  For our setup the delay was around 2 seconds. The transition to the newer API is not clear when you're using a Braintree integration like ours. The issue was solved by initially rendering a button with the text "PayPal Loading..." and then changing that to the final button once enabled.

The k

[2019-09-17 05:54] bluepnume commented on #471
@davidyeager as mentioned, the latest version of the sdk does not have this issue. Please upgrade if possible. https://developer.paypal.com/docs/checkout/reference/upgrade-integration/

[2019-09-17 23:29] bzitzow commented on #1107
+1 - looking for a fix 👍

[2019-09-18 18:47] josephajose commented on #1178
Hi @bluepnume,

Wondering if there were instructions released for this yet?

Our Paypal Smart button integration is breaking again and now returning the following error message:
**Pass merchant-id=XYZ in the paypal script tag.**

It appears to have been introduced in the following commit and deployed on Monday, Sep  16, 2019:
https://github.com/paypal/paypal-smart-payment-buttons/commit/3bb3e5c23b

[2019-09-18 18:49] bluepnume commented on #1178
Hi,

Can you confirm if this is still happening for you? There was a regression here that we pushed a fix out for yesterday.

Thanks,
Daniel

[2019-09-18 19:20] josephajose commented on #1178
@bluepnume I have confirmed this is still happening.  We have a logged failure just 3 hours ago.

<img width="953" alt="Screen Shot 2019-09-18 at 12 19 49 PM" src="https://user-images.githubusercontent.com/3230959/65178935-adb18380-da0e-11e9-859d-9d8c2f63f6d9.png">

[2019-09-18 19:22] bluepnume commented on #1178
Are you personally able to repro? I'm wondering if there's a cached script somewhere. I'll dig into it.

[2019-09-18 19:31] josephajose commented on #1178
Yes, I attempted to purchase on the same website we logged this error from and was able to reproduce it just now.  We are using the following script tag url:

[code]

We are creating the order on the client side in the createOrder callback.

[2019-09-18 21:01] bluepnume commented on #1178
OK I think I've reproduced what you're seeing. Fix in progress.

[2019-09-18 22:41] josephajose commented on #1178
Thanks for jumping on this one @bluepnume!  Confirmed the fix you just applied is working! 🎉

[2019-09-18 22:43] bluepnume commented on #1178
Awesome, really glad to hear! Thanks for verifying

[2019-09-19 14:51] isaachinman commented on #707
Looks like v5 is out, have bundle sizes been reduced with that? Also, I don't see a migration guide from v4 to v5 anywhere.

[2019-09-19 17:03] timlet commented on #1200
Are there going to be any further announcements about changes to the behaviour of the integration or documentation around when a user might expect to see this inline vs. in the current modal popup?

It appears to be inconsistent across browsers currently (for example inline on Chrome, but not on Edge)

Additionally should passing the integration-date parameter prevent the new inline form from trig

[2019-09-19 17:39] leeoniya commented on #707
if it's this [1], then it's quite a bit smaller 214 KB (65.9 KB gzipped).

[1] https://www.paypal.com/sdk/js?client-id=sb

[2019-09-20 13:03] lcampanis commented on #1069
Any update on the issue? Thanks!

[2019-09-25 17:57] rachidelaid commented on #1177
same for me
i'm trying to use it with vuejs.

[2019-09-25 20:53] 719media opened #1214 "paypal 4.0.288"
paypal 4.0.288 throwing an error, the paypal button never finishes rendering.

The error seems to be that the paypal script is requesting a javascript file which doesn't exist (404)
The script is
https://www.paypalobjects.com/api/checkout.4.0.288.js

[2019-09-25 20:57] 719media commented on #1214
Contrasted with the previous version of https://www.paypalobjects.com/api/checkout.4.0.286.js which seems to work fine

[2019-09-27 01:02] 719media commented on #1214
The https://www.paypalobjects.com/api/checkout.4.0.286.js was eventually published, so the paypal script worked about 5 hours after the original issue above. Closing

[2019-09-27 01:02] #1214 closed

[2019-09-27 13:46] silverfix commented on #139
But it seems to me that the `validate` callback hook is gone? :(

[2019-09-27 15:16] tobsn commented on #139
@silverfix it seems it never existed in this version of express checkout... it is needed though... its very very annoying how it works right now if you need to validate things after button press...

[2019-09-28 23:51] bluepnume commented on #1199
This should now be resolved. Please let me know if you still see the issue.

[2019-09-28 23:51] #1199 closed

[2019-09-28 23:53] bluepnume commented on #1188
@khanghoang is this now resolved?

[2019-09-28 23:55] bluepnume commented on #1183
This should now be fixed. Thanks!

[2019-09-28 23:55] #1183 closed

[2019-09-28 23:55] #1132 closed

[2019-09-28 23:55] #1127 closed

[2019-09-29 08:26] kristina1lyba commented on #1183
Seems to be fixed, thank you!

[2019-09-29 10:50] inquisitive-stha commented on #1202
@annshress did u find any solution?

[2019-09-30 16:49] TheTrueRandom opened #1218 "CSP nonce does not work for styles"
### Description
https://developer.paypal.com/docs/checkout/troubleshoot/support/#content-security-policy-rules states that providing a `data-csp-nonce` will propagate the nonce accordingly. This does not work for style. The attached screenshot shows the inserted style tag which misses the nonce even though data-csp-nonce is provided for the client.

![DeepinScreenshot_select-area_20190828224103](h

[2019-10-01 03:44] annshress commented on #1202
@inquisitive-stha Nope. I could not find anything on that.

[2019-10-01 09:09] ThisUsedToBeAnEmail opened #1219 "Uncaught Error: PayPal Payments SDK script not present on page!"
### Description

I was getting the "Uncaught Error: PayPal Payments SDK script not present on page!" error while trying to load the SDK via the following url:

https://paypal.com/sdk/js?debug=true&client-id=sb

This is demonstrated as being valid in your documentation: https://developer.paypal.com/docs/checkout/reference/customize-sdk/

This is failing if you're working in a 'sandbox environment'

[2019-10-01 16:34] bluepnume commented on #1219
You need to include the www. Thanks for pointing out that doc, we'll get it fixed!

[2019-10-01 16:35] bluepnume commented on #1202
This is an internal issue. We have a fix going out for the next release. Thanks!

[2019-10-01 22:35] khanghoang commented on #1201
@annshress sorry for the late reply. Did you use `4111 1111 1111 1111` as the testing card? If you did, would you please try another card number before we're having some issues with that card **only on sandbox**.

[2019-10-01 22:37] khanghoang commented on #1188
@ChesterEcwid sorry for the late reply. Is it still happening on sandbox?

[2019-10-01 22:43] khanghoang commented on #1202
@inquisitive-stha @annshress @bluepnume Thanks for reporting it. It will be fixed in the next release.

[2019-10-02 10:25] richardscarrott commented on #1180
It'd be great to know if PayPal plan to support SPAs in the future?

[2019-10-02 11:42] manish2307github commented on #634
I am also facing same issue, could you please let me know the solution. Fetch method is coming undefined

[2019-10-03 11:31] deviousknight commented on #1185
In our react native project we are using Braintree + paypal smart button in WebView and everything seems working. But you must use real page as source for webview not just html page from the app

[2019-10-03 12:32] deviousknight opened #1221 "ios webview login popup is flickering"
### Description

Hello, in our React Native project we are using WebView component with braintree paypal library inside. In login paypal popup window we are having "flickering" footer which leads after password to be flickered Paypal preloader too.

While digging through paypal iframe It looks like popup layout code is adding and then removing "footerStayPut" css class on footer tag.

![issue-2](h

[2019-10-03 16:31] midesweb commented on #1107
Same issue when using web components shadow-dom. I have resolved this situation by implementing the render button element in the root document and using slots, as described by @NeilujD

[2019-10-03 18:02] richardscarrott opened #1222 "Where is the reference documentation"
### Description

I can't find any reference documentation for `window.paypal` anywhere?!

Obviously this link is in the README https://developer.paypal.com/docs/checkout/ however it's not really documentation. It's just a quick start + guides. Even the ["reference"](https://developer.paypal.com/docs/checkout/reference/) section isn't reference documentation (with the exception for [customizing the

[2019-10-04 10:25] richardscarrott commented on #139
If anybody is looking for some documentation relating the the new PayPal Checkout validation and `onClick` callback it can (sort of) be found here https://developer.paypal.com/docs/checkout/integration-features/validation/#asynchronous-validation

It says:

I *think* this means it's a poor UX because the window has to be opened synchronously so the window will open, then if the merchant determine

[2019-10-04 16:10] richardscarrott commented on #1040
I've implemented this https://developer.paypal.com/docs/checkout/integration-features/funding-failure/ however I can't see any difference with `actions.restart` and without?...it works fine in both cases -- why do we need to call `actions.restart` if capturing on the server?

[2019-10-04 17:09] richardscarrott opened #1223 "Disable button reveal animation / transition"
### Description

Upon revealing the PayPal button (display none -> block), it transitions in with a "reveal" animation which [looks like a bug](https://youtu.be/OvChkOHgDIo?t=31). It would be great if we could disable it?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/539309/66226044-cfc72900-e6d1-11e9-8071-c930b45a64da.gif)

### Steps to reproduce

1) Visit https://developer

[2019-10-07 14:01] FreddyCrugger commented on #707
Yes, noone knows what is happening with this package. Any news please? It is difficult to find out what we should be using, if V5, where it is? And is it working with the patest paypal checkout package?

Thank you/

[2019-10-07 23:44] cerecerorodrigo opened #1224 "Paypal Smart Payment buttons cause error when selecting credit card"
Hello there.

I've implemented Paypal Smart Payment buttons, which worked fine for a couple of weeks. After that, I started receiving complaints from my costumers about them not being able to pay with the credit cards the plugin allows (visa, master card and american express). I could not reproduce the issue inmediately (and still do not know exactly how to reproduce it) but lately with my own PC

[2019-10-08 00:17] bluepnume commented on #1224
@khanghoang could you take a look? Thanks!

[2019-10-08 11:20] gautia opened #1225 ""Click to continue" not working"
### Description

[](**URL: https://developer.paypal.com/demo/checkout/#/pattern/client**)
'click to continue' button in the shadow doesn't work as expected.

- Your code [Same code as in the demo link]
- The exact browser version [All the browser and MacOS,]
- Does the issue also occur at [developer.paypal.com/demo/checkout]-(https://developer.paypal.com/demo/checkout)- YES
- Does the issue occur

[2019-10-09 19:09] #1188 closed

[2019-10-09 19:09] #1179 closed

[2019-10-09 21:41] tobsn opened #1226 "you just broke the internet with 4.0.294"
https://www.paypalobjects.com/api/checkout.js

there's a diff inside the published dist js in aboves url:

[code]

line 1448... code is broken. leads to everything else also not executing.

[2019-10-09 21:49] tobsn commented on #1226
@bluepnume ^

[2019-10-09 21:55] bluepnume commented on #1226
We're on it. Thanks for the heads up.

[2019-10-09 22:13] bluepnume commented on #1226
Fix has been rolled out and cache cleared. Looks like an issue in the deployment pipeline for the CDN. We're investigating that right now. Sincere apologies for the inconvenience here.

[2019-10-09 22:23] Jofiman commented on #1226
Please solve this :).

Thank you.

[2019-10-09 22:32] bluepnume commented on #1226
@Jofiman -- are you still experiencing the issue? Does clearing browser cache resolve it?

[2019-10-09 22:38] kjvarga commented on #1226
Working for me now after clearing my cache.

[2019-10-09 22:43] tobsn commented on #1226
new version is coming through without CDN cache - looks all fixed now.

@bluepnume can you link the post mortem on this one, I need to explain what happened because ads were blasting to our checkouts and for over an hour it was broken...

[2019-10-09 22:47] Jofiman commented on #1226
Yes, working for me too.

Thx

[2019-10-10 01:53] bluepnume commented on #1221
@amaclean2 can you take a look? Thanks!

[2019-10-10 01:53] bluepnume commented on #1219
@amaclean2 can you take a look at fixing that doc? Thanks!

[2019-10-10 01:54] bluepnume commented on #1218
@amaclean2 can you take a look? Thanks!

[2019-10-10 01:55] bluepnume commented on #1167
@amaclean2 can you take a look? Thanks!

[2019-10-10 03:12] amaclean2 commented on #1166
@LeiSe7en, The PayPal button needs to be rendered in an iFrame because it has JavaScript that cannot be exposed to the end client, it's inherent to how the button is implemented. Many applications redirect to a webpage that has the checkout flow where the PayPal link can sit.

[2019-10-10 03:13] #1176 closed

[2019-10-10 03:14] #1166 closed

[2019-10-10 08:26] mukulchawla43 opened #1229 "How to disable the new "Standard Card Fields" behavior in my PayPal Smart buttons integration"
### Description

The recent updates on PayPal Smart Buttons have introduced a new feature called "Standard Card Fields". So now, if a user tries to make a payment with a card, it renders an iframe to collect card and billing info of customer inline on the page instead of a guest checkout popup. However, there is no way to change the appearance/style of the card form to match with the rest of my ch

[2019-10-10 19:01] chadacious opened #1230 "Samesite cookie warnings in Chrome"
### Description

I'm getting a warning in the chrome console for each Secure cookie that paypal generates. The message in the chrome console is:
[code]

When looking at the paypal cookies, I can see that they are marked Secure but no SameSite value is specified.

paypal-checkout version 4.0.273

### Steps to reproduce

Go to paypal.com with Chrome and look in the console. I was concerned these war

[2019-10-10 19:06] amaclean2 commented on #1221
@deviousknight This doesn't appear to be a problem anymore. Can you try to retest and get back?

[2019-10-10 22:30] amaclean2 commented on #1167
@Millais, I think if you aren't using checkout-v4, you should be fine. Try using https://developer.paypal.com/demo/checkout
and if at all possible, you should use Chrome, Firefox, Edge, or a more modern browser.
V4 is an old integration of checkout and IE being an old browser, it really isn't worth it to support this issue.

[2019-10-10 22:31] #1167 closed

[2019-10-12 23:55] bluepnume commented on #707
Please see https://developer.paypal.com/docs/checkout/ -- these are the full docs for the latest version of this sdk. Thanks.

[2019-10-12 23:57] bluepnume commented on #1040
@gpozos-pp I would recommend against returning the entire `details` object from your server. It would be better to pass a flag from your server to indicate that `restart()` needs to be called.

@richardscarrott are you hitting an `INSTRUMENT_DECLINED` error on your server when you test? `actions.restart()` is only necessary when you hit that error. The error indicates that a buyer's card could not

[2019-10-12 23:57] #1040 closed

[2019-10-12 23:58] bluepnume commented on #139
@richardscarrott That's correct. The popup window must stay open for duration of any asynchronous validation -- even if it's practically instant.

[2019-10-15 01:25] DouglasDev commented on #447
I'm having a lot of issues integrating PayPal into a Chrome extension due to the restrictions that extensions have for executing inline scripts (unsafe-inline is disabled). Any ideas on how to get around this? I should mention that the extension is run entirely client side, so I'm looking to do the client side only integration. Thanks.

[2019-10-15 06:40] JamieCorkhill commented on #1185
@deviousknight Thanks. I'm migrating to Stripe now. Perhaps I'll return to PayPal at a later point in time.

[2019-10-15 06:40] #1185 closed

[2019-10-15 07:42] deviousknight commented on #1221
@amaclean2 thanks! On our iphoneX and 8 everything seems is working perfectly

[2019-10-15 18:50] amaclean2 commented on #1221
@deviousknight Awesome, thanks. I'll close it then

[2019-10-15 18:50] #1221 closed

[2019-10-16 01:40] boy1dr commented on #1095
Any chance a resolution was found to this problem?
I too cannot seem to prevent the createOrder/fetch promise from collapsing in to an unhandled_error.

[2019-10-16 15:42] leomp12 commented on #1224
Same error here from Brazil, including even the demo in the documentation (https://developer.paypal.com/docs/checkout/#try-the-buttons) throws "Something went wrong. We'll take you back to checkout so you can try again." when credit card selected..

[2019-10-16 16:47] leomp12 commented on #1224
When I set `locale` and `country-code` SDK params, the error is logged on console, would it help if i paste the error stack here?

Also, I've tried with `debug` param and didn't see any debug related to this error specifically.

[2019-10-17 12:08] samighawi commented on #1229
I have the same problem but only in specific environments. It is working at my computer on Chrome and Firefox. It is also working on my Android using Chrome but not using "Internet" app nor on iOS Safari. Did you manage to find a workaround for it?

[2019-10-17 12:20] samighawi opened #1231 "Locale and country code are not working all the time"
### Description
I am using Paypal smart buttons and want to enforce the language to always become English and the country to always be Israel. However, both are not working most of the time. I am testing the credit card case.

In terms of country, I keep getting arbitrary countries without knowing the reason. While I got Israel at couple of tests, I also got USA, Solomon Islands, UK and Bosnia. I

[2019-10-18 08:59] andyli opened #1232 "Logger error when using sandbox"
When I load the JS file with a sandbox client-id,
[code]

In the browser console, there is a network error
[code]

`paypal.version`: "5.0.76"

- Does the issue also occur at [developer.paypal.com/demo/checkout](https://developer.paypal.com/demo/checkout)? Yes
- Does the issue occur consistently, or intermittently? Consistently, started from today.

[2019-10-18 13:35] ToledoNicola commented on #1107
hi, i have the same problem in ionc 4, someone found a workaround?

[2019-10-21 02:53] CollinHerber commented on #1180
Why the hell do we have to sacrifice so much, and create horrible UX just to integrate PayPal SDK? Do they seriously not care? For the love of god why is this unnoticed.

[2019-10-21 13:20] umair-brainx commented on #1229
I am having the same problem, did you guys found any workaround? @samighawi @mukulchawla43

[2019-10-21 13:25] samighawi commented on #1229
Unfortunately not @umair-brainx

[2019-10-21 13:26] mukulchawla43 commented on #1229
nope! couldn't find any workaround :(

[2019-10-21 13:30] umair-brainx commented on #1229
I see. Thanks for replying.

[2019-10-21 19:13] ahkelly commented on #1222
Not sure if you are new or not to using paypal api's/sdk? but they seem to have a policy going back as long as I can remember (more then a decade) to have the worst / most confusing / disorganized (broken / obsolete links) documentation of any tech company their size that I am aware of. It is very frustrating as they clearly seem to try but their whole platform is so discombobulated I pity the doc

[2019-10-22 12:44] karanpratapsingh opened #1235 "Open mobile app on checkout?"
### Description

Is there an option or a way to trigger the mobile app to continue with the checkout flow when the user clicks the `pay with paypal` button, as right now it opens up a new tab and asks to login?

Thanks

[2019-10-22 19:52] samighawi commented on #1229
FYI, I got an answer from paypal that it cannot be changed

[2019-10-23 03:12] WangWinson commented on #1218
Hi guys, please do help to look into this.
I can create very simple script to reproduce it. and see also the error from console.

![](https://files.slack.com/files-pri/T3T9KQULR-FPNUH2ECC/image.png)

[2019-10-23 18:58] richardscarrott commented on #1222
@ahkelly Yeah I'm new to PayPal and frankly I'm shocked at the state of their APIs + docs -- I integrated with Stripe recently which in comparison is an absolute dream, solid documentation and really well thought out APIs.

Of course, there's always a reason things are the way they are so I don't want to knock anybody working hard on PayPal APIs as I'm sure they're fully aware of the problem. Woul

[2019-10-23 19:08] richardscarrott opened #1236 "`onShippingChange` doesn't receive the full shipping address"
### Description

I'm unable to verify the shipping address via our shipping provider as `address_line_1` isn't surfaced in `onShippingChange`.

This means I can't let the customer know within the PayPal UI that it's an unsupported shipping method and instead have to verify it in `onApprove` and show them an error in our UI, asking them to go back through the PayPal flow.

I wondered whether this w

[2019-10-23 19:31] cabintech commented on #1158
OK, so this has become worse in some recent update. Our work around of returning a Promise() from onClick() no longer works... no matter what we return from onClick() neither the onError() or onCancel() handlers get called. In fact, returning a Promise that does a subsequent reject() no longer works at all - the PayPal window is not dismissed, it just sits there with an infinite spinning icon.

So

[2019-10-23 20:33] bluepnume commented on #1158
Hi @cabintech

Can you share an example of the code you're using here? If the window isn't dismissed that's problematic. We'll look into this right away.

`onCancel()` is designed only for user-initiated cancels, not onClick rejections. It's unlikely we'll change that unless there's something that it's not possible to handle directly in onClick.

[2019-10-23 20:34] bluepnume commented on #1158
I'm trying this and it still appears to work for me...

[code]

[2019-10-24 14:36] KaiBMP opened #1238 "Payer information not shown in Standard Card Fields"
When creating an order that already includes the payer's information (like name, address, etc.), this information is not filled into the payment form when the customer uses the Standard Card Fields. For reproduction, one can use the code from the [documentation](https://developer.paypal.com/docs/checkout/integration-features/standard-card-fields/#best-practices) -- here, the payer's details are on

[2019-10-25 10:23] iam-ben opened #1239 "reviseSubscription"
Hi there,

I have been digging around all paypal docs and can't find any documentation for the reviseSubscription for the smart button.
Thanks.

[2019-10-26 02:07] 719media opened #1240 "extra margin unable to escape"
The paypal buttons contain a style like

[code]

Anyway, I'm not sure why the need for "display: inline-block;" but it jacks up top/bottom spacing because it will add a margin due to whitespace between the closing tags of this element and its parent.

If you look at the sandbox playground at
https://developer.paypal.com/demo/checkout/#/pattern/checkout

And view source, you can see the extra margi

[2019-10-26 02:10] 719media commented on #1240
Without funding and tagline:
![Screen Shot 2019-10-25 at 7 09 26 PM](https://user-images.githubusercontent.com/5942229/67612815-076a4380-f75b-11e9-8223-316c20a96f00.png)

[2019-10-26 07:59] 719media commented on #1240
A workaround is to make the element rendering the button use display: flex;

[2019-10-26 14:31] fstilman commented on #1224
Same bug happens here. But no error is shown on console, even using locale parameter. Any news on this?

Also, I have noticed the same error on Smart Buttons demo site.

[2019-10-28 17:34] SuperUserNameMan commented on #1202
I'm having the same issue currently in sandbox mode.

It worked once the 28 oct 2019 at 15:08:48 CET, then all subsequent tests failed.

[2019-10-29 21:42] kgrimes opened #1244 "Error: Client side payment execute is only available for REST based transactions at Object."
### Description

When a customer tries to checkout using a credit card, as a guest (with no paypal account), where on the dev (sandbox) site works fine. But on Production site throws an "Error: Client side payment execute is only available for REST based transactions". Code:
`<script  src="https://www.paypal.com/sdk/js?client-id=<%= PaypalAPIkey %>&commit=true&locale=<%= BZiShows.com.helper.getLan

[2019-10-30 10:02] shrayasr commented on #1077
@bluepnume et. al.

This is an issue that I'm facing as well. And as @springknees pointed out, it still happens on the demo page. Are there any plans to add this issue to your roadmap soon? It would be really helpful make this already great SDK even better.

[2019-10-31 18:52] eqcb opened #1245 "Standard Card Fields - List of country availability"
I tried to find this but wasn't able. I'm in Brazil and I'm using the sandbox environment. The new standard card fields are not showing to me.
Is is a country restriction or sandbox restriction?

[2019-10-31 19:28] Dhimanswadia commented on #1244
Hey @kgrimes Thanks for reporting this issue and for using PayPal 😄 . I work on the checkout team at PayPal and we were able to reproduce the bug and we pushed a fix for it yesterday. Could you verify on your end if you are still facing the issue?. This bug was on the new experience that you posted screenshots of(url: `checkoutweb/signup`) so you might not get the flow each time based on the A/B t

[2019-10-31 19:46] kgrimes commented on #1244
Hello Dhiman, thank you for the response! After I submitted the issue the developer sent me a message stating that the title and description of the issue was incorrect, so I will be editing it as soon as I get the description from them.

My apologies for the confusion.

Best Regards,

Kevin Grimes |  Engineer, Merchant Technical Support (MTS),  Global Professional Services – NA

From: Dhiman Swadi

[2019-10-31 20:55] Dhimanswadia commented on #1244
@kgrimes Sure, Do let me know but we did push couple bug fixes for the flow in the screenshots so hopefully its taken care off.

[2019-11-04 14:27] leomp12 commented on #1245
@eqcb doesn't work for Brazil, it's a country restriction.
I also tried, it didn't work at all, I talked to the people of PayPal Brazil and they confirmed me...

[2019-11-04 14:29] leomp12 commented on #1224
It didn't work at all, I talked to the people of PayPal Brazil and they confirmed me it's not available for Brazil yet.
Not sure, but may not be available for Mexico either...

[2019-11-04 16:32] KaiBMP commented on #1238
The error doesn't occur anymore, so this issue seems to be solved.

[2019-11-04 16:32] #1238 closed

[2019-11-05 02:39] khanghoang commented on #1224
@leomp12 @fstilman sorry for the late reply, for some reason this wasn't on top of my inbox.
As of today, Standard Card Fields doesn't support **buyers in MX, BR and RU.** The popup will be shown after buyers in those countries click on the credit card icons. (you can test it by a) passing the `locale` to the sdk's url or b) setting en_MX as your primary locale in your browser)

We also do another

[2019-11-05 23:42] penguinstampede opened #1246 "ERR_NAME_NOT_RESOLVED in sandbox"
I don't know if this is related to #1232 but it's a similar error.  When trying to load buttons on my checkout page in sandbox mode, Chrome's console keeps showing an ERR_NAME_NOT_RESOLVED.  Switching to a production client ID fixes this.  It looks like `tracking.qa.paypal.com` is not resolving?  I'm also not sure why this tracking is running as it looks like it's for muse... but I could be misrea

[2019-11-07 03:26] buggoing opened #1247 "can not specify subscriber when creating subscription"
### Description

I specified subscriber in the code, but the subscriber in the webhook is the buyer's paypal account information, not the one I specified in the code
- My code
[code]
- The `paypal.version` from your browser console
"5.0.85"

this is the result of webhook, the subscriber is not the one i specified in the code
![511573097062_ pic](https://user-images.githubusercontent.com/16204738/6

[2019-11-07 11:03] ravishekhar commented on #1247
@buggoing Can you please provide the Subscription ID.

[2019-11-07 11:09] Deam94 opened #1248 "Paypal v5 sdk checkout button still have problems with -unsafe-inline- unsafe-eval script [csp]"
### Description

EDIT
--------------------------
I found data-csp-nonce is now available to add:
https://developer.paypal.com/docs/checkout/reference/customize-sdk/#csp-nonce
But this does not solve unsafe-eval errors.
-------------

Im using the latest paypal sdk v5, i got told csp inline-script problems should be resolved, but i still got errors refused to evaluate and execute inline script:

[c

[2019-11-07 11:47] buggoing commented on #1247
I am testing in sandbox environment, this is a newly created Subscription ID: `I-36KMKUR1SMLJ`
Thanks!

[2019-11-07 11:52] ravishekhar commented on #1247
With the provided Wehbook Id we see following subscription `I-K2L2MMSCH21K`.
The buyer who approved the subscription is the same as subscriber id mentioned on webhook. This is expected behaviour.

[2019-11-07 12:52] buggoing commented on #1247
As you can saw, in the code, the subscriber's email is `customer@example.com `, but in the webhook the subscriber's email is `sb-zswls522827@personal.example.com`, they do not match
this is the request data from browser's console
![551573131111_ pic](https://user-images.githubusercontent.com/16204738/68390549-7ce50380-01a0-11ea-8e65-4d73bc71a764.jpg)

this is the response from browser's console
![

[2019-11-07 14:09] buggoing commented on #1247
After many tests, i found an phenomenon, if i logged in paypal, then do the subscription, the subscriber's info in the webhook is the paypal account's email, not the the one i specified in the code. But, if i open an incognito window, which means no cookies about paypal accunt's info,  the subscriber's info in the webhook is the one i specified in the code. So, it seems like the subscriber i speci

[2019-11-08 09:13] ianhk opened #1249 "Inline card payments fail with ORDER_NOT_APPROVED"
We are seeing many ORDER_NOT_APPROVED errors since 20:25 GMT on 7th Nov.

There has been a recent smart buttons change that means clicking on a card icon prompts for card details inline within the current page instead of popping up a new window.

The ORDER_NOT_APPROVED error can be reproduced by making payment using this new inline card entry. PayPal account payments continue to work fine.

We hav

[2019-11-08 09:28] ianhk commented on #1249
If the card funding option is disabled (removing the icons) then making a card payment in the popup window works as expected.

[2019-11-08 10:22] ianhk commented on #1249
I should add we are creating and capturing the order server side. It's the final /v2/checkout/orders/XXX/capture that is failing.

[2019-11-08 16:21] leomp12 commented on #1224
Hey @khanghoang,
At the truth it stills showing the error on Firefox:

![Screenshot_2019-11-08 Finalizar compra · My Shop](https://user-images.githubusercontent.com/10326572/68493030-71d6b580-022a-11ea-8dd8-b438cd830059.png)

Works on Google Chrome.

[2019-11-08 17:05] cerecerorodrigo commented on #1224
I still have it in windows using Chrome. Weird some users can pay and some cannot since it seems to not be supporting Mexico

[2019-11-09 13:39] pacoloco71 opened #1250 "RESOURCE_NOT_FOUND error when creating subscriptions"
### Description

I was following the guide under [https://developer.paypal.com/docs/subscriptions/integrate/] in a sandbox environment. I was able to create a product and a plan with Postman. Listing the plan's detail works, the plan is active:

[code]

I use this code to embed the buttons to my web page:

[code]

This is the error that is thrown:

[code]

### Steps to reproduce

1. Clicking the P

[2019-11-12 16:54] eqcb opened #1251 "Sandbox Subscription Order Status"
I'm posting here as I cant find the answers for my issues anywhere in the docs, the references, dev support community or the internet.

I'm using the Paypal Buttons to set up a Subscription on the sandbox environment. The Plan is all previously set up and I go through the client flow of loging in and approving the subscription. Upon finishing, the buttons code calls the **onApprove** function that

[2019-11-12 21:47] binarykitchen opened #1252 "Broken main field"
package.json has a bad `main` field

[code]

but there is no index.js in the root folder. This is breaking when I want to require this package in my app code.

[2019-11-13 07:23] digitalidentit4d commented on #436
Request to resarvetion funding mone

[2019-11-13 10:39] stevethatcodes commented on #1039
+1 for this, having to jump through hoops like this to utilise this library is really painful!

[2019-11-13 11:25] ramboge opened #1253 "paypal button not generating"
when trying to add item to the card from our website, paypal button is not rendering. when looked into developer tools, please check below screen shot:
![image](https://user-images.githubusercontent.com/25972786/68759730-47279b00-0636-11ea-9b2b-8fc65f8bc294.png)

[2019-11-13 15:00] djmaze commented on #1202
Same problem still in the Sandbox for me.

[2019-11-14 02:50] jamesg1 commented on #1172
I also experience this with setting up paypal/braintree. I'm following the standard client setup guide - https://developers.braintreepayments.com/guides/paypal/client-side/javascript/v3#basic-configuration.

When calling `await paypal.Button.render(..)` (`https://www.sandbox.paypal.com/smart/button?env=sandbox&`) it seems to download the whole `checkout.min.js` even though it has already been load

[2019-11-14 14:19] lucascco commented on #1107
Hi, I faced the same issue using StencilJs, some solution new?

[2019-11-14 18:28] allenchua commented on #1239
Guys please do help. I too tried finding docs to revise a subscription. did not get any.

[2019-11-15 03:59] allenchua commented on #1239
this finally worked for me
paypal.Buttons({

  createSubscription: function(data, actions) {
    return actions.subscription.revise('I-qqqqqqqqqqq',{
      plan_id: 'P-qqqqqqqqqqqqqqqqqq',
      start_time: 'qqqqqqqqqqqqqq'
    });
  },

  onApprove: function(data, actions) {
    console.log(data.subscriptionID)
  }

}).render('#paypal-buttons');

ref https://github.com/paypal/paypal-smart-payment

[2019-11-15 09:33] VivekVikranth opened #1254 "PayPal buttons border disappearing for different screen scaling levels"
### Description

Paypal smart button's border styles are disappearing when the user screen layout scale is not in 100% (Please see the attached screen shot for behavior and scaling size). also the recommended screen scaling size (example: 100%, 150%..,) varies with monitor screen sizes (example: 1280 x 800. 1366 x 768..,)

- Screenshots or videos that show the issue

![smart-buttons](https://user-

[2019-11-15 09:42] davidecampello commented on #1246
I have the same error...

[2019-11-15 22:10] ekiametis commented on #1232
I have the same error.

[2019-11-15 22:11] ekiametis commented on #1246
I have the same error

[2019-11-17 02:01] spencersmb commented on #1029
@bluepnume Hi, I am trying to figure out how to upgrade but the link you provided, I'm having a hard time with figuring out what to do. Currently My script tag looks like this:
[code]

Any help is greatly appreciated!

[2019-11-17 08:14] omkar184 commented on #1246
I'm getting the same error

[2019-11-18 14:57] VovaTer opened #1255 "Android - PayPal module is quite small by height after authorization"
![f5d98272-b8cd-47d9-b94f-edc3243eda2d](https://user-images.githubusercontent.com/53568482/69062910-a1f13600-0a2c-11ea-94b4-487b4384b2ec.jpeg)

Steps:
1. Click PayPa Express Checkout butto
2. Fill PayPal authorization form by correct info and proceed to a list of linked cards.
3. Observe PayPal module.

Actual: PayPal module is quite small by height. It became smaller because of keyboard and didn'

[2019-11-18 15:02] VovaTer opened #1256 "iOS/Android - PayPal Express Checkout requests authorization twice"
![the_second_authorization_request](https://user-images.githubusercontent.com/53568482/69063391-79b60700-0a2d-11ea-89c6-303b5d0d450f.png)

Steps:
1) Click PayPal Express Checkout button.
2) Fill PayPal authorization form by correct info and confirm it.

Actual: One more empty PayPal authorization form appears and required to be filled once again before go forward through the process.Expected: A li

[2019-11-19 00:20] daneesv commented on #1107
If you're use jQuery, "$(document).ready" resolve the problem.
**$(document).ready(function(){**
        paypal.Buttons({ }).render("#payment-subscription-paypal");
**});**

[2019-11-19 12:24] ianhk commented on #1249
Merchant technical support have confirmed this issue is now fixed.

[2019-11-19 12:24] #1249 closed

[2019-11-19 16:25] deviousknight opened #1258 "Can't login in paypal modal on IOS/Android webview (seems like missing cookies and CSRF issue)"
### Environment
braintree web sdk + paypal checkout js + react native + webview (the same for 5 and 7 versions)

### Description
Hello guys, we are having troubles with PayPal in webview
Currently almost no-one from our customers could login into account, paypal instead just keeps refreshing.
This is video from our app:

![iphone](https://user-images.githubusercontent.com/19371283/69161905-e815ca8

[2019-11-19 17:45] ravishekhar commented on #1251
Hey, Was on holiday so could not follow up.

You do not need to capture the order.

Order Status is irrelevant for subscription.

It should be a 4xx from our end, will get it fixed.

You should see all transactions within the subscription using subscriptions api https://developer.paypal.com/docs/subscriptions/full-integration/subscription-management/#list-transactions-for-a-subscription

Order Id

[2019-11-20 17:07] dmalis commented on #1246
here too

[2019-11-20 23:05] Ronhurst18 opened #1259 "My money"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2019-11-21 09:39] tsikah commented on #1246
Same here :(

[2019-11-21 13:56] TheDutchCoder commented on #1162
You can wrap it in something with a relative position and z-index 1 to prevent the item from interfering.

Something like:
[code]

[2019-11-21 17:58] trainerbill opened #1260 "(feature request) - Allow multiple window.paypal objects."
Since we are building the sdk based on query parameters it will be important that a person can load multiple scripts.  So if I want to disable cards on one set of buttons but not the other.  I tried saving window.paypal to a map with the params as the key and use each one when i need it.  the result is that when you call render on the second one the first one is destroyed.  I think this will be im

[2019-11-21 20:34] KenLange314 opened #1262 "Use PayPal Checkout with Full-Page Redirect and without Smart Buttons"
I'm migrating an existing server and mobile app that currently uses Mobile Express Checkout to use PayPal Checkout.  (Because MEC is now deprecated)..

I want to integrate PayPal Checkout on the server side without modifying the Mobile App.

Can I get PayPal Checkout to work with a Full-Page redirect without using the Smart Buttons and Javascript SDK?

On the existing system, the flow is as follow

[2019-11-22 22:52] fstilman opened #1263 "Translation errors and duplicate field names in Standard Card Fields"
When selecting Argentina as Country in Standard Card Fields, some errors occur (screenshot attached)

![Screenshot from 2019-11-22 19-47-19](https://user-images.githubusercontent.com/32549461/69466000-991c9f00-0d61-11ea-8fe1-0349b4ee188d.png)
:

a) the field "Expires" is incorrectly translated to "Fecha de fecha de vencimiento". This should be "Fecha de vencimiento" or, better "Expiración"

b) the

[2019-11-24 00:52] apapazisis opened #1264 "feature request. Add the ability to trigger(click) the PayPal button using JS."
Would be usability improvement to add the ability to trigger(click) the paypal button through Javascript and please remove iframe because it has disadvantages.

[2019-11-24 20:03] JapinderSandhu commented on #1246
same :(

[2019-11-25 13:44] eqcb commented on #1251
Hi thank you for the reply.
One thing still not OK, that is the transactions response. As I said, so far from all subscriptions I created on the sandbox during tests, only one has transactions present when hitting the subscription transactions endpoint. All others come with an empty JSON object "{ }"

[2019-11-25 16:20] ravishekhar commented on #1251
Please provide the `Paypal-Debug-Id` returned in API response headers. Will check the issue.

[2019-11-26 09:22] nevenblazic opened #1265 "HOSTED_FIELD_NOT_ALLOWED"
Hi,
i am integrating paypal smart buttons to my web application and so far i have same issue with both sandbox and live. While paypal button itself works fine and i can process payment without any issues other option "Debit or Credit Card" is not working for me.

When i click on "Debit or Credit Card" and populate that form, after submit i am getting next error:

[code]

Here is my code:
[code]

S

[2019-11-26 13:36] eqcb commented on #1251
This one for example:
Subs. ID: I-GPG8BBG1EVVN
Debug ID: bf14c07784180

[2019-11-26 23:18] xtrasimplicity commented on #1264
This has been requested before and has been rejected due to a policy at PayPal. :/
https://github.com/paypal/paypal-checkout-components/issues/522

Note: I'm _not_ affiliated with PayPal in any way.

[2019-11-26 23:41] xtrasimplicity commented on #139
@bluepnume, would you guys be open to a callback that executes _before_ the popup window is loaded? I'm looking to submit another form, asynchronously, before opening PayPal, to simplify the user experience, but am unable to do so.

I was going to use the `validator.validate()` callback to do this, but it appears it has been removed from the production library.

[2019-11-27 01:44] treyhunner commented on #1246
I am experiencing the same error. Waiting for the eventual timeout slows my QA page load times drastically.

[2019-11-27 11:13] castan1c commented on #1246
same...

[2019-11-28 18:27] mar-ku commented on #1107
This solution also worked for me on a Vue js application; passing the container div via slots from a a parent component.

[2019-11-30 17:32] Seva98 opened #1266 "Reopening #132: Error on closing PayPal window during initilization"

[2019-11-30 17:34] #1266 closed

[2019-12-01 14:39] envatic commented on #1246
Same here, customer thinks its an issue with code and now we going in circles, any fix anyone?
![Screen Shot 2019-12-01 at 17 38 47](https://user-images.githubusercontent.com/48434697/69915558-7b39f300-1461-11ea-903b-933b1a2e3709.png)

[2019-12-02 10:12] ravishekhar commented on #1247
We are looking into this. We will get back to you.

[2019-12-04 11:52] lukasondrej commented on #1180
Has there been any progress on this? It's very inconvenient to not be able to dynamically set the currency. I'm facing the same situation and reinjecting the script seems like an awful way to do it.

[2019-12-04 12:14] Misiu commented on #1230
Any updates?

[2019-12-04 13:38] Misiu commented on #1107
@bluepnume the same error occurs on your website.

Steps to reproduce:

1.  Go to https://developer.paypal.com/demo/checkout/#/pattern/client
2.  Click on PayPal button
3. Close the popup windows
4. The error occurs

![image](https://user-images.githubusercontent.com/1741838/70146991-b1ff4b80-16a3-11ea-9e98-2360d9e45808.png)

[2019-12-09 08:35] npc-vicki commented on #1230
+1

[2019-12-09 16:16] guimabdo commented on #1224
I'm getting the same error from Brazil on a Safari set to english.
It shows a black button "Debit or Credit Card" that starts the inline flow.

If I set Safari language to portuguese (Brazil) then it renders the credit cards buttons (visa, mastercard, ames, etc) that starts the popup flow.

[2019-12-09 16:37] leomp12 commented on #1224
@guimabdo

Not sure, but may not be available for Mexico either...

Mesmo no popup flow você vai acabar tendo problemas depois com parcelamento, na verdade segundo o pessoal do PayPal Brasil nem esta Checkout API funciona pra nós ainda.
Então apesar de depreciado o jeito é usar o checkous.js https://developer.paypal.com/docs/archive/checkout/ e Payment API...

[2019-12-10 15:07] theoinglis commented on #1246
It would be good to get an update on this as it seems to have been a problem for a while now.

It was working fine for me yesterday and now it seems to always fail in all browsers with the sandbox account with the other error referenced: https://github.com/paypal/paypal-checkout-components/issues/1232

[2019-12-11 08:35] KPowroznik commented on #1203
How looks your CloseAndReturnToParentPage function? I see that You didn't return action.orders.capture() function in your onApproveMethod.

[2019-12-11 11:37] macgrafic commented on #1246
I have the same error

[2019-12-11 15:08] fukzaja opened #1269 "S"
Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/checkout](https:/

[2019-12-11 15:08] fukzaja commented on #1269
@dshaw

[2019-12-12 02:00] nousacademy commented on #1219
+ 1

[2019-12-12 17:41] ElesGergo commented on #1246
Same here, any updates?

[2019-12-13 15:58] Dianne1404 opened #1271 "Hi thank you for the reply."
Hi thank you for the reply.
One thing still not OK, that is the transactions response. As I said, so far from all subscriptions I created on the sandbox during tests, only one has transactions present when hitting the subscription transactions endpoint. All others come with an empty JSON object "{ }"

_Originally posted by @eqcb in https://github.com/paypal/paypal-checkout-components/issues/1251#i

[2019-12-14 14:57] AlessandroGambaro commented on #1246
If you are using euro, you need to:
1. https://www.paypal.com/sdk/js?currency=EUR&client-id=
2. purchase_units: [{
                                    'intent': 'CAPTURE',
                                    amount: {
                                        currency_code: 'EUR',
                                        value: in string value with two decimal
                                    }

[2019-12-14 18:07] JapinderSandhu commented on #1246
This worked for me, in my case I did CAD for canadian currency

[2019-12-17 02:08] mayolivares91698 opened #1272 "ASBN;'"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2019-12-17 02:08] #1272 closed

[2019-12-17 02:08] mayolivares91698 commented on #1272
K

[2019-12-18 17:03] cycle-path commented on #1265
I'm facing the same issue. Please assist

[2019-12-18 17:05] mib-kamel commented on #1265
i have the same problem

[2019-12-19 13:58] thyagomuris commented on #1265
I have the same problem

[2019-12-20 06:49] jwarhs commented on #1230
I see the same issue in Firefox and Chrome, but not in Opera

[2019-12-20 16:27] poops opened #1273 "404 on https://www.paypalobjects.com/api/checkout.4.0.308.js"
### Description

Requesting https://www.paypalobjects.com/api/checkout.4.0.308.js throws a 404, which results in the Paypal checkout button not working

[2019-12-20 17:12] kevinantonacci commented on #1273
Also experiencing the issue here.

[2019-12-23 11:36] riverside commented on #1265
I've exactly the same problem

[2019-12-24 05:53] Zirconia-Wolf commented on #1273
I've been getting "404" errors on various sites lately whenever I try to use their PayPal button; Github is no exception. I hope this gets fixed soon!

[2019-12-24 05:55] bluepnume commented on #1273
@poops are you still seeing this issue? I'm unable to reproduce.

@Zirconia-Wolf -- which specific urls are you getting 404s for?

[2019-12-24 13:37] poops commented on #1273
@bluepnume no, it seems to be fixed now. thanks!

[2019-12-24 13:37] #1273 closed

[2019-12-25 16:13] nevenblazic commented on #1265
Reply from support:
[code]

This is still a bug in js sdk, because its rendering option that is not going to work for all customers.

[2019-12-26 01:58] fernandops26 commented on #1265
I have the same problem, this is critical.

[2019-12-30 08:36] unni5593 commented on #1224
when i try to pay through debit or credit card payment in Smart Payment Buttons in cc avenue ,i'm getting the same error "something went wrong please try again"

[2020-01-06 09:52] ravishekhar commented on #1251
I have been trying to reproduce the issue which you faced with no luck.
API Reference:
https://developer.paypal.com/docs/api/subscriptions/v1/#subscriptions_transactions

Please log an issue if you are still facing missing transactions when using above API.

[2020-01-06 09:52] #1251 closed

[2020-01-06 09:53] ravishekhar commented on #1271
I have been trying to reproduce the issue which you faced with no luck.
API Reference:
https://developer.paypal.com/docs/api/subscriptions/v1/#subscriptions_transactions

Please log an issue if you are still facing missing transactions when using above API.

[2020-01-06 09:53] #1271 closed

[2020-01-10 11:53] thyagomuris commented on #1265
I found a behavior that generates this error, may be a coincidence but I think everyone can test and verify if the problem has been resolved.

I was using a test card I found on the internet and this error always pops up.

When I started using the cards generated in the paypal dasgboard (https://developer.paypal.com/developer/creditCardGenerator/), the error is no longer happening.

[2020-01-11 01:43] IrvinFan commented on #1265
I have the same finding as @thyagomuris did. You can't use common testing CC like 4111111111111111 or 4242424242424242. You have to use one that is linked to your sandbox buyer account: https://developer.paypal.com/developer/accounts/.

[2020-01-11 14:56] samalone commented on #1224
I'm getting the same issue here in the US. It happens both on the live and sandbox servers. Clicking the _Debit or Credit Card_ button brings up the proper form, but when you enter the payment information and click _Pay Now_ in the inline form, you just get spinning arrows followed by "Something went wrong. We'll take you back to checkout so you can try again." If I'm reading the console correctly

[2020-01-12 09:41] evamedia commented on #1140
How about a choice of messages to choose, my client will ship anywhere, but can't standardise for certain countries, so would like to return "Please contact us  to purchase this item with the correct shipping for your country."

[2020-01-13 16:32] thedavos commented on #1265
Same problem, any update on this?

[2020-01-14 10:32] LarozeMultiservices opened #1274 "Error: Window closed"
I'm clicking the paypal button, but closing the window before it loads. This is the same issue as the following:
https://github.com/paypal/paypal-checkout-components/issues/132#issuecomment-265964573

The window closed error in console is consistent across the following browsers we use in our company. Is there anyway to stop this error?

### Affected browsers
- [ ] Chrome --- error thrown: err: "E

[2020-01-14 20:18] cjsimmons89 commented on #1202
Still having the same problem in Sandbox, same as @djmaze only 2 months later. Any releases coming to fix this in sandbox?

[2020-01-14 22:27] IrvinFan commented on #1016
Having the discount attribute is good. But can we show the discount as negative number in the modal? @tctrini

![Screen Shot 2020-01-14 at 1 48 03 PM](https://user-images.githubusercontent.com/5523239/72388025-bfafe400-36d9-11ea-8cf9-3b6c3a13ea5f.png)

[2020-01-14 23:09] tctrini commented on #1016
We are looking into it.  Proposal is to rename it as.....

Discount (-)                                        $18.12 USD

[2020-01-15 05:00] Anas96Awan-prog commented on #431
Have A look on this, this had solved my issue of Validation Error Popup upon Paypal Button Click

[code]

Thanks to this : https://developer.paypal.com/docs/checkout/integration-features/

[2020-01-16 10:51] nevenblazic commented on #1265
It looks to me that this issue is only affecting specific markets/countries  and probably PP does not really care about those markets to actually fix the issue.

[2020-01-17 14:31] brayanL commented on #1107
What is the solution PayPal Team?

[2020-01-17 14:51] Misiu commented on #1107
@brayanL I contacted PayPal and the only solution they suggested it so use REST API and not use this component.
I also got info that my description (almost identical to my comment) will be pass to the development team, but I didn't get any reply from them, still waiting for info. I'll let you updated if I get anything.

[2020-01-17 14:55] Misiu commented on #1274
More details and guide how to recreate the error here: https://github.com/paypal/paypal-checkout-components/issues/1107#issuecomment-561649364

[2020-01-19 20:56] milosb793 commented on #105
Hey @bluepnume, would you mind to tell what was the issue? I'm facing the same error on the localhost, not sure is it up to me or something else.

[2020-01-21 03:27] penguinstampede commented on #1246
Adding currency=USD to the script tag does clear the error for me.  Closing.

[2020-01-21 03:27] #1246 closed

[2020-01-21 05:39] Khailand69 commented on #1246
H

Gooh

[2020-01-22 19:46] beamwerks commented on #1138
6 months later, any update?  subscriptions are a pita with smart buttons so far

[2020-01-22 23:56] SuarezAlexis commented on #1224
I'm facing the same issue testing in the sandbox environment. Only pay with PayPal works. Credit or debit card shows the next message: "Something went wrong. We'll take you back to checkout so you can try again".  However the transaction succeeds when I try US cards from the card generator.

[2020-01-23 04:47] unni5593 commented on #1224
I think it's the address issue.In sandbox test we provide a test address details .Instead of that give a proper address in Billing address section.give proper zip code within the selected city and test it. when i tried this i got the proper response.

[2020-01-23 20:54] dingomecloud commented on #1224
Hi there guys first time here. Sorry in advance for my english, I am from Costa Rica so english is not my mother language.

It is "great" not to feel alone with this issue I am having since months ago and seems PayPal has not fixed it so far.

I am creating an app that use the smart payment buttons which I consider are very useful, except for this annoying error.

Hey @khanghoang, how are you man?

[2020-01-24 08:00] tineasydevel commented on #431
God bless you! It was a headache finding that on the documentation itself

[2020-01-24 08:00] dani-easydevel commented on #431
God bless you! It was a headache finding that on the documentation itself

[2020-01-24 17:13] khanghoang commented on #1224
hi folks, I'm really sorry for the late reply.

**to all: we display the `Something went wrong. We'll take you back to checkout so you can try again` message for various errors. It could be:**
**- Wrong addresses**
**- Wrong card numbers or cards have been used multiple times (this issue is on us since it should work on sandbox env)**

@samalone what was the credit card you used to test? The `4111

[2020-01-24 17:47] kevinantonacci opened #1276 "404 File not Found: https://www.paypalobjects.com/api/checkout.4.0.310.js"
Receiving a 404 error to the following URL: https://www.paypalobjects.com/api/checkout.4.0.310.js.

This causes a broken promise resulting in the Paypal button not working when using the paypal-checkout npm package (https://www.npmjs.com/package/paypal-checkout)

This issue also occurred with the 4.0.308 release (closed issue #1273). It seems as though the NPM package is updated and released befor

[2020-01-24 19:50] SuarezAlexis commented on #1224
https://developer.paypal.com/developer/creditCardGenerator/
It works just fine for me. I only had to specify the locale.

[2020-01-24 22:47] bluepnume commented on #1276
Looks like there was an issue rolling out this file. Should be resolved now. Please let me know if you still see the issue.

[2020-01-24 22:47] #1276 closed

[2020-01-24 22:47] #1259 closed

[2020-01-24 22:47] #1269 closed

[2020-01-27 08:30] aharding378 commented on #1258
@deviousknight were you able to resolve this? I am getting the same issue and I have not been able to solve the problem.

[2020-01-27 12:13] deviousknight commented on #1258
unfortunately no, we switched to mobile browser implementation

[2020-01-27 14:43] aharding378 commented on #1258
Do you have a link to how that is implemented?
I am in a really bad situation becase people are unable to finish their checkout and I a getting a lot of inquiries. Thanks.

[2020-01-27 16:27] deviousknight commented on #1258
its just regular web paypal but inited in browser that was launched via app. After payment completion you could return user to app via deeplink

[2020-01-27 16:29] deviousknight commented on #1258
for browser management we are using InAppBrowser

[2020-01-28 01:41] aharding378 commented on #1258
Ahh got it, thanks

[2020-01-28 17:26] dingomecloud commented on #1224
Hi guys and thank you @khanghoang for your response.

Khang, you wrote that the error shoud/must be because:

- Wrong addresses
- Wrong card numbers or cards have been used multiple times (this issue is on us since it should work on sandbox env)

Ok, about the wrong addresses, is not my case, the addresses are complete and properly specified.

About the wrong cards is not my case either because we

[2020-01-28 17:48] dingomecloud commented on #1224
I had the error again minutes ago and as you can see @khanghoang, the data submitted is correct.

[2020-01-28 19:29] githubtraveler commented on #1230
Any update on this item ? payment via Chrome v80 inside an iframe won't work. Chrome v80 is going to be released on Feb-4th, 2020.

[2020-01-28 20:40] nsuria-e-xact commented on #1230
+1  FYI: the breaking features on pre-v80 Chrome versions can be enabled by turning on the following flags on `chrome://flags`:

- SameSite by default cookies
- Enable removing SameSite=None cookies
- Cookies without SameSite must be secure

[2020-01-29 03:36] bluepnume commented on #1230
Hi all. Is anyone seeing any actual bugs they can reproduce here? Or just warning messages?

We're aware of this change in chrome and working to make sure nothing will be affected. If you see anything actually breaking, please let me know as soon as possible. Thanks!

[2020-01-29 07:39] moax6629 commented on #1079
If anyone else stumbles upon this issue then try loading the script with www.paypal.com instead of paypal.com as per documentation.

[2020-01-29 10:42] gnorbsl commented on #1258
Same issue here...

[2020-01-29 13:36] riv333 commented on #1258
We have the same issue in Android. I think the problem is that CORS is not working because in the Webview in the InAppBrowser the login opens in the same window so that the allowed origin of the requested ressource not fits. I could solve the problem by adding the URL in the Header for `"Access-Control-Allow-Origin"` of the root website in the Response from PayPal by overriding the `shouldIntercep

[2020-01-29 16:31] chadacious commented on #1230
I have seen that some extensions and sites, like the one from https://twoseven.xyz/, won't allow the sites hosted in iframes to use cookies for authentication basically rendering the tools and services broken. I was actually working on a similar tool that requires a site hosted in an iframe to use cookie based authentication and I just verified that this will also break that. Perhaps that is the p

[2020-01-29 19:03] nsuria-e-xact commented on #1230
@bluepnume We host checkout pages for clients and have been seeing some errors on our staging sites when we use Chrome v80.

Our failing use case is as follows:

1. User checks out their shopping cart on a **Client** site
2. **Client** site renders a checkout page with an iFrame where **our** payment form is displayed.
3. User clicks a **Checkout with Paypal** button on the form _inside_ the iFram

[2020-01-29 19:08] bluepnume commented on #1230
Can you clarify -- are you using the PayPal JavaScript SDK or checkout.js? Or are you redirecting the user?

Can you share a link where I can try this out?

Redirecting a user to PayPal inside an iframe is not a supported integration. I recommend using the PayPal JavaScript SDK to handle this.

[2020-01-29 19:36] nsuria-e-xact commented on #1230
We use neither. We use something called Paypal Express Checkout.

Specifically, we perform a server-side redirect to https://paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-XXXXXXXXXXXXXXXXXX&useraction=commit

Let me see if I can get a public domain set up for you. But here's a quick demo video of how our iframe redirect works currently in production: http://g.recordit.co/LWEr8hIBOb.gif

[2020-01-31 17:56] jeisele2 commented on #1258
Having the same issue in ios -- this is the response from the client-log request to paypal:

[code]
cookies are definitely enabled (enabled by default in webview, but I made sure with sharedCookiesEnabled={true} thirdPartyCookiesEnabled={true} in my React-Native WebView props

[2020-02-03 14:26] nick-inter commented on #1247
Any updates on this? Have exactly the same issue. I tried to create the subscription both with Subscription API and the Smart Buttons method ('createSubscription' function). None of them sends customer details -- even in production environment.

[2020-02-03 16:36] fandy commented on #1039
Any updates on React docs for this?

[2020-02-05 01:38] Madlani opened #1277 "Invalid Merchant/ClientID"
### Description

Please provide a short description of the issue here, along with:
I'm trying to test out the paypal implementation for my ionic app, but get the error

`PayPal SDK: Request has failed with error: invalid_client - System error (invalid_client). Please try again later. (401) | PayPal Debug-ID: 75ee3a922b144 [mock, PayPal iOS SDK 2.17.0] | Details: (
        {
        "error_descript

[2020-02-05 13:25] danyilkotenko commented on #431
@Anas96Awan-prog Thank you for the solution. But in case of successful validation the user has to double click the paypal button to actually toggle the paypal checkout flow.

[2020-02-06 08:03] Misiu commented on #1230
Any updates?
On developer.paypal.com site I get a lot of errors in Chrome 80:
![image](https://user-images.githubusercontent.com/1741838/73917275-5ded2f00-48bf-11ea-949a-77c7c048ff26.png)

[2020-02-06 10:49] macfiss commented on #431
Quick solution:
[code]

[2020-02-06 19:31] wouldntsavezion commented on #1222
2020/02/06, a new challenger gets in the ring, fists up, ready to code his PayPal checkout with a good jab, but he would soon learn that PayPal-land is hostile and that all that he previously learned will not help him there. He would have to learn everything without a proper doc.

No, but for real this is a rollercoaster.

[2020-02-07 16:29] brettchalupa opened #1278 ""Please switch tabs..." alert triggers intermittently in Instagram's web view browser on iOS"
### Description

Hello. The company I work at is seeing an intermittent issue where a JavaScript `alert` saying "Please switch tabs to reactivate the PayPal window" will get triggered when tapping within the web view of the PayPal payment flow.

Some people at the company I work for and some of our users are triggering the issue regularly, which is interrupting the checkout experience. We aren't s

[2020-02-11 19:30] GJQP commented on #1224
I had the same error, and after I read @khanghoang response and using a correct credit card to test it worked fine; although this is still an issue to show such a generic error message to an incorrect field on a form or using an invalid testing card.

I was able to deliver a better user experience with a change on the behavior of this button when it is specified the [onShippingChange callback](htt

[2020-02-11 19:43] dingomecloud commented on #1224
Hi @GJQP and @khanghoang, I hope you are well guys!

Gustavo, let me try to understand... are you saying to me that you could change the "mode" of payment and by default you show this "old/version" first?

I agree that this "popup" window is a better experience for the user!!! You are great man!

How can I do this Gustavo?

My email is info@dingome.com, we can talk about it via email if you need o

[2020-02-11 20:02] samalone commented on #1224
Our solution was to switch to [Stripe](https://stripe.com).

[2020-02-12 08:59] ravishekhar commented on #1239
A subscription can be revised using following code.
For details on Subscription Revise capability and payload supported in second argument of `actions.subscription.revise` please refer https://developer.paypal.com/docs/api/subscriptions/v1/#subscriptions_revise
[code]

[2020-02-12 08:59] #1239 closed

[2020-02-13 14:53] thanatos11 commented on #1157
there is still a problem with the next_billing_date and cycle processing on the IPN and on the JS SDK callback. basically, the date is not refreshed properly and it is showing in the past.

[2020-02-13 15:09] ravishekhar commented on #1157
@thanatos11  Can you please elaborate on the issue.
Also please share the Subscription Id if you are facing trouble in Sandbox environment, else please contact Support via Chat or email.

[2020-02-16 12:24] thanatos11 commented on #1157
so, i am trying to use the buttons to create a subscription:

the response is the same as the above isues:

{
  "resource": {
    "status": "ACTIVE",
    "update_time": "2020-02-16T11:56:17Z",
    "billing_info": {
      "cycle_executions": [
        {
          "total_cycles": 12,
          "sequence": 1,
          "cycles_remaining": 12,
          "current_pricing_scheme_version": 1,
          "

[2020-02-16 12:29] thanatos11 commented on #1157
also, it seems on the webhook for the payment.compelted behaves the same:
{u'status': u'ACTIVE', u'update_time': u'2020-02-16T12:26:24Z', u'plan_id': u'P-1M9333599L948153DLY4D5MY', u'links': [{u'href': u'https://api.sandbox.paypal.com/v1/billing/subscriptions/I-75SA1TSWUVJP/cancel', u'method': u'POST', u'rel': u'cancel'}, {u'href': u'https://api.sandbox.paypal.com/v1/billing/subscriptions/I-75SA1T

[2020-02-16 12:35] thanatos11 commented on #1157
after 30-40 minutes if i manually query the API, i get the correct answer. the thing is the delay, which is very cvolatile and cannot controll it. even if i implement cronjobs, i am not sure it will process corectly:

{
    "status": "ACTIVE",
    "status_update_time": "2020-02-16T12:31:09Z",
    "id": "I-75SA1TSWUVJP",
    "plan_id": "P-1M9333599L948153DLY4D5MY",
    "start_time": "2020-02-16T08:

[2020-02-16 13:34] shikha9031 opened #1280 "Feature: I am not able to disable address fields on credit and debit card pay."
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2020-02-16 16:55] shikha9031 commented on #1280
Hi All,
I am not able to remove this billing address. Actually in my website I don't need  address fields. So, can anyone tell me how to remove this address

![image](https://user-images.githubusercontent.com/45247254/74608906-1c545380-510b-11ea-9bf6-fda1b2df6c46.png)

Thanks & Regards
Shikha

[2020-02-16 22:54] danilosilvadev commented on #1265
i'm having this too now, omg nobody found a solution until today?

[2020-02-19 09:49] pavs94 opened #1281 "Paypal Sandbox stuck at logging in loading issue"
### Description

Please provide a short description of the issue here, along with:
We are in Paypal Sandbox on clicking pay with paypal the screen does not go past the loading paypal login one.

- Screenshots or videos that show the issue
![image](https://user-images.githubusercontent.com/10599184/74820769-9150a480-5328-11ea-8143-223f92d954b4.png)

- Your code
Node/Express APIs
[code]

- The `payp

[2020-02-20 19:03] wagnerps commented on #1250
Hello,
Any news about this?

[2020-02-20 21:22] pacoloco71 commented on #1250
Found the solution myself: integrating the SDK JS you have to set the client-ID to your real client ID. 'db' for sandbox will not work. Documentation here is wrong.

[2020-02-20 21:22] #1250 closed

[2020-02-23 09:37] gitonthescene commented on #139
FWIW,  get the sense of the [[https://developer.paypal.com/docs/checkout/integration-features/validation/][doc]] but it's not clear from the example how the flow works.  Are the true/false return values in the above comment necessary?  If so, shouldn't they be in the doc?

The example in the doc makes clear how the document is affected by the onClick event, but not how the paypal flow is.  I'm gue

[2020-02-24 17:07] kpejr commented on #1229
Set a max height?:
 <div style="height:500px;max-height:500px" id="paypal-button-container"></div>

[2020-02-26 08:29] ahmadabdolsaheb opened #1282 "Can smart buttons create a subscription and the server activate it?"
I am using smart buttons for subscriptions on the client. I send the subscription id from the onApprove block to the server and the server calls the paypal api to check if the subscription is active and update the db.

The issue is that once the user approves the subscription on the client, the payment has already been captured before I get the subscription id to send to the backend.

I was wonder

[2020-02-26 09:20] ahmadabdolsaheb commented on #1282
@blakejoy, you seem to be a domain expert. I was wondering if you know a solution to this query? thank you

[2020-02-26 09:33] blakejoy commented on #1282
Well you can look into webhooks or IPN to capture the specific event needed to get the data you need

[2020-02-26 09:40] ahmadabdolsaheb commented on #1282
Thanks for the quick reply, @bluelnkd.
Correct, I can get notifications after creation and capture of a subscription, but I would like to add a logic ( lets say check my db) and capture subscriptions selectively after the user's approval.
do you think that is possible using smart buttons?

[2020-02-26 10:44] ravishekhar commented on #1282
@ahmadabdolsaheb You can use below code snippet to avoid inline activate.
Docs https://developer.paypal.com/docs/api/subscriptions/v1/#definition-application_context

[code]

[2020-02-26 11:26] ahmadabdolsaheb commented on #1282
@ravishekhar oh this is beautiful. Thank you :)

[2020-02-26 12:45] ahmadabdolsaheb commented on #1282
I should post to
`https://api.sandbox.paypal.com/v1/billing/subscriptions/sub-id/activate \`
from the server to it active, correct?

[2020-02-26 13:27] ravishekhar commented on #1282
Yes you can use the activate api, details here https://developer.paypal.com/docs/api/subscriptions/v1/#subscriptions_activate

On the same note, can you please help us understand the use case why you do not want to activate the subscription while buyer is still on paypal.com

[2020-02-27 02:55] JeromeDeLeon opened #1283 "Paypal buttons were not visible once clicked "Debit or Credit Card""
Similar issue with [react-paypal-button-v2#44](https://github.com/Luehang/react-paypal-button-v2/issues/44)

[2020-02-27 11:00] ahmadabdolsaheb commented on #1282
I just needed to make sure the user has not donated and is signed in.

[2020-02-29 00:22] h3d-thanhlx commented on #1224
@khanghoang : how is status of this error?

[2020-03-02 07:26] #1282 closed

[2020-03-02 16:47] ahmadabdolsaheb opened #1284 "Can a unique identifier be fed to the smart button and received with web-tokens"
I am trying to handle all of our record updates using web hooks to keep the subscription integration simple and maintainable.

Other than the subscriber email there is no identifier in the webhook that we could query against our db and find the right records to update;

That being said, I was wondering if a user id could be passed to the smart button during subscription creation or activation that

[2020-03-02 16:49] ahmadabdolsaheb commented on #1284
@ravishekhar, thank you for helping out on a related issue. I was wondering if I could get your valuable opinion on this if possible.

[2020-03-03 07:55] ravishekhar commented on #1284
At present there is no support for passing a custom field in subscriptions use case. The support might come in sometime near future. I do not have exact dates though.

[2020-03-04 08:09] #1284 closed

[2020-03-05 08:39] uchathura commented on #1107
I also have the same error. Can anyone give me the solution?

[2020-03-05 08:53] Misiu commented on #1107
@uchathura I've contacted PayPal, I got info that this will be fixed in the next version, but it looks like those were only promises.
Still waiting for the fix.
Try contacting them, maybe you will have more luck.

[2020-03-05 09:03] midesweb commented on #1107
Put the paypal buttons on the main page document, and use slots to render the buttons inside your web components.

[2020-03-05 09:45] giginet2 opened #1285 "paypalobjects.com not loading"
the files from paypalobjects.com  aren't loading from some regions from time to time

[2020-03-05 22:11] dan003400 commented on #992
Payflow should be able to be programmatically started, you can currently see this happening all over the web via old SDKs.

Thanks for making it harder to use PayPal and adding more frictions to customers trying to checkout using PayPal.

[2020-03-05 22:15] dan003400 opened #1286 "Every version makes PayPal worse and limits functionality."
You can no longer start the payflow programmatically. This is a trivial action that can be seen all over the web on sites using old "deprecated" SDKs. (Even on the largest E commerce platform Shopify can programmatically start the payflow process)

<img width="600" alt="image" src="https://user-images.githubusercontent.com/1211542/76031199-de25a500-5efc-11ea-9de7-63cc4588c98c.png">

Reference tran

[2020-03-06 20:40] bluepnume commented on #353
FYI, this commit enables support for shadow-dom/slots: https://github.com/krakenjs/zoid/commit/53cc6e3980478ecc20fd2561449e1303e9c490e5

So next version we push of this sdk should work for shadow dom integrations.

[2020-03-09 19:14] khanghoang commented on #1283
@JeromeDeLeon just want to let you know this is on my list and we'll have it soon.

[2020-03-13 14:09] XEngine opened #1288 "Tab close issue on IE and Edge"
Last 3-4 days maybe more I don't know in IE 11 and Edge giving us strange error only in the pages that has paypal.js initialized. If you land a page that has the paypal express in it, doing nothing and try to leave that page with anything (click back or visit a link in that page), an alert window pops up. This is the exact error you get when you run `window.close()` on IE or Edge.

"do you want to

[2020-03-13 19:28] arthurk777 commented on #1288
We can repro on this page:
https://developer.paypal.com/docs/checkout/

Microsoft Edge 44.18362.449.0
Microsoft EdgeHTML 18.18363

[2020-03-13 19:28] nick-andersen commented on #1288
Also experiencing the same issue

![image](https://user-images.githubusercontent.com/30809707/76653521-0d07d080-6526-11ea-8617-c1549e902176.png)

[2020-03-16 07:40] sfxworks opened #1289 "Apply Access-Control-Allow-Origin for AMP-form usage"
### Description

When trying to impliment paypal checkout buttons/form components from Google's Accelerated Mobile Webpage kit, they require the use of amp-form. amp-form requires CORS to be set. Forms using simple-buttons fail due to no header being present on paypal.com.

[code]

This issue was reported here last year:
https://github.com/ampproject/amphtml/issues/22621#issuecomment-497864879

An

[2020-03-19 09:08] MarcoBlulab commented on #423
Since I activated two-factor authentication, I systematically have this same problem throughout all e-commerce I buy that use a popup for paypal payments. I am redirected to the paypal account page instead of the checkout review page.
It is a general problem of Paypal, which loses the redirect URL when more than one page of Paypal is shown to the user (e.g. login + auth code in another step), ther

[2020-03-19 23:24] farah commented on #1168
Can confirm this is an issue for iPhone 7. Tested on iOS versions 10.3.4 and 13.3.1.

I've had a chat @Millais who forwarded me to a PayPal rep,  they said they do not have an ETA on when they can get a fix.

[2020-03-20 10:07] andrewlorenz commented on #1230
is Paypal a dead project or something?!  Its still a warning in Chrome but paypal payments have stopped working on Firefox ...

[2020-03-20 10:31] Misiu commented on #1230
@andrewlorenz if PayPal won't fix this type of errors it soon will be a dead project 😁

[2020-03-22 20:14] NoomZmzki commented on #1157
@thanatos11 are you using a sandbox API or this happening also in live env?

im experiencing this with paypal subscription api aswell

[2020-03-25 17:25] nick-andersen commented on #1288
@XEngine - This issue seems to be fixed for us, has it resolved for you?

[2020-03-26 21:41] trainerbill commented on #1191
@bluepnume any idea here?  still occurring.

[2020-03-27 19:28] netmikey commented on #664
As described in (cordova-plugin-whitelist)[https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-whitelist/], it is not recommended to use the `*` wildcard to whitelist the whole world.

For a more limited whitelisting that still works, you could use:
[code]

[2020-03-28 14:28] vvakame commented on #1191
agreed. so, old PayPal JS SDK is wait for promise resolved. I wanna move into current version, but this issue is little bit blocker for our app.

[2020-03-31 11:58] XEngine commented on #1288
Yes, it seems fixed now closing this issue :) thanks for reminding!

[2020-03-31 11:58] #1288 closed

[2020-04-02 16:31] cusero opened #1290 "PayPal SDK Buttons: unhandled_error [Error: Window closed]"
### PayPal Smart Button: unhandled error when popup closed before it loads

<img width="1325" alt="Screen Shot 2020-04-02 at 17 20 46" src="https://user-images.githubusercontent.com/14952750/78273407-b418d000-7506-11ea-98c7-210409677320.png">

* `paypal.version`: 5.0.117
* Chrome: Version: 80.0.3987.162
* Cannot provide a public URL (yet)
* Error _always_ occurs
* Also occurs in https://developer.

[2020-04-02 16:54] saxinte commented on #1290
+1

[2020-04-02 17:07] bluepnume commented on #1290
Hi -- do you see any errors or failing urls in network tab as you click?

[2020-04-03 01:19] thefotios commented on #1290
Um, so it looks like PayPal decided to release a patch update 2 days ago that changed the default from `authorize` to `capture`?!?! https://github.com/paypal/paypal-checkout-components/compare/v4.0.311...v4.0.312

We started seeing a slow decline in PayPal payments that directly correlated to this release. My guess is for anybody lucky enough to not have a failure, they had the script cached.

[2020-04-03 01:20] bluepnume commented on #1290
Hi @thefotios -- can you let me know exactly what you're seeing?

[2020-04-03 01:24] thefotios commented on #1290
@bluepnume I'm passing `intent=authorize` to the SDK, but I'm getting this error in the console:
[code]

I should mention that we're using `braintree-web`, but we're explicitly passing `authorize` there as well.

It's very suspect that this commit landed in the `4.x` release right when this started happening - https://github.com/paypal/paypal-checkout-components/commit/bc3dbb7fa9959c65bf930c9baf9f

[2020-04-03 01:27] bluepnume commented on #1290
@thefotios -- can you share:

a) An example of the code you're using with braintree-web to set up the transaction
b) An example of one of the tokens Braintree is returning to you?

[2020-04-03 02:03] thefotios commented on #1290
@bluepnume This is our React component - [Here's a gist](https://gist.github.com/thefotios/6baba4d7cd9ce3d6f0f5590716f3fe77) and we're running `braintree-web@3.57.0`

The attached log has the braintree token as well as a stack track if that's helpful
[localhost-1585878898297.log](https://github.com/paypal/paypal-checkout-components/files/4424660/localhost-1585878898297.log)

[2020-04-03 02:24] bluepnume commented on #1290
Hi @thefotios -- thank you so much, this was enough to narrow it down. It looks like the api is incorrectly returning this as a `capture` and not an `authorize` which is why the validation is failing during validation step in the sdk/button.

For now I'm disabling this validation for this specific case. I apologize for the inconvenience here; I'll raise an internal ticket for that API layer to hel

[2020-04-03 02:26] bluepnume commented on #1290
@crookedneighbor -- just tagging you here since I'm not sure where this issue originates.

Can you confirm, when the following is passed to Braintree:

[code]

What is the `intent` that is subsequently passed to the PayPal API? Is it `authorize`?

[2020-04-03 02:35] thefotios commented on #1290
@bluepnume Thanks for taking care of this! Do you know when these changes will do live or is ther anything I can test out?

As for the intent being passed, this is what tipped us off that something changed - https://github.com/braintree/braintree-web/blob/master/src/paypal-checkout/paypal-checkout.js#L847-L850. You can trace that back to the `createPayment` call in the same class

[2020-04-03 02:37] bluepnume commented on #1290
On second look, seems like `intent` is not being passed to https://api.sandbox.braintreegateway.com/merchants/hh4cpc39zq4rgjcg/client_api/v1/paypal_hermes/setup_billing_agreement --

<img width="711" alt="Screen Shot 2020-04-02 at 7 35 23 PM" src="https://user-images.githubusercontent.com/1219075/78318291-390ce500-7519-11ea-9383-0dfe2fa1ac5f.png">

So I assume `capture` (or `sale`) must be being s

[2020-04-03 02:42] bluepnume commented on #1290
@thefotios temporary fix is pushed. Please let me know if you still see the issue.

[2020-04-03 03:18] thefotios commented on #1290
@bluepnume Just tested against sandbox and it's working for me.

As for `braintree-web`, we're running a Rails app with distinct front and back ends. In our case, everything about the form submission is client side (except that we get a client ID from our backend). We authorize the transaction afterwards on the backend, but it's not even getting that far. Out of curiosity, which object did you dum

[2020-04-03 17:56] bluepnume commented on #1290
@thefotios -- looks like the `intent: 'authorize'` you're passing to Braintree is having no effect. I recommend:

- Remove that intent from your call
- Set `intent=capture` when invoking the paypal sdk.

That should guarantee future stability here.

[2020-04-03 19:03] crookedneighbor commented on #1290
When using the billing agreement flow, intent should not be passed at all. In the BT SDK, it will just be ignored. In the PayPal SDK, you must omit the `intent` query parameter.

[2020-04-03 19:37] thefotios commented on #1290
@crookedneighbor Ok, it's also entirely possible we're doing the wrong thing here (maybe we should be using something other than `createBillingAgreement`). We're not using braintree or PayPal recurring/subscription capabilities. We're using the authorized token in our own OOB renewal process.

[2020-04-03 21:28] bluepnume commented on #1290
Definitely recommend working with the Braintree team to figure out the correct integration here. That said -- in the mean time, I still highly recommending switching over to `intent=capture` in the sdk url and removing `intent` from the Braintree call.

[2020-04-05 04:03] Jriles commented on #1107
Bad

[2020-04-06 01:58] GAYATHRI2787 commented on #404
it has been working all the while, all of a sudden I see this error -
![image](https://user-images.githubusercontent.com/63217297/78516696-2116b900-77d8-11ea-83e4-95513b4aad79.png)

[2020-04-07 11:46] cusero commented on #1290
Not sure the above helps my case. Still seeing the error when the PayPal window is closed quickly before it loads - just to start with :(

To give a bit more background history...

We are passing no intent at all! We use PayPal with a vault flow as such:
`https://www.paypal.com/sdk/js?client-id=${clientID}&locale=${locale}&disable-funding=card,credit&vault=true`

Using `braintree-web` @ `v3.60.0`

[2020-04-08 18:43] bradbyu commented on #1189
This issue still exists. Please address it soon!

[2020-04-09 08:32] GusBeare commented on #1230
I am still seeing this error. Clearly Chrome 80 carried on allowing this.

Can we assume there will not be a fix for this from PP?

[2020-04-09 10:55] tobiasdierich opened #1291 "Credit Card payment not possible after failed validation"
### Description

If you use the `actions.reject()` inside the `onClick` for validation hook, payment with credit card is no longer possible if validation fails once, even if you fix the validation errors. There are no console logs at all. All other payment methods work again once the user has fixed the validation issues.

I remember there was a similar issue some time ago with the "PayPal" payment

[2020-04-09 23:04] bethvance303 opened #1292 "Just a click away"
### Description

Please provide a short description of the issue here, along with:

- Screenshots or videos that show the issue
- Your code
- The `paypal.version` from your browser console
- The exact browser version
- A link to your page with the issue, if possible
- All console logs during the time of the issue, especially error messages
- Does the issue also occur at [developer.paypal.com/demo/

[2020-04-11 06:12] mc-lovin commented on #1224
Hi Paypal team, we are also facing the same issue, when we enter the credit card information on production, it gives us the same error that please try again.

I tried debugging and the hook onCancel was getting triggered with the orderId, which was strange as i didn't cancel the order.

Would appreciate if the team can prioritise this as multiple people are facing the same issue.

[2020-04-13 21:57] khanghoang commented on #1224
@mc-lovin would you mind creating another issue for your case?
@dingomecloud sorry for the late reply. Can you please adhere your testing page?
@h3d-thanhlx what was the issue in your case exactly? do you have a testing page?

[2020-04-13 21:58] monoto commented on #1224
First time going live, and I get this Something went wrong error... back to check out page... type in my Mastercard... and I get "cannot accept this card, please try another card" error.    What's going on inPaypal?  After founders all cashed out, no more enthusiasm left?

[2020-04-13 22:03] khanghoang commented on #1224
@monoto I'd contact the Customer Support team in your case since they have more context about your transaction and your account.

[2020-04-15 15:17] monoto commented on #1224
@khanghoang  Does smart buttons accept credit/debit cards without paypal account?  My account allows guest purchases.  And I still get "Cannot add this card, try a different card." error.

[2020-04-15 15:18] monoto commented on #1224
@khanghoang   And the "something went wrong" error persists.

[2020-04-15 19:33] khanghoang commented on #1224
@monoto yes, SPB has an option for credit/debit cards.

There are a lot of reasons that can cause the "something went wrong" error, some of them are:
- Wrong billing addresses.
- Wrong card numbers or that card have been used multiple times on multiple accounts.
- Denied by PayPal Risk.

[2020-04-15 21:58] marcomarsala commented on #1229
I switched to Stripe to solve this issue

[2020-04-15 23:47] ccarstens commented on #471
@bluepnume As `@paypal/checkout-components` is not available via ES6 imports (#1109) can you please fix this bug for v4.x as well?
 v4 (still available at npm as paypal-checkout) is referenced by your support team and in the documentation that the support team uses to outline how to implement express checkout?
https://braintree.github.io/braintree-web/3.34.0/PayPalCheckout.html

[2020-04-16 17:45] IbrahimalKhayat opened #1293 "Issues with popup-bridge-ios - Checkout.js - new checkout SDK"
### Description
Due to some business and technical restrictions I am trying to integrate a hybrid paypal solution into a native iOS app. I am faced sadly with some blockers while using the old and the new sdk.

I am using [Popupbridge-iOS](https://github.com/braintree/popup-bridge-ios) to handle the popup for better UX in addition to some javascript injection to trigger the button manually.

[Popu

[2020-04-19 17:58] fabiosussetto commented on #1291
just got into the same bug. This basically makes the whole validation idea pretty useless, as it's impossible to restart a payment after validation fails...

[2020-04-19 17:59] fabiosussetto commented on #1286
Wow, yeah this is very limiting. I hope PayPal provides an official response on this.

[2020-04-19 18:04] fabiosussetto commented on #1226
I'm baffled that's not possible to fix the sdk version used, like any other sane SDK. The Checkout buttons SDK seems rather unstable, with things breaking quite often. That's understandable, but please release using a tag and make that available so we can pin-point the working version we integrated. People can't afford to wake up in the morning with customers screaming cause you released a new ver

[2020-04-19 19:37] fabiosussetto commented on #1224
Woah PayPal, looks like you really need to pull this together, sorry but this is a nightmare.

[2020-04-19 19:59] cerecerorodrigo commented on #1224
When I rose this issue I was told this error was due to unavailability in my country, but as some users have stated (including @samalone) even this is an issue in the US. This answer is a little bit discouraging, since the buttons work every now and then at the "card payment option" as they are supposed, but suddenly stop working for no reason. Therefore, the problem should not be the country, but

[2020-04-19 21:39] dingomecloud commented on #1224
Hi everybody! Sorry for my english in advance, it is not my mother language.

They say (PayPal) this error is "by design". They say this error can be for a lot of reasons. It is sad. Take a look of the response from @khanghoang :

- Wrong billing addresses.
- Wrong card numbers or that card have been used multiple times on multiple accounts.
- Denied by PayPal Risk.

They say everything is fine. O

[2020-04-19 22:28] daiky00 commented on #1224
@khanghoang I think this should fix. Having generic errors will confuse any client when making a purchase. I think the errors should be specific. For Example today I just run into this error but I though there was something wrong with the PayPal API terms out thats by design thats not a good design plan.

[2020-04-19 22:41] dingomecloud commented on #1224
@khanghoang, I think we all agree with @daiky00.

As @cerecerorodrigo said before: "This thread has been around for months now and no specific answer has been given on how to overcome it."

Really @khanghoang, dude, we really do not want to disturb you with this and actually, we are frustrated and sorry. I think you are a nice person who is trying to do something and you take time from your person

[2020-04-20 00:34] khanghoang commented on #1224
Folks, thanks for the feedback.

@daiky00 @dingomecloud I never said that this is fine. In fact, I've mentioned in another issue that I personally think the message is vague and we need to work on it. However, we need to prioritize it with other tasks as well.

I genuinely try to help. That's why I always ask for a test page or anything that I can test. It's impossible for me to see what went wron

[2020-04-20 15:03] dingomecloud commented on #1224
Hi @khanghoang  and friends of battle,

Khang, dude, really thank you for your time man. We understand you work for PayPal and well, there are a lot of more tasks you and your team surely have to do and  really I know and feel you that you genuinely try to help, we know that and we say thank you.

The main thing here dude, is that it seems that you is like you do not believe in us, I mean, how man

[2020-04-20 20:08] manuhornung opened #1294 "Cannot use v5/Smart Payment Buttons with popup bridge"
### Description

We're trying to setup the smart payment buttons together with the braintree PopupBridge and we're getting an empty `returnUrl` back instead of the native `redirectUri` from `reconstructReturnUrl` (`redirects.js`). This is because `if(!url)` below is true (`url is ''`).

![image](https://user-images.githubusercontent.com/4516798/79794923-677d2380-8353-11ea-9b35-2f9a2da23669.png)

T

[2020-04-21 01:24] khanghoang commented on #1224
@dingomecloud I think I found the gaps between us. You can follow this gist https://gist.github.com/khanghoang/4c85b758ad9ba057191303579aba7c7e to get the debug-id.

That debug-id is really helpful to pull the logs for the transaction and either I or the PayPal's customer team can use it to see what happens to the transaction.

**PLEASE ONLY COPY THE DEBUG ID, DO NOT TAKE SCREENSHOT**. Because the

[2020-04-21 12:53] IbrahimalKhayat commented on #1293
An update:

In v5, the popupBridge redirect_uri seams to be ignored and replaced with the return_url form GraphQL which is empty in our case and causes the flow to restart. Setting the url to an app link that matches the bridge expected url breaks the create payment order call.

The Checkout sdk source code seams to have a native redirect support however, I have failed to find a public mention on

[2020-04-22 19:23] bluepnume commented on #479
Closed -- this should now be working for actions.order.capture() call.

[2020-04-22 19:23] #479 closed

[2020-04-22 19:23] #595 closed

[2020-04-22 19:39] bluepnume commented on #965
Closing as a lot of time has passed and we've been unable to repro or get any other reports. Please reopen a new issue if you're still seeing this. Thanks!

[2020-04-22 19:39] bluepnume commented on #768
Closing this -- the APM team is working on an api with this kind of functionality, to help build dashboards.

[2020-04-22 19:40] #768 closed

[2020-04-22 19:40] #965 closed

[2020-04-22 19:55] bluepnume commented on #1293
Hi @IbrahimalKhayat -- reopening this one as I'd like to help narrow down the issues you were seeing with v5.

Can you elaborate on this -- does the user actually return to the mobile app, or do they get stuck in the browser window?

[2020-04-22 19:58] bluepnume commented on #1063
Hi -- closing this one as we've been unable to reproduce and a lot of time has passed without similar reports. Recommend trying with the latest sdk, and opening a new issue if you're still seeing the same problem. Thank you!

[2020-04-22 19:59] bluepnume commented on #1069
Can anyone confirm if this error is still showing up? Will re-open if so. Thanks!

[2020-04-22 19:59] #1069 closed

[2020-04-22 20:00] bluepnume commented on #1092
Hi -- closing this one as we've been unable to reproduce and a lot of time has passed without similar reports. Recommend trying with the latest sdk, and opening a new issue if you're still seeing the same problem. Thank you!

[2020-04-22 20:00] #1092 closed

[2020-04-22 20:00] #1093 closed

[2020-04-22 20:00] #1094 closed

[2020-04-22 20:01] bluepnume commented on #1095
Hi -- please let me know if using `onError` to handle this case doesn't work for a particular use case. Thanks!

[2020-04-22 20:01] #1095 closed

[2020-04-22 20:01] #1119 closed

[2020-04-22 20:01] #1123 closed

[2020-04-22 20:02] #1126 closed

[2020-04-22 20:03] bluepnume commented on #1180
Hi all,

The currency is required in the script tag to allow the SDK to return the correct buttons for your page. Recommend reloading the script tag if it needs to change. Thanks.

[2020-04-22 20:03] #1180 closed

[2020-04-22 20:03] #1177 closed

[2020-04-22 20:04] bluepnume commented on #1172
This is expected. The script is loading from cache inside the button iframe. It should only be downloaded a single time, and cached.

[2020-04-22 20:04] #1172 closed

[2020-04-22 20:04] bluepnume commented on #1168
Please confirm if you're still seeing this issue, and we'll reopen. Thanks.

[2020-04-22 20:04] #1168 closed

[2020-04-22 20:05] bluepnume commented on #1163
Hi, this tagline is required for legal and compliance reasons. If possible please render the buttons on a light background. Thanks.

[2020-04-22 20:05] #1163 closed

[2020-04-22 20:05] #1162 closed

[2020-04-22 20:05] #1161 closed

[2020-04-22 20:05] #1158 closed

[2020-04-22 20:06] #1155 closed